<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="row">
  <div class="col px-0">
    <div class="row pb-2" *ngFor="let item of filters">
      <div class="col px-0" [class.narrow]="narrow">
        <mat-chip-listbox class="mat-chip-list-stacked" [selectable]="true">
          <mat-chip-option
            [selected]="
              (!filter && item.filter === 'all') || filter === item.filter
            "
            (click)="navigate(item.filter)"
          >
            {{ item.label }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div
        *ngIf="item['info' + currentLocale]"
        class="col-auto px-0 align-self-center info-button"
      >
        <app-figures-info
          labelText="Lisätietoa"
          i18n-labelText="@@additionalInfo"
          [content]="item['info' + currentLocale]"
          [position]="'nextTo'"
        ></app-figures-info>
      </div>
    </div>
  </div>
</div>
