<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-card appearance="outlined">
  <div class="inner">
    <mat-card-title>
      <h2 i18n="@@publicationLinks">Linkit julkaisuun</h2>
    </mat-card-title>

    <ng-container *ngFor="let row of linksFields">
      <app-single-result-link
        [tag]="row.field === 'doi' ? 'DOI' : null"
        [icon]="row.field !== 'doi'"
        [label]="row.field !== 'doi' ? item.doi : item[row.field]"
        [url]="
          row.field === 'doi' ? 'https://doi.org/' + item.doi : item[row.field]
        "
      ></app-single-result-link>
    </ng-container>

    <!-- Self archived addresses -->
    <ng-container *ngFor="let selfArchived of item.selfArchivedData">
      <ng-container *ngFor="let row of selfArchived.selfArchived">
        <app-single-result-link
          *ngIf="row.selfArchivedAddress | isUrl"
          [icon]="true"
          [url]="row.selfArchivedAddress"
        >
        </app-single-result-link>
      </ng-container>
    </ng-container>
    <div
      *ngIf="
        !linksFields.length &&
        (!item.selfArchivedData || !item.selfArchivedData.length)
      "
      class="no-links"
      i18n="@@noPublicationLinks"
    >
      Julkaisuun ei ole tarjolla linkkejä tässä portaalissa
    </div>
  </div>
</mat-card>
