<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="row active-filters">
  <h4 class="h6 w-100">
    <ng-container i18n="@@activeFilters">Rajaukset</ng-container> ({{
    filters.length
    }}):
  </h4>
  <ul aria-live="polite" class="mb-0">
    @for (activeFilter of filters.slice(0, 7); track activeFilter; let i = $index) {
      @if (!activeFilter.hide) {
        <li
          tabindex="0"
          class="filter"
          (click)="removeFilter(activeFilter)"
          id="{{ activeFilter.value }}"
          >
          <span id="{{ activeFilter.value }}">{{
            activeFilter.translation
          }}</span>
          <app-svg-sprites [iconName]="'close'" tabindex="0" cssClass="close-icon filters-icon"></app-svg-sprites>
          <!-- seems deprecated, need to check what is this -->
          <!--<app-svg-sprites [iconName]="'delete'" tabindex="0"
          (focus)="enter(i)"
          (blur)="leave()"
          (mouseenter)="enter(i)"
          (mouseleave)="leave()"ngOnDestroy
          *ngIf="activeFilter.warning"
          class="icon warning"
        cssClass="delete-icon"></app-svg-sprites>-->
        @if (activeFilter.warning && hoverIndex === i) {
          <div
            class="warning-info"
            >
            <span i18n="@@yearRangeWarning"
              >Aikavälissä ei ole mukana kaikkia vuosia. Voit tarkistaa vuodet
          "Rajaa hakua" -valikosta vasemmalla.</span
              >
            </div>
          }
        </li>
      }
    }
    @if (filters.length > 6) {
      <div class="ellipsis" (click)="openDialog()">
        ...
      </div>
    }
    <div class="d-inline-flex">
      @if (filters.length > 6) {
        <button class="d-flex"
          class="show filter"
          mat-button
          (click)="openDialog()"
          i18n="@@showAll"
          >
      Näytä kaikki
    </button>
      }
      <button class="clear filter d-flex" mat-button (click)="clearFilters()">
        <app-svg-sprites [iconName]="'delete'" cssClass="delete-icon filters-icon"></app-svg-sprites>
        <ng-container i18n="@@clearActiveFilters"
          >Tyhjennä rajaukset</ng-container
          >
        </button>
      </div>
    </ul>
  </div>

  <ng-template #filterListDialog>
    <app-active-filters-dialog
      [data]="dialogData"
      (clearAllFilters)="clearFilters()"
    ></app-active-filters-dialog>
  </ng-template>

  @if (showDialog) {
    <app-dialog
      [title]="dialogTitle"
      [template]="filterListDialog"
      (onActionClick)="closeDialog()"
    ></app-dialog>
  }
