<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="row active-filters">
  <h4 class="h6 w-100">
    <ng-container i18n="@@activeFilters">Rajaukset</ng-container> ({{
      filters.length
    }}):
  </h4>
  <ul aria-live="polite" class="mb-0">
    <ng-container
      *ngFor="let activeFilter of filters.slice(0, 7); let i = index"
    >
      <li
        tabindex="0"
        class="filter"
        *ngIf="!activeFilter.hide"
        (click)="removeFilter(activeFilter)"
        id="{{ activeFilter.value }}"
      >
        <span id="{{ activeFilter.value }}">{{
          activeFilter.translation
        }}</span>
          <!-- seems deprecated, need to check what is this -->
          <mat-icon [svgIcon]="'general.fa.delete'"
                    tabindex="0"
                    (focus)="enter(i)"
                    (blur)="leave()"
                    (mouseenter)="enter(i)"
                    (mouseleave)="leave()"
                    *ngIf="activeFilter.warning"
                    class="icon warning"
          ></mat-icon>
        <div
          class="warning-info"
          *ngIf="activeFilter.warning && hoverIndex === i"
        >
          <span i18n="@@yearRangeWarning"
            >Aikavälissä ei ole mukana kaikkia vuosia. Voit tarkistaa vuodet
            "Rajaa hakua" -valikosta vasemmalla.</span
          >
        </div>
      </li>
    </ng-container>
    <div class="ellipsis" *ngIf="filters.length > 6" (click)="openDialog()">
      ...
    </div>
    <div class="d-inline-flex">
      <button
        *ngIf="filters.length > 6"
        class="show filter"
        mat-button
        (click)="openDialog()"
        i18n="@@showAll"
      >
        Näytä kaikki
      </button>
      <button class="clear filter" mat-button (click)="clearFilters()">
          <mat-icon [svgIcon]="'general.fa.delete'"></mat-icon>
        <ng-container i18n="@@clearActiveFilters"
          >Tyhjennä rajaukset</ng-container
        >
      </button>
    </div>
  </ul>
</div>

<ng-template #filterListDialog>
  <app-active-filters-dialog
    [data]="dialogData"
    (clearAllFilters)="clearFilters()"
  ></app-active-filters-dialog>
</ng-template>

<app-dialog
  *ngIf="showDialog"
  [title]="dialogTitle"
  [template]="filterListDialog"
  (onActionClick)="closeDialog()"
></app-dialog>
