<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
  <div class="wrapper">
    <div class="row d-flex justify-content-between">
      <div class="col-12 px-0">
        <div class="row">
          <h1 class="col-12 col-lg-6 px-0" i18n="@@newsHeader">
            Tiede- ja tutkimusuutiset
          </h1>

          <div
            class="
              col col-lg-3
              px-0
              py-3 py-lg-0
              align-self-center
              text-lg-right
            "
          >
            <a
              #serviceInfoLink
              routerLink="/service-info"
              fragment="1"
              class="theme-link"
            >
              <strong>
                <ng-container i18n="@@resultInfo1">Mitä</ng-container>
                <ng-container i18n="@@newsServiceIncludes">
                  uutisia palvelu sisältää?</ng-container
                >
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>

    <mat-tab-group
      [(selectedIndex)]="selectedIndex"
      (selectedTabChange)="navigate($event)"
      class="pt-lg-3"
    >
      <mat-tab i18n-label="@@latest" label="Uusimmat">
        <h2 class="font-weight-bold mt-2" i18n="@@latest">Uusimmat</h2>
        <app-latest-news
          [mobile]="mobile"
          [visible]="selectedIndex === 0"
        ></app-latest-news>
      </mat-tab>

      <mat-tab i18n-label="@@searchNews" label="Hae uutisia">
        <h2 class="font-weight-bold mt-2" i18n="@@searchNews">Hae uutisia</h2>
        <app-news-results
          [mobile]="mobile"
          [tab]="selectedIndex"
        ></app-news-results>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
