<div class="row py-4 d-flex justify-content-center">
  <div class="col-6">
    <app-secondary-button
      i18n-content="@@previous"
      content="Edellinen"
      (click)="decrement()"
      [big]="true"
      [icon]="faAngleDoubleLeft"
      [noSmIcon]="true"
    >
    </app-secondary-button>
  </div>
  <div class="col-6">
    <app-primary-action-button
      i18n-content="@@next"
      [content]="nextContent || 'Seuraava'"
      (click)="increment()"
      [disabled]="disableNext"
      [big]="true"
      [icon]="faAngleDoubleRight"
      [iconAfter]="true"
      [noSmIcon]="true"
    >
    </app-primary-action-button>
  </div>
</div>
