.peer-reviewed {
  background: #D1E5F0;
  border: 1px solid #D1E5F0;
  color: #1F4D6D;
  max-width: 114px;
  margin-right: 8px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .text-wrapper {
    height: 18px;
    white-space: nowrap;
  }
}
