<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div
  class="notification-wrapper row"
  [collapse]="isCollapsed"
  [isAnimated]="true"
>
  <div class="col-8 m-auto py-3 px-0" *ngIf="notificationObject">
    <div class="row justify-content-center">
      <div class="col-auto d-flex flex-column justify-content-center">
        <div>
          <app-svg-sprites [iconName]="'warning'" cssClass="warning-icon theme-purple"></app-svg-sprites>
        <span aria-live="assertive">
          {{ notificationObject.notificationText }}
        </span>
        </div>
      </div>
      <div class="col-auto">
        <ng-container *ngFor="let button of notificationObject.buttons">
          <button mat-button (click)="button.action()" class="primary-color">
            {{ button.label }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
