//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@use 'src/migration' as *;

@mixin app-notification-banner-theme($theme) {
  $primary: map-get($theme, primary);

  app-notification-banner {
    .notification-wrapper {
      background: #f8f8f8;
    }

    fa-icon {
      color: #4162a8;
    }
  }
}
