//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

hr.thick {
  //border-top: 2px solid rgba(0, 0, 0, 0.1) !important;
}

hr {
  margin: 15px 0px;
  color: #e8e8f5;
  opacity: 1;
}
