<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row gx-2">
  <div class="col-5 pt-2">
    <h2 class="fw-bold">{{ label }}</h2>
  </div>
  <div class="col-7 pt-2 d-flex justify-content-end switch-choices-button pe-2">
    <app-tertiary-button *ngIf="displayButton" i18n-content="@@publishEllipsis" content="Vaihda valintoja" i18n-content="@@reselect" [svgSymbolName]="'edit'" [svgCssClass]="'open_in_new-icon button-icon'" (click)="openDialog($event)"></app-tertiary-button>
  </div>
</div>
