// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap; 
    max-height: 90px;
}

// Demo purposes only, proceed with caution on Windows!
.scroll::-webkit-scrollbar {
    display: none; 
}

span.numeric-box {
    font-size: 1.2em;
}

.mat-tab-body-wrapper{
    display: none;
}

span.text-center {
    font-size: 0.9em;
}

.bundler {
    cursor: pointer;
    min-width: 202px;
    margin: 5px 4px 5px 0px;
    padding: 4px 8px 4px 12px;
    border-radius: 2px;
}

.numeric .text-center, .numeric .numeric-box {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
}
