@import '~@angular/material/theming';

@mixin app-result-tab-theme($theme) {
    $primary: map-get($theme, primary);

    app-result-tab {

        a:hover {
            text-decoration: none;
        }
        
        .scroll {
            background: mat-contrast($primary, 800);
        }

        .bundler.active {
            // background: mat-color($primary, A100);
            // border-bottom: 6px solid mat-color($primary);
            border-top: 2px solid mat-color($primary);
            border-right: 2px solid mat-color($primary);
            border-left: 2px solid mat-color($primary);
            box-shadow: 13px 0 22px -13px #0000009e, -13px 0 22px -13px #0000009e;
        }
        
        .bundler {
            background: mat-color($primary, 100);
            border-bottom: 2px solid mat-color($primary);
        }
        
        .bundler:not(.active):hover {
            background: mat-color($primary, 200)!important;
        }
        
        .numeric-box {
            color: mat-color($primary, 600);
        }
        .text-center {
            color: mat-color($primary, 800);
        }

        .arrow {
            background: mat-color($primary);
        }

        .arrow::after {
            color: mat-contrast($primary, 500);
        }
        
        @media (max-width: 575px) {
            .bundler.active {
                background: mat-color($primary);
                border-bottom: 0px;
            }

            .active .text-center {
                color: mat-color($primary);
            }

            .text-center {
                color: mat-color($primary);
            }
            
            .bundler {
                background: mat-contrast($primary, 600);
            }
        }
    }
}