// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

.scroll {
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap; 
    max-height: 90px;
    // Hide scrollbar on firefox
    scrollbar-width: none;
}

.wrapper {
    position: relative;
}

// Hide scrollbar on chrome
.scroll::-webkit-scrollbar {
    display: none; 
}

.numeric-box {
    font-size: 1.5em;
}

.mat-tab-body-wrapper{
    display: none;
}

.text-center {
    font-size: 0.9em;
}

.bundler.active {
    margin-top: 10px;
    border-bottom: 0px;
    background: none;
    z-index: 1;
}

.bundler {
    cursor: pointer;
    min-width: 205.7px;
    margin: 23px 0 0px 0;
    padding: 5px 8px 5px 12px;
    border-radius: 2px;
    // border: 0;
}

.bundler.active .numeric-box.d-none.d-sm-block {
    font-weight: bold;
}

.bundler.active .text-center {
    font-weight: 700;
}

.bundler .numeric-box.d-none.d-sm-block, .bundler .text-center {
    font-weight: 400;
}

.text-center, .numeric-box {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
}

.edge {
    display: flex;
}

.arrow {
    align-self: center;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 3px 3px;
}

.arrow::after {
    font-family: "FontAwesome";
    font-size: 2em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-left, .arrow-right {
    z-index: 2;
}

.arrow-left {
    left: 3px;
}

.arrow-left::after {
    content: "\f060";
}


.arrow-right {
    right: 3px;
}

.arrow-right::after {
    content: "\f061";
}

.grad {
    position: absolute;
    min-width: 100px;
    min-height: 100%;
    pointer-events: none;
}

.grad-left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.grad-right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

@media (max-width: 575px) {
    .bundler {
        min-width: auto;
        border-radius: 0;
        margin: 5px 0 0;
        padding: 10px 20px;
    }

    .bundler.active {
        margin-top: 3px;
    }

    .text-center {
        display: table-cell;
        font-size: 1.2em;
    }
}
