// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

.row.numeric {
    max-width: 1440px;
    margin: 0 auto;
}

span.numeric-box {
    max-width: 200px;
    padding: 13px 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 auto;
}

.numeric div.col {
    width: 14%;
    cursor: pointer;
}

.numeric .text-center, .numeric .numeric-box {
    padding: 13px 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
}
