<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->
<div class="full-width"></div>
<main id="main-content">
    <div class="wrapper">
        <app-breadcrumb [responseData]="result" [type]="'figure'"></app-breadcrumb>
        <a routerLink="/science-innovation-policy/science-research-figures/" class="back"><< <ng-container i18n="@@back">Takaisin</ng-container></a>
        <div class="row" *ngFor="let item of result; trackBy: trackByFn">
            <div class="col-12 px-lg-0 pb-2">
                <div class="row">
                    <h1>{{item['label' + currentLocale]}}</h1>
                </div>
            </div>
            <div class="col-12 col-lg-10 px-lg-0 pb-2">
                <div class="row d-flex justify-content-between">
                    <div class="col-auto px-0">
                        <a href="javascript:void(0)" (click)="showHelp = !showHelp" (clickOutside)="onClickedOutsideHelp($event)" #keyboardHelp i18n="@@kbHelpHint">Ohje näppäimistökäyttäjälle</a>
                        <div *ngIf="showHelp" class="help p-3">
                            <div class="m-0">
                                <p i18n="@@figureKeyboardHelp1">Saat näppäimistöohjeet esiin näppäinyhdistelmällä “vaihtonäppäin + ?" silloin, kun selaimesi fokus on allaolevassa visualisoinnissa.</p>
                                <p i18n="@@figureKeyboardHelp2">Näppäimistöohje esitetään selaimesi kieliasetuksen mukaisella kielellä.</p>
                            </div>                    
                        </div>
                    </div>
                    <mat-basic-chip *ngIf="item.roadmap" class="tag align-self-center" [disableRipple]="true">TKI-tiekartan seurantamittari</mat-basic-chip>
                </div>
            </div>
            <div class="col col-lg-10 base content" #content>
                <iframe width="{{colWidth}}" height="600" 
                [src]="item['iframe' + currentLocale] | safeUrl"
                frameborder="0" allowFullScreen="true"></iframe>
                <div class="row d-flex justify-content-between">
                    <div class="col-12 col-lg-8 pl-0" [innerHtml]="item['description' + currentLocale]">
                    </div>
                    <div class="col col-lg-3 pl-0 pl-lg-4">
                        <div class="row pb-3">
                            <div class="col align-self-center pointer pl-0" (click)="showInfo = !showInfo" (clickOutside)="onClickedOutside($event)"
                            tabindex="0" (keydown.enter)="showInfo = !showInfo">
                                <fa-icon class="info-icon" icon="info-circle" (mouseenter)="showInfo = true"></fa-icon>
                                <a class="strong text-uppercase pl-2 info-label" i18n="@@additionalInfo">Lisätietoa</a>
                            </div>
                            <div #info *ngIf="showInfo" class="info p-3" [ngClass]="mobile ? 'right' : 'left'">
                                <strong class="d-block pb-2" i18n="@@additionalInfo">Lisätietoa</strong>
                                <p [innerHtml]="item['info' + currentLocale]"></p>
                            </div>
                        </div>
                        <div class="row pb-3">
                           <div class="col pl-0">
                                <span class="strong d-block" i18n="@@figureSource">Lähde:</span>
                                <span>{{item['source' + currentLocale]}}</span>
                           </div> 
                        </div>
                        <div class="row">
                            <div class="col pl-0">
                                <strong i18n="@@shareThisPage">Jaa tämä sivu:</strong>
                                <app-share [big]="false"></app-share>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-wrapper">
                <h2 class="pb-3" i18n="@@moreFiguresFrom">Lisää lukuja tieteestä ja tutkimuksesta</h2>
                <app-carousel [data]="flatData" [id]="currentItem" class="carousel"></app-carousel>
            </div>
        </div>
    </div>
</main>
