// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

h1 {
    font-size: 2rem;
    font-weight: bold;
}

a.back {
    padding: 1rem 0;
    display: block;
    width: max-content;
    font-weight: bold;
}

.help {
    font-size: 1.4rem;
}

.info-label {
    vertical-align: .125em;
}

.info {
    position: absolute;
    z-index: 1;
    // max-width: 320px;
    padding: .5rem;
    overflow-wrap: break-word;
    min-width: 528px;
    bottom: 105px;
}

.info li {
    padding-bottom: 1rem!important;
    list-style: disc;
    margin-inline-start: 1rem;
}

.info.left {
    // left: -313px;
    right: 100%;
}

.info.right {
    left: 135px;
}

// .info.left:after, .info.left:before {
// 	left: 100%;
// 	top: 15px;
// 	content: " ";
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// }

// .info.left:after, .info.right:after {
// 	border-width: 6px!important;
// 	margin-top: -6px;
// }
// .info.left:before, .info.right::before {
// 	border-width: 7px!important;
// 	margin-top: -7px;
// }

// .info.right:after, .info.right:before {
// 	right: 100%;
// 	top: 15px;
// 	content: " ";
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// }

.pointer {
    cursor: pointer;
}

// Responsive
@media (max-width: 991px) {
    a.back {
        padding: 1rem
    }
    
    h2 {
        padding: 0 1rem;
    }

    .info {
        min-width: auto;
        max-width: 70%;
    }

}