// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

app-single-figure {

    h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    a.back {
        padding: 1rem 0;
        display: block;
        width: max-content;
        font-weight: bold;
    }

    .info-label {
        vertical-align: .125em;
    }

    .help {
        position: absolute;
        z-index: 1;
        padding: .5rem;
        overflow-wrap: break-word;
    }

    .help {
        max-width: 320px;
    }

    .pointer {
        cursor: pointer;
    }

    .carousel-wrapper {
        margin-top: 50px;
    }

    app-share {
        .secondary-button {
            text-align: left !important;
            padding-right: 8px;
        }
    }

    app-carousel {
        .secondary-button {
            padding: 0 10px;   
        }
    }

    .secondary-button {
        font-size: 14px;

        fa-icon {
            padding: 0 10px !important;
        }
    }

    mat-basic-chip.tag {
        margin-top: -6px;
    }

    // Responsive
    @media (max-width: 449px) {
        mat-basic-chip.tag {
            margin-top: 1rem;
        }
    }

    // Custom carousel breakpoint
    @media (max-width: 1120px) {
        .carousel-wrapper {
            display: none;
        }
    }

    @media (max-width: 991px) {
        a.back {
            padding: 1rem
        }
        
        h2 {
            padding: 0 1rem;
        }

        .info {
            min-width: auto;
            max-width: 70%;
            bottom: calc(100% - 35px);
        }

        .content {
            overflow-x: hidden;
        }
    }
}