<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <h1>Tutkimus- ja innovaatiojärjestelmä</h1>
            </div>
        </div>
        <div class="row base">
            <div class="col-12 col-lg-8 pt-4">
                <p>Korkeakoulujärjestelmä muodostuu yliopistoista ja ammattikorkeakouluista. Opetus- ja kulttuuriministeriön hallinnonalalla toimii 13 yliopistoa ja 23 ammattikorkeakoulua.</p>
                <p>Hallinnonalan virastoista ja laitoksista korkeakoulu- ja tiedepolitiikan osaston toimialaan kuuluvat Suomen Akatemia, Kansallisarkisto, Kotimaisten kielten keskus ja Varastokirjasto.</p>
                <p>Yliopistoissa korostuu tieteellinen tutkimus ja siihen perustuva opetus. Ammattikorkeakoulut puolestaan tarjoavat käytännönläheista ja työelämän tarpeisiin vastaavaa koulutusta.
                    Ammattikorkeakoulujen tutkimus-, kehittämis- ja innovaatiotoiminnan pääpainopiste on soveltavassa tutkimus- ja kehitystyössä.
                </p>
            </div>
        </div>
        <div class="row base">
            <div class="col">
                <div class="content">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let sector of rearrangedList">
                            <mat-expansion-panel-header collapsedHeight="61px">
                                <mat-panel-title>
                                    <fa-icon class="sector-icon" [icon]="sector.icon"></fa-icon>
                                    <div class="sector-title align-self-center">
                                        <h2>{{sector.labelFi}}</h2>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col">
                                    Content
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</main>