<div [ngClass]="!isEditorView ? 'group-wrapper' : 'pt-2'">
  <div class="row pt-2 pb-3 justify-content-between">
    <div *ngIf="isEditorView" class="col-9 d-flex gx-3"><h1 class="d-inline">{{ name | capitalizeFirstLetter}}</h1>
    </div>
    <div *ngIf="!isEditorView" class="col-9 d-flex gx-3"><h1 class="d-inline">{{ fullName | capitalizeFirstLetter}}</h1>
      <app-share [useNewLayoutButton]="true"></app-share>
    </div>
    <div class="col-12 gx-3 mt-2">{{positionTitleStr}}</div>
  </div>

  <div class="row">
    <div class="col-12 pb-3 gx-3">

      <div *ngIf='orcid'>
        <a class='d-flex' [href]="'https://orcid.org/' + orcid" target='_blank'>
          <img
                  class="orcid-icon"
                  src="assets/img/orcid_icon.svg"
                  alt="Orcid -palvelun logo"
          />
          <span class="orcid-link">{{ orcid }}</span>
          <app-svg-sprites [iconName]="'open_in_new'" cssClass="open_in_new-icon" class="open-in-new-link"></app-svg-sprites>
        </a>
      </div>
    </div>
  </div>
</div>
