<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-accordion multi>
  <ng-container *ngFor="let group of profileData; let i = index">
    <mat-expansion-panel
      *ngIf="
        (
          group.fields
          | countGroupItemsNew
            : { filterSelected: true, patchItems: combinedPatchItems }
        ).length > 0
      "
      [expanded]="openPanels.indexOf(i) > -1"
    >
      <mat-expansion-panel-header class="pe-1 pe-md-3">
        <mat-panel-title class="fw-bold">
          {{ group.label }} ({{
            (
              group.fields
              | countGroupItemsNew
                : { filterSelected: true, patchItems: combinedPatchItems }
            ).length
          }})
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let item of group.fields | countGroupItemsNew
                : { filterSelected: true, patchItems: combinedPatchItems }">
        <div class="row py-2">
          <div class="col px-0">
            <span class="fw-bold d-block py-2" *ngIf="group.fields.length > 1"
              >{{ item.label }}
            </span>
              <ng-container [ngSwitch]="item">
                <!-- person keyword fields -->
                <ng-container *ngSwitchCase="fieldTypes.personKeyword">
                  <!-- 
                    Special case for keywords. 
                    Keywords are patched as separate keywords 
                    but dispalyed as a joined list.
                  -->
                  <!--
                  <div
                    class="row"
                    *ngIf="
                      combinedPatchItems
                        | matchItem: groupItem.items[0].itemMeta
                    "
                  >
                    <div
                      class="col px-0 pb-2 font-size-smaller"
                      [class.text-strike]="
                        groupItem.items[0].itemMeta.show === false
                      "
                    >
                      {{ groupItem.items | joinItems: 'value' }}
                    </div>
                  </div>
                  -->
                </ng-container>
                <!-- Default view -->
                <ng-container *ngSwitchDefault>
                    <!-- affiliations *ngIf="combinedPatchItems -->
                    <div
                      class="row d-flex justify-content-between py-1"
                      [class.justify-content-between]="
                        true
                      "
                      *ngIf="true"
                    >
                      <div
                        class="col px-0 font-size-smaller"
                        [class.col-auto]="
                          true
                        "
                      >
                        <app-panel-array-item
                          [class.text-strike]="item.itemMeta.show === false"
                          [item]="item"
                          [fieldType]="item.itemMeta.type"
                          [localized]="item.localized"
                          [strike]="item"
                        ></app-panel-array-item>
                      </div>

                      <!-- check *ngIf="
                          item.itemMeta.primaryValue &&
                          groupItem.groupMeta.type ===
                            fieldTypes.activityAffiliation -->
                      <div
                        *ngIf="item.itemMeta.primaryValue && item.itemMeta.type ===
                            fieldTypes.activityAffiliation"
                        class="col-auto px-4 mx-1 cursor-pointer"
                      >
                        <app-primary-badge
                          i18n-label="@@primary"
                          label="Ensisijainen"
                          [selected]="true"
                          [disabled]="true"
                        ></app-primary-badge>
                      </div>
                    </div>
                </ng-container>
              </ng-container>

          </div>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </ng-container>

  <mat-expansion-panel
    id="collaboration-options-panel"
    [expanded]="false"
    *ngIf="collaborationOptions.length"
  >
    <mat-expansion-panel-header class="pe-1 pe-md-3">
      <mat-panel-title class="fw-bold">
        {{ collaborationHeader }} ({{ collaborationOptions.length }})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let option of collaborationOptions">
      <mat-checkbox
        class="py-1 py-lg-0 w-100"
        [checked]="option?.selected"
        disabled
      >
        {{ option[nameLocale] }}
      </mat-checkbox>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
