//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

/*
 * Theme colors defined in profile.component-theme.scss
 */

/*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
#collaboration-options-panel .mat-checkbox-disabled .mat-checkbox-label {
  color: #000;
}

.mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
  color: black !important;
}

.mat-mdc-checkbox.mat-mdc-checkbox-disabled.unchecked label {
  color: black !important;
}

.mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked .mdc-checkbox__background {
  color: #4546b9 !important;
  background: #4546b9 !important;
  border-color: #4546b9;
}
