//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

/*
 * Theme colors defined in profile.component-theme.scss
 */

/*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
#collaboration-options-panel .mat-checkbox-disabled .mat-checkbox-label {
  color: #000;
}
