<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->
<mat-accordion multi>
  <mat-expansion-panel hideToggle disabled="true" (click)="$event.preventDefault()" class="draft-summary-panel-header">
    <mat-expansion-panel-header aria-disabled="true" (click)="$event.preventDefault()">
      <mat-panel-title>Julkaistavat tiedot</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <ng-container *ngFor="let group of profileData; let i = index">
    <mat-expansion-panel
      *ngIf="
        (
          group.fields
          | countFieldItems
            : {
                filterSelected: true,
                patchItems: combinedPatchItems,
                onlyCount: true
              }
        ).length > 0
      "
      [expanded]="openPanels.indexOf(i) > -1"
    >
      <mat-expansion-panel-header class="pe-3">
        <mat-panel-title class="fw-bold">
          {{ group.label }} ({{
            (
              group.fields
              | countFieldItems
                : {
                    filterSelected: true,
                    patchItems: combinedPatchItems,
                    onlyCount: true
                  }
            ).length
          }})
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container
        *ngFor="
          let item of group.fields
            | countFieldItems
              : {
                  filterSelected: true,
                  patchItems: combinedPatchItems,
                  onlyCount: false
                };
          let i = index
        "
      >
        <ng-container [ngSwitch]="item.itemMeta.type">
          <!-- person keyword fields -->
          <ng-container *ngSwitchCase="fieldTypes.personKeyword">
            <span
              *ngIf="fieldTypes.personKeyword && i === 0"
              class="fw-bold d-block pt-2"
              i18n="@@keywords"
              >Avainsanat</span
            >
            <!--
              Special case for keywords.
              Keywords are patched as separate keywords
              but displayed as a joined list. Show only the first row, since
              all rows are equal when combined.
            -->
            <ng-container *ngIf="i === 0">
              <div class="row pt-2">
                <div class="col px-0">
                  <div class="row">
                    <div
                      class="col px-0 pb-2 font-size-smaller"
                      [class.text-strike]="
                        !(
                          combinedPatchItems
                          | findByKeyValue
                            : 'id'
                            : group.fields[0].items[0].itemMeta.id
                        ).show
                      "
                    >
                      {{ group.fields[0].items | joinItems: 'value' }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <!-- Default view -->
          <ng-container *ngSwitchDefault>
            <div class="row gx-0">
              <app-summary-divider *ngIf="i > 0"></app-summary-divider>
              <div [ngClass]="i === 0 ? 'col px-0 pt-3' : 'col px-0'">
                <div
                  class="row d-flex justify-content-between pt-1"
                  [class.justify-content-between]="true"
                >
                  <div
                    class="col px-0 font-size-smaller"
                  >
                    <app-panel-array-item
                      [class.text-strike]="
                        !(
                          combinedPatchItems
                          | findByKeyValue: 'id':item.itemMeta.id
                        ).show
                      "
                      [item]="item"
                      [fieldType]="item.itemMeta.type"
                      [localized]="item.localized"
                      [isModalSummaryView]="true"
                    ></app-panel-array-item>
                  </div>
                  <!-- check *ngIf="
                      item.itemMeta.primaryValue &&
                      groupItem.groupMeta.type ===
                        fieldTypes.activityAffiliation -->
                  <div
                    *ngIf="
                      item.itemMeta.primaryValue &&
                      item.itemMeta.type === fieldTypes.activityAffiliation
                    "
                    class="col-auto px-4 mx-3 cursor-pointer"
                  >
                    <app-general-badge class="d-none d-sm-flex ms-2" [textInput]="primary"></app-general-badge>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-expansion-panel>
  </ng-container>

  <mat-expansion-panel
    id="collaboration-options-panel"
    [expanded]="false"
    *ngIf="collaborationOptions.length"
  >
    <mat-expansion-panel-header class="pe-1 pe-md-3">
      <mat-panel-title class="fw-bold">
        {{ collaborationHeader }} ({{ collaborationOptions.length }})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let option of collaborationOptions; let j = index">
      <mat-checkbox
              [ngClass]="j > 0 ? 'py-lg-0 w-100' : 'pt-3 py-lg-0 w-100'"
        [checked]="option?.selected"
        disabled
      >
        {{ option[nameLocale] }}
      </mat-checkbox>
    </ng-container>
  </mat-expansion-panel>

  <mat-expansion-panel
          id="highlight-openness-panel"
          [expanded]="false"
          *ngIf="highlightOpenness?.length || automaticPublishing?.length"
  >
    <mat-expansion-panel-header class="pe-1 pe-md-3">
      <mat-panel-title class="fw-bold">
        {{ accountSettingsHeader }} {{ highlightOpenness?.length + automaticPublishing?.length > 0 ? '('+ (highlightOpenness?.length + automaticPublishing?.length) + ')': ''}}
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-checkbox *ngIf="highlightOpenness?.length"
              [ngClass]="highlightOpenness[0] ? 'py-1 pt-3 w-100 checked' : 'py-1 pt-3 w-100 unchecked'"
              [checked]="highlightOpenness[0]"
              disabled
      >
        {{ highlightOpennessHeader }}
      </mat-checkbox>
    <mat-checkbox *ngIf="automaticPublishing?.length"
            [ngClass]="automaticPublishing[0] ? 'py-1 pt-3 w-100 checked' : 'py-1 pt-3 w-100 unchecked'"
            [checked]="automaticPublishing[0]"
            disabled
    >
      {{ automaticPublishingHeader }}
    </mat-checkbox>
  </mat-expansion-panel>

</mat-accordion>