//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT
  
// Pagination
button {
    border: 0;       
}

button.pagination-link-active {
    cursor: pointer;
    font-weight: bold;
}

.pagination-container {
    padding: 0 0 2rem 0;
}

.pagination button {
    border: 1px solid;
    padding: 10px 15px;
    margin: 0 5px;
    border: 0;
}
    
.result-count, .result-count p {
    float: right;
    font-weight: bold;
}

@media (max-width: 767px) {
    .pagination {
        justify-content: center;
    }

    .result-count p {
        float: none;
        text-align: center;
        padding-top: 1rem;
    }
}

@media (max-width: 991px) {
    .pagination-container {
        padding: 1rem 0 0;
    }

    .pagination {
        padding: 0;
    }
}

@media (max-width: 1200px) {
    .pagination {
        padding-bottom: 1rem;
    }

}
