//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@import './filters-shared.scss';

app-funding-call-category-filters .mat-mdc-standard-chip {
  border-radius: 10px;
}

/*  TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
app-funding-call-category-filters .mat-chip-list-stacked .mat-chip-list-wrapper .mat-mdc-standard-chip {
  width: auto !important;
}

app-funding-call-category-filters {
  /*  TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
  .mat-chip-list-wrapper {
    flex-direction: row !important;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .mat-mdc-chip {
    cursor: pointer;
    border-radius: 4px;
  }
}

.about-link {
  margin-left: 20px;
  margin-right: 15px;
}
