<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row d-flex justify-content-center">
  <img
    class="orcid-icon pe-2"
    src="assets/img/orcid_icon.svg"
    alt="Orcid -palvelun logo"
  />
  <a href="https://orcid.org/{{ userData.orcid }}" target="_blank"
    ><u>https://orcid.org/{{ userData.orcid }}</u></a
  >
</div>

<div class="row d-flex justify-content-center">
  <span class="col pt-1">{{ userData.name }}</span>
</div>
