<div class="group-wrapper">
  <app-profile-editor-card-header
          [label]="highlightingOpenScience"
          [displayButton]="false"
  ></app-profile-editor-card-header>

  <div class="row gx-0 mt-3">
    <div class="d-flex mb-3">
      <mat-checkbox [checked]="highlightChecked" color="primary" (change)=toggleChecked()>
        {{highlightOpenAccessPublications}}
      </mat-checkbox>
    </div>
  </div>
  <div class="openness-info-box row">
    {{highlightOpenAccessPublicationsInfo}}
  </div>
</div>

