<div class="group-wrapper">
  <app-profile-editor-card-header
          [label]="label"
          [displayButton]="false"
  ></app-profile-editor-card-header>

  <div class="row gx-0 mt-3">
    <div class="d-flex mb-3">
      <mat-checkbox [checked]="highlightChecked" color="primary" (change)=toggleChecked()>
        Highlight open access publications in your profile
      </mat-checkbox>
    </div>
  </div>
  <div class="openness-info-box">
    Korostus nostaa avoimesti saatavilla olevat julkaisut julkaisulistan kärkeen profiilissasi. Tiedejatutkimus.fi -palvelusta löytyviin avoimiin julkaisuihin lisätään automaattisesti avoimen tieteen merkintä.
  </div>
</div>

