<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
  <div class="wrapper">
    <div class="row">
      <div class="col pb-4">
        <app-breadcrumb [type]="'simple'" [title]="title"></app-breadcrumb>
      </div>
    </div>
    <div class="row base">
      <div class="col">
        <mat-accordion #mainFocus tabindex="0">
          <ng-container *ngFor="let section of sections; let j = index">
            <h1 class="pb-4" [class.pt-4]="j > 0">{{ section.header }}</h1>
            <div class="content">
              <mat-expansion-panel
                *ngFor="let item of section.items; let i = index"
                [expanded]="openedIdx === item.id"
                (opened)="open(item.id)"
                (closed)="close()"
                [id]="item.id"
              >
                <mat-expansion-panel-header collapsedHeight="61px">
                  <mat-panel-title>
                    <fa-icon class="icon" [icon]="faInfo"></fa-icon>
                    <div class="title align-self-center">
                      <h2 [id]="item['title' + currentLocale]">
                        {{ item['title' + currentLocale] }}
                      </h2>
                    </div>
                  </mat-panel-title>
                  <span
                    *ngIf="openedIdx !== item.id"
                    class="align-self-center mr-2"
                    i18n="@@open"
                    >Avaa</span
                  >
                  <span
                    *ngIf="openedIdx === item.id"
                    class="align-self-center mr-2"
                    i18n="@@close"
                    >Sulje</span
                  >
                </mat-expansion-panel-header>
                <div class="row">
                  <div
                    class="col-12 info-panel"
                    [innerHTML]="item['content' + currentLocale] | sanitizeHtml"
                  ></div>
                </div>
              </mat-expansion-panel>
            </div>
          </ng-container>
        </mat-accordion>
      </div>
    </div>
  </div>
</main>
