<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row content" *ngFor="let row of subUnitFields">
  <h2 class="col-12 col-sm-6 col-lg-3 th">
    <span class="pe-1">{{ row.label }} ({{ latestSubUnitYear }})</span>
    <ng-container *ngIf="row.tooltip">
      <ng-template #tooltipTemplate
        ><div [innerHtml]="row.tooltip"></div
      ></ng-template>
      <span
        [tooltip]="tooltipTemplate"
        container="body"
        tabindex="0"
        placement="top"
        #elem
      >
        <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
      </span>
    </ng-container>
  </h2>
  <div class="col-12 col-sm-6 col-lg-9 td">
    <ul class="list-unstyled">
      <li *ngFor="let subUnit of item.subUnits">
        <a
          [routerLink]="['/results/publications/' + subUnit.subUnitID]"
          [queryParams]="{ target: 'subUnitID', organization: item.id }"
          >{{ subUnit.subUnitName }}</a
        >
      </li>
    </ul>
  </div>
</div>
