<!--  This file is part of the research.fi API service

 Copyright 2019 Minisdivy of Education and Culture, Finland

 :author: CSC - IT Center for Science Ldiv., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

 <h1 #srHeader class="sr-only"></h1>
 <aside>
     <app-search-bar></app-search-bar>
 </aside>
 
 <div class="container" *ngFor="let funding of responseData" style="margin-top:25px;"  id="main-content">
     <!-- Breadcrumb -->
     <app-breadcrumb [responseData]="responseData" [tab]="tab" [tabName]="'hankkeet'" [resultNameField]="'projectNameFi'"></app-breadcrumb>
     <div class="row shared">
        <p class="back col-12"><a routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="{'page': pageNumber}">&lt; Takaisin hakutuloksiin</a></p>
         <div class="col-12" style="margin: 10px 0 10px 0;" *ngIf="funding.hits.total === 0">
             <h2>404 - Virheellinen osoite</h2>
         </div>
         <main class="col-12 col-md-8">
             <div *ngFor="let item of funding.hits.hits">
                 <h2 class="result-header">{{item._source.projectNameFi}}</h2>
                 <div id="info" class="table">
                    <p class="header">Hanke</p>
                    <div class="content">
                        <div class="row" *ngFor="let row of infoFields">
                            <div class="col-6 col-lg-3 th">{{row.label}}</div>
                            <div class="col-6 col-lg-9 td">
                                <div [ngClass]="expand ? 'expand' : 'short'">{{item._source[row.field]}}</div>
                                <a href="javascript:void(0)" class="read-more" *ngIf="row.field === 'projectDescriptionFi' && item._source.projectDescriptionFi.length > 256" (click)="expandDescription()" 
                                [innerHTML]="expand ? 'Näytä vähemmän' : 'Lue lisää'"></a>
                            </div>
                        </div>
                    </div>
                    <!-- Funded -->
                    <div class="content" *ngIf="fundedFields.length > 0">
                        <p class="header trHeader">Saaja</p>
                        <!-- <div class="row " *ngFor="let row of fundedFields">
                            <div class="col-6 col-lg-3 td" *ngIf="row.field !== 'amount_in_EUR'">{{item._source[row.field]}}</div>
                            <div class="col-6 col-lg-3 td" *ngIf="row.field === 'amount_in_EUR'">{{row.label}}</div>
                            <div class="col-6 col-lg-3 td" *ngIf="row.field === 'amount_in_EUR'">
                                <p>{{shapeAmount(item._source.amount_in_EUR)}} €</p>
                            </div>
                        </div> -->
                        <div class="row" >
                            <div class="col-6 col-lg-3 td" *ngFor="let funded of fundedFields2[0]">
                                {{item._source[funded.field]}}
                            </div>
                        </div>
                        <div class="row" *ngFor="let org of item._source.fundedOrgs">
                            <div class="col-6 col-lg-3 td" *ngFor="let fundedOrg of fundedFields2[1]">
                                {{org[fundedOrg.field]}}
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-6 col-lg-3 td" *ngFor="let amount of fundedFields2[2]">
                                {{amount.label}}{{item._source[amount.field]}}
                            </div>
                        </div>
                    </div>
                    <!-- Funder -->
                    <div class="content" *ngIf="funderFields.length > 0">
                        <p class="header trHeader">Rahoittaja</p>
                        <div class="row" *ngFor="let row of funderFields">
                            <div class="col-6 col-lg-3 th">{{row.label}}</div>
                            <div class="col-6 col-lg-9 td">{{item._source[row.field]}}</div>
                        </div>
                    </div>
                    <!-- Other -->
                    <div class="content" *ngIf="otherFields.length > 0">
                        <p class="header trHeader">Muut tiedot</p>
                        <div class="row" *ngFor="let row of otherFields">
                            <div class="col-6 col-lg-3 th">{{row.label}}</div>
                            <div class="col-6 col-lg-9 td">{{item._source[row.field]}}</div>
                        </div>
                    </div>
                </div>
             </div>
         </main>
         <div *ngFor="let item of funding.hits.hits" class="col-12 col-md-4 col-xl-4">
                <aside>
                    <aside>
                        <mat-card>
                            <mat-card-title><h2>Hankkeen verkkosivu</h2></mat-card-title>
                            <div class="row links">
                                <div *ngFor="let row of linkFields.slice(1)" class="info-link-wrapper">
                                    <a class="info-link" href="">></a>
                                </div>
                            </div>
                            <div *ngIf="!linkFields.length" class="no-links">Hankkeeseen ei ole tarjolla linkkejä tässä portaalissa</div>
                        </mat-card>
                    </aside>
                    <mat-card>
                        <mat-card-title><h2>Tähän hankkeeseen liittyvät</h2></mat-card-title>
                        <div class="row related">
                            <ul class="col-12 col-sm-6 col-md-12 col-xl-6">
                                <li class=""><a routerLink="/">Julkaisut</a></li>
                                <li class=""><a routerLink="/">Tutkijat</a></li>
                                <li class=""><a routerLink="/">Aineistot</a></li>
                            </ul>
                            <ul class="col-12 col-sm-6 col-md-12 col-xl-6">
                                <li class=""><a routerLink="/">Infrastruktuurit</a></li>
                                <li class=""><a routerLink="/">Organisaatiot</a></li>
                            </ul>
                        </div>
                    </mat-card>
                </aside>
                <!-- <aside>
                    <mat-card>
                        <mat-card-title><h2>Viittaa</h2></mat-card-title>
                        <div class="row">
                            <div class="col-12 reference">
                                <button mat-raised-button color="primary"><fa-icon [icon]="faQuoteRight" class="quote"></fa-icon>Kopioi viitetiedot...</button>
                            </div>
                        </div>
                    </mat-card>
                </aside> -->
                <aside>
                    <mat-card>
                        <mat-card-title><h2>Jaa</h2></mat-card-title>
                        <div class="social">
                            <a href="#" class="icon"><fa-icon [icon]="faFacebook"></fa-icon></a>
                            <a href="#" class="icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a href="#" class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                            <a href="#" class="icon"><fa-icon [icon]="faMendeley"></fa-icon></a>
                        </div>
                    </mat-card>
                </aside>
                <aside>
                    <mat-card>
                        <mat-card-title><h2>Hanketiedon lähde</h2></mat-card-title>
                        <div *ngFor="let source of funding.hits.hits">
                            <p>Organisaatio: {{source._source.publicationOrgId}}</p>
                        </div>
                        <div class="refer"><a href="#">Lue lisää [palvelun nimi] tietovirroista</a></div>
                    </mat-card>
                </aside>
            </div>
     </div>
 </div>