<!--  This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

 <h1 #srHeader class="sr-only"></h1>
 <aside>
     <app-search-bar></app-search-bar>
 </aside>
 
 <div class="container" *ngFor="let funding of responseData" style="margin-top:25px;">
     <!-- Breadcrumb -->
     <app-breadcrumb [responseData]="responseData" [tab]="tab" [tabName]="'hanke'" [resultNameField]="'projectNameFi'"></app-breadcrumb>
     <div class="row shared">
        <p class="back col-12"><a routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="{'page': pageNumber}">&lt; Takaisin hakutuloksiin</a></p>
         <div class="col-12" style="margin: 10px 0 10px 0;" *ngIf="funding.hits.total === 0">
             <h2>404 - Virheellinen osoite</h2>
         </div>
         <main class="col-12 col-md-8">
             <div *ngFor="let item of funding.hits.hits">
                 <h2 class="padding-left">{{item._source.projectNameFi}}</h2>
                 <p class="index-name padding-left">Hanke</p>
                 <table id="info">
                     <tr class="row inner" *ngFor="let row of table; let i = index">
                         <table id="infoFields">
                             <tr class="row" *ngFor="let info of row[i]">
                                <th class="col-6 col-lg-3">{{info.label}}</th>
                                <td class="col-6 col-lg-9">{{item._source[info.field]}}</td>
                             </tr>
                         </table>
                     </tr>
                 </table>
             </div>
         </main>
         <div class="col-12 col-md-4">
            <aside>
                <mat-card>
                    <mat-card-title><h2>Tähän julkaisuun liittyvät</h2></mat-card-title>
                    <div class="row related">
                        <p class="col-12 col-sm-6 col-md-12 col-xl-6"><a routerLink="/">Tutkijat (45)</a></p>
                        <p class="col-12 col-sm-6 col-md-12 col-xl-6"><a routerLink="/">Aineistot (13)</a></p>
                        <p class="col-12 col-sm-6 col-md-12 col-xl-6"><a routerLink="/">Organisaatiot (9)</a></p>
                        <p class="col-12 col-sm-6 col-md-12 col-xl-6"><a routerLink="/">Rahoitetut hankkeet (46)</a></p>
                        <p class="col-12 col-sm-6 col-md-12 col-xl-6"><a routerLink="/">Tutkimusvälineet (-)</a></p>
                        <p class="col-12 col-sm-6 col-md-12 col-xl-6"><a routerLink="/">Muut tutkimusaktiviteetit (-)</a></p>
                    </div>
                </mat-card>
            </aside>
            <!-- <aside>
                <mat-card>
                    <mat-card-title><h2>Viittaa</h2></mat-card-title>
                    <div class="row">
                        <div class="col-12 reference"><button mat-raised-button color="primary">Viittaa tähän rahoitukseen</button></div>
                    </div>
                </mat-card>
            </aside> -->
            <aside>
                <mat-card>
                    <mat-card-title><h2>Tiedon lähde</h2></mat-card-title>
                    <div *ngFor="let source of funding.hits.hits">
                        <p>Rahoittaja: {{source._source.funderNameFi === 'UNDEFINED' ? 'Ei tietoa' : source._source.funderNameFi}}</p>
                    </div>
                    <div class="refer"><a href="#">Lue lisää [palvelun nimi] tietovirroista</a></div>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Jaa</h2></mat-card-title>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </mat-card>
            </aside>
        </div>
     </div>
 </div>