<!--  This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

 <h1 #srHeader class="sr-only"></h1>
 <aside>
     <app-search-bar></app-search-bar>
 </aside>
 
 <div class="container" *ngFor="let funding of responseData" style="margin-top:25px;">
     <!-- Breadcrumb -->
     <app-breadcrumb [responseData]="responseData" [tab]="'fundings'" [resultNameField]="'projectNameFi'"></app-breadcrumb>
     <div class="row shared">
         <div class="col" style="margin: 10px 0 10px 0;" *ngIf="funding.hits.total === 0">
             <h2>404 - Virheellinen osoite</h2>
         </div>
         <main class="col-12 col-md-8 col-xl-9">
             <div *ngFor="let item of funding.hits.hits">
                 <h2>{{item._source.projectNameFi}}</h2>
                 <table id="info">
                     <tr class="row" *ngFor="let row of infoFields">
                         <th class="col-6 col-lg-3">{{row.label}}</th>
                         <td class="col-6 col-lg-9">{{item._source[row.field]}}</td>
                     </tr>
                 </table>
             </div>
         </main>
         <div class="col-12 col-md-4 col-xl-3">
            <aside>
                <mat-card>
                    <mat-card-title><h2>Liittyvää</h2></mat-card-title>
                    <br>
                    <p><a routerLink="/">Julkaisut (46)</a></p>
                    <p><a routerLink="/">Tutkijat (45)</a></p>
                    <p><a routerLink="/">Tutkimusaineistot (13)</a></p>
                    <p><a routerLink="/">Tutkimusinfrastruktuurit (65)</a></p>
                    <p><a routerLink="/">Muut tutkimusaktiviteetit (-)</a></p>
                    <p><a routerLink="/">Tutkimusorganisaatiot (9)</a></p>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Viittaa</h2></mat-card-title>
                    <div class="row">
                        <div class="col-12 reference"><button mat-raised-button color="primary">Viittaa tähän rahoitukseen</button></div>
                    </div>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Jaa</h2></mat-card-title>
                    <div class="social center">
                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </mat-card>
            </aside>
        </div>
     </div>
 </div>