h2 {
  color: #4d4d4d;
  font-size: 0.9rem;
  line-height: 2rem;
}

.search-field {
  height: 40px;
  z-index: 2;
  max-width: 300px;
}

.input {
  box-shadow: #4546b9 0px 0px 0px 2px;
  border-radius: 4px;
  border: none;
}

.tki-search-inputs-row {
  .search-button {
    margin-top: -2px;
    margin-left: 10px;
    margin-right: 25px;
    z-index: 2;
  }
  .reset-search {
    margin: 9px 15px 0px -24px;
    z-index: 2;
    cursor: pointer;
  }
  button {
    min-width: 121px;
  }
}


.tki-search-results-modal {
  background: #fff scroll;
  box-shadow: rgb(69, 70, 185) 0px 0px 0px 2px;
  border-radius: 4px;
  margin: -28px 25px 0px 9px;
  min-width: 250px;
  max-width: 600px;
  z-index: 2;
  position: absolute;
  top: 40px;

  mark {
    font-weight: 900;
    background-color: initial;
  }

  ul {
    margin: 16px 0px 0px 0px;
    list-style: none;

    li {
      cursor: pointer;
      padding: 15px;
      margin: 0px -0px 0px -15px;

      &:hover {
        background: #e2e2f2;
      }
    }
  }
  hr:last-child {
    display: none;
  }
}

.tki-search-results-mobile mark {
  font-weight: 900;
  background-color: initial;
}

.all-publications-link {
  color: rgb(51, 102, 204);
  font-weight: 700;
}

.tki-search-results-mobile {
  hr {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  a {
    color: #4546b9;
    font-weight: 500;
  }
}

.modal-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 88px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

mat-header-cell {
  font-weight: bold;
  font-size: 0.9rem;
  color: #4d4d4d;
}

mat-cell {
  font-size: 0.95rem;
  margin: 8px 0px;
  a {
    color: #4546b9;
    font-weight: 500;
  }
}
