<!-- This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col pb-4">
                <app-breadcrumb [type]="'simple'" [title]="title"></app-breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Tietosuoja</h1>
            </div>
        </div>
        <div class="row base">
            <div class="col">
                <div class="content">
                    <div class="row" tabindex="0" #mainFocus>
                        <mat-tab-group>
                            <mat-tab label="Tietosuojailmoitus">
                                <div class="pt-4">
                                    <h2>Tietosuojailmoitus</h2>
                                    <p>Julkaistu 24.04.2020</p>
                                    <p>Opetus- ja kulttuuriministeriön tietosuojailmoitus rekisteröidylle</p>
                                    <p>Tutkimustietovarannossa käsiteltävät henkilötiedot</p>
                                    <ol>
                                        <li>
                                            <h3>Yleistä</h3>
                                            <p>Tämä tietosuojailmoitus sisältää EU:n tietosuoja-asetuksen (EU) 679/2016 13 ja 14 artiklan mukaiset tiedot rekisteröidylle (luonnolliselle henkilölle). 
                                                Tämä ilmoitus annetaan rekisteröidylle henkilötietoja kerättäessä.</p>
                                            </li>
                                            <li>
                                                <h3>Rekisterinpitäjät</h3>
                                                <p>Opetus- ja kulttuuriministeriö on sopinut yhteisrekisterinpitäjyydestä suomalaisten tutkimusrahoittajien ja tutkimusorganisaatioiden kanssa, jotka luovuttavat 
                                                    tietoja tutkimustietovarantoon. Yhteisrekisterinpitäjät vastaavat kukin omista tiedoistaan tutkimustietovarannossa.</p>
                                                
                                                <p>Opetus- ja kulttuuriministeriö
                                                <br>Kirjaamon käyntiosoite: Ritarikatu 2 b, Helsinki
                                                <br>Postiosoite: PL 29, 00023 VALTIONEUVOSTO
                                                <br>Sähköpostiosoite: <a href="mailto:kirjaamo@minedu.fi">kirjaamo@minedu.fi</a> 
                                                <br>Puh. 0295 16001 (keskus)</p>

                                                <p><a href="https://wiki.eduuni.fi/x/JROpC." target="_blank">Lista yhteisrekisterinpitäjinä toimivista muista rekisterinpitäjistä ja näiden yhteystiedoista <fa-icon icon="external-link-alt"></fa-icon></a></p>
                                            </li>
                                            <li>
                                                <h3>Tietosuojavastaavan yhteystiedot</h3>
                                                <p>Opetus- ja kulttuuriministeriön tietosuojavastaava
                                                <br>Sähköpostiosoite: <a href="mailto:okmtietosuojavastaava@minedu.fi">okmtietosuojavastaava@minedu.fi</a>
                                                <br>Postiosoite: Opetus- ja kulttuuriministeriö, PL 29, 00023 VALTIONEUVOSTO</p>
                                            </li>
                                            <li>
                                                <h3>Henkilötietojen käsittelyn tarkoitukset, henkilötietoryhmät ja oikeusperusteet</h3>
                                                <div class="pl-4">
                                                    <h4>Henkilötietojen käyttötarkoitukset ovat:</h4>
                                                    <ul>
                                                        <li>Tutkimustietovarannon sisältämien tietojen julkaiseminen ja selailu.</li>
                                                        <li>Tutkimustietovarannon sisältämien tietojen välittäminen tahoille, joilla on niihin lakisääteinen käsittelyperuste.</li>
                                                        <li>Palvelun verkkosivustojen <a href="https://www.tiedejatutkimus.fi">www.tiedejatutkimus.fi</a>, <a href="https://www.research.fi">www.research.fi</a> 
                                                            ja <a href="https://www.forskning.fi">www.forskning.fi</a> käyttäjien käyttölokitietojen hallinta, käyttäjätilastointi sekä palvelun käytössä tarvittavien evästeiden hallinta.</li>
                                                        <li>Palvelun käyttöön ja kehittämiseen liittyvä tilastointi, analytiikka ja hallinta.</li>
                                                    </ul>
                                                    <h4>Käsiteltävät henkilötietoryhmät:</h4>
                                                    <ul>
                                                        <li>Tutkimustietovarantoon toimitettujen julkaisujen, tutkimusaineistojen, rahoituspäätösten, tutkimusinfrastruktuurien ja tiedeuutisten tiedot sekä niissä mainitut tutkijan etu- 
                                                            ja sukunimi, ORCID-tunniste sekä organisaatio.</li>
                                                        <li>IT-hallintatiedot kuten laitteistojen tiedot liittyen tarjottuihin palveluihin, mukaan lukien tekniset tunnisteet, sijainti, yhteystiedot, viestintätiedot ja metatieto 
                                                            ja tekniset tapahtumat, jotka liittyvät tarjottuihin palveluihin mukaan lukien järjestelmä- ja sovelluslokitiedot.</li>
                                                    </ul>
                                                    <h4>Henkilötietojen käsittelyn oikeusperusteet:</h4>
                                                    <ul>
                                                        <li>Laki valtioneuvostosta (175/2003)</li>
                                                        <li>Valtioneuvoston ohjesääntö (262/2003)</li>
                                                        <li>Valtioneuvoston asetus opetus- ja kulttuuriministeriöstä (310/2010)</li>
                                                        <li>Yliopistolaki (558/2009)</li>
                                                        <li>Ammattikorkeakoululaki (932/2014)</li>
                                                    </ul>
                                                </div>
                                                <p>Rahoituspäätöksiin liittyvien tietojen käsittelyn peruste on rahoittajakohtainen. Perusteita ovat rahoittajan oikeutettu etu taikka rahoittajan omassa palvelussa tehty tai annettu sopimus tai suostumus.</p>
                                                <p>Muihin tutkimustietovarannon tietoihin liittyvien henkilötietojen käsittelyyn ja niiden julkaisemiseen sovelletaan lainmukaisuuden arvioinnissa yleistä etua.</p>
                                            </li>
                                            <li>
                                                <h3>Henkilötietojen käsittelijät</h3>
                                                <p>Henkilötietojen käsittelijöitä ovat CSC - Tieteen tietotekniikan keskus Oy ja sen alihankkijat, jotka toteuttavat opetus- ja kulttuuriministeriön kanssa tehtyyn sopimukseen perustuen palvelun kehitystä, ylläpitoa ja säilytystä.</p>
                                                <p>Lisäksi tutkimustietovarannon sisältämiä julkaisujen, aineistojen, rahoituspäätösten ja infrastruktuurien  metatietoja (ml. tekijöiden tiedot) voidaan luovuttaa yksittäistapauksissa voimassaolevan 
                                                    lainsäädännön mukaisesti niitä hyödyntäville tahoille, kuten tutkimusorganisaatioille tai -rahoittajille.</p>
                                            </li>
                                            <li>
                                                <h3>Henkilötietojen siirtäminen kolmansiin maihin tai kansainvälisille järjestöille</h3>
                                                <p>Tutkimustietovarannon sisältämiä julkaisujen, aineistojen, rahoituspäätösten ja infrastruktuurien  metatietoja (ml. tekijätiedot) voidaan luovuttaa voimassaolevan lainsäädännön mukaisesti kansainvälisille järjestöille tai 
                                                    alan toimijoille niin EU/ETA-alueella kuin niiden ulkopuolella. Muita henkilötietoja ei luovuteta EU/ETA-alueen ulkopuolelle.</p>
                                            </li>
                                            <li>
                                                <h3>Henkilötietojen säilyttämisajat</h3>
                                                <p>Tutkimustietovarannon tietoihin liittyviä henkilötietoja säilytetään toistaiseksi tiedonhallintalain 21 § kohdan 1 ja 2 mukaisesti ellei arkistointia koskevasta lainsäädännöstä tai muista säädöksistä muuta johdu. </p>
                                                <p>Julkaisujen, tutkimusaineistojen ja muiden tietoaineistojen, joihin liittyy tekijyyksiä, tietojen säilytysaika pohjautuu kohtiin 1 ja 2. Muiden tietojen osalta kohtaan 1. Suostumukseen perustuvia tietoja säilytetään niin kauan kuin suostumus on voimassa.</p>
                                            </li>
                                            <li>
                                                <h3>Rekisteröidyn oikeudet</h3>
                                                <p>Seuraavat rekisteröidyn oikeudet ovat ehdottomia ja seuraavat tietosuoja-asetuksesta:</p>
                                                <div class="pl-4">
                                                    <h4>Tarkastusoikeus</h4>
                                                    <p>Rekisteröidyllä on oikeus tarkastaa tutkimustietovarannossa itseään koskevat henkilötiedot. Tietosuojapyynnön lisäksi ne voi tarkastaa tutkimustietovarannon verkkosivustolta 
                                                    <a href="https://www.tiedejatutkimus.fi">www.tiedejatutkimus.fi</a>, <a href="https://www.research.fi">www.research.fi</a> ja <a href="https://www.forskning.fi">www.forskning.fi</a>.</p>
                                                    
                                                    <h4>Oikeus oikaisuun</h4>
                                                    <p>Rekisteröidyllä on oikeus pyytää oikaisemaan tutkimustietovarantoon tallennetut virheelliset tai epätarkat henkilötiedot.</p>
                                                    
                                                    <h4>Valitusoikeus</h4>
                                                    <p>Rekisteröidyllä on oikeus jättää valitus tietosuojavaltuutetulle, jos hän katsoo, ettei henkilötietojen käsittely ole lainmukaista. Tietosuojavaltuutettuun saa yhteyden täältä: 
                                                    <a href="https://tietosuoja.fi/yhteystiedot" target="_blank">https://tietosuoja.fi/yhteystiedot <fa-icon icon="external-link-alt"></fa-icon></a>.</p>
                                                </div>
                                                
                                                <p>Seuraavat tietosuoja-asetuksen mukaiset rekisteröidyn oikeudet ovat ehdollisia ja edellyttävät tiettyjen ehtojen täyttymistä: </p>
                                                <div class="pl-4">
                                                    <h4>Henkilötietojen poistaminen</h4>
                                                    <p>Rekisteröidyllä voi olla oikeus vaatia joidenkin tietojen poistamista tutkimustietovarannosta, jos tietyt ehdot täyttyvät. Esimerkiksi, jos tietoja käsitellään suostumuksen perusteella (osa rahoituspäätöstiedoista).</p>

                                                    <h4>Käsittelyn rajoittaminen</h4>
                                                    <p>Tietyissä tilanteissa rekisteröidyllä on oikeus vaatia henkilötietojen käsittelyn rajoittamista tutkimustietovarannossa. Esimerkiksi tarvitessaan niitä oikeudellista vaadetta varten.</p>

                                                    <h4>Käsittelyn vastustaminen</h4>
                                                    <p>Rekisteröidyllä voi olla oikeus vastustaa henkilötietojen käsittelyä. Vastustaminen on mahdollista esimerkiksi silloin, kun henkilötietoja käsitellään oikeutettuun etuun perustuen (osa rahoituspäätöstiedoista).</p>
                                                </div>
                                            </li>
                                            <li>
                                                <h3>Henkilötietojen lähde/lähteet</h3>
                                                <p>Tutkimustietovarannossa säilyttävät tietoja suomalaiset tutkimusorganisaatiot (yliopistot, ammattikorkeakoulut, tutkimuslaitokset, yliopistolliset sairaalat) sekä tutkimuksen rahoittajat. Lisäksi opetus- ja 
                                                    kulttuuriministeriö siirtää tutkimustietovarantoon tietoja ulkoisista lähteistä (esimerkiksi EU:n ylläpitämä CORDIS-tietokanta). Henkilötiedon lähde on mainittu tutkimustietovarannon verkkosivustoilla kunkin tiedon kohdalla.</p>
                                                <p>Kukin tutkimustietovarannossa tietoja säilyttävä organisaatio vastaa tutkimustietovarantoon toimittamiensa tietojen oikeellisuudesta.</p>
                                            </li>
                                            <li>
                                                <h3>Henkilötietojen käsittelyn suojaaminen</h3>
                                                <p>Opetus- ja kulttuuriministeriö tutkimustietovarannon teknisenä ylläpitäjänä on toteuttanut tarvittavat tekniset ja organisatoriset toimet sekä vaatii sitä myös henkilötietojen käsittelijöiltä.</p>
                                            </li>
                                        </ol>
                                    </div>
                                        
                            </mat-tab>
                            <mat-tab label="Evästeet">
                                <div class="pt-4">
                                    <h2>Evästeet</h2>
                                </div>
                            </mat-tab>
                            <mat-tab label="Hallinnoi evästeasetuksia">
                                <div class="pt-4">
                                    <h2>Hallinnoi evästeasetuksia</h2>
                                    <div class="row">
                                        <div class="col">
                                            <iframe style="border: 0; height: 200px; width: 600px;"
                                            [src]="matomoUrl | safeUrl">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                          </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
