//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

h2 {
    margin-bottom: 32px;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

ol {
    font-weight: bold;
}

ul {
    list-style: outside;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

li {
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
}

@media (max-width: 575px) {
    mat-tab-group {
        max-width: 80vw;
        word-wrap: break-word;
    }
}