<!-- This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col pb-4">
                <app-breadcrumb [type]="'simple'" [title]="title"></app-breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 i18n="@@privacyHeader">Tietosuoja</h1>
            </div>
        </div>
        <div class="row base">
            <div class="col">
                <div class="content">
                    <div class="row" tabindex="0" #mainFocus>
                        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="navigate($event)">
                            <mat-tab label="Tietosuojailmoitus" i18n-label="@@privacyPolicyHeader">
                                <div class="pt-4">
                                    <h2 i18n="@@privacyPolicyHeader">Tietosuojailmoitus</h2>
                                    <p i18n="@@published">Julkaistu 24.04.2020</p>
                                    <p i18n="@@PP1">Opetus- ja kulttuuriministeriön tietosuojailmoitus rekisteröidylle</p>
                                    <p i18n="@@PP2">Tutkimustietovarannossa käsiteltävät henkilötiedot</p>
                                    <ol>
                                        <li>
                                            <h3 i18n="@@PP3">Yleistä</h3>
                                            <p i18n="@@PP4">Tämä tietosuojailmoitus sisältää EU:n tietosuoja-asetuksen (EU) 679/2016 13 ja 14 artiklan mukaiset tiedot rekisteröidylle (luonnolliselle henkilölle). 
                                                Tämä ilmoitus annetaan rekisteröidylle henkilötietoja kerättäessä.</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP5">Rekisterinpitäjät</h3>
                                                <p i18n="@@PP6">Opetus- ja kulttuuriministeriö on sopinut yhteisrekisterinpitäjyydestä suomalaisten tutkimusrahoittajien ja tutkimusorganisaatioiden kanssa, jotka luovuttavat 
                                                    tietoja tutkimustietovarantoon. Yhteisrekisterinpitäjät vastaavat kukin omista tiedoistaan tutkimustietovarannossa.</p>
                                                
                                                <p i18n="@@PP7">Opetus- ja kulttuuriministeriö
                                                <br>Kirjaamon käyntiosoite: Ritarikatu 2 b, Helsinki
                                                <br>Postiosoite: PL 29, 00023 VALTIONEUVOSTO
                                                <br>Sähköpostiosoite: <a href="mailto:kirjaamo@minedu.fi">kirjaamo@minedu.fi</a> 
                                                <br>Puh. 0295 16001 (keskus)</p>

                                                <p i18n="@@PP12"><a href="https://wiki.eduuni.fi/x/JROpC." target="_blank">Lista yhteisrekisterinpitäjinä toimivista muista rekisterinpitäjistä ja näiden yhteystiedoista<fa-icon icon="external-link-alt"></fa-icon></a></p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP13">Tietosuojavastaavan yhteystiedot</h3>
                                                <p i18n="@@PP14">Opetus- ja kulttuuriministeriön tietosuojavastaava
                                                <br>Sähköpostiosoite: <a href="mailto:okmtietosuojavastaava@minedu.fi">okmtietosuojavastaava@minedu.fi</a>
                                                <br>Postiosoite: Opetus- ja kulttuuriministeriö, PL 29, 00023 VALTIONEUVOSTO</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP17">Henkilötietojen käsittelyn tarkoitukset, henkilötietoryhmät ja oikeusperusteet</h3>
                                                <div class="pl-4">
                                                    <h4 i18n="@@PP18">Henkilötietojen käyttötarkoitukset ovat:</h4>
                                                    <ul>
                                                        <li i18n="@@PP19">Tutkimustietovarannon sisältämien tietojen julkaiseminen ja selailu.</li>
                                                        <li i18n="@@PP20">Tutkimustietovarannon sisältämien tietojen välittäminen tahoille, joilla on niihin lakisääteinen käsittelyperuste.</li>
                                                        <li i18n="@@PP21">Palvelun verkkosivustojen <a href="https://www.tiedejatutkimus.fi">www.tiedejatutkimus.fi</a>, <a href="https://www.research.fi">www.research.fi</a> 
                                                            ja <a href="https://www.forskning.fi">www.forskning.fi</a> käyttäjien käyttölokitietojen hallinta, käyttäjätilastointi sekä palvelun käytössä tarvittavien evästeiden hallinta.</li>
                                                        <li i18n="@@PP22">Palvelun käyttöön ja kehittämiseen liittyvä tilastointi, analytiikka ja hallinta.</li>
                                                    </ul>
                                                    <h4 i18n="@@PP23">Käsiteltävät henkilötietoryhmät:</h4>
                                                    <ul>
                                                        <li i18n="@@PP24">Tutkimustietovarantoon toimitettujen julkaisujen, tutkimusaineistojen, rahoituspäätösten, tutkimusinfrastruktuurien ja tiedeuutisten tiedot sekä niissä mainitut tutkijan etu- 
                                                            ja sukunimi, ORCID-tunniste sekä organisaatio.</li>
                                                        <li i18n="@@PP25">IT-hallintatiedot kuten laitteistojen tiedot liittyen tarjottuihin palveluihin, mukaan lukien tekniset tunnisteet, sijainti, yhteystiedot, viestintätiedot ja metatieto 
                                                            ja tekniset tapahtumat, jotka liittyvät tarjottuihin palveluihin mukaan lukien järjestelmä- ja sovelluslokitiedot.</li>
                                                    </ul>
                                                    <h4 i18n="@@PP26_1">Henkilötietojen käsittelyn oikeusperusteet:</h4>
                                                    <ul>
                                                        <li i18n="@@PP26">Laki valtioneuvostosta (175/2003)</li>
                                                        <li i18n="@@PP27">Valtioneuvoston ohjesääntö (262/2003)</li>
                                                        <li i18n="@@PP28">Valtioneuvoston asetus opetus- ja kulttuuriministeriöstä (310/2010)</li>
                                                        <li i18n="@@PP29">Yliopistolaki (558/2009)</li>
                                                        <li i18n="@@PP30">Ammattikorkeakoululaki (932/2014)</li>
                                                    </ul>
                                                </div>
                                                <p i18n="@@PP31">Rahoituspäätöksiin liittyvien tietojen käsittelyn peruste on rahoittajakohtainen. Perusteita ovat rahoittajan oikeutettu etu taikka rahoittajan omassa palvelussa tehty tai annettu sopimus tai suostumus.</p>
                                                <p i18n="@@PP32">Muihin tutkimustietovarannon tietoihin liittyvien henkilötietojen käsittelyyn ja niiden julkaisemiseen sovelletaan lainmukaisuuden arvioinnissa yleistä etua.</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP33">Henkilötietojen käsittelijät</h3>
                                                <p i18n="@@PP34">Henkilötietojen käsittelijöitä ovat CSC - Tieteen tietotekniikan keskus Oy ja sen alihankkijat, jotka toteuttavat opetus- ja kulttuuriministeriön kanssa tehtyyn sopimukseen perustuen palvelun kehitystä, ylläpitoa ja säilytystä.</p>
                                                <p i18n="@@PP35">Lisäksi tutkimustietovarannon sisältämiä julkaisujen, aineistojen, rahoituspäätösten ja infrastruktuurien  metatietoja (ml. tekijöiden tiedot) voidaan luovuttaa yksittäistapauksissa voimassaolevan 
                                                    lainsäädännön mukaisesti niitä hyödyntäville tahoille, kuten tutkimusorganisaatioille tai -rahoittajille.</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP36">Henkilötietojen siirtäminen kolmansiin maihin tai kansainvälisille järjestöille</h3>
                                                <p i18n="@@PP37">Tutkimustietovarannon sisältämiä julkaisujen, aineistojen, rahoituspäätösten ja infrastruktuurien  metatietoja (ml. tekijätiedot) voidaan luovuttaa voimassaolevan lainsäädännön mukaisesti kansainvälisille järjestöille tai 
                                                    alan toimijoille niin EU/ETA-alueella kuin niiden ulkopuolella. Muita henkilötietoja ei luovuteta EU/ETA-alueen ulkopuolelle.</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP38">Henkilötietojen säilyttämisajat</h3>
                                                <p i18n="@@PP39">Tutkimustietovarannon tietoihin liittyviä henkilötietoja säilytetään toistaiseksi tiedonhallintalain 21 § kohdan 1 ja 2 mukaisesti ellei arkistointia koskevasta lainsäädännöstä tai muista säädöksistä muuta johdu. </p>
                                                <p i18n="@@PP40">Julkaisujen, tutkimusaineistojen ja muiden tietoaineistojen, joihin liittyy tekijyyksiä, tietojen säilytysaika pohjautuu kohtiin 1 ja 2. Muiden tietojen osalta kohtaan 1. Suostumukseen perustuvia tietoja säilytetään niin kauan kuin suostumus on voimassa.</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP41">Rekisteröidyn oikeudet</h3>
                                                <p i18n="@@PP42">Seuraavat rekisteröidyn oikeudet ovat ehdottomia ja seuraavat tietosuoja-asetuksesta:</p>
                                                <div class="pl-4">
                                                    <h4 i18n="@@PP43">Tarkastusoikeus</h4>
                                                    <p i18n="@@PP44">Rekisteröidyllä on oikeus tarkastaa tutkimustietovarannossa itseään koskevat henkilötiedot. Tietosuojapyynnön lisäksi ne voi tarkastaa tutkimustietovarannon verkkosivustolta 
                                                    <a href="https://www.tiedejatutkimus.fi">www.tiedejatutkimus.fi</a>, <a href="https://www.research.fi">www.research.fi</a> ja <a href="https://www.forskning.fi">www.forskning.fi</a>.</p>
                                                    
                                                    <h4 i18n="@@PP45">Oikeus oikaisuun</h4>
                                                    <p i18n="@@PP46">Rekisteröidyllä on oikeus pyytää oikaisemaan tutkimustietovarantoon tallennetut virheelliset tai epätarkat henkilötiedot.</p>
                                                    
                                                    <h4 i18n="@@PP47">Valitusoikeus</h4>
                                                    <p i18n="@@PP48">Rekisteröidyllä on oikeus jättää valitus tietosuojavaltuutetulle, jos hän katsoo, ettei henkilötietojen käsittely ole lainmukaista. Tietosuojavaltuutettuun saa yhteyden täältä: 
                                                    <a href="https://tietosuoja.fi/yhteystiedot" target="_blank">https://tietosuoja.fi/yhteystiedot<fa-icon icon="external-link-alt"></fa-icon></a>.</p>
                                                </div>
                                                
                                                <p i18n="@@PP49">Seuraavat tietosuoja-asetuksen mukaiset rekisteröidyn oikeudet ovat ehdollisia ja edellyttävät tiettyjen ehtojen täyttymistä: </p>
                                                <div class="pl-4">
                                                    <h4 i18n="@@PP50">Henkilötietojen poistaminen</h4>
                                                    <p i18n="@@PP51">Rekisteröidyllä voi olla oikeus vaatia joidenkin tietojen poistamista tutkimustietovarannosta, jos tietyt ehdot täyttyvät. Esimerkiksi, jos tietoja käsitellään suostumuksen perusteella (osa rahoituspäätöstiedoista).</p>

                                                    <h4 i18n="@@PP52">Käsittelyn rajoittaminen</h4>
                                                    <p i18n="@@PP53">Tietyissä tilanteissa rekisteröidyllä on oikeus vaatia henkilötietojen käsittelyn rajoittamista tutkimustietovarannossa. Esimerkiksi tarvitessaan niitä oikeudellista vaadetta varten.</p>

                                                    <h4 i18n="@@PP54">Käsittelyn vastustaminen</h4>
                                                    <p i18n="@@PP55">Rekisteröidyllä voi olla oikeus vastustaa henkilötietojen käsittelyä. Vastustaminen on mahdollista esimerkiksi silloin, kun henkilötietoja käsitellään oikeutettuun etuun perustuen (osa rahoituspäätöstiedoista).</p>
                                                </div>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP56">Henkilötietojen lähde/lähteet</h3>
                                                <p i18n="@@PP57">Tutkimustietovarannossa säilyttävät tietoja suomalaiset tutkimusorganisaatiot (yliopistot, ammattikorkeakoulut, tutkimuslaitokset, yliopistolliset sairaalat) sekä tutkimuksen rahoittajat. Lisäksi opetus- ja 
                                                    kulttuuriministeriö siirtää tutkimustietovarantoon tietoja ulkoisista lähteistä (esimerkiksi EU:n ylläpitämä CORDIS-tietokanta). Henkilötiedon lähde on mainittu tutkimustietovarannon verkkosivustoilla kunkin tiedon kohdalla.</p>
                                                <p i18n="@@PP58">Kukin tutkimustietovarannossa tietoja säilyttävä organisaatio vastaa tutkimustietovarantoon toimittamiensa tietojen oikeellisuudesta.</p>
                                            </li>
                                            <li>
                                                <h3 i18n="@@PP59">Henkilötietojen käsittelyn suojaaminen</h3>
                                                <p i18n="@@pp60">Opetus- ja kulttuuriministeriö tutkimustietovarannon teknisenä ylläpitäjänä on toteuttanut tarvittavat tekniset ja organisatoriset toimet sekä vaatii sitä myös henkilötietojen käsittelijöiltä.</p>
                                            </li>
                                        </ol>
                                    </div>
                                        
                            </mat-tab>
                            <mat-tab i18n-label="@@cookiePolicyHeader" label="Evästekäytännöt">
                                <div class="pt-4">
                                    <h2 i18n="@@cookiePolicyHeader">Evästekäytännöt</h2>
                                    <p i18n="@@CP1">Verkkopalvelu hyödyntää välttämättömien evästeiden lisäksi myös seurantaevästeitä, joiden avulla kerätään anonymisoitua tietoa palvelun käytöstä.
                                        <br>Käytämme kerättyä tietoa palvelun kehittämiseen ja käyttökokemuksen parantamiseen.
                                        <br>Palvelussa käytetään ensimmäisen osapuolen evästeitä ja seurantaevästeiden avulla kerättyä anonymisoitua käyttäjäanalytiikkaa ei välitetä eteenpäin kolmansille osapuolille.
                                        <br>Voit aina halutessasi <a routerLink="/privacy/2">kytkeä evästeet pois päältä tietosuojasivulla.</a>
                                    </p>
                                    <h3 i18n="@@CP2" class="pb-2">Välttämättömät evästeet</h3>
                                    <strong i18n="@@CP3">Sessioeväste</strong>
                                    <ul i18n="@@CP4">
                                        <li>Nimi: b69c12f419e054dd0187c1e39e745a98</li>
                                        <li>Koko: 64kb</li>
                                        <li>Rooli: Tämä eväste ohjaa käyttäjän verkkoliikenteen johdonmukaisesti palvelinympäristössä. <br>Eväste edesauttaa palvelun sujuvaa toimintaa.</li>
                                    </ul>

                                    <strong i18n="@@CP3">Sessioeväste</strong>
                                    <ul i18n="@@CP5">
                                        <li>Nimi: d151c77b9ae41ba12db2ca3d241f7930</li>
                                        <li>Koko: 64kb </li>
                                        <li>Rooli: Tämä eväste ohjaa käyttäjän verkkoliikenteen johdonmukaisesti palvelinympäristössä. <br>Eväste edesauttaa palvelun sujuvaa toimintaa.</li>    
                                    </ul>
                                    
                                    <h3 class="pb-2" i18n="@@CP6">Seurantaevästeet</h3>
                                    <p i18n="@@CP7">Seurantaevästeiden keräämää tietoa ei luovuteta kolmansille osapuolille.</p>
                                    <strong i18n="@@CP8">Matomo-eväste (sessio)</strong>
                                    <ul i18n="@@CP9">
                                        <li>Nimi: _pk_ses.1.d050</li>
                                        <li>Koko: 15kb </li>
                                        <li>Elinkaari: 30 minuuttia. Lyhytkestoinen eväste, jonka avulla tallennetaan tietoa väliaikaisesti vierailun ajaksi</li>    
                                        <li>Rooli: Kertoo analytiikkatyökalulle, että aktiivinen vierailu on käynnissä.</li>    
                                    </ul>
                                            
                                    <strong i18n="@@CPMatomo">Matomo-eväste</strong>
                                    <ul i18n="@@CP10">
                                        <li>Nimi: _pk_id.1.d050-</li>
                                        <li>Koko: 66kb </li>
                                        <li>Elinkaari: 13 kuukautta</li>    
                                        <li>Rooli: Tämän avulla kerätään anonymisoitua tietoa vierailusta verkkopalvelussa, kuten:
                                            <ul>
                                                <li>Käyttäjän IP-osoite vahvasti anonymisoidussa muodossa (käyttäjä ei ole tunnistettavissa)</li>
                                                <li>Ladatun sivun otsikko</li>
                                                <li>Ladatun sivun URL</li>
                                                <li>Pyynnön päivämäärä ja kellonaika</li>
                                                <li>Edellisen sivun URL</li>
                                                <li>Päätelaitteen näytön resoluutio</li>
                                                <li>Kellonaika käyttäjän aikavyöhykkeellä</li>
                                                <li>Ulosvievien linkkien klikkaukset</li>
                                                <li>Sivujen latausajat</li>
                                                <li>Käyttäjän selainohjelma</li>
                                                <li>Käyttäjän päätelaitteen tyyppi</li>
                                                <li>Palvelun käytön aikaleimat (mihin kellonaikoihin palvelua käytetään)</li>
                                                <li>Mistä palveluun saavutaan</li>
                                                <li>Miten palvelun osioiden välillä liikutaan ja mitä toimintoja tehdään</li>
                                                <li>Selaimen kieliasetus</li>
                                                <li>Selaimen "User-Agent header"</li>
                                            </ul>
                                        </li>
                                        <li>Em. Tietojen perusteella kerätään kokonaistilastoa, jonka perusteella voidaan tehdä palvelun kehittämistoimenpiteitä perustuen esimerkiksi siihen tietoon, 
                                            minkälaisilla laitteilla palvelua käytetään eniten, tai mistä palveluun pääsääntöisesti saavutaan.</li>
                                    </ul>
                                                
                                    <strong i18n="@@CPMatomo">Matomo-eväste</strong>
                                    <ul i18n="@@CP13">
                                        <li>Nimi: MATOMO_SESSID</li>
                                        <li>Koko: </li>
                                        <li>Elinkaari: Lyhytkestoinen</li>    
                                        <li>Rooli: Väliaikainen eväste luodaan, jos käyttäjä asettaa seurantavästeet pois päältä.</li>    
                                        <!-- When the opt-out feature is used, there is a cookie called MATOMO_SESSID being created, this cookie is only temporary -->
                                    </ul>

                                    <strong i18n="@@CPMatomo">Matomo-eväste</strong>
                                    <ul i18n="@@CP14">
                                        <li>Nimi: Mtm_consent</li>
                                        <li>Koko: 24kb</li>
                                        <li>Elinkaari: Pitkäkestoinen</li>    
                                        <li>Rooli: Evästeiden hyväksyminen</li>    
                                        <!-- When you're asking for constent before tracking visitors, a cookie mtm_constent will be created -->
                                    </ul>
                                    <ng-container i18n="@@CP15">
                                        Selaimen välimuistiin (local- sekä sessionstorageen) tallennetaan navigoinnin ja haun helpottavia asioita, kuten oma hakuhistoria. 
                                        Käyttäjä voi poistaa hakuhistoriansa myös hakuelementistä suoraan.
                                    </ng-container>
                                    <img src="assets/img/clear_history.png" alt="Hakuhistorian tyhjentäminen" i18n-alt="@@CPimg1">
                                </div>
                            </mat-tab>
                            <mat-tab i18n-label="@@CMHeader" label="Hallinnoi evästeasetuksia">
                                <div class="pt-4">
                                    <h2 i18n="@@CMHeader">Hallinnoi evästeasetuksia</h2>
                                    <div class="row">
                                        <div class="col px-0">
                                            <button mat-flat-button color="primary" (click)="changeConsent('declined')" *ngIf="consentStatus === 'approved'">
                                                <ng-container i18n="@@disableTracking">Poista seuranta käytöstä</ng-container>
                                            </button>
                                            <button mat-flat-button color="primary" (click)="changeConsent('approved')" *ngIf="consentStatus === 'declined' || !consentStatus">
                                                <ng-container i18n="@@enableTracking">Ota seuranta käyttöön</ng-container>
                                            </button>
                                            <!-- <iframe style="border: 0; height: 200px; width: 600px;"
                                            [src]="matomoUrl | safeUrl">
                                            </iframe> -->
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                          </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
