<!-- # This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-template #errorModal>
  <p *ngIf="!cmsError; else cmsErrorContent">
    {{ httpErrors[error.status] || httpErrors.default }}.
  </p>

  <ng-template #cmsErrorContent>
    <div i18n="@@cmsErrorContent1">
      Emme valitettavasti saa yhteyttä kaikkiin järjestelmämme osiin.
    </div>
    <div i18n="@@cmsErrorContent2">
      Osa tiedejatutkimus.fi:stä on tilapäisesti poissa käytöstä.
    </div>
    <div i18n="@@cmsErrorContent3">
      Voit jatkaa portaalin käyttöä rajoitetulla tietosisällöllä.
    </div>
  </ng-template>
</ng-template>

<app-dialog
  *ngIf="showDialog"
  [template]="dialogTemplate"
  [title]="dialogTitle"
></app-dialog>
