<ng-template #errorModal>
  <div class="modal-header align-items-center">
    <h5 class="modal-title">
      {{ error.status }} <span i18n="@@error">Virhe</span>
    </h5>
    <app-close-button
      (click)="closeModal()"
      (keydown.enter)="closeModal()"
      autofocus
      tabindex="-1"
    ></app-close-button>
  </div>
  <div class="modal-body px-3 pt-3">
    <p>
      {{
        staticDataService.httpErrors[error.status] ||
          'Tuntematon virhe ' + error.status
      }}.
    </p>
  </div>
</ng-template>
