<app-banner-divider></app-banner-divider>
<main id="main-content" class="tt-main-content account-settings-wrap pt-0 cv-tool-wrap">
  <div class="wrapper tt-wrapper">
    <div class="row d-flex justify-content-between">
      <!-- Side navigation pad -->
      <div class="col-4 col-md-2 pt-4 px-0 side-navigation-side-border d-none d-xl-block">
        <app-mydata-side-navigation></app-mydata-side-navigation>
      </div>
      <!-- Main content -->
      <div class="col-12 gx-0 col-md-10 pt-4 px-4 pb-5">
        <div class="row d-flex justify-content-between pt-3">
          <div class="col-12 gx-0">
            <div class="row">
              <h1 class="col-12 gx-0 pb-2 mb-4">{{cvToolTitle}}</h1>
            </div>
            <div>{{cv_intro_1_start}} <a [href]="cv_intro_1_link" target="_blank">{{cv_intro_1_link_text}} <app-svg-sprites [iconName]="'open_in_new'" cssClass="open_in_new-icon"></app-svg-sprites></a> {{cv_intro_1_link_after}}</div>
            <br/>
            <div class="mb-4">{{cv_intro_1_link_after_2}}</div>

            <div class="row gx-0">
            <div class="col-12 col-md-6 mb-3">
              <div class="row bordered-section">
              <h3 class="my-3">CV</h3>
              <h4 class="mt-3" id="import_radio_buttons_title">{{import_radio_buttons_title}}</h4>
              <mat-radio-group
                      aria-labelledby="import_radio_buttons_title"
                      class="form-group"
                      required="true"
              >
                <mat-radio-button
                        class="radio-button"
                        *ngFor="let target of importTargets; let i = index"
                        [value]="target"
                        [checked]="importInitialSelections[i]"
                        (change)="changeImportSelection(i)"
                >
                  {{ target }}
                </mat-radio-button>
              </mat-radio-group>

              <h4 class="mt-3" id="language_radio_buttons_title">{{language_radio_buttons_title}}</h4>
              <mat-radio-group
                      aria-labelledby="language_radio_buttons_title"
                      class="form-group"
                      required="true"
              >
                <mat-radio-button
                        class="radio-button"
                        *ngFor="let target of langTargets; let i = index"
                        [value]="target"
                        [checked]="langInitialSelections[i]"
                        (change)="changeLangSelection(i)"
                >
                  {{ target }}
                </mat-radio-button>
              </mat-radio-group>
                <app-primary-action-button
                        class="my-3"
                        content="{{download_cv_button_title}}"
                        [svgSymbolName]="'download'"
                        [svgCssClass]="'download-icon primary-button-icon'"
                        [noSmIcon]="true"
                        [big]="true"
                        [iconAfter]="true"
                        (click)="generateCv()"
                ></app-primary-action-button>
          </div>
            </div>
            <div class="col-12 col-md-6 gx-md-5">
              <div class="row bordered-section">
              <h3 class="my-3">Julkaisuluettelo</h3>
                <h4 class="mt-3" id="publication_list_radio_buttons_title">{{publication_list_radio_buttons_title}}</h4>
                <mat-radio-group
                        aria-labelledby="publication_list_radio_buttons_title"
                        class="form-group"
                        required="true"
                >
                  <mat-radio-button
                          class="radio-button"
                          *ngFor="let target of publicationListTargets; let i = index"
                          [value]="target"
                          [checked]="publicationListInitialSelections[i]"
                          (change)="changeCitationStyleSelection(i)"
                  >
                    {{ target }}
                  </mat-radio-button>
                </mat-radio-group>
                <app-primary-action-button
                        class="my-3"
                        content="{{download_publication_list_button_title}}"
                        [svgSymbolName]="'download'"
                        [svgCssClass]="'download-icon primary-button-icon'"
                        [noSmIcon]="true"
                        [big]="true"
                        [iconAfter]="true"
                        (click)="generatePublicationsList()"
                ></app-primary-action-button>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>


