<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
  <div class="wrapper">
    <div class="row">
      <div class="col pb-4">
        <app-breadcrumb [type]="'simple'" [title]="title"></app-breadcrumb>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="pb-4" i18n="@@serviceInfoHeader">Tietoa palvelusta</h1>
      </div>
    </div>
    <div class="row base">
      <div class="col">
        <div class="content" #mainFocus tabindex="0">
          <mat-accordion>
            <mat-expansion-panel
              *ngFor="let item of content; let i = index"
              [expanded]="openedIdx === i"
              (opened)="open(i)"
              (closed)="close()"
              id="{{ i }}"
            >
              <mat-expansion-panel-header collapsedHeight="61px">
                <mat-panel-title>
                  <fa-icon class="icon" [icon]="faInfo"></fa-icon>
                  <div class="title align-self-center">
                    <h2 [id]="item['title' + currentLocale]">
                      {{ item['title' + currentLocale] }}
                    </h2>
                  </div>
                </mat-panel-title>
                <span
                  *ngIf="openedIdx !== i"
                  class="align-self-center mr-2"
                  i18n="@@open"
                  >Avaa</span
                >
                <span
                  *ngIf="openedIdx === i"
                  class="align-self-center mr-2"
                  i18n="@@close"
                  >Sulje</span
                >
              </mat-expansion-panel-header>
              <div class="row">
                <div
                  class="col-12 description"
                  [innerHTML]="item['content' + currentLocale] | sanitizeHtml"
                ></div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</main>
