// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

::ng-deep h3 {
    font-size: 18px;
}

::ng-deep small {
    display: block;
    margin-bottom: 1rem;
}

::ng-deep ul {
    list-style: inside;
    li {
        margin: 0.5rem 0;
    }
}