<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <h1>Tietoa palvelusta</h1>
            </div>
        </div>
        <div class="row base">
            <div class="col">
                <div class="content" #mainFocus tabindex="0">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let sector of [1, 2]">
                            <mat-expansion-panel-header collapsedHeight="61px">
                                <mat-panel-title>
                                    <fa-icon class="icon" [icon]="faInfo"></fa-icon>
                                    <div class="title align-self-center">
                                        <h2>Test</h2>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-12 description" [innerHTML]="Test"></div>
                                <div class="col-4">
                                    <h3>Subtitle</h3>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</main>