<!-- This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="row">
    <div class="col p-0">
        <a href="#" class="icon" title="Facebook -palvelun logo"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="#" class="icon" title="Twitter -palvelun logo"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#" class="icon" title="LinkedIn -palvelun logo"><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>
</div>
