//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT
.side-navigation-side-border {
  border-right: 2px solid #E8E8F3;
}

app-footer .review-button {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 96px;
}

app-profile {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.1rem !important;
  }
  #main-content {
    background: #F7F7FB;
  }

  .group-wrapper {
    background: #fff;
    border: 1px solid #e8e8f5;
    padding: 10px;
    margin-bottom: 10px;
  }

  .profile-image-container {
    border: 1px solid;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-inner-container {
    margin-top: 4px;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-layout {
    white-space: normal;
  }

  app-profile-card,
  .profile-card {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.75rem solid;
  }

  --mdc-checkbox-selected-icon-color: #4546b9;
  --mdc-checkbox-selected-focus-icon-color: #4546b9;
  --mdc-checkbox-selected-hover-icon-color: #4546b9;
  --mdc-checkbox-disabled-unselected-icon-color: #4546b9;
  --mdc-checkbox-selected-pressed-state-layer-color: #4546b9;
  --mat-checkbox-disabled-label-color: black;
  --mat-app-primary: #4546b9;
  --mat-app-secondary: #4546b9;

  .mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked {
    .mdc-checkbox__background {
      color: #4546b9 !important;
      background: #4546b9 !important;
      border-color: #4546b9;
    }
  }
}