//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

app-profile {
  .profile-image-container {
    border: 1px solid;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-inner-container {
    margin-top: 4px;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-layout {
    white-space: normal;
  }

  app-profile-card,
  .profile-card {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.75rem solid;
  }
}
