<div class="custom-select">
  <button [class]="'select-button ' + this.randomComponentClass" (mousedown)="openMenu()" (keyup)="keyFunc($event)" [disabled]="disabled" #selectButtonRef>
    <span [class]="'selected-value ' + this.randomComponentClass">{{options[selection]}}</span>
    <span [class]="'arrow ' + this.randomComponentClass"></span>
  </button>

  <ul [ngClass]="menuOpen ? 'select-dropdown simple-dropdown-element' : 'select-dropdown d-none simple-dropdown-element'">
    @for (option of options; track option; let  i = $index) {
      <li [ngClass]="activeInOpenMenu === i ? 'active ' + this.randomComponentClass : this.randomComponentClass" (click)="select(i)" role="button" tabindex="i" #elementChild>{{ option }}</li>
    }
  </ul>
</div>