<div class="main-content-frame">
  <div class="white-frame">
    <h2>Viittaukset muissa palveluissa</h2>
    <div class="light-purple-frame">
      <div class="mb-3">Viittauksia yhteensä: {{ totalHitCount }}</div>
      <div class="d-flex flex-row justify-content-start chart-container">
        <div>
          <canvas class="ows-pie-canvas" #chartRef></canvas>
        </div>
        <div class="d-flex flex-column ows-chart-badges justify-content-center">
          @for (item of labelData; track item; let idx = $index) {
            <div class="d-flex flex-row ows-chart-legend justify-content-between">
              <div class="badge-checkbox-padder">
                <mat-checkbox [checked]="badgeSelectionData[idx] === false" color="primary" (change)=onLegendClick(idx)>
                </mat-checkbox>
              </div>
              <div [ngStyle]="{'background': colorData[idx], 'color': textColorData[idx]}"
                   (click)="onLegendClick(idx)"
                   class="ows-chart-badge">{{ item | capitalizeFirstLetter }}
              </div>
              <div class="ows-legend-text-wrap d-flex flex-row justify-content-end">
                <!--<div class="ms-3">{{ percentageData[idx] }} %</div>-->
                <div class="ms-2">({{ hitCountData[idx] }})</div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="light-purple-frame mt-3">
      <div class="d-flex flex-row"><div><h2>Hakutulokset</h2></div><div class="hit-count-caption">{{currentPageNumber * paginationPageSize - paginationPageSize + 1}} - {{currentPageNumber * paginationPageSize}}</div></div>
      @for (document of visibleDocuments; track document; let idx = $index) {
        <div class="d-flex flex-row">
          <span [tooltip]="categoryTooltipTemplate"
                tabindex="0"
                  placement="top"
                  #elem
                        >
            <div [ngStyle]="{'background': document.catColor}" class="category-circle"></div>
          </span>
          <ng-template #categoryTooltipTemplate>
            <a class="ext-link-popover category-name"><div [innerHtml]="document.category | capitalizeFirstLetter"></div></a>
          </ng-template>
          <div class="result-link-texts d-flex flex-column">
            <span [tooltip]="linkTooltipTemplate" class="tooltip-popover-wrap"
                  tabindex="0"
                  placement="top"
                  #elem>
            <div>{{ document.url | trimUrlStart }}</div>
            </span>
               <a class="document-href" [innerHtml]="document.title" (click)="navigateToUrl(document.url)"><div></div></a>
            <ng-template #linkTooltipTemplate>
              <a class="ext-link-popover" [innerHtml]="document.url + ' '"><div></div></a>
            </ng-template>

          </div>
        </div>
      }
      @if (isDataLoaded$ | async) {
        <app-simple-pagination [elementCount]="paginationDocCount$ | async" [pageSize]="paginationPageSize"
                               (selectedPageIndexEmit)="changePaginationPage($event)"></app-simple-pagination>
      }
    </div>
  </div>
</div>