<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<header class="wrapper">
  <div
    id="srHelper"
    class="row skip-links"
    [ngClass]="showSkipLinks ? 'show' : 'sr-only'"
    #srHelper
  >
    <ul>
      <li *ngIf="hideInputSkip">
        <a
          i18n="@@skipToInput"
          (blur)="showSkipLinks = false"
          (click)="changeFocus('search-input')"
          (focus)="showSkipLinks = true"
          tabindex="0"
          href="javascript:void(0)"
          #start
          >Hyppää hakukenttään</a
        >
      </li>
      <li>
        <a
          i18n="@@skipToMain"
          (blur)="showSkipLinks = false"
          (click)="changeFocus('main-link')"
          (focus)="showSkipLinks = true"
          tabindex="0"
          href="javascript:void(0)"
          #start
          >Hyppää sivun pääsisältöön</a
        >
      </li>
      <li>
        <a
          i18n="@@skipToAccessibility"
          (blur)="showSkipLinks = false"
          (focus)="showSkipLinks = true"
          tabindex="0"
          routerLink="/accessibility"
          >Hyppää saavutettavuusselosteeseen</a
        >
      </li>
    </ul>
  </div>

  <div
    *ngIf="appSettings"
    offClick
    class="navbar navbar-expand-xl navbar-light row"
    #mainHeader
  >
    <div class="logo col-7 col-xs-9 col-xl-auto">
      <div class="row">
        <div class="col-auto p-0">
          <a
            class="navbar-brand"
            [routerLink]="appSettings.beta ? '/mydata' : ''"
          >
            <img
              src="assets/img/logo.svg"
              i18n-alt="@@portalLogoAltText"
              alt="Tutkimustietovarannon portaalin logo, abstrakti ikkuna"
            />
          </a>
        </div>
        <div class="col-auto align-self-center p-0 ps-1 pe-2 pe-md-3">
          <a class="logo-text" [routerLink]="appSettings.baseRoute"
            ><span>{{ appSettings.label }}</span></a
          >
        </div>
        <div
          class="col-auto px-0 mt-0 mt-md-1 align-self-center"
          *ngIf="appSettings.beta"
        >
          <app-primary-action-button
            content="Beta"
            (click)="openDialog('Beta', betaInfoTemplate, basicDialogActions)"
            [disabledRounded]="true"
            [betaButton]="true"
          ></app-primary-action-button>
        </div>

        <ng-template #betaInfoTemplate>
          <div class="px-3">
            <p i18n="@@researcherProfileBetaText1">
              Tämä on Tutkijan tiedot -työkalun betaversio. Testikäyttäjien
              palautetta hyödynnetään palvelun toiminnallisuuksien
              kehittämisessä.
            </p>
            <p>
              <a
                [href]="
                  appSettings[
                    'readMoreLink' + appSettingsService.capitalizedLocale
                  ]
                "
                target="_blank"
                ><ng-container i18n="@@readMore">Lue lisää</ng-container>...
                <fa-icon icon="external-link-alt"></fa-icon
              ></a>
            </p>
          </div>
        </ng-template>

        <app-dialog
          *ngIf="showDialog"
          [template]="dialogTemplate"
          [title]="dialogTitle"
          (onActionClick)="doDialogAction($event)"
          [actions]="dialogActions"
        ></app-dialog>
      </div>
    </div>
    <nav
      class="nav-top col-auto col-5 col-xs-3 p-0"
      [ngClass]="appSettings.beta ? 'col-xl-9 beta-mobile-menu' : 'col-xl-10'"
    >
      <div class="mobile ml-auto toggle-button-wrapper">
        <button
          *ngIf="!navbarOpen"
          class="navbar-toggler navbar-toggler-right menu"
          type="button"
          (click)="toggleNavbar()"
          #navbarToggler
        >
          <div class="toggle-menu-text closed" i18n="@@headerMenuOpen">
            Valikko
          </div>
        </button>
        <app-close-button
          *ngIf="navbarOpen"
          (click)="toggleNavbar()"
        ></app-close-button>
      </div>
      <div
        [class.overflow-hider]="hideOverflow && mobileMenu"
        [class.absolute]="mobileMenu"
        [ngClass]="mobileMenu ? (hideOverflow ? 'invisible' : 'visible') : ''"
        #overflowHider
      >
        <div
          class="collapse navbar-collapse menu row"
          [class.mobile-bar]="mobileMenu"
          [class.open]="navbarOpen && mobileMenu"
          #mainNavbar
        >
          <!-- Lang selector -->
          <div class="navbar-expand mx-auto navbar-nav lang mobile">
            <ul class="navbar-nav mx-auto">
              <li
                *ngFor="let domain of appSettings.localizedDomains"
                [class.col-4]="mobileMenu"
              >
                <a
                  class="nav-item nav-link lang-box"
                  [class.active-lang]="localeId.toUpperCase() === domain.locale"
                  [href]="domain.url + currentRoute"
                  [disabled]="appSettings.beta"
                >
                  <span class="label">{{ domain.label }}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- Nav items -->
          <div class="col p-0">
            <ul class="nav-right navbar-nav main" [class.row]="!mobileMenu">
              <ng-container *ngFor="let item of navigationLinks">
                <li
                  *ngIf="!item.dropdownItems; else dropdownLink"
                  class="nav-item col col-auto p-0"
                >
                  <a
                    class="nav-item nav-link"
                    [class.primary-color]="item.loginProcess"
                    [routerLink]="
                      item.link.trim().length > 0 ? item.link : currentRoute
                    "
                    [queryParams]="item.queryParams"
                    routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: item.exact }"
                    (click)="handleLinkClick(item)"
                  >
                    <span class="label">{{ item.label }}</span>
                  </a>
                </li>
                <ng-template #dropdownLink>
                  <li
                    class="nav-item col col-auto p-0 parent"
                    (click)="dropdownOpen = !dropdownOpen"
                    (clickOutside)="onClickedOutside($event)"
                  >
                    <ng-container *ngIf="mobileMenu; else dropDownMenuTemplate">
                      <a
                        class="nav-item nav-link parent-link disabled-link"
                        tabindex="0"
                        [routerLink]="item.link"
                        routerLinkActive="active-link"
                        (keydown.enter)="
                          $event.preventDefault(); dropdownOpen = !dropdownOpen
                        "
                        (keydown.space)="
                          $event.preventDefault(); dropdownOpen = !dropdownOpen
                        "
                        [class.open]="dropdownOpen"
                        [class.fw-bold]="dropdownOpen"
                      >
                        <span class="label pe-2">{{ item.label }}</span>
                        <i class="fa fa-chevron-down" *ngIf="!dropdownOpen"></i>
                        <i class="fa fa-chevron-up" *ngIf="dropdownOpen"></i>
                      </a>
                      <ul
                        class="dropdown"
                        [class.mat-elevation-z4]="!mobile"
                        [class.rounded]="!mobile"
                        *ngIf="dropdownOpen"
                      >
                        <li *ngFor="let subItem of item.dropdownItems">
                          <a
                            [routerLink]="subItem.link"
                            routerLinkActive="active-link"
                            (click)="navbarOpen && toggleNavbar()"
                            >{{ subItem.label }}
                          </a>
                        </li>
                      </ul>
                    </ng-container>
                    <ng-template #dropDownMenuTemplate>
                      <a
                        href="javascript:void(0)"
                        class="nav-item nav-link"
                        [matMenuTriggerFor]="dropdownMenu"
                      >
                        <span
                          class="label pe-2"
                          [class.fw-bold]="
                            currentRoute.includes(item.link) || dropdownOpen
                          "
                        >
                          {{ item.label }}</span
                        >
                        <i class="fa fa-chevron-down" *ngIf="!dropdownOpen"></i>
                        <i class="fa fa-chevron-up" *ngIf="dropdownOpen"></i>
                      </a>

                      <mat-menu
                        #dropdownMenu="matMenu"
                        (closed)="dropdownOpen = false"
                      >
                        <button
                          *ngFor="let subItem of item.dropdownItems"
                          mat-menu-item
                          [routerLink]="subItem.link"
                          routerLinkActive="fw-bold"
                        >
                          {{ subItem.label }}
                        </button>
                      </mat-menu>
                    </ng-template>
                  </li>
                </ng-template>
              </ng-container>
              <!-- Lang selector -->
              <ng-container *ngIf="currentDomain">
                <li
                  #navLink
                  class="nav-item col col-auto p-0 mr-0 lang-selector"
                >
                  <a
                    href="javascript:void(0)"
                    class="nav-item nav-link"
                    [matMenuTriggerFor]="langSelector"
                    (click)="langMenuOpen = !langMenuOpen"
                  >
                    <span class="label fw-bold pe-2">
                      {{ currentDomain.label }}
                    </span>
                    <i class="fa fa-chevron-down" *ngIf="!langMenuOpen"></i>
                    <i class="fa fa-chevron-up" *ngIf="langMenuOpen"></i>
                  </a>
                </li>
                <mat-menu
                  #langSelector="matMenu"
                  (closed)="langMenuOpen = false"
                >
                  <button
                    *ngFor="let domain of appSettings.localizedDomains"
                    mat-menu-item
                    (click)="changeLang(domain)"
                    [disabled]="domain.locale === currentDomain.locale"
                  >
                    {{ domain.label }}
                  </button>
                </mat-menu>
              </ng-container>
              <div *ngIf="mobileMenu" class=""></div>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Auth session expired template -->
  <ng-template #authExpiredTemplate>
    <p i18n="@@sessionExpiredLogin">
      Istunto on vanhentunut. Kirjaudu sisään jatkaaksesi.
    </p>

    <app-primary-action-button
      (click)="login()"
      content="Kirjaudu sisään"
    ></app-primary-action-button>
  </ng-template>

  <!-- Unsaved draft template -->
  <ng-template #unsavedDraftTemplate>
    <p i18n="@@youHaveUnpublishedChangesContinue">
      Sinulla on julkaisemattomia muutoksia. Jos kirjaudut ulos, tiedot
      menetetään.
    </p>
  </ng-template>

  <div *ngIf="navbarOpen" id="overlay" (click)="toggleNavbar()" #overlay></div>
</header>
