<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="row">
  <div class="mat-dialog-content">
    <div class="row" *ngIf="!success">
      <div class="col-9 px-0">
        <h2 i18n="@@leaveReviewHeader">Anna palautetta tai kysy</h2>
      </div>
      <div class="col-3 px-0 text-right" (click)="close()">
        <lib-close-button></lib-close-button>
      </div>
    </div>
    <ng-container *ngIf="!result; else resultTemplate">
      <p i18n="@@r1">
        Tällä lomakkeella voit antaa palautetta Tiedejatutkimus.fi
        -verkkopalvelusta.<br />
        Kaikki palautteet ja kysymykset ovat tervetulleita! Voit myös lähettää
        palautteesi tai kysymyksesi vapaamuotoisesti sähköpostilla osoitteeseen
        tiedejatutkimus@csc.fi<br />
        <a routerLink="/privacy" class="d-inline-block pt-2"
          >Tietosuojaseloste</a
        >
      </p>

      <ng-container *ngIf="!underReview; else underReviewTemplate">
        <h3 i18n="@@r2">Kerro palautteesi tai kysy!</h3>

        <div class="content" [class.warning]="reviewTargetError">
          <strong
            class="warning-msg d-block"
            *ngIf="reviewTargetError"
            i18n="@@rRequired"
            >Pakollinen tieto.</strong
          >
          <label class="section-label" id="review-target" i18n="@@r3"
            >Haluan antaa palautetta *</label
          >
          <mat-radio-group
            aria-labelledby="review-target"
            class="form-group"
            [(ngModel)]="reviewTarget"
            (change)="reviewTargetError = false"
            required="true"
          >
            <mat-radio-button
              class="radio-button"
              *ngFor="let target of targets"
              [value]="target"
            >
              {{ target }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="content" [class.warning]="reviewContentError">
          <strong
            class="warning-msg d-block"
            *ngIf="reviewContentError"
            i18n="@@rRequired"
            >Pakollinen tieto.</strong
          >
          <label class="section-label" id="review" i18n="@@r4"
            >Palaute tai kysymys *</label
          >
          <mat-form-field
            class="form-group m-0 text-field"
            appearance="outline"
            aria-labelledby="review"
            required="true"
          >
            <mat-label i18n="@@rRequiredTextbox"
              >Palaute (pakollinen)</mat-label
            >
            <textarea
              [(ngModel)]="reviewContent"
              (input)="reviewContentError = false"
              matInput
            ></textarea>
          </mat-form-field>
          <span class="helper d-block pb-3" i18n="@@r5"
            >Kirjoita palaute ylläolevaan kenttään.</span
          >
        </div>

        <div class="content">
          <label class="section-label" id="location" i18n="@@r6"
            >Palautetta koskeva sijainti verkkopalvelussa</label
          >
          <mat-radio-group
            aria-labelledby="location"
            class="form-group"
            [(ngModel)]="locationTarget"
            required="true"
          >
            <mat-radio-button
              class="radio-button current"
              [value]="'currentRoute'"
              i18n="@@r7"
              >Nykyinen sijainti:
            </mat-radio-button>
            <span class="location">{{ title }}</span>
            <mat-radio-button class="radio-button" [value]="'other'" i18n="@@r8"
              >Muu</mat-radio-button
            >
            <!-- Show input only if other location is selected -->
            <div
              class="form-group left-spacer"
              *ngIf="locationTarget === 'other'"
            >
              <label class="section-label" id="other-location" i18n="@@r9"
                >Mitä osiota palautteesi koskee?</label
              >
              <mat-form-field aria-labelledby="other-location">
                <mat-label i18n="@@r10"
                  >Esim. yleinen palaute, sivun otsikko, URL</mat-label
                >
                <input matInput type="text" [(ngModel)]="locationValue" />
              </mat-form-field>
            </div>
          </mat-radio-group>
        </div>

        <div class="content" [class.warning]="emailError">
          <strong class="warning-msg d-block" *ngIf="emailError" i18n="@@r11"
            >Virheellinen sähköpostiosoite.</strong
          >
          <label
            class="section-label pb-1"
            id="contact"
            i18n="@@feedbackContact"
            >Toivon yhteydenottoa palautteestani</label
          >
          <div class="form-group" aria-labelledby="contact">
            <mat-checkbox
              [(ngModel)]="contactChecked"
              (change)="toggleEmail($event)"
              i18n="@@r13"
              >Valitse tämä, jos toivot, että otamme sinuun
              yhteyttä</mat-checkbox
            >
            <!-- Show input only if checked -->
            <div class="form-group left-spacer" *ngIf="contactChecked">
              <label class="section-label pt-1" id="email" i18n="@@r14"
                >Sähköpostiosoite</label
              >
              <mat-form-field aria-labelledby="email">
                <mat-label i18n="@@r14"
                  >Kirjoita sähköpostiosoite tähän</mat-label
                >
                <input matInput type="email" [(ngModel)]="emailValue" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row pt-5 pt-md-4 send-button-wrapper">
        <div class="col-12 col-md-6 px-0 pb-3 pb-md-0 text-center text-md-left">
          <lib-secondary-button
            *ngIf="underReview"
            (click)="underReview = false"
            [content]="back"
            [disabled]="sending"
          ></lib-secondary-button>
        </div>
        <div class="col-12 col-md-6 px-0 text-center text-md-right">
          <lib-primary-action-button
            (click)="underReview ? send() : validate()"
            [content]="sendText"
            [disabled]="sending"
          ></lib-primary-action-button>
        </div>
      </div>

      <!-- Show review when user clicks send -->
      <ng-template #underReviewTemplate>
        <h3 i18n="@@ur1">Tarkista antamasi palaute</h3>
        <h4 i18n="@@ur2">Palautteen aihe: {{ reviewTarget }}</h4>
        <h4 i18n="@@ur3">Palaute:</h4>
        <p>{{ reviewContent }}</p>
        <ng-container *ngIf="locationTarget">
          <h4 i18n="@@ur4">Palautetta koskeva sijainti verkkopalvelussa</h4>
          <p>{{ locationValue ? locationValue : title }}</p>
        </ng-container>
        <ng-container *ngIf="emailValue">
          <h4 i18n="@@feedbackContact">Toivon yhteydenottoa palautteestani</h4>
          <p>{{ emailValue }}</p>
        </ng-container>

        <div class="content review-check" [class.warning]="reviewCheckedError">
          <label class="section-label" id="review-checked" i18n="@@ur6"
            >Olen tarkistanut syöttämäni tiedot *</label
          >
          <div class="form-group" aria-labelledby="review-checked">
            <mat-checkbox [(ngModel)]="reviewChecked" i18n="@@ur7"
              >Valitse tämä, kun olet tarkistanut että ylläolevat tiedot ovat
              oikein.</mat-checkbox
            >
          </div>
        </div>

        <div class="content pt-3" [class.warning]="mathError">
          <label class="section-label" id="math-problem" i18n="@@ur8"
            >Varmistus, että palautteenantaja on ihminen *</label
          >
          <div class="" aria-labelledby="math-problem">
            {{ math1 }} + {{ math2 }} =
            <input type="number" [(ngModel)]="mathInput" />
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #resultTemplate>
      <!-- Success -->
      <div class="row" *ngIf="!error">
        <div class="col text-center" role="alert">
          <span class="thanks d-block" i18n="@@feedbackSuccess"
            >Olemme vastaanottaneet palautteesi. Kiitos!</span
          >
          <button
            class="px-4"
            mat-flat-button
            color="primary"
            (click)="close()"
            i18n="@@closeForm"
          >
            Sulje lomake
          </button>
          <a
            routerLink="/privacy"
            class="d-block pt-4"
            (click)="close()"
            i18n="@@privacyStatement"
            ><u>Tietosuojaseloste</u></a
          >
        </div>
      </div>
      <!-- Error -->
      <div class="row" *ngIf="error">
        <div class="col text-center" role="alert">
          <span class="thanks d-block" i18n="@@re1"
            >Lomakkeen lähetys epäonnistui :(</span
          >
          <button
            class="px-4"
            mat-flat-button
            color="primary"
            (click)="close()"
            i18n="@@closeForm"
          >
            Sulje lomake
          </button>
          <a
            routerLink="/privacy"
            class="d-block pt-4"
            (click)="close()"
            i18n="@@privacyStatement"
            ><u>Tietosuojaseloste</u></a
          >
        </div>
      </div>
    </ng-template>
  </div>
</div>
