<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row" *ngIf="data">
            <div class="col col-xl-3" [ngClass]="mobile ? 'col-12 pb-4' : 'col-4 px-0'">
                <aside>
                    <!-- results/filters -->
                    <app-filters [responseData]="filterValues" [tabData]="'news'"></app-filters>
                </aside>
            </div>
            <div class="col" [ngClass]="mobile ? 'col-12' : 'col-8'">
                <main>
                    <div class="row">
                        <h1 class="col col-lg-8">Tiede- ja tutkimusuutiset</h1>
                        <div class="col col-lg-4">
                            <nav>
                                <input #searchInput type="text" placeholder="Hae tiedeuutisista...">
                                <button mat-raised-button primary color="primary" (click)="toggleData()">Tyhjä haku preview</button>
                            </nav>
                        </div>
                        <aside>
                            <!-- results/active-filters -->
                            <app-active-filters></app-active-filters>
                        </aside>
                        <app-news-card *ngFor="let item of data" [item]="item"></app-news-card>
                        <div *ngIf="!data?.length" role="alert" class="col-12 justify-content-center justify-content-lg-start mt-4 d-flex flex-column">
                            <h3>Ei tuloksia.</h3><br>
                            <p>Hakutermissä voi olla kirjoitusvirhe, tai sitä vastaavaa rajaustekijää ei ole tarjolla tässä osiossa.</p>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</main>
