<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<p class="col" i18n="@@activeFiltersListHelp">
  Voit poistaa rajauksia tästä listasta. Rajausten muutokset päivittyvät samalla
  hakutulosnäkymään.
</p>

<div class="row active-filters">
  <div class="col px-0" *ngFor="let category of objectKeys(grouped)">
    <h3>{{ filterTranslation[category] }}</h3>
    <ul>
      <ng-container *ngFor="let filter of grouped[category]">
        <li
          tabindex="0"
          *ngIf="!filter.hide"
          (click)="removeFilter(filter.value)"
          (keydown.enter)="removeFilter(filter.value)"
          class="filter modal-filter"
        >
          <span>{{ filter.translation }}</span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col px-0 text-center">
    <button mat-flat-button color="primary" (click)="clearFilters()">
      <fa-icon [icon]="faTrash"></fa-icon
      ><ng-container i18n="@@clearAllActive"
        >Tyhjennä kaikki rajaukset</ng-container
      >
    </button>
  </div>
</div>
