<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<h1 #srHeader class="sr-only"></h1>

<aside>
  <app-search-bar></app-search-bar>
</aside>

<aside>
  <app-result-tab
    [homepageStyle]="basicStyle"
    [isHomepage]="true"
    [allData]="allData"
  ></app-result-tab>
</aside>

<main id="main-content pt-0">
  <div class="wrapper">
    <div class="row justify-content-center">
      <!-- First column -->
      <div class="col-12 col-sm-10 col-9 col-lg-5 col-xl-4 p-2 mb-1">
        <div class="mx-1">
          <div class="col-header">
            <h2 i18n="@@researchFinland" class="text-center m-0">
              Tiede ja tutkimus Suomessa
            </h2>
          </div>
          <div
            *ngFor="let item of shortcutData?.slice(0, 3)"
            class="col-12 link-img drop-shadow"
          >
            <a
              class="shortcut"
              #main
              routerLink="{{ item.link }}"
              (click)="item[toggleReview] ? toggleReview() : null"
            >
              <div
                class="cover-img"
                title="{{ item['imageAlt' + currentLocale] }}"
              >
                <img
                  [src]="item.image"
                  [alt]="item['imageAlt' + currentLocale]"
                />
              </div>
              <!-- <div class="caption text-center" #shortcutItem [ngStyle]="{'height': maxHeight + 'px'}"> -->
              <!--  Use line above for calculated height. Note: remove shortcutItem pb-3 class if calculated height is in use. -->
              <div class="caption text-center pb-3" #shortcutItem>
                <div>
                  <h3 class="header">
                    {{ item['title' + currentLocale] }}
                  </h3>
                  <span class="hint">
                    {{ item['caption' + currentLocale] }}
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Second column -->
      <div class="col-12 col-sm-10 col-9 col-lg-5 col-xl-4 p-2 mb-1">
        <div class="mx-1 drop-shadow tint-background">
          <a class="header-link" routerLink="/news">
            <div class="col-header mb-xl-4">
              <h2 i18n="@@homeNewsHeaderPlain" class="text-center m-0">
                Uusimmat tiede- ja tutkimusuutiset
              </h2>
            </div>
          </a>
          <div class="col-12 link-img mb-xl-4 d-xl-none">
            <div class="cover-img" [title]="newsImage.alt">
              <img [src]="newsImage.imgPath" [alt]="newsImage.alt" />
            </div>
          </div>
          <!-- Smaller version -->
          <div class="col-12 col side-news p-0 d-xl-none">
            <app-news-card
              *ngFor="let item of news?.slice(0, 5)"
              [item]="item"
              [dense]="true"
              [isHomepage]="true"
              class="d-block"
            ></app-news-card>
          </div>
          <!-- XL version -->
          <div class="col-12 col side-news p-0 d-none d-xl-block">
            <app-news-card
              *ngFor="let item of news?.slice(0, 5)"
              [item]="item"
              [dense]="true"
              [isHomepage]="true"
              class="d-block"
            ></app-news-card>
          </div>
        </div>
      </div>

      <!-- Third column -->
      <div class="col-12 col-sm-10 col-9 col-lg-5 col-xl-4 p-2 mb-1">
        <div class="mx-1 drop-shadow tint-background">
          <a
            class="header-link"
            routerLink="/funding-calls"
            [queryParams]="{ status: 'open' }"
          >
            <div class="col-header mb-xl-4">
              <h2 i18n="@@openFundingCalls" class="text-center m-0">
                Avoimet rahoitushaut
              </h2>
            </div>
          </a>

          <!-- XL version -->
          <div class="col-12 col side-news p-0">
            <app-news-card
              *ngFor="let item of resultData?.fundingCalls.slice(0, 6)"
              [fundingCall]="item"
              [itemTypeFundingCalls]="true"
              [dense]="true"
              [isHomepage]="true"
              class="d-block"
            ></app-news-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Divider -->
    <app-divider
      i18n-headingText="@@appName"
      headingText="Tiedejatutkimus.fi"
    ></app-divider>

    <!-- Bottom cards -->
    <div class="row justify-content-center bottom">
      <div class="col-12 col-md-9 col-lg-5 col-xl-4">
        <div
          *ngFor="let item of shortcutData?.slice(3, 4)"
          class="col-12 link-img drop-shadow"
        >
          <a
            class="shortcut"
            (click)="toggleReview()"
            href="javascript:void(0)"
          >
            <div
              class="cover-img"
              title="{{ item['imageAlt' + currentLocale] }}"
            >
              <img
                [src]="item.image"
                [alt]="item['imageAlt' + currentLocale]"
              />
            </div>
            <div
              class="caption text-center"
              #shortcutItem
              [ngStyle]="{ height: maxHeight + 'px' }"
            >
              <div>
                <h3 class="header">
                  {{ item['title' + currentLocale] }}
                </h3>
                <span class="hint">
                  {{ item['caption' + currentLocale] }}
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-9 col-lg-5 col-xl-4">
        <div
          *ngFor="let item of shortcutData?.slice(4, 5)"
          class="col-12 link-img drop-shadow"
        >
          <a class="shortcut" routerLink="{{ item.link }}">
            <div
              class="cover-img"
              title="{{ item['imageAlt' + currentLocale] }}"
            >
              <img
                [src]="item.image"
                [alt]="item['imageAlt' + currentLocale]"
              />
            </div>
            <div
              class="caption text-center"
              #shortcutItem
              [ngStyle]="{ height: maxHeight + 'px' }"
            >
              <div>
                <h3 class="header">
                  {{ item['title' + currentLocale] }}
                </h3>
                <span class="hint">
                  {{ item['caption' + currentLocale] }}
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #reviewDialog>
  <app-review></app-review>
</ng-template>

<app-dialog
  *ngIf="showDialog"
  [template]="reviewDialog"
  title="Anna palautetta tai kysy"
  i18n-title="@@leaveReviewHeader"
  (onActionClick)="toggleReview()"
></app-dialog>
