<div class="modal-content">
  <div class="modal-header">
    <h4 id="dialog-sizes-name1" class="modal-title pull-left">
      Muokkaa
      <small class="pl-3">
        {{ (data.fields | filter: checkSelected).length }} /
        {{ data.fields.length }} valittu</small
      >
    </h4>

    <app-close-button
      class="pull-right"
      (click)="closeModal()"
      (keydown.enter)="closeModal()"
      autofocus
      tabindex="-1"
    ></app-close-button>
  </div>
  <div class="modal-body">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-10">
        <div class="row">
          <div class="col">
            <app-profile-panel
              [dataSources]="dataSources"
              [selectedSource]="selectedSource"
              [data]="data"
              (dataChange)="changeData($event)"
            ></app-profile-panel>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col">
            <mat-slide-toggle
              [checked]="allSelected"
              labelPosition="before"
              (change)="toggleAll()"
              >Valitse kaikki</mat-slide-toggle
            >
          </div>
          <div class="col px-0">
            <div class="row">
              <div class="col pl-0">
                <app-secondary-button
                  (click)="closeModal()"
                  content="Peruuta"
                ></app-secondary-button>
              </div>
              <div class="col pr-0">
                <app-primary-action-button
                  (click)="saveChanges()"
                  content="Tallenna"
                ></app-primary-action-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
