// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

footer {
    position: absolute;
    width: 100%;
    margin-top: 25px;
    padding: 2rem 0;
}

.header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
}

.col {
    border: 0px solid;
}

ul {
    padding-inline-start: 0px;
}

li {
    padding: 0.5rem 0;
    list-style: none;
    font-weight: bold;
}

li a:hover {
    text-decoration: none;
}

img {
    // padding-top: 10px;
}

img.logo {
    max-width: 150px;
    height: auto;
    // margin-top: 20px;
    display: block;
}

.social ul {
    margin-bottom: 5px;
}

.icon {
    font-size: 2rem;
    padding-right: 1rem;
}

.fa:hover {
    opacity: 0.7;
}

.build-info {
    font-size: 9px;
    opacity: 0.6
}

.pull-right {
    clear: both;
}

//Responsive
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (max-width: 768px) {
    footer .col {
        min-width: 100%;
        text-align: center;
        padding: 0;
    }

    img.logo {
        margin-top: 0;
        margin: 0 auto;
    }

    .header {
        padding: 5rem 0 14px;
    }

    footer ul {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0rem;
    }

    footer li {
        padding: 1rem;
    }

    .social {
        text-align: center;
    }

    .fa {
        padding: 1rem;
    }
}

@media (max-width: 991px) {
    .pull-right {
        float: none;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}