nav.footer {
    width: 100%;
    // margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    height: 140px;
    position: absolute;
    bottom: 0;
}

.footer .col {
    border: 0px solid;
    padding: 15px;
}

.footer ul {
    margin-top: 30px;
    padding-inline-start: 0px;
}

.footer li {
    padding: 4px 0px;
    list-style: none;
    font-weight: bold;
}

.footer li a {
    color: #4f51a8;
    transition: 0.2s linear;
}

.footer li a:hover {
    color: rgba(79, 80, 168, 0.438);
    text-decoration: none;
}

.footer img {
    padding-top: 10px;
}

.social {
    text-align: right;
}

.footer .fa {
    font-size: 32px;
    padding: 32px 6px;
    color: #4f51a8;
    transition: 0.2s linear;
}

.footer .fa:hover {
    opacity: 0.7;
}

//Responsive
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (max-width: 768px) {
    .footer .col {
        min-width: 100%;
        text-align: center;
        padding: 0px;
    }

    .footer ul {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0rem;
    }

    .footer li {
        padding: 8px;
    }

    .social {
        text-align: center;
    }
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}