@import '~@angular/material/theming';

@mixin app-footer-theme($theme) {
    $primary: map-get($theme, primary);

    app-footer {
        >footer {
            background-color: mat-color($primary, default-contrast);
            
            li a {
                color: mat-color($primary);
            }
            
            li a:hover {
                color: mat-color($primary, lighter);
            }
            
            .fa {
                color: mat-color($primary);
            } 
        }
    }
}