// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

footer {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;


    .col {
        border: 0px solid;
        padding: 15px;
    }

    ul {
        margin-top: 30px;
        padding-inline-start: 0px;
    }

    li {
        padding: 4px 0px;
        list-style: none;
        font-weight: bold;
    }

    li a {
        transition: 0.2s linear;
    }
    
    li a:hover {
        text-decoration: none;
    }

    img {
        padding-top: 10px;
    }

    .social {
        text-align: right;
    }

    .fa {
        font-size: 32px;
        padding: 32px 6px;
        transition: 0.2s linear;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .build-info {
        font-size: 9px;
        opacity: 0.6
    }
}

//Responsive
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

@media (max-width: 768px) {
    footer .col {
        min-width: 100%;
        text-align: center;
        padding: 0px;
    }

    footer ul {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0rem;
    }

    footer li {
        padding: 8px;
    }

    .social {
        text-align: center;
    }
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}