<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<footer>
  <nav class="footer wrapper">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12 px-0 text-md-left text-center">
            <h2 class="header">Palvelun tarjoaa</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-0">
            <a href="{{okmUrl}}" target="_blank">
              <img class="logo" src="assets/okm_logo.svg" alt="Opetus- ja kulttuuriministeriön logo, leijonavaakuna vihreällä pohjalla">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-0 text-md-left text-center">
            <h2 class="header">Yhteistyössä</h2>
          </div>
          <div class="col-12 px-0">
            <a href="https://www.csc.fi/" target="_blank">
              <img class="logo" src="assets/csc_logo.png" alt="Organisaation CSC - Tieteen ja tietotekniikan keskus logo">
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <h2 class="header">Palvelun käyttö</h2>
        <ul>  
          <li><a i18n="Footer-link" href="#">Tietoa palvelusta</a></li>
          <li><a i18n="Footer-link" href="#">Ajankohtaista palvelussa</a></li>
          <li><a i18n="Footer-link" href="#">Käyttöehdot ja avoimuus</a></li>
          <li><a i18n="Footer-link" href="#">Sivukartta</a></li>
          <li><a i18n="Footer-link" href="#">Anna palautetta</a></li>
        </ul>
      </div>
      <div class="col">
        <h2 class="header">Info ja yhteystiedot</h2>
        <ul>
          <li><a i18n="Footer-link" href="#">Ota yhteyttä</a></li>
          <li><a i18n="Footer-link" href="mailto:tiedejatutkimus@csc.fi">tiedejatutkimus@csc.fi</a></li>
        </ul>
      </div>
      <div class="col">
        <h2 class="header">Selosteet ja käytännöt</h2>
        <ul>
          <li><a i18n="Footer-link" href="#">Saavutettavuusseloste</a></li>
          <li><a i18n="Footer-link" href="#">Tietosuoja</a></li>
        </ul>
      </div>
      <div class="col col-2">
        <div class="social">
            <h2 i18n="@@followUs" class="header">Seuraa meitä!</h2>
            <!-- <a href="#" class="icon" title="Facebook -palvelun logo"><fa-icon [icon]="faFacebook"></fa-icon></a> -->
            <a href="#" class="icon" title="Twitter -palvelun logo"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <!-- <a href="#" class="icon" title="LinkedIn -palvelun logo"><fa-icon [icon]="faLinkedin"></fa-icon></a> -->
        </div>
        <div class="build-info pull-right">
          <span>{{buildInfo}}</span>
        </div>
      </div>
    </div>
  </nav>
</footer>