<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<app-layout *ngIf="isBrowser">
  <!-- <div class="row justify-content-center main-loader" *ngIf="loading">
    <div class="col-auto align-self-center">
      <mat-spinner [diameter]="80" i18n-aria-label="@@loading" aria-label="Ladataan"></mat-spinner>
    </div>
  </div>
  <router-outlet *ngIf="!loading"></router-outlet> -->
  <router-outlet></router-outlet>
</app-layout>
