<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->


<ng-template #welcomeTemplate>
  <div class="welcome-stepper-wrap">
    <mat-stepper orientation="vertical">
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{this.localizedStepCaptions[0]}}</ng-template>
        <ng-template matStepContent>
          <div class="stepper-icon-row d-flex justify-content-evenly">
            <div class="stepper-icon-wrap">
              <div class="font-wrap">
                <i class="fas fa-user-lock"></i>
              </div>
            </div>
            <div class="stepper-icon-wrap">
              <img class="orcid"
                src="assets/img/orcid_icon.svg"
                alt="Ikoni orcid"
              />
            </div>
            <div class="stepper-icon-wrap">
              <div class="font-wrap">
                <i class="fas fa-user-check"></i>
              </div>
            </div>
          </div>
          <p>{{this.localizedStepContent[0]}}</p>
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{this.localizedStepCaptions[1]}}</ng-template>
        <ng-template matStepContent>
          <p>{{this.localizedStepContent[1]}}</p>
          <p>{{this.localizedStepContent[2]}}</p>
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{this.localizedStepCaptions[2]}}</ng-template>
        <p>{{this.localizedStepContent[3]}}</p>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{this.localizedStepCaptions[3]}}</ng-template>
        <div class="stepper-icon-row d-flex justify-content-evenly">
          <div class="stepper-icon-wrap">
            <div class="font-wrap">
              <i class="fas fa-eye"></i>
            </div>
          </div>
        </div>
        <p>{{this.localizedStepContent[4]}}</p>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>{{this.localizedStepCaptions[4]}}</ng-template>
        <div class="stepper-icon-row d-flex justify-content-evenly">
          <div class="stepper-icon-wrap">
            <div class="font-wrap">
              <i class="fas fa-share-alt-square"></i>
            </div>
          </div>
        </div>
        <p>{{this.localizedStepContent[5]}}</p>
      </mat-step>
      <mat-step completed="false">
        <ng-template matStepLabel>{{this.localizedStepCaptions[5]}}</ng-template>
        <div class="stepper-icon-wrap">
          <div class="font-wrap">
            <i class="fas fa-check-square"></i>
          </div>
        </div>
        <p>{{this.localizedStepContent[6]}}</p>
      </mat-step>
    </mat-stepper>
  </div>
</ng-template>

<app-dialog
  [template]="welcomeTemplate"
  [title]="localizedTitle"
  [actions]="localizedDialogActions$ | async"
  (onActionClick)="doDialogAction($event)"
>
</app-dialog>
