<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<main id="main-content">
  <div class="wrapper">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-6 px-0">
        <ng-container *ngIf="!cancel; else cancelTemplate">
          <div class="row">
            <div class="col text-center">
              <h1 class="step-header">{{ step }} / 4</h1>
            </div>
          </div>

          <ng-container [ngSwitch]="step">
            <!-- First step -->
            <ng-container *ngSwitchCase="1">
              <div class="row pb-4">
                <div class="col text-center">
                  <h1 class="step-header">Tervetuloa {{ firstName }}!</h1>
                </div>
                <!-- Icon -->
                <i
                  class="col-12 pt-3 h1 primary-color text-center fas fa-smile"
                ></i>
              </div>

              <div class="row pb-4 d-flex justify-content-center">
                <div class="col text-center">
                  <p>
                    Ottaaksesi palvelun käyttöön, pyydämme sinua lukemaan ja
                    hyväksymään palvelun käyttöehdot ja tietosuojaselosteen.
                  </p>
                </div>
              </div>

              <div class="row pb-3 d-flex justify-content-center">
                <div class="col col-lg-8">
                  <app-primary-action-button
                    content="Avaa käyttöehdot"
                    (click)="increment()"
                    [big]="true"
                  >
                  </app-primary-action-button>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col col-lg-8">
                  <app-secondary-button
                    content="Peruuta käyttöönotto"
                    (click)="toggleCancel()"
                    [big]="true"
                  >
                  </app-secondary-button>
                </div>
              </div>
            </ng-container>

            <!-- Second step -->
            <ng-container *ngSwitchCase="2">
              <div class="row pb-4">
                <div class="col text-center">
                  <h1 class="step-header">Käyttöehdot</h1>
                </div>
                <!-- Icon -->
                <i
                  class="col-12 pt-3 h1 primary-color text-center fas fa-file-alt"
                ></i>
              </div>

              <div class="row pb-4 d-flex justify-content-center">
                <h2 class="col-12 h6 pb-2">Käyttöehdot</h2>
                <div class="col">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.
                    <a href="javascript:void(0)"
                      >Näytä käyttöehdot kokonaisuudessaan</a
                    >
                  </p>
                  <mat-checkbox color="primary" [(ngModel)]="termsApproved"
                    >Olen lukenut palvelun käyttöehdot, ja hyväksyn
                    ne</mat-checkbox
                  >
                </div>
              </div>

              <div class="row pb-4 d-flex justify-content-center">
                <h2 class="col-12 h6 pb-2">Henkilötietojen käsittely</h2>
                <div class="col">
                  <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur.
                  </p>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia.
                    <a href="javascript:void(0)"
                      >Näytä henkilötietojen käsittelytiedot
                      kokonaisuudessaan</a
                    >
                  </p>
                  <mat-checkbox
                    color="primary"
                    [(ngModel)]="personalDataHandlingApproved"
                    >Hyväksyn henkilötietojeni käsittelyn</mat-checkbox
                  >
                </div>
              </div>

              <app-stepper-navigation
                (changeStep)="changeStep($event)"
                [disableNext]="!termsApproved || !personalDataHandlingApproved"
              ></app-stepper-navigation>
            </ng-container>

            <!-- Third step -->
            <ng-container *ngSwitchCase="3">
              <div class="row pb-4">
                <div class="col text-center">
                  <h1 class="step-header">Tietojen tuominen Orcidista</h1>
                </div>
                <!-- Icon -->
                <i
                  class="col-12 pt-3 h1 primary-color text-center fas fa-download"
                ></i>
              </div>

              <div class="row pb-3 d-flex justify-content-center">
                <div class="col">
                  <p>
                    Tutkijan tiedot -palvelun käyttöönotto edellyttää, että
                    Orcid-tietosi tuodaan ja tallennetaan palveluun. Aloita
                    tuonti painamalla "Tuo Orcid-tietoni" painiketta.
                  </p>
                  <p>Tässä vaiheessa emme vielä julkaise profiiliasi.</p>
                  <p>
                    Jos päivität tietojasi Orcidissa tämän tuonnin jälkeen,
                    kyseiset tiedot päivittyvät myös Tutkijan tiedot
                    -profiiliisi
                  </p>
                  <p>
                    <a href="javascript:void(0)"
                      >Lisätietoja palvelun toimintaperiaatteesta</a
                    >
                  </p>
                </div>
              </div>

              <!-- Data fetching indicator -->
              <div
                bsModal
                #smModal="bs-modal"
                class="modal fade"
                tabindex="-1"
                role="dialog"
              >
                <div class="modal-dialog modal-sm modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body text-center">
                      <mat-spinner class="mx-auto" [diameter]="80">
                      </mat-spinner>
                      <span class="d-block pt-3"
                        >Tietoja tuodaan, odota hetki...</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <app-stepper-navigation
                (changeStep)="changeStep($event)"
                nextContent="Tuo Orcid-tietoni"
              ></app-stepper-navigation>
            </ng-container>

            <!-- Fourth step -->
            <ng-container *ngSwitchCase="4">
              <div class="row pb-4">
                <div class="col text-center">
                  <h1 class="step-header">Tiedot tuotu!</h1>
                  <h2 class="step-header">Mitkä tiedot tuodaan julkisiksi?</h2>
                </div>
                <!-- Icon -->
                <i
                  class="col-12 pt-3 h1 primary-color text-center fas fa-check-circle"
                ></i>
              </div>

              <div class="row pb-4 d-flex justify-content-center">
                <div class="col px-0 px-lg-3">
                  <app-orcid-data-handler
                    [orcidData]="orcidData"
                  ></app-orcid-data-handler>
                </div>
              </div>
              <app-stepper-navigation
                (changeStep)="changeStep($event)"
              ></app-stepper-navigation>
            </ng-container>

            <!-- Default to 404 -->
            <app-not-found *ngSwitchDefault></app-not-found>
          </ng-container>
        </ng-container>

        <!-- Cancel -->
        <ng-template #cancelTemplate>
          <div class="row pb-4">
            <div class="col text-center">
              <h1 class="step-header">Peruutetaanko palvelun käyttöönotto?</h1>
            </div>
          </div>

          <div class="row pb-4 d-flex justify-content-center">
            <div class="col">
              <p>
                Käyttöönotto keskeytetään, ja mitään tietoja ei tallenneta.<br />
                Mikäli haluat ottaa palvelun käyttöön myöhemmin, aloitat
                käyttöönoton alusta.
              </p>
            </div>
          </div>

          <div class="row pb-3 d-flex justify-content-center">
            <div class="col">
              <app-secondary-button
                content="Kyllä, peruutan käyttöönoton"
                routerLink="/mydata"
                [big]="true"
              >
              </app-secondary-button>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col">
              <app-secondary-button
                content="Ei, jatkan käyttöönottoa"
                (click)="toggleCancel()"
                [big]="true"
              >
              </app-secondary-button>
            </div>
          </div>
        </ng-template>

        <div class="row py-5">
          <app-orcid-id-info
            class="col text-center"
            [userData]="userData"
          ></app-orcid-id-info>
        </div>
      </div>
    </div>
  </div>
</main>
