<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col pb-4">
                <app-breadcrumb [type]="'simple'" [title]="'Sivukartta'"></app-breadcrumb>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="pb-4">Sivukartta</h1>
            </div>
        </div>
        <div class="row base">
            <div class="col">
                <div class="content">
                    <li><a #mainFocus routerLink="">Etusivu</a></li>
                    <li>
                        <a routerLink="/results">Haku</a>
                        <ul>
                            <li><a routerLink="/results/publications">Julkaisut</a></li>
                            <li><a routerLink="/results/fundings">Hankkeet</a></li>
                            <li><a routerLink="/results/infrastructures">Infrastruktuurit</a></li>
                            <li><a routerLink="/results/organizations">Organisaatiot</a></li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/science-innovation-policy">Tiede- ja innovaatiopolitiikka</a>
                        <ul>
                            <li><a routerLink="/science-innovation-policy/research-innovation-system">Tutkimus- ja innovaatiojärjestelmä</a></li>
                            <li><a routerLink="/science-innovation-policy/science-research-figures">Tiede ja tutkimus lukuina</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/news">Tiede- ja tutkimusuutiset</a></li>
                    <li><a routerLink="/service-info">Tietoa palvelusta</a></li>
                    <li><a routerLink="/sitemap">Sivukartta</a></li>
                    <li><a routerLink="/accessibility">Saavutettavuusseloste</a></li>
                    <li><a routerLink="/privacy">Tietosuoja</a></li>
                </div>
            </div>
        </div>
    </div>
</main>