<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>
<aside>
  <app-result-tab [homepageStyle]="basicStyle" [allData]="allData"></app-result-tab>
</aside>

<main>
  <div class="wrapper">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <img src="../assets/1.jpg">
        <span i18n="Shortcut" class="text-center odd">
          Etsi asiantuntijoita eri tieteenaloilta
        </span>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 link-img" routerLink="/visual/publications">
        <img src="../assets/treemap_vis.png">
        <span i18n="Shortcut" class="text-center even">
          Tutki julkaisujen määriä tieteenaloittain
        </span>
      </div>
      <div class="col-12 col-sm-12 col-lg-3 link-img" routerLink="#">
        <img src="../assets/3.jpg">
        <span i18n="Shortcut" class="text-center odd">
          Tutustu tutkimuksen tuloksiin
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <img src="../assets/4.jpg">
        <span i18n="Shortcut" class="text-center even">
          Tarkastele tutkimustoiminnan kehitystä
        </span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <img src="../assets/5.jpg">
        <span i18n="Shortcut" class="text-center odd">
          Hae tutkimusvälineitä ja palveluita
        </span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <img src="../assets/6.jpg">
        <span i18n="Shortcut" class="text-center even">
          Tutustu rahoittajiin ja hankkeisiin
        </span>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <img src="../assets/7.jpg">
        <span i18n="Shortcut" class="text-center odd">
          Katso viimeisimpiä tiedeuutisia
        </span>
      </div>
    </div>
  </div>
</main>

