// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

.wrapper {
    overflow: hidden;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.shortcuts {
    padding: 0;
}

.cover-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.link-img {
    padding: 0px;
    transition: 0.2s linear;
    cursor: pointer;
}

.link-img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.link-img .caption.text-center {
    padding: 10px 10px 16px;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 160px;
}

.caption .header {
    font-size: 20px;
    font-weight: 500;
}

// News feed
.news-feed {
    padding: 0 0 0 3px;
}

.news-container {
    padding: 10px 13px 10px 10px;
    height: 100%;
}

.news-feed h4, .news-feed h5 {
    text-align: center;
    margin-top: 10px;
}

.news-feed .news-card {
    padding: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

span.date {
    font-weight: bold;
}

.news-feed h5.link-news {
    text-decoration: underline;
}

//responsive
@media (max-width: 991px) {
    .shortcuts {
        padding-right: 15px;
        padding-left: 15px;
    }

    .news-feed {
        padding: 0px 10px 0;
    }
}

@media (max-width: 621px) {
    .col-6.link-img {
        max-width: 100%;
        flex: auto;
    }
}
