// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

// data amounts

.row.numeric {
    max-width: 1440px;
    margin: 0 auto;
}

span.numeric-box {
    max-width: 200px;
    padding: 13px 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #4f51a8;
    cursor: pointer;
    margin: 0 auto;
}

.numeric .text-center {
    padding: 13px 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #4f51a8;
    margin: 0 auto;
}

// image links
// .full-width {
//     background: #4f51a8;
// }

// .full-width .row {
//     max-width: 1440px;
//     margin: 0 auto;
// }

.link-img {
    padding: 0px;
    transition: 0.2s linear;
    cursor: pointer;
}

.link-img span {
    transition: 0.2s linear;
}

.link-img img {
    height: 250px;
    min-width:300px;
    width:100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.link-img:hover {
    -webkit-filter: opacity(.7);
    filter: opacity(.7);
}

.link-img:hover span {
    // zoom: 1.2;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

.col-6.link-img {
    max-width: 100%;
}

.cover {
    object-fit: cover;
  }

.col.link-img, .col-5.link-img {
    padding: 0px!important;
}

.link-img span.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px; 
    transition: 0.2s all;
}

//responsive

@media (max-width: 616px) {
    .col-6.link-img {
        max-width: 100%;
        flex: auto;
    }


}