@import '~@angular/material/theming';

@mixin app-home-page-theme($theme) {
    $primary: map-get($theme, primary);

    app-home-page {
        .link-img {
            border: 3px solid mat-contrast($primary, 500);
        }

        .header, .caption {
            background: mat-color($primary, 100);
            color: mat-contrast($primary, 100);
        }

        .link-img:hover {
            .header, .caption {
                background: mat-color($primary);
                color: mat-contrast($primary, 500);
            }
        }

        .news-feed {
            border: 3px solid mat-contrast($primary, 500);
        }

        .news-feed .news-container {
            background: mat-color($primary, 100);
        }

        .news-feed .news-card {
            background: mat-contrast($primary, 500);
        }
    }
}