<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>
<aside>
  <app-result-tab [homepageStyle]="basicStyle" [allData]="allData"></app-result-tab>
</aside>

<main>
  <div class="wrapper">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <div class="cover-img" style="background-image: url('../assets/1.jpg')"></div>
        <div class="caption text-center odd">
          <h3 i18n="Shortcut" class="header">
            Hae tietoa
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 link-img" routerLink="/visual/publications">
        <div class="cover-img" style="background-image: url('../assets/treemap_vis.png')"></div>
        <div class="caption text-center even">
          <h3 i18n="Shortcut" class="header">
            Tutki julkaisujen määriä tieteenaloittain
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-3 link-img" routerLink="#">
        <div class="cover-img" style="background-image: url('../assets/3.jpg')"></div>
        <div class="caption text-center odd">
          <h3 i18n="Shortcut" class="header">
            Hae tietoa
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <div class="cover-img" style="background-image: url('../assets/4.jpg')"></div>
        <div class="caption text-center even">
          <h3 i18n="Shortcut" class="header">
            Hae tietoa
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <div class="cover-img" style="background-image: url('../assets/5.jpg')"></div>
        <div class="caption text-center odd">
          <h3 i18n="Shortcut" class="header">
            Hae tietoa
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <div class="cover-img" style="background-image: url('../assets/6.jpg')"></div>
        <div class="caption text-center even">
          <h3 i18n="Shortcut" class="header">
            Hae tietoa
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 link-img" routerLink="#">
        <div class="cover-img" style="background-image: url('../assets/7.jpg')"></div>
        <div class="caption text-center odd">
          <h3 i18n="Shortcut" class="header">
            Hae tietoa
          </h3>
          <span class="hint">
            Etsi tietoa esim. tutkijoista, julkaisuista ja muista tutkimuksen tuotoksista sekä tutkimusinfrastruktuureista
          </span>
        </div>
      </div>
    </div>
  </div>
</main>

