<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<app-banner-divider></app-banner-divider>

<main id="main-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-12 col-lg-6 px-lg-0 px-2">
        <div class="row">
          <div class="col gx-0">
            <h2 class="intro-heading-wrap">
              {{ landing_profile_heading }}
            </h2>
            <p class="fw-bold intro-text-larger">
              {{ landing_profile_body_text_bold }}
            </p>
          </div>
        </div>

        <div class="row d-flex py-2 justify-content-center justify-content-sm-start">
          <div class="col-12">

            <ul>
              <li><span>{{ landing_profile_body_text_bullet_1 }}</span></li>
              <li>{{ landing_profile_body_text_bullet_2 }}</li>
              <li>{{ landing_profile_body_text_bullet_3 }}</li>
              <li>{{ landing_profile_body_text_bullet_4 }}</li>
              <li>{{ landing_profile_body_text_bullet_5 }}</li>
            </ul>

          </div>

          <p class="gx-0 login-info-text">{{ landing_profile_body_text }}</p>

          <div class="col-12 col-sm-12 pt-3 d-flex flex-row justify-content-start gx-0">

            <div class="create-profile-button-margin">
              <app-primary-action-button
                      i18n-content="@@createProfile"
                      content="Luo profiili"
                      routerLink="service-deployment"
                      tabindex="-1"
              >
              </app-primary-action-button>
            </div>
            <div class="">
              <app-secondary-button
                      i18n-content="@@logIn"
                      content="Kirjaudu sisään"
                      (click)="login()"
              >
              </app-secondary-button>
            </div>

          </div>
        </div>

        <!-- <div class="row d-flex justify-content-center">
          <div class="col px-0 pb-3">
            <app-mydata-beta-info></app-mydata-beta-info>
          </div>
        </div> -->
      </div>

      <!-- MyData service visual -->
      <div class="col-5 d-none d-lg-flex justify-content-center flex-row mt-5 mt-lg-0 pt-3 mydata-landing-image">
        <img
                class="img-fluid"
                [src]="'assets/img/mydata-visual-' + locale + '.png'"
        />
      </div>
    </div>
  </div>
</main>
