<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

@if (data.link && !data.template) {
  <a [routerLink]="data.link">
    <ng-container *ngTemplateOutlet="label"></ng-container>
  </a>
} @else {
  <ng-container *ngTemplateOutlet="label"></ng-container>
}


<ng-template #label>
  @if (data.template) {
    <div [ngTemplateOutlet]="data.template"></div>
  }
  @if (!data.template) {
    <span [innerHtml]="data.label ? data.label : '-'">
    </span>
  }
</ng-template>
