@import '~@angular/material/theming';

@mixin app-publications-theme($theme) {
    $primary: map-get($theme, primary);

    app-publications {
        
        .row.expand {
            background: mat-color($primary, 50);
        }
        
        a.pagination-link {
            color: mat-color($primary) !important;
        }

        h3 {
            color: mat-color($primary, A700);
        }

        a.arrow::before {
            color: mat-color($primary);
        }
          
    }
}

