// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

.dialog-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.visual-dialog .mat-mdc-dialog-content {
  max-height: 85vh !important;
}

@media (max-width: 991px) {
  .responsive-dialog .no-actions {
    max-height: 100vh !important;
  }
}
