<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-dialog-content>
  <div class="row d-flex justify-content-between dialog-header">
    <div class="col-12 col-md pb-3 pb-md-0">
      <h2 class="modal-title h5">{{ data.title }}</h2>
    </div>
    <div class="col-auto align-self-center">
      <app-close-button
        mat-dialog-close
        class="pull-right pr-3"
        autofocus
        tabindex="-1"
      ></app-close-button>
    </div>
  </div>

  <div class="row">
    <div class="col py-3">
      <ng-container [ngTemplateOutlet]="data.template"></ng-container>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-block mb-0 pb-0 px-lg-3" *ngIf="data.actions">
  <div class="row">
    <ng-container [ngTemplateOutlet]="data.actions"></ng-container>
  </div>
</mat-dialog-actions>
