<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<!-- Dialog header -->
<div class="row justify-content-between dialog-header" *ngIf="data.title">
  <!-- Helper when centering title -->
  <div
    class="col-auto"
    *ngIf="data.centerTitle"
    [ngStyle]="{ width: closeButtonWidth + 'px' }"
  ></div>
  <!-- Title -->
  <div class="col-8 col-sm-auto">
    <h2 class="dialog-title h5 d-inline-block pe-2">
      <fa-icon
        *ngIf="data.icon"
        [icon]="data.icon"
        class="primary-color pe-3"
      ></fa-icon
      >{{ data.title }}
    </h2>
    <ng-container *ngIf="data.headerInfoTemplate"
      ><ng-container [ngTemplateOutlet]="data.headerInfoTemplate"></ng-container
    ></ng-container>
  </div>
  <!-- Extra header template // MyData editor toggle all -->
  <ng-container
    *ngIf="data.extraHeaderTemplate"
    [ngTemplateOutlet]="data.extraHeaderTemplate"
  ></ng-container>
  <!-- Close button -->
  <div
    class="col-auto text-end mt-1 mt-sm-0 align-self-sm-center order-2 order-sm-3"
    [class.d-lg-none]="data.hideClose"
    #closeButton
  >
    <app-close-button
      (click)="close()"
      (keydown.enter)="close()"
      tabindex="-1"
    ></app-close-button>
  </div>
</div>

<!-- Content -->
<!-- Default desktop horizontal padding is 1rem, target 2rem with content (row class does this automatically) -->
<mat-dialog-content [class.no-actions]="data.actions.length === 0">
  <div class="row">
    <div class="col px-0 px-lg-3" [ngClass]="data.noPadding ? 'px-0' : 'py-3'">
      <ng-container [ngTemplateOutlet]="data.template"></ng-container>
    </div>

    <!-- Mobile extra content. E.g. MyData patch summary -->
    <ng-container
      *ngIf="mobile && displayExtraContent && data.extraContentTemplate"
    >
      <div class="row px-0 pb-3 mb-5">
        <div class="col">
          <ng-container
            [ngTemplateOutlet]="data.extraContentTemplate"
          ></ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Footer -->
  <div *ngIf="data.footerTemplate">
    <hr />
    <div class="row">
      <div class="col" [class.px-0]="data.noPadding">
        <ng-container [ngTemplateOutlet]="data.footerTemplate"></ng-container>
      </div>
    </div>
  </div>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions
  class="row"
  *ngIf="dialogActions?.length"
  [class.justify-content-center]="mobile && dialogActions.length === 1"
>
  <!-- Some actions are spread into two columns -->
  <ng-container *ngIf="data.spreadActions; else singleColumnActions">
    <ng-container *ngFor="let group of dialogActions; let i = index">
      <div class="col px-0">
        <!-- First array items should be on the left side -->
        <div
          class="row"
          [ngClass]="i === 0 ? 'justify-content-start' : 'justify-content-end'"
        >
          <ng-container *ngFor="let action of group">
            <div class="col-auto">
              <app-primary-action-button
                *ngIf="action.primary"
                (click)="doAction(action)"
                [content]="action.label"
              ></app-primary-action-button>

              <app-secondary-button
                *ngIf="!action.primary"
                (click)="doAction(action)"
                [content]="action.label"
              ></app-secondary-button>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- Regular single column render -->
  <ng-template #singleColumnActions>
    <ng-container *ngFor="let action of dialogActions">
      <div class="col-auto">
        <app-primary-action-button
          *ngIf="action.primary"
          (click)="doAction(action)"
          [content]="action.label"
        ></app-primary-action-button>

        <app-secondary-button
          *ngIf="!action.primary"
          (click)="doAction(action)"
          [content]="action.label"
        ></app-secondary-button>
      </div>
    </ng-container>
  </ng-template>
</mat-dialog-actions>

<!-- Desktop extra content -->
<!-- Eg. mydata profile / publish / display data to publish toggle -->
<mat-dialog-content
  *ngIf="!mobile && displayExtraContent && data.extraContentTemplate"
  ><div class="row px-3 pb-4">
    <div class="col">
      <ng-container
        [ngTemplateOutlet]="data.extraContentTemplate"
      ></ng-container>
    </div></div
></mat-dialog-content>
