<!--  This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

 <h1 #srHeader class="sr-only"></h1>
 <aside>
     <app-search-bar></app-search-bar>
 </aside>
  
 <div class="wrapper" *ngIf="responseData"  id="main-content">
     <!-- Breadcrumb -->
     <app-breadcrumb [type]="single" [responseData]="[responseData]" [tab]="tab" [tabName]="'infrastruktuurit'" [resultNameField]="'name'"></app-breadcrumb>
     <div class="row shared">
         <p class="back col-12">
             <a routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="tabQueryParams">&lt; Takaisin hakutuloksiin</a>
         </p>
         <div class="col-12" style="margin: 10px 0 10px 0;" *ngIf="responseData.total === 0">
              <h2>404 - Virheellinen osoite</h2>
         </div>
         <main class="col-12 col-md-8">
             <div *ngFor="let item of responseData.infrastructures">
                 <h1 class="result-header">{{item.name}}</h1>
                 <div id="info" class="table">
                     <div class="content">
                         <ng-container *ngFor="let row of infoFields; let i = index;">
                            <div class="row" *ngIf="item[row.field]">
                                <div class="col-6 col-lg-3 th">{{row.label}}</div>
                                <div class="col-6 col-lg-9 td">
                                    <p [ngClass]="expand[i] ? 'expand' : 'short'">
                                        {{item[row.field]}}
                                    </p>
                                    <a href="javascript:void(0)" class="read-more" *ngIf="item[row.field].length > 256" 
                                       (click)="expandDescription(i)" [innerHTML]="expand[i] ? 'Näytä vähemmän' : 'Näytä enemmän'"></a>    
                               </div>
                            </div>
                         </ng-container>
                     </div>
                     <div class="row content" *ngFor="let row of studentCounts">
                         <div class="col-6 col-lg-3 th">{{row.label}}</div>
                         <div class="col-6 col-lg-9 td">{{item[row.field]}}</div>
                    </div>
                    <div class="row content" *ngFor="let row of subUnitFields">
                        <div class="col-6 col-lg-3 th">{{row.label}}</div>
                        <div class="col-6 col-lg-9 td">{{item[row.field]}}</div>
                    </div>
                 </div>
              </div>
          </main>
          <div *ngFor="let item of responseData.infrastructures" class="col-12 col-md-4">
             <aside>
                  <mat-card>
                     <mat-card-title><h2>Infrastruktuurin verkkosivu</h2></mat-card-title>
                     <div class="row links">
                         <div *ngFor="let row of linkFields" class="info-link-wrapper">
                             <div class="col-sm-2 col-md-1 icon">
                                 <fa-icon [icon]="faIcon"></fa-icon>
                             </div>
                             <div class="col link">
                                 <a class="info-link" href="{{item[row.field]}}" target="_blank">{{item[row.field]}} <fa-icon icon="external-link-alt"></fa-icon></a>
                             </div>
                         </div>
                     </div>
                     <div *ngIf="!linkFields.length" class="no-links">Infrastruktuuriin ei ole tarjolla linkkejä tässä portaalissa</div>
                 </mat-card>
             </aside>
             <aside>
                 <mat-card>
                     <mat-card-title><h2>Infrastruktuurin</h2></mat-card-title>
                     <app-related-links [id]="item.id"></app-related-links>
                 </mat-card>
             </aside>
             <!-- Social icons -->
             <app-share></app-share>
             <aside>
                 <mat-card>
                     <mat-card-title><h2>Infrastruktuuritiedon lähde</h2></mat-card-title>
                     <div *ngFor="let source of responseData.infrastructures">
                         <p>Virta/Vipunen/etc?</p>
                     </div>
                     <div class="clear"></div>
                 </mat-card>
             </aside>
         </div>
     </div>
 </div>