<!--  This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

 <h1 #srHeader class="sr-only"></h1>
 <aside>
     <app-search-bar></app-search-bar>
 </aside>
  
 <div class="wrapper" *ngIf="responseData"  id="main-content">
     <!-- Breadcrumb -->
     <app-breadcrumb [type]="'single'" [responseData]="[responseData]" [tab]="tab" [tabName]="'infrastruktuurit'" [resultNameField]="'name'" [queryParams]="tabQueryParams"></app-breadcrumb>
     <div class="row shared">
         <p class="back col-12">
             <a routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="tabQueryParams">&lt; Takaisin hakutuloksiin</a>
         </p>
         <div class="col-12" style="margin: 10px 0 10px 0;" *ngIf="responseData.total === 0">
              <h2>404 - Virheellinen osoite</h2>
         </div>
         <main class="col-12 col-md-8">
             <div *ngFor="let item of [responseData.infrastructures[0]]">
                 <h1 class="result-header">{{item.name}}</h1>
                 <div id="info" class="table">
                     <div class="content">
                         <ng-container *ngFor="let row of infoFields; let i = index;">
                            <div class="row" *ngIf="item[row.field]">
                                <div class="col-6 col-lg-3 th">{{row.label}}</div>
                                <div class="col-6 col-lg-9 td">
                                    <p [ngClass]="infoExpand[i] ? 'expand' : 'short'">
                                        {{item[row.field]}}
                                    </p>
                                    <a href="javascript:void(0)" class="read-more" *ngIf="item[row.field].length > 256" 
                                       (click)="expandInfoDescription(i)" [innerHTML]="infoExpand[i] ? 'Näytä vähemmän' : 'Näytä enemmän'"></a>    
                               </div>
                            </div>
                         </ng-container>
                     </div>
                     <ng-container *ngIf="item.services.length > 0">
                        <p class="subheader trHeader">Tutkimusinfrastruktuurin palvelut</p>
                        <div class="content" *ngFor="let service of item.services; let i = index;">
                            <ng-container *ngIf="service.name !== '#N/A' || service.name !== '0'; else simpleServicePoints">
                                <p class="header trHeader subtitle" (click)="toggleService(i)" [ngClass]="showService[i] ? 'open' : 'closed'">{{service.name}} {{service.acronym ? '(' + service.acronym + ')' : ''}}</p>
                                <ng-container *ngIf="showService[i]">
                                    <div *ngFor="let row of serviceFields; let j = index;" class="row">
                                        <ng-container *ngIf="service[row.field] && service[row.field] !== '0'  && service[row.field] !== '#N/A'">
                                            <div class="col-6 col-lg-3 th">{{row.label}}</div>
                                            <div class="col-6 col-lg-9 td">
                                                <p [ngClass]="serviceExpand[serviceExpandId(i, j)] ? 'expand' : 'short'">
                                                    {{service[row.field]}}
                                                </p>
                                                <a href="javascript:void(0)" class="read-more" *ngIf="service[row.field].length > 256" 
                                                    (click)="expandServiceDescription(serviceExpandId(i, j))" [innerHTML]="serviceExpand[serviceExpandId(i, j)] ? 'Näytä vähemmän' : 'Näytä enemmän'"></a>    
                                            </div>
                                        </ng-container>
                                    </div>
                                    <ng-container *ngIf="!service.servicePoints.hide">
                                        <div *ngFor="let servicePoint of service.servicePoints; let j = index;">
                                            <div class="row" (click)="toggleServicePoint(i, j)">
                                                <div class="col-6 col-lg-3 th subtitle" [ngClass]="showServicePoint[i][j] ? 'open' : 'closed'">Palvelupiste</div>
                                                <div class="col-6 col-lg-9 td">{{servicePoint.name}}</div>
                                            </div>
                                            <div *ngIf="showServicePoint[i][j]" class="pl-4">
                                                <div class="th">Yhteystiedot</div>
                                                <div *ngFor="let row of servicePointFields" class="row ">
                                                    <ng-container *ngIf="servicePoint[row.field]?.trim()">
                                                        <div class="col-6 col-lg-3 th pl-4">{{row.label}}</div>
                                                        <div class="col-6 col-lg-9 td">{{servicePoint[row.field]}}</div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-template #simpleServicePoints>
                                <p class="header trHeader">{{service.name}} {{service.acronym ? '(' + service.acronym + ')' : ''}}</p>
                            </ng-template>
                        </div>
                    </ng-container>
                 </div>
              </div>
          </main>
          <div *ngFor="let item of [responseData.infrastructures[0]]" class="col-12 col-md-4">
             <aside>
                  <mat-card>
                     <mat-card-title><h2>Infrastruktuurin verkkosivu</h2></mat-card-title>
                     <div class="row links">
                         <div *ngFor="let row of linkFields" class="info-link-wrapper">
                             <div class="col-sm-2 col-md-1 icon">
                                 <fa-icon [icon]="faIcon"></fa-icon>
                             </div>
                             <div class="col link">
                                 <a class="info-link" href="{{item[row.field]}}" target="_blank">{{item[row.field]}} <fa-icon icon="external-link-alt"></fa-icon></a>
                             </div>
                         </div>
                     </div>
                     <div *ngIf="!linkFields.length" class="no-links">Infrastruktuuriin ei ole tarjolla linkkejä tässä portaalissa</div>
                 </mat-card>
             </aside>
             <aside>
                 <mat-card>
                     <mat-card-title><h2>Infrastruktuurin</h2></mat-card-title>
                     <app-related-links [id]="" [relatedFilters]="{}"></app-related-links>
                 </mat-card>
             </aside>
             <!-- Social icons -->
             <app-share></app-share>
             <!-- Source -->
             <aside>
                 <mat-card>
                     <mat-card-title><h2>Infrastruktuuritiedon lähde</h2></mat-card-title>
                     <div *ngFor="let source of [responseData.infrastructures[0]]">
                         <p *ngIf="source.responsibleOrganizationNameFi?.trim().length > 0; else noSource">{{source.responsibleOrganizationNameFi}}</p>
                         <ng-template #noSource>
                             <p class="font-italic m-0">Infrastruktuuritiedon lähde puuttuu.</p>
                         </ng-template>
                     </div>
                     <div class="clear"></div>
                 </mat-card>
             </aside>
         </div>
     </div>
 </div>