<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

@if (labelBefore) {
  <span>{{ label }}: </span>
}

<mat-form-field appearance="fill">
  @if (label && !labelBefore) {
    <mat-label>{{ label }}</mat-label>
  }
  <mat-select [value]="selectedOption" (selectionChange)="selectOption($event)">
    @for (option of options; track option) {
      <mat-option [value]="option">{{
        option
      }}</mat-option>
    }
  </mat-select>
</mat-form-field>
