//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.row.active-filters {
  // padding-inline-start: 1.4rem;
  // position: sticky;
  // top: 0;
  // z-index: 2;
}

fa-icon.clear {
  padding: 0 0.7rem 0 0;
}

.ellipsis {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 2rem;
  line-height: 1rem;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}
