//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.row.active-filters {
    padding-inline-start: 1.4rem;
    padding-top: 1rem;
}

.active-filters h5 {
    padding: 0 1rem 0 0;
}

.active-filters ul {
    list-style: none;
    padding: 0;
}

.filter {
    display: inline-block;
}

.active-filters li, button.clear {
    padding: 5px 10px;
    margin: 0 4px 4px 0;
    border-radius: 10px;
    line-height: 31px;
    cursor: pointer;
    height: 43px;
}

.active-filters li:after {
    font-family: "FontAwesome";
    content: "\f00d ";
    font-size: 1.2rem;
    padding-left: 5px;
}