<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-button-toggle-group
  class="my-3"
  [multiple]="multiple"
  [vertical]="vertical"
  [name]="name"
  aria-label=""
>
  <mat-button-toggle
    *ngFor="let item of data"
    [value]="item"
    [checked]="checked?.includes(item)"
    >{{ item }}</mat-button-toggle
  >
</mat-button-toggle-group>
