<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>

<div class="wrapper" *ngIf="responseData" id="main-content">
  <div class="row shared">
    <p class="back col-12" style="padding-bottom: 0.25rem">
      <a
        #backToResultsLink
        routerLink="/results/{{ tab }}/{{ searchTerm }}"
        [queryParams]="tabQueryParams"
        >&lt;
        <ng-container i18n="@@backToResults"
          >Takaisin hakutuloksiin</ng-container
        ></a
      >
    </p>
  </div>
  <!-- Breadcrumb -->
  <app-breadcrumb
    [type]="'single'"
    [responseData]="responseData"
    [tab]="tab"
    [tabName]="tabData.label"
    [resultNameField]="'name'"
    [queryParams]="tabQueryParams"
  ></app-breadcrumb>
  <div class="row shared">
    <div
      class="col-12"
      style="margin: 10px 0 10px 0"
      *ngIf="responseData.total === 0"
    >
      <h2 i18n="@@404">404 - Virheellinen osoite</h2>
    </div>
    <main class="col-12 col-md-8">
      <div *ngFor="let item of [responseData.infrastructures[0]]">
        <h1 class="result-header">{{ item.name }}</h1>
        <div id="info" class="table">
          <div class="content">
            <ng-container *ngFor="let row of infoFields; let i = index">
              <div class="row" *ngIf="item[row.field]">
                <h2 class="col-12 col-sm-6 col-lg-3 th">
                  {{ row.label }}
                  <ng-container *ngIf="row.tooltip">
                    <ng-template #tooltipTemplate
                      ><div [innerHtml]="row.tooltip"></div
                    ></ng-template>
                    <span
                      [tooltip]="tooltipTemplate"
                      tabindex="0"
                      placement="top"
                      #elem
                    >
                      <fa-icon
                        class="info-icon pl-2"
                        icon="info-circle"
                      ></fa-icon>
                    </span>
                  </ng-container>
                </h2>
                <div class="col-12 col-sm-6 col-lg-9 td">
                  <p
                    [ngClass]="infoExpand[i] ? 'expand' : 'short'"
                    [ngSwitch]="row.field"
                    #overflow
                  >
                    {{ item[row.field] }}
                  </p>
                  <a
                    href="javascript:void(0)"
                    class="read-more"
                    *ngIf="checkOverflow(overflow) || infoExpand[i]"
                    (click)="expandInfoDescription(i)"
                    [innerHTML]="infoExpand[i] ? showLess : showMore"
                  ></a>
                </div>
              </div>
            </ng-container>
          </div>
          <div *ngIf="item.services.length > 0" class="content">
            <h2 class="subheader trHeader">
              <ng-container i18n="@@infraServices"
                >Tutkimusinfrastruktuurin palvelut</ng-container
              >
              <span
                i18n-tooltip="@@infraServicesTooltip"
                tooltip="Tiedejatutkimus.fi-palvelussa olevilla tutkimusinfrastruktuureilla on yksi tai useampi palvelu. 
                            Palvelut voivat olla ulkopuolisten tahojen käytettävissä tai tarkoitettu oman organisaation tutkimusryhmälle. 
                            Palvelu voi olla tarjolla myös muista kuin vastuuorganisaatiosta, jolloin sillä on useampi palvelupiste."
                tabindex="0"
                placement="top"
                #elem
              >
                <fa-icon class="info-icon pl-2" icon="info-circle"></fa-icon>
              </span>
            </h2>
            <div
              class="content"
              *ngFor="let service of item.services; let i = index"
            >
              <ng-container>
                <h3
                  class="header trHeader subtitle service-name"
                  (click)="toggleService(i)"
                  [ngClass]="showService[i] ? 'open' : 'closed'"
                >
                  {{
                    stringHasContent(service.name)
                      ? service.name
                      : serviceHeader
                  }}
                  {{ service.acronym ? '(' + service.acronym + ')' : '' }}
                </h3>
                <div *ngIf="showService[i]" class="pl-4">
                  <div
                    *ngFor="let row of serviceFields; let j = index"
                    class="row"
                  >
                    <ng-container *ngIf="stringHasContent(service[row.field])">
                      <h4 class="col-12 col-sm-6 col-lg-3 th">
                        {{ row.label }}
                        <ng-container *ngIf="row.tooltip">
                          <ng-template #tooltipTemplate
                            ><div [innerHtml]="row.tooltip"></div
                          ></ng-template>
                          <span
                            [tooltip]="tooltipTemplate"
                            tabindex="0"
                            placement="top"
                            #elem
                          >
                            <fa-icon
                              class="info-icon pl-2"
                              icon="info-circle"
                            ></fa-icon>
                          </span>
                        </ng-container>
                      </h4>
                      <div class="col-12 col-sm-6 col-lg-9 td">
                        <p
                          [ngClass]="
                            serviceExpand[serviceExpandId(i, j)]
                              ? 'expand'
                              : 'short'
                          "
                          #overflow
                        >
                          {{ service[row.field] }}
                        </p>
                        <a
                          href="javascript:void(0)"
                          class="read-more"
                          *ngIf="
                            checkOverflow(overflow) ||
                            serviceExpand[serviceExpandId(i, j)]
                          "
                          (click)="
                            expandServiceDescription(serviceExpandId(i, j))
                          "
                          [innerHTML]="
                            serviceExpand[serviceExpandId(i, j)]
                              ? showLess
                              : showMore
                          "
                        ></a>
                      </div>
                    </ng-container>
                  </div>
                  <div
                    *ngFor="
                      let servicePoint of service.servicePoints;
                      let j = index
                    "
                  >
                    <div class="row">
                      <h4 class="col-12 col-sm-6 col-lg-3 th">
                        <ng-container i18n="@@infraServicePoint"
                          >Palvelupiste</ng-container
                        >
                        <span
                          i18n-tooltip="@@contactInfoTooltip"
                          tooltip="Kertoo palvelun yhteystiedot ja mahdolliset käyttöehdot. 
                                                Kuvauksessa voidaan kertoa palvelupisteestä tarkemmin. Joskus palvelu voi olla erilainen eri palvelupisteissä esimerkiksi tarjolla olevan laitteiston kannalta."
                          tabindex="0"
                          placement="top"
                          #elem
                        >
                          <fa-icon
                            class="info-icon pl-2"
                            icon="info-circle"
                          ></fa-icon>
                        </span>
                      </h4>
                      <div class="col-12 col-sm-6 col-lg-9 td">
                        {{ servicePoint.name }}
                      </div>
                    </div>
                    <div>
                      <div
                        *ngFor="let row of servicePointContactFields"
                        class="row"
                      >
                        <ng-container *ngIf="servicePoint[row.field]?.trim()">
                          <h5 class="sr-only">{{ row.label }}</h5>
                          <div
                            class="
                              offset-0 offset-sm-6 offset-lg-3
                              col-12 col-sm-6 col-lg-9
                              pt-0
                              pb-0
                              td
                            "
                          >
                            <ng-container
                              *ngIf="
                                row.field === 'emailAddress';
                                else nonEmailAddress
                              "
                              ><a
                                href="javascript:void(0)"
                                (click)="
                                  showEmail($event, servicePoint[row.field])
                                "
                                i18n="@@showEmailAddress"
                                >Näytä sähköpostiosoite</a
                              ></ng-container
                            >
                            <ng-template #nonEmailAddress>{{
                              servicePoint[row.field]
                            }}</ng-template>
                          </div>
                        </ng-container>
                      </div>
                      <div
                        *ngFor="let row of servicePointInfoFields"
                        class="row"
                      >
                        <ng-container *ngIf="servicePoint[row.field]?.trim()">
                          <h5 class="col-12 col-sm-6 col-lg-3 th">
                            {{ row.label }}
                          </h5>
                          <div class="col-12 col-sm-6 col-lg-9 td">
                            <a
                              [target]="
                                row.field === 'infoUrl' ? '_blank' : null
                              "
                              href="{{ servicePoint[row.field] }}"
                              >{{ servicePoint[row.field] }}
                              <i
                                *ngIf="
                                  row.field === 'infoUrl' ||
                                  row.field === 'accessPolicyUrl'
                                "
                                class="fas fa-external-link-alt"
                              ></i
                            ></a>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #simpleServicePoints>
                <p class="header trHeader">
                  {{ service.name }}
                  {{ service.acronym ? '(' + service.acronym + ')' : '' }}
                </p>
              </ng-template>
            </div>
          </div>
          <div class="content">
            <h2 class="subheader trHeader" i18n="@@infraOtherInfo">
              Tutkimusinfrastruktuurin muut tiedot
            </h2>
            <ng-container *ngFor="let row of fieldsOfScience; let i = index">
              <div class="row" *ngIf="item[row.field]">
                <h2 class="col-12 col-sm-6 col-lg-3 th">{{ row.label }}</h2>
                <div class="col-12 col-sm-6 col-lg-9 td">
                  <p>{{ item[row.field] }}</p>
                </div>
              </div>
            </ng-container>
            <div *ngIf="classificationFields?.length > 0" class="row">
              <h3
                class="col-12 col-sm-6 col-lg-3 th"
                i18n="@@infraClassifications"
              >
                Luokituksia
              </h3>
              <div
                class="
                  col-12 col-sm-6 col-lg-3
                  offset-0 offset-sm-6 offset-lg-0
                  first-no-offset-mobile
                  td
                "
                *ngFor="let row of classificationFields; let i = index"
              >
                <ng-container *ngIf="item[row.field]">
                  <h4 class="th classification">
                    {{ row.label }}
                    <ng-container *ngIf="row.tooltip">
                      <ng-template #tooltipTemplate
                        ><div [innerHtml]="row.tooltip"></div
                      ></ng-template>
                      <span
                        [tooltip]="tooltipTemplate"
                        tabindex="0"
                        placement="top"
                        #elem
                      >
                        <fa-icon
                          class="info-icon pl-2"
                          icon="info-circle"
                        ></fa-icon>
                      </span>
                    </ng-container>
                  </h4>
                  <div>
                    <p>{{ item[row.field] }}</p>
                  </div>
                </ng-container>
              </div>
            </div>

            <!-- Contact -->

            <div *ngIf="contactFields?.length > 0" class="row">
              <h3
                class="col-12 col-sm-6 col-lg-3 pt-0 pb-0 contact th"
                i18n="@@contactInfo"
              >
                Yhteystiedot
              </h3>
              <div
                class="col-12 col-sm-6 offset-0 pt-0 pb-0 td"
                *ngFor="let row of contactFields.slice(0, 1); let i = index"
              >
                <ng-container *ngIf="item[row.field]">
                  <ng-container *ngIf="row.field === 'email'; else nonEmail">
                    <h4 class="th sr-only">{{ row.label }}</h4>
                    <a
                      href="javascript:void(0)"
                      (click)="showEmail($event, item[row.field])"
                      i18n="@@showEmailAddress"
                      >Näytä sähköpostiosoite</a
                    ></ng-container
                  >
                  <ng-template #nonEmail>
                    <h4 class="th sr-only">{{ row.label }}</h4>
                    <div>{{ item[row.field] }}</div>
                  </ng-template>
                </ng-container>
              </div>
              <div
                class="
                  col-12 col-sm-6
                  offset-0 offset-sm-6 offset-lg-3
                  pt-0
                  pb-0
                  td
                "
                *ngFor="let row of contactFields.slice(1); let i = index"
              >
                <ng-container *ngIf="item[row.field]">
                  <ng-container *ngIf="row.field === 'email'; else nonEmail">
                    <h4 class="th sr-only">{{ row.label }}</h4>
                    <a
                      href="javascript:void(0)"
                      (click)="showEmail($event, item[row.field])"
                      i18n="@@showEmailAddress"
                      >Näytä sähköpostiosoite</a
                    ></ng-container
                  >
                  <ng-template #nonEmail>
                    <h4 class="th sr-only">{{ row.label }}</h4>
                    <div>{{ item[row.field] }}</div>
                  </ng-template>
                </ng-container>
              </div>
            </div>

            <ng-container *ngFor="let row of otherFields; let i = index">
              <div class="row" *ngIf="item[row.field]">
                <h2 class="col-12 col-sm-6 col-lg-3 th">{{ row.label }}</h2>
                <div class="col-12 col-sm-6 col-lg-9 td">
                  <p>{{ item[row.field] }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </main>

    <!-- Sidebar -->

    <div
      *ngFor="let item of [responseData.infrastructures[0]]"
      class="col-12 col-md-4"
    >
      <aside>
        <mat-card>
          <div class="inner">
            <ng-container *ngIf="item.urn">
              <mat-card-title><h2>Tunniste</h2></mat-card-title>
              <div class="row pb-4">
                <div>{{ item.urn }}</div>
              </div>
            </ng-container>
            <mat-card-title
              ><h2 i18n="@@infraHomePage">
                Infrastruktuurin verkkosivu
              </h2></mat-card-title
            >
            <div class="row links" *ngIf="linkFields?.length > 0">
              <div *ngFor="let row of linkFields" class="link-wrapper">
                <div class="col link">
                  <span
                    class="link-tag fa fa-link center"
                    style="font-size: 22px; padding: 3px 12px"
                  ></span>
                  <span class="link-item">
                    <a href="{{ item[row.field] }}" target="_blank"
                      ><span class="link-label">{{
                        item[row.field] | handleLinkDisplay
                      }}</span>
                      <fa-icon icon="external-link-alt"></fa-icon
                    ></a>
                  </span>
                </div>
              </div>
            </div>
            <div
              *ngIf="!linkFields.length"
              class="no-links"
              i18n="@@noInfraLinks"
            >
              Infrastruktuuriin ei ole tarjolla linkkejä tässä portaalissa
            </div>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title
              ><h2>
                <ng-container i18n="@@relatedInfrastructures"
                  >Hae infrastruktuuriin liittyvät</ng-container
                >
                (<ng-container i18n="@@comingSoon">tulossa</ng-container>)
              </h2></mat-card-title
            >
            <app-related-links
              [id]=""
              [relatedData]="relatedData"
            ></app-related-links>
          </div>
        </mat-card>
      </aside>
      <!-- Social icons -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title><h2 i18n="@@share">Jaa</h2></mat-card-title>
            <app-share [id]="item.id"></app-share>
          </div>
        </mat-card>
      </aside>
      <!-- Source -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title
              ><h2 i18n="@@infraSource">
                Infrastruktuuritiedon lähde
              </h2></mat-card-title
            >
            <div *ngFor="let source of responseData.infrastructures">
              <a
                *ngIf="
                  source?.responsibleOrganization?.trim().length > 0;
                  else noSource
                "
                routerLink="/results/organization/{{
                  source.responsibleOrganizationId
                }}"
              >
                {{ source.responsibleOrganization }}
              </a>
              <ng-template #noSource>
                <p class="font-italic m-0" i18n="@@missingInfraSource">
                  Infrastruktuuritiedon lähde puuttuu.
                </p>
              </ng-template>
            </div>
            <div class="clear"></div>
          </div>
        </mat-card>
      </aside>
    </div>
  </div>
</div>
