// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

.subtitle {
  cursor: pointer;
}

.service-name {
  margin-bottom: 1rem;
}

h3.th {
  padding: 11px 15px !important;
  &.contact {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

h4.th.classification {
  padding: 0 !important;
}

.subheader {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  font-weight: bold;
}

.chevron-wrapper {
  margin-top: 15px;
  margin-left: 6px;
}
