<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>

@if (responseData) {
  <div class="wrapper" id="main-content">
    <div class="row shared">
      <p class="back col-12" style="padding-bottom: 0.25rem">
        <a
          #backToResultsLink
          routerLink="/results/{{ tab }}/{{ searchTerm }}"
          [queryParams]="tabQueryParams"
          >&lt;
          <ng-container i18n="@@backToResults"
            >Takaisin hakutuloksiin</ng-container
            ></a
            >
          </p>
        </div>
        <!-- Breadcrumb -->
        <app-breadcrumb
          [type]="'single'"
          [responseData]="responseData"
          [tab]="tab"
          [tabName]="tabData.label"
          [resultNameField]="'name'"
          [queryParams]="tabQueryParams"
        ></app-breadcrumb>
        <div class="row shared">
          @if (responseData.total === 0) {
            <div
              class="col-12"
              style="margin: 10px 0 10px 0"
              >
              <h2 i18n="@@404">404 - Virheellinen osoite</h2>
            </div>
          }
          <main class="col-12 col-md-8">
            @for (item of [responseData.infrastructures[0]]; track item) {
              <div>
                <h1 class="result-header">{{ item.name }}</h1>
                <div id="info">
                  <div class="content">
                    @for (row of infoFields; track row; let i = $index) {
                      @if (item[row.field]) {
                        <div class="row">
                          <h2 class="col-12 col-sm-6 col-lg-3 th">
                            <span class="pe-1">{{ row.label }}</span>
                            @if (row.tooltip) {
                              <ng-template #tooltipTemplate
                                ><div [innerHtml]="row.tooltip"></div
                              ></ng-template>
                              <span
                                [tooltip]="tooltipTemplate"
                                tabindex="0"
                                placement="top"
                                #elem
                                >
                                <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                              </span>
                            }
                          </h2>
                          <div class="col-12 col-sm-6 col-lg-9 td">
                            @if (row?.field) {
                              <p
                                [ngClass]="infoExpand[i] ? 'expand' : 'short'"
                                #overflow
                                >
                                {{ item[row.field] }}
                              </p>
                              @if (checkOverflow(overflow) || infoExpand[i]) {
                                <a
                                  href="javascript:void(0)"
                                  class="read-more"
                                  (click)="expandInfoDescription(i)"
                                  [innerHTML]="infoExpand[i] ? showLess : showMore"
                                ></a>
                              }
                            }
                          </div>
                        </div>
                      }
                    }
                  </div>
                  @if (item.services.length > 0) {
                    <div class="content">
                      <h2 class="subheader trHeader">
                        <span class="pe-1" i18n="@@infraServices"
                          >Tutkimusinfrastruktuurin palvelut</span
                          >
                          <span
                            i18n-tooltip="@@infraServicesTooltip"
                      tooltip="Tiedejatutkimus.fi-palvelussa olevilla tutkimusinfrastruktuureilla on yksi tai useampi palvelu.
                            Palvelut voivat olla ulkopuolisten tahojen käytettävissä tai tarkoitettu oman organisaation tutkimusryhmälle.
                            Palvelu voi olla tarjolla myös muista kuin vastuuorganisaatiosta, jolloin sillä on useampi palvelupiste."
                            tabindex="0"
                            placement="top"
                            #elem
                            >
                            <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                          </span>
                        </h2>
                        @for (service of item.services; track service; let i = $index) {
                          <div
                            class="content"
                            >
                            <ng-container>
                              <div class="d-flex" (click)="toggleService(i)" #servicesRefs>
                                <h3
                                  class="header ms-2 trHeader subtitle service-name"
                                  [ngClass]="showService[i] ? 'open' : 'closed'"
                                  >
                                  {{
                                  stringHasContent(service.name)
                                  ? service.name
                                  : serviceHeader
                                  }}
                                  {{ service.acronym ? '(' + service.acronym + ')' : '' }}
                                </h3>
                                <div class="chevron-wrapper">
                                  @if (showService[i]) {
                                    <app-svg-sprites [iconName]="'chevron-up'" cssClass="chevron-up-icon single-page"></app-svg-sprites>
                                  }
                                  @if (!showService[i]) {
                                    <app-svg-sprites [iconName]="'chevron-down'" cssClass="chevron-down-icon single-page"></app-svg-sprites>
                                  }
                                </div>
                              </div>
                              @if (showService[i]) {
                                <div class="ps-4">
                                  @for (row of serviceFields; track row; let j = $index) {
                                    <div
                                      class="row"
                                      >
                                      @if (stringHasContent(service[row.field])) {
                                        <h4 class="col-12 col-sm-6 col-lg-3 th">
                                          <span class="pe-1">{{ row.label }}</span>
                                          @if (row.tooltip) {
                                            <ng-template #tooltipTemplate2
                                              ><div [innerHtml]="row.tooltip"></div
                                            ></ng-template>
                                            <span
                                              [tooltip]="tooltipTemplate2"
                                              tabindex="0"
                                              placement="top"
                                              #elem
                                              >
                                              <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                                            </span>
                                          }
                                        </h4>
                                        <div class="col-12 col-sm-6 col-lg-9 td">
                                          <p
                                [ngClass]="
                            serviceExpand[serviceExpandId(i, j)]
                              ? 'expand'
                              : 'short'
                          "
                                            #overflow
                                            >
                                            {{ service[row.field] }}
                                          </p>
                                          @if (
                                            checkOverflow(overflow) ||
                                            serviceExpand[serviceExpandId(i, j)]
                                            ) {
                                            <a
                                              href="javascript:void(0)"
                                              class="read-more"
                                (click)="
                            expandServiceDescription(serviceExpandId(i, j))
                          "
                                [innerHTML]="
                            serviceExpand[serviceExpandId(i, j)]
                              ? showLess
                              : showMore
                          "
                                            ></a>
                                          }
                                        </div>
                                      }
                                    </div>
                                  }
                                  @for (
                                    servicePoint of service.servicePoints; track
                                    servicePoint; let j = $index) {
                                    <div
                                      >
                                      <div class="row">
                                        <h4 class="col-12 col-sm-6 col-lg-3 th">
                                          <span class="pe-1" i18n="@@infraServicePoint"
                                            >Palvelupiste</span
                                            >
                                            <span
                                              i18n-tooltip="@@contactInfoTooltip"
                                tooltip="Kertoo palvelun yhteystiedot ja mahdolliset käyttöehdot.
                                                Kuvauksessa voidaan kertoa palvelupisteestä tarkemmin. Joskus palvelu voi olla erilainen eri palvelupisteissä esimerkiksi tarjolla olevan laitteiston kannalta."
                                              tabindex="0"
                                              placement="top"
                                              #elem
                                              >
                                              <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                                            </span>
                                          </h4>
                                          <div class="col-12 col-sm-6 col-lg-9 td">
                                            {{ servicePoint.name }}
                                          </div>
                                        </div>
                                        <div>
                                          @for (row of servicePointContactFields; track row) {
                                            <div
                                              class="row"
                                              >
                                              @if (servicePoint[row.field]?.trim()) {
                                                <h5 class="sr-only">{{ row.label }}</h5>
                                                <div
                                                  class="offset-0 offset-sm-6 offset-lg-3 col-12 col-sm-6 col-lg-9 pt-0 pb-0 td"
                                                  >
                                                  @if (
                                                    row.field === 'emailAddress') {
                                                    <a
                                                      href="javascript:void(0)"
                                    (click)="
                                  showEmail($event, servicePoint[row.field])
                                "
                                                      i18n="@@showEmailAddress"
                                                      >Näytä sähköpostiosoite</a
                                                      >
                                                    } @else {
                                                      {{
                                                      servicePoint[row.field]
                                                      }}
                                                    }
                                                  </div>
                                                }
                                              </div>
                                            }
                                            @for (row of servicePointInfoFields; track row) {
                                              <div
                                                class="row"
                                                >
                                                @if (servicePoint[row.field]?.trim()) {
                                                  <h5 class="col-12 col-sm-6 col-lg-3 th">
                                                    {{ row.label }}
                                                  </h5>
                                                  <div class="col-12 col-sm-6 col-lg-9 td">
                                                    <a
                                    [target]="
                                row.field === 'infoUrl' ? '_blank' : null
                              "
                                                      href="{{ servicePoint[row.field] }}"
                                                      >{{ servicePoint[row.field] }}
                                                      @if (
                                                        row.field === 'infoUrl' ||
                                                        row.field === 'accessPolicyUrl'
                                                        ) {
                                                        <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                                                      }
                                                    </a>
                                                  </div>
                                                }
                                              </div>
                                            }
                                          </div>
                                        </div>
                                      }
                                    </div>
                                  }
                                </ng-container>
                                <ng-template #simpleServicePoints>
                                  <p class="header trHeader">
                                    {{ service.name }}
                                    {{ service.acronym ? '(' + service.acronym + ')' : '' }}
                                  </p>
                                </ng-template>
                              </div>
                            }
                          </div>
                        }
                        <div class="content">
                          <h2 class="subheader trHeader" i18n="@@infraOtherInfo">
              Tutkimusinfrastruktuurin muut tiedot
            </h2>
                          @for (row of fieldsOfScience; track row; let i = $index) {
                            @if (item[row.field]) {
                              <div class="row">
                                <h2 class="col-12 col-sm-6 col-lg-3 th">{{ row.label }}</h2>
                                <div class="col-12 col-sm-6 col-lg-9 td">
                                  <p>{{ item[row.field] }}</p>
                                </div>
                              </div>
                            }
                          }
                          @if (classificationFields?.length > 0) {
                            <div class="row">
                              <h2
                                class="col-12 col-sm-6 col-lg-3 th"
                                i18n="@@infraClassifications"
                                >
                Luokituksia
              </h2>
                              @for (row of classificationFields; track row; let i = $index) {
                                <div
                                  class="col-12 col-sm-6 col-lg-3 offset-0 offset-sm-6 offset-lg-0 first-no-offset-mobile td"
                                  >
                                  @if (item[row.field]) {
                                    <h4 class="th classification">
                                      <span class="pe-1">{{ row.label }}</span>
                                      @if (row.tooltip) {
                                        <ng-template #tooltipTemplate3
                                          ><div [innerHtml]="row.tooltip"></div
                                        ></ng-template>
                                        <span
                                          [tooltip]="tooltipTemplate3"
                                          tabindex="0"
                                          placement="top"
                                          #elem
                                          >
                                          <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                                        </span>
                                      }
                                    </h4>
                                    <div>
                                      <p>{{ item[row.field] }}</p>
                                    </div>
                                  }
                                </div>
                              }
                            </div>
                          }
                          <!-- Contact -->
                          @if (contactFields?.length > 0) {
                            <div class="row">
                              <h2
                                class="col-12 col-sm-6 col-lg-3 pt-0 pb-0 contact th"
                                i18n="@@contactInfo"
                                >
                Yhteystiedot
              </h2>
                              @for (row of contactFields.slice(0, 1); track row; let i = $index) {
                                <div
                                  class="col-12 col-sm-6 offset-0 pt-0 pb-0 td"
                                  >
                                  @if (item[row.field]) {
                                    @if (row.field === 'email') {
                                      <h4 class="th sr-only">{{ row.label }}</h4>
                                      <a
                                        href="javascript:void(0)"
                                        (click)="showEmail($event, item[row.field])"
                                        i18n="@@showEmailAddress"
                                        >Näytä sähköpostiosoite</a
                                        >
                                      } @else {
                                        <h4 class="th sr-only">{{ row.label }}</h4>
                                        <div>{{ item[row.field] }}</div>
                                      }
                                    }
                                  </div>
                                }
                                @for (row of contactFields.slice(1); track row; let i = $index) {
                                  <div
                                    class="col-12 col-sm-6 offset-0 offset-sm-6 offset-lg-3 pt-0 pb-0 td"
                                    >
                                    @if (item[row.field]) {
                                      @if (row.field === 'email') {
                                        <h4 class="th sr-only">{{ row.label }}</h4>
                                        <a
                                          href="javascript:void(0)"
                                          (click)="showEmail($event, item[row.field])"
                                          i18n="@@showEmailAddress"
                                          >Näytä sähköpostiosoite</a
                                          >
                                        } @else {
                                          <h4 class="th sr-only">{{ row.label }}</h4>
                                          <div>{{ item[row.field] }}</div>
                                        }
                                      }
                                    </div>
                                  }
                                </div>
                              }
                              @for (row of otherFields; track row; let i = $index) {
                                @if (item[row.field]) {
                                  <div class="row">
                                    <h2 class="col-12 col-sm-6 col-lg-3 th">{{ row.label }}</h2>
                                    <div class="col-12 col-sm-6 col-lg-9 td">
                                      <p>{{ item[row.field] }}</p>
                                    </div>
                                  </div>
                                }
                              }
                            </div>
                          </div>
                        </div>
                      }
                    </main>
                    <!-- Sidebar -->
                    @for (item of [responseData.infrastructures[0]]; track item) {
                      <div
                        class="col-12 col-md-4"
                        >
                        <aside>
                          <mat-card appearance="outlined">
                            <div class="inner">
                              @if (item.urn) {
                                <mat-card-title><h2>Tunniste</h2></mat-card-title>
                                <div class="row pb-4">
                                  <div>{{ item.urn }}</div>
                                </div>
                              }
                              <mat-card-title
                                ><h2 i18n="@@infraHomePage">
              Infrastruktuurin verkkosivu
            </h2></mat-card-title
                              >
                              @if (linkFields?.length > 0) {
                                <div>
                                  @for (row of linkFields; track row) {
                                    <app-single-result-link
                                      [icon]="true"
                                      [url]="item[row.field]"
                                    ></app-single-result-link>
                                  }
                                </div>
                              }
                              @if (!linkFields.length) {
                                <div
                                  class="no-links"
                                  i18n="@@noInfraLinks"
                                  >
              Infrastruktuuriin ei ole tarjolla linkkejä tässä portaalissa
            </div>
                              }
                            </div>
                          </mat-card>
                        </aside>
                        <aside>
                          <mat-card appearance="outlined">
                            <div class="inner">
                              <mat-card-title
                                ><h2>
                                <ng-container i18n="@@relatedInfrastructures"
                                  >Hae infrastruktuuriin liittyvät</ng-container
                                  >
                                  (<ng-container i18n="@@comingSoon">tulossa</ng-container>)
                                </h2></mat-card-title
                                >
                                <app-related-links
                                  [id]=""
                                  [relatedData]="relatedData"
                                ></app-related-links>
                              </div>
                            </mat-card>
                          </aside>
                          <!-- Social icons -->
                          <aside>
                            <mat-card appearance="outlined">
                              <div class="inner">
                                <mat-card-title><h2 i18n="@@share">Jaa</h2></mat-card-title>
                                <app-share [id]="item.id"></app-share>
                              </div>
                            </mat-card>
                          </aside>
                          <!-- Source -->
                          <aside>
                            <mat-card appearance="outlined">
                              <div class="inner">
                                <mat-card-title
                                  ><h2 i18n="@@infraSource">
              Infrastruktuuritiedon lähde
            </h2></mat-card-title
                                >
                                @for (source of responseData.infrastructures; track source) {
                                  <div>
                                    @if (
                                      source?.responsibleOrganization?.trim().length > 0) {
                                      <a
                      routerLink="/results/organization/{{
                  source.responsibleOrganizationId
                }}"
                                        >
                                        {{ source.responsibleOrganization }}
                                      </a>
                                    } @else {
                                      <p class="fst-italic m-0" i18n="@@missingInfraSource">
                  Infrastruktuuritiedon lähde puuttuu.
                </p>
                                    }
                                  </div>
                                }
                                <div class="clear"></div>
                              </div>
                            </mat-card>
                          </aside>
                        </div>
                      }
                    </div>
                  </div>
                }
