@import '~@angular/material/theming';

@mixin app-filter-publications-theme($theme) {
    $primary: map-get($theme, primary);

    app-filter-publications {
        
        .filter-sidebar {
            background: mat-color($primary, 50);
        }
        
        h3 {
            color: mat-color($primary);
        }
        
        .mat-expansion-panel:not([class*=mat-elevation-z]):not(:last-child) {
            border-bottom: 1px solid mat-color($primary, 400);
        }
        
        .navbar-toggler {
            background: mat-color($primary, 50);
            border: 1px solid mat-color($primary);
        }
    }
}