//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT
.overflow-wrapper {
  overflow: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 440px);
}

.legend {
  margin-top: 100px;
}
