.radio-button-overlay {
  position: relative;
  right: 297px;
  top: 35px;
  width: 300px;
  height: auto;
  background: #fff;
  border: 1px solid #e8e8f5;
  padding: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 5px 5px -3px, rgba(0, 0, 0, 0.09) 0px 8px 10px 1px, rgba(0, 0, 0, 0.04) 0px 3px 14px 2px;
  border-radius: 5px;
}