@if (showMenu) {
  <div class="radio-button-overlay" (clickOutside)="onClickedOutside($event)">
    <mat-radio-group
      aria-labelledby="test"
      class="form-group"
      required="true"
      >
      @for (target of targets; track target; let i = $index) {
        <mat-radio-button
          class="radio-button"
          [value]="target"
          [checked]="selections[i]"
          (change)="changeSelection(i)"
          >
          {{ target }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </div>
}