<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-template #editorTemplate>
  <ng-container
    *ngIf="
      portalModalIndicatorIds.indexOf(editorData.id) === -1;
      else tabTemplate
    "
  >
    <div class="row d-flex justify-content-between py-2">
      <div class="col-12 col-lg-auto font-size-big">
        <span i18n="@@selectInformationToDisplayInProfile">
          Valitse profiilissasi näytettävät tiedot
        </span>
      </div>

      <div class="col-auto pb-3">
        <mat-checkbox
          [checked]="!toggleAllDisabled && allSelected"
          (change)="toggleAll($event)"
          [indeterminate]="someSelected"
          [disabled]="toggleAllDisabled"
          i18n="@@selectAll"
          cdk
          cdkFocusInitial
          autoFocus
          [trigger]="dialogData.trigger"
          >Valitse kaikki</mat-checkbox
        >
      </div>
    </div>

    <app-profile-panel
      [data]="editorData"
      (onSingleItemToggle)="checkAllSelected()"
    ></app-profile-panel>
  </ng-container>

  <!-- Tabbed layout for groups that leverage search from portal -functionality -->
  <ng-template #tabTemplate>
    <mat-tab-group
      mat-align-tabs="start"
      class="px-3"
      [(selectedIndex)]="currentTabIndex"
      (selectedTabChange)="onTabChange($event)"
    >
      <mat-tab [label]="selectItemsTabLabel">
        <div class="row tab-info background-light pt-3 my-4">
          <div class="col-auto">
            <fa-icon class="info-icon big-icon" icon="info-circle"></fa-icon>
          </div>
          <div class="col ps-0">
            <p class="fw-bold" i18n="@@selectInformationToDisplayInProfile">
              Valitse profiilissasi näytettävät tiedot
            </p>

            <p>
              {{ tabInfoText }}
            </p>

            <p *ngIf="editorData.fields[0].items.length">
              {{ chooseItemsText }}
            </p>
          </div>
        </div>

        <app-profile-items-table
          [columns]="tableColumns"
          [data]="editorData"
          (onSingleItemToggle)="checkAllSelected()"
          (onAllItemToggle)="checkAllSelected()"
          *ngIf="
            editorData.fields[0].items.length && currentTabIndex === 0;
            else noOrcidItemsTemplate
          "
        >
        </app-profile-items-table>

        <ng-template #noOrcidItemsTemplate>
          <p class="fw-bold">
            <ng-container i18n="@@orcidTemplateStatusSubstring1">Ei ORCID-tunnukseen yhdistettyjä </ng-container>
            {{addFromPortalTabString.toLowerCase()}}
            <ng-container i18n="@@orcidTemplateStatusSubstring2">&nbsp;</ng-container>
          </p></ng-template
        >
      </mat-tab>

      <mat-tab
        [disabled]="disabledSearchPortalModalIds.indexOf(editorData.id) > -1"
      >
        <ng-template mat-tab-label>
          <fa-icon [icon]="faSearch" class="pe-3"></fa-icon>
          <ng-container i18n="@@searchForOther">Hae muita</ng-container>
          {{ addFromPortalTabString.toLowerCase() }}
          <ng-container
            *ngIf="disabledSearchPortalModalIds.indexOf(editorData.id) > -1"
            >(<span i18n="@@comingSoon">Tulossa</span>)</ng-container
          >
        </ng-template>

        <ng-container *ngIf="currentTabIndex === 1">
          <app-search-portal
            [data]="editorData"
            (onAddItems)="handleSelection($event)"
            [columns]="tableColumns"
          >
          </app-search-portal>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</ng-template>

<app-dialog
  *ngIf="showDialog"
  [template]="editorTemplate"
  [title]="dialogData.data.label"
  [actions]="dialogActions"
  (onActionClick)="doDialogAction($event)"
  [selectedItemsCount]="selectedItems.length || 0"
>
</app-dialog>
