<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-template #toggleAllTemplate>
  <div
    class="col-12 col-sm-auto pt-3 pt-sm-0 align-self-center order-3 order-sm-2"
  >
    <mat-checkbox
      [checked]="!toggleAllDisabled && allSelected"
      (change)="toggleAll($event)"
      [indeterminate]="someSelected"
      [disabled]="toggleAllDisabled"
      i18n="@@selectAll"
      cdk
      autoFocus
      [trigger]="dialogData.trigger"
      >Valitse kaikki</mat-checkbox
    >
  </div>
</ng-template>

<ng-template #editorTemplate>
  <app-profile-panel
    [data]="editorData"
    (onSingleItemToggle)="checkAllSelected()"
  ></app-profile-panel>
</ng-template>

<app-dialog
  *ngIf="showDialog"
  [template]="editorTemplate"
  [title]="dialogData.data.label"
  [extraHeaderTemplate]="toggleAllTemplate"
  [actions]="dialogActions"
  (onActionClick)="doDialogAction($event)"
>
</app-dialog>
