@import '@angular/material/theming';

@mixin app-single-result-theme-shared($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  app-single-publication,
  app-single-funding,
  app-single-dataset,
  app-single-infrastructure,
  app-single-organization,
  app-single-funding-call,
  app-single-result-link {
    .shared {
      tr:nth-child(even),
      .content:nth-child(even) {
        background-color: mat-color($primary, 50);
      }

      th,
      td {
        color: mat-contrast($primary, 50);
      }

      td {
        p:first-child {
          color: mat-contrast($primary, 50);
        }
      }

      aside a {
        color: mat-color($primary);
      }

      .mat-raised-button.mat-primary {
        background: white;
        color: mat-color($primary);
        border: 2px solid mat-color($primary);
        border-radius: 20px;
      }

      .mat-raised-button:disabled.mat-primary {
        background: white;
        color: mat-color($primary, lighter);
        border: 2px solid mat-color($primary, lighter);
        border-radius: 20px;
      }

      .guide-line,
      .guide-line-top {
        background: mat-color($primary);
      }

      // Links
      div.links {
        .icon {
          color: mat-color($primary);
        }

        .link-tag {
          background: mat-contrast($primary, 200);
          color: mat-contrast($primary, 500);
        }
        .link-item {
          a {
            color: mat-color($primary);
          }
        }

        .link-tag,
        .link-item {
          vertical-align: middle;
        }

        .link {
          color: black;
          border: 2px solid rgba(0, 0, 0, 0.87);
          background: white;
          border-radius: 2px;
        }
      }

      // Reference
      .reference .no-doi-warn {
        color: mat-color($warn);
      }
    }
  }
}
