<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="full-width">
  <div class="row d-flex justify-content-center">
    <div class="col-auto p-4">
      <h1 class="m-0 text-white">Tutkijan tiedot</h1>
    </div>
  </div>
  <div class="row pb-4 d-none d-lg-block">
    <div class="col text-center">
      <p class="text-white">Hallinnoi julkista tutkijaprofiiliasi tiedejatutkimus.fi -hakuportaalissa</p>
    </div>
  </div>
</div>
<main id="main-content">
  <div class="row pb-4 d-lg-none">
    <div class="col text-center">
      <p>Hallinnoi julkista tutkijaprofiiliasi tiedejatutkimus.fi -hakuportaalissa</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col col-lg-auto">
      <lib-primary-action-button content="Ota palvelu käyttöön" routerLink="introduction" [big]="true"></lib-primary-action-button>
    </div>
  </div>
</main>

