<div class="full-width">
  <div class="row d-flex justify-content-center">
    <div class="col-auto p-4">
      <h1 class="m-0" style="color: white;">Tutkijan tiedot</h1>
    </div>
  </div>
</div>
<main id="main-content">
  <div class="row pb-4">
    <div class="col text-center">
      <p>Hallinnoi julkista tutkijaprofiiliasi tiedejatutkimus.fi -hakuportaalissa</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <lib-primary-action-button content="Ota palvelu käyttöön" routerLink="introduction"></lib-primary-action-button>
    </div>
  </div>
</main>

