@import '~@angular/material/theming';

@mixin app-science-politics-theme-shared($theme) {
  $primary: map-get($theme, primary);

  app-figures,
  app-research-innovation-system,
  app-single-figure,
  app-service-info {
    .base {
      background: rgba(255, 255, 255, 0.5);
    }

    .content {
      border-left: 0.5rem solid mat-color($primary, 200);
    }
  }
}
