//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

app-news-card {
  h2 {
    font-size: 20px;
  }

  h3 {
    overflow-x: hidden;
  }

  .icon {
    font-size: 1rem;
  }

  .link a.org-link {
    // position: absolute;
    bottom: 0;
  }

  a:focus {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    max-height: 80px;
  }

  .mat-card-header-text {
    margin: 0 !important;
  }

  mat-card-content .preview {
    // IE
    display: block;
    line-height: 1.5em;

    p {
      margin-bottom: 0;
    }
  }

  // Side news
  .side {
    h3 {
      font-size: 1rem;
    }

    padding: 0;

    .icon {
      display: inline-block;
    }
  }

  @media (max-width: 991px) {
    .mat-card-header-text {
      margin: 0 !important;
    }
  }
}
