//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

app-news-card {
  .news-card-divider {
    margin-bottom: 30px;
    background: transparent;
  }

  &.organizations-page {
    .news-card-divider {
      margin-top: -10px;
      margin-bottom: 15px;
    }
    .news-img {
      display: none;
    }
  }
  &.latest-news-page {
    .news-card-divider {
      margin-bottom: 0px;
    }
  }

  margin-bottom: -15px;
  &.static-height-version {
    /*  TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    mat-card {
      min-height: 162px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    overflow-x: hidden;
  }

  .icon {
    font-size: 1rem;
  }

  .link a.org-link {
    // position: absolute;
    bottom: 0;
  }

  a:focus {
    text-decoration: underline;
  }

  .news-img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    padding: 15px;
    margin-top: 8px;
  }

  .date-line {
    display: flex;
    font-size: 0.95rem;
    color: #000000c7;

    &.accented-line {
      //margin-left: -15px;

      .inline-date {
        display: inline-flex;
        margin-left: 10px;
        font-weight: bold;
      }

      &:before {
        width: 8px;
        height: 22px;
        background: #4546b9;
        content: '';
        display: inline-flex;
        position: relative;
        margin-right: 15px;
      }
    }
  }

  .author-line {
    font-size: 0.9rem;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  .mat-card-header-text {
    margin: 0 !important;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  .mat-card-header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mat-mdc-card-subtitle {
    margin-bottom: 12px;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  mat-card-content {
    // &.low-content {
    //   //height: 3rem;
    // }
    &.preview {
      // IE
      display: block;
      line-height: 1.5em;

      p {
        margin-bottom: 0;
      }
    }
    p:last-child {
      margin-bottom: 0.25rem;
    }
  }

  .mat-mdc-card-footer {
    margin: -22px -15px;
  }

  // Side news
  .dense {
    h3 {
      font-size: 1rem;
    }

    .icon {
      display: inline-block;
    }
  }

  @media screen and (max-width: 991px) {
    /*  TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    .mat-card-header-text {
      margin: 0 !important;
    }
  }
  @media screen and (max-width: 515px) {
    .news-img {
      padding: 0px;
    }
  }
}
