//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@mixin app-news-card-theme($theme) {
  $primary: map-get($theme, primary);

  .tint-background {
    background: mat-color($primary, 50);
  }

  .news-divider {
    border-bottom: mat-color($primary) solid 2px;
  }

  .news-card-divider {
    background: mat-color($primary, 50);
    hr {
      background: mat-color($primary) !important;
      height: 1px;
      margin: 0px 15px 15px 15px;
    }
  }

  app-news-card {
    mat-card {
      margin-top: 15px;
      padding: 10px;
      &.mat-card {
        background-color: #fff;
      }

      &.mat-card.limit-width {
        max-width: 760px;
      }

      .mat-card-header-text {
        width: 100%;
      }

      .mat-card-title {
        //border-bottom: mat-color($primary) solid 2px;
      }

      mat-card-content {
        margin: 0 16px;
      }

      mat-card-actions {
        font-size: 14px;
        margin: 0 16px !important;
      }

      mat-card-subtitle {
        margin-bottom: 0px;
      }

      .icon {
        color: mat-color($primary);
      }
    }
  }
}
