.account-settings-wrap {
  h3 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .side-navigation-side-border {
    border-right: 2px solid #E8E8F3;
    height: 100vh;
  }
  .bordered-section {
    display: flex;
    align-content: space-between;
    background: #fff;
    border: 1px solid #e8e8f5;
    padding: 10px;
    min-height: 250px;
    margin-bottom: 30px;
  }
  .button-row {
    height: 57px;
  }

  img.orcid-icon {
    height: 1.2rem;
    width: auto;
  }
}
