<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<app-collaboration-view [hasEditRights]='true' [label]="label" [hasCheckedOption]="hasCheckedOption" [collaborationOptions]="collaborationOptions" (handleOpenDialog)="openDialog()"></app-collaboration-view>

<ng-template #dialogTemplate>
  <div class="profile-tool-modal">
  <div class="row pb-3">
    <span class="col" i18n="@@selectInformationToDisplayInProfile"
      >Valitse profiilissasi näytettävät tiedot</span>
  </div>

  <section class="col py-3 px-3">
    <mat-checkbox
      class="py-1 w-100"
      *ngFor="let option of collaborationOptions; let i = index"
      (change)="toggleOption(i, $event)"
      [checked]="option.selected"
      >{{ option[nameLocale] }}</mat-checkbox
    >
  </section>
  </div>
</ng-template>

<app-dialog
  *ngIf="showDialog"
  [template]="dialogTemplate"
  [actions]="dialogActions"
  i18n-title="@@cooperation"
  title="Yhteistyö"
  (onActionClick)="doDialogAction($event)"
></app-dialog>

<div class="row mt-3">
  <section>
    <ng-container *ngFor="let option of collaborationOptions">
      <mat-checkbox
        class="py-1 py-lg-0 w-100"
        *ngIf="option?.selected"
        [checked]="true"
        disabled
        color="primary"
      >
        {{ option[nameLocale] }}
      </mat-checkbox>
    </ng-container>
  </section>
</div>
