//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

/*
 * Theme colors defined in profile.component-theme.scss
 */

app-collaboration-card {
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-disabled span.mat-checkbox-label {
    color: inherit;
  }
}

li {
  margin-bottom: 10px;
}

.group-wrapper {
  background: #fff;
  border: 1px solid #e8e8f5;
  padding: 10px;
  margin-bottom: 10px;
}
