// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

@import '~@angular/material/theming';

@mixin app-profile-data-handler-theme($theme) {
  $primary: map-get($theme, primary);

  app-profile-data-handler,
  app-profile-panel {
    .field-label {
      color: mat-contrast($primary, 300);
    }

    .field-value {
      border-left: 0.5rem solid mat-color($primary);
    }

    .row.field.disabled {
      background: mat-contrast($primary, 450);
    }

    .field-disabled-label {
      background: #ffc400;
    }
  }
}
