<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<!-- Primary source -->
<!-- <app-select
  label="Ensisijainen lähde"
  [options]="dataSources"
  [labelBefore]="true"
  [defaultToFirst]="true"
  (onSelectionChange)="setPrimaryDataSource($event)"
></app-select> -->

<div class="row">
  <div class="col px-0 pb-3">
    <app-mydata-beta-info
      [template]="betaInfo"
      [showCloseButton]="true"
    ></app-mydata-beta-info>

    <ng-template #betaInfo>
      <div class="row">
        <div class="col">
          <p>
            Voit testata tässä työkalun toiminnallisuuksia ja
            julkisuusvalintoja.
            <br />
            Tietosi on haettu ORCID-profiilistasi. Varinaiseen palveluun on
            tarkoitus hakea käyttäjän tiedot myös kotiorganisaatiosta (esim.
            yliopistosta), mutta tätä ominaisuutta ei ole käytössä vielä tässä
            testityökalussa. Voit kuitenkin kokeilla "feikkiaineistolla"
            kotiorganisaatiosta tuotavien tietojen valitsemista profiiliisi.
          </p>
          <p>
            Huom. Tässä testityökalussa julkisiksi valitsemiasi tietoja ei
            julkaista eikä luovuteta tietokannasta ulospäin.
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="row pb-3 d-flex justify-content-center">
  <div class="col px-0">
    <div
      *ngFor="let item of profileData; let i = index"
      class="p-3 mat-elevation-z1 rounded"
      [class.opacity-3]="item.fields.length === 0"
    >
      <div class="row d-flex justify-content-between">
        <div class="col font-weight-bold">
          {{ item.label }}
        </div>

        <div class="col-auto">
          {{ (item.fields | countGroupItems: true).length }}

          /
          {{ (item.fields | countGroupItems).length }}
          valittu
        </div>

        <a
          href="javascript:void(0)"
          (click)="openDialog($event, i, item.editLabel)"
          class="col-auto"
          [class.disabled]="item.fields.length === 0"
          >Muokkaa...</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row pt-5 pb-3 d-flex justify-content-center">
  <div class="col-auto py-2">
    <app-secondary-button
      (click)="toggleSelectAll(true)"
      disabled
      content="Aseta kaikki julkisiksi"
    ></app-secondary-button>
  </div>
  <div class="col-auto py-2">
    <app-secondary-button
      (click)="toggleSelectAll(false)"
      disabled
      content="Tyhjennä kaikki valinnat"
    ></app-secondary-button>
  </div>
</div>
