<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<app-select
  label="Ensisijainen lähde"
  [options]="dataSources"
  [labelBefore]="true"
  [defaultToFirst]="true"
  (onSelectionChange)="setPrimaryDataSource($event)"
></app-select>

<div class="row pb-3 d-flex justify-content-center">
  <div class="col px-0">
    <div
      class="p-3 mat-elevation-z1 rounded"
      *ngFor="let item of profileData; let i = index"
    >
      <div class="row d-flex justify-content-between">
        <div class="col font-weight-bold">
          {{ item.label }}
        </div>

        <div class="col-auto">
          {{ (item.fields | filter: checkSelected).length }} /
          {{ item.fields.length }} valittu
        </div>

        <a
          href="javascript:void(0)"
          (click)="openDialog($event, i, item.editLabel)"
          class="col-auto"
          >Muokkaa...</a
        >
      </div>

      <!-- Editor modal -->
      <!-- <ng-template #editorModal>
        <app-editor-modal
          [data]="selectedData"
          [dataSources]="dataSources"
          [primarySource]="primarySource"
          [editLabel]="item.editLabel"
          (emitClose)="closeModal()"
          (dataChange)="patchData($event)"
        ></app-editor-modal>
      </ng-template> -->
    </div>
  </div>
</div>
