//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - I

app-publications-list {
  .mat-checkbox-inner-container {
    margin-top: 0.175rem !important;
  }

  table {
    width: 100%;
  }

  mat-header-row {
    min-height: unset;
  }

  mat-row,
  mat-footer-row {
    min-height: unset;
    align-items: unset;
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    padding: 0.5rem;
    align-items: flex-start;
  }

  mat-cell {
    margin-top: 0.25rem;
  }

  .mat-column-selection {
    flex: 0 0 2rem;
    overflow: visible;
  }

  .mat-column-year {
    flex: 0 0 3.5rem;
  }

  .mat-column-name {
    flex-direction: column;
  }

  .mat-column-edit {
    flex: 0 0 6.5rem;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0;
  }
}
