<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>
<div class="wrapper" *ngIf="responseData" id="main-content">
  <div class="row shared">
    <p class="back col-12" style="padding-bottom: 0.25rem">
      <a
        #backToResultsLink
        routerLink="/results/{{ tab }}/{{ searchTerm }}"
        [queryParams]="tabQueryParams"
        >&lt;
        <ng-container i18n="@@backToResults"
          >Takaisin hakutuloksiin</ng-container
        ></a
      >
    </p>
  </div>
  <!-- Breadcrumb -->
  <app-breadcrumb
    [type]="'single'"
    [responseData]="responseData"
    [tab]="tab"
    [tabName]="tabData.label"
    [resultNameField]="'title'"
    [queryParams]="tabQueryParams"
  ></app-breadcrumb>
  <div class="row shared">
    <div
      class="col-12"
      style="margin: 10px 0 10px 0"
      *ngIf="responseData.total === 0"
    >
      <h2 i18n="@@404">404 - Virheellinen osoite</h2>
    </div>
    <main class="col-12 col-md-8">
      <div *ngFor="let item of responseData.publications">
        <h1
          class="result-header"
          [attr.lang]="
            item.languageCode !== documentLang ? item.languageCode : null
          "
        >
          {{ item.title }}
        </h1>
        <div id="info">
          <div class="row content" *ngFor="let row of infoFields">
            <h2 class="col-12 col-sm-6 col-lg-3 th">
              <span class="pe-1">{{ row.label }}</span>
              <ng-container *ngIf="row.tooltip">
                <ng-template #tooltipTemplate>
                  <div [innerHtml]="row?.tooltip"></div>
                </ng-template>
                <span
                  [tooltip]="tooltipTemplate"
                  tabindex="0"
                  placement="top"
                  #elem
                >
                  <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                </span>
              </ng-container>
            </h2>
            <div class="col-12 col-sm-6 col-lg-9 td">
              <div [ngClass]="expand ? 'expand' : 'short'">
                {{ item[row.field] }}
              </div>
              <a
                href="javascript:void(0)"
                class="read-more"
                *ngIf="(row.field === 'abstract' && item.abstract?.length > 256) || (row.field === 'authors' && item.authors?.length > 256)"
                (click)="expandDescription()"
                [innerHTML]="expand ? showLess : showMore"
              ></a>
            </div>
          </div>
          <div
            class="row content pb-0"
            [class.pb-0]="hasSubUnits"
            [class.auth-min-height]="
              hasSubUnits && authorAndOrganization.length <= 1
            "
            *ngIf="
              authorAndOrganization[0]?.orgName.length > 0 ||
              authorAndOrganization[0]?.authors.length > 0
            "
          >
            <h2
              class="col-12 col-sm-6 col-lg-3 th"
              [class.auth-header-min-height]="hasSubUnits"
            >
              <span class="pe-1" i18n="@@authorOrganization"
                >Organisaatiot ja tekijät</span
              >
              <ng-container>
                <span
                  i18n-tooltip="@@orgAndAuthorsTooltip"
                  tooltip="Julkaisun tekijät, joilla on suomalainen organisaatio."
                  tabindex="0"
                  placement="top"
                  #elem
                >
                  <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                </span>
              </ng-container>
              <div class="show-more-wrapper" *ngIf="hasSubUnits">
                <button
                  class="show-more"
                  *ngIf="!showSubUnits"
                  (click)="showSubUnits = true"
                  i18n="@@showSpecific"
                >
                  Näytä tarkemmin
                </button>
                <button
                  class="show-more"
                  *ngIf="showSubUnits"
                  (click)="showSubUnits = false"
                  i18n="@@hideSubUnits"
                >
                  Piilota alayksiköt
                </button>
              </div>
            </h2>
            <div
              class="col-12 col-sm-6 col-lg-9 td"
              *ngFor="let row of authorAndOrganization.slice(0, 1)"
            >
              <a class="th" href="/results/organization/{{ row.orgId }}">{{
                row.orgName
              }}</a>
              <div *ngFor="let unit of row.orgUnits">
                <div class="row" *ngIf="showSubUnits">
                  <div class="col-1 guide">
                    <span class="guide-line">
                      <span class="guide-line-top"></span>
                    </span>
                  </div>
                  <div class="col sub-unit">
                    <p>
                      {{ unit.subUnit }}
                    </p>
                  </div>
                </div>
              </div>
              <div *ngFor="let author of row.authors">
                <div *ngIf="author.author.trim().length > 2">
                  <p class="td" [ngClass]="author.orcid ? 'has-orcid' : ''">
                    {{ author.author }} {{author.artPublicationRoleName ? '- ' + author.artPublicationRoleName : ''}}
                    <app-orcid
                      *ngIf="author.orcid"
                      [orcid]="author.orcid"
                    ></app-orcid>
                  </p>
                  <ng-container *ngIf="showSubUnits">
                    <ng-container *ngFor="let subUnit of author.subUnits">
                      <div
                        class="row"
                        *ngIf="subUnit !== null && subUnit !== ' '"
                      >
                        <div class="col-1 guide">
                          <span class="guide-line">
                            <span class="guide-line-top"></span>
                          </span>
                        </div>
                        <div class="col sub-unit">
                          <p>
                            {{ subUnit }}
                          </p>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <ng-container>
            <div></div>
            <div class="row content">
              <div
                class="col-12 col-sm-6 col-lg-9 offset-0 offset-sm-6 offset-lg-3 td"
                *ngFor="let row of authorAndOrganization.slice(1)"
              >
                <a class="th" href="/results/organization/{{ row.orgId }}">{{
                  row.orgName
                }}</a>
                <div *ngFor="let unit of row.orgUnits">
                  <div class="row" *ngIf="showSubUnits">
                    <div class="col-1 guide">
                      <span class="guide-line">
                        <span class="guide-line-top"></span>
                      </span>
                    </div>
                    <div class="col sub-unit">
                      <p>
                        {{ unit.subUnit }}
                      </p>
                    </div>
                  </div>
                </div>
                <div *ngFor="let author of row.authors">
                  <div *ngIf="author.author.trim().length > 0">
                    <p class="td" [ngClass]="author.orcid ? 'has-orcid' : ''">
                      {{ author.author }}
                      <app-orcid
                        *ngIf="author.orcid"
                        [orcid]="author.orcid"
                      ></app-orcid>
                    </p>
                    <ng-container *ngIf="showSubUnits">
                      <ng-container *ngFor="let subUnit of author.subUnits">
                        <div
                          class="row"
                          *ngIf="subUnit !== null && subUnit !== ' '"
                        >
                          <div class="col-1 guide">
                            <span class="guide-line">
                              <span class="guide-line-top"></span>
                            </span>
                          </div>
                          <div class="col sub-unit">
                            <p>
                              {{ subUnit }}
                            </p>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- <div class="row content" *ngIf="organizationSubFields.slice(0,1).length > 0">
                        <div class="col-12 col-sm-6 col-lg-3 th">Organisaation alayksiköt</div>
                        <div class="col-12 col-sm-6 col-lg-9 td" *ngFor="let row of organizationSubFields.slice(0,1)">
                            <p class="td">{{item[row.field]}}</p>
                        </div>
                    </div> -->
          <ng-container *ngFor="let row of organizationSubFields.slice(1)">
            <div></div>
            <div class="row content">
              <div
                class="col-12 col-sm-6 col-lg-9 offset-0 offset-sm-6 offset-lg-3 td"
              >
                <h3 class="th">{{ row.label }}</h3>
                <p class="td">{{ item[row.field] }}</p>
              </div>
            </div>
          </ng-container>
          <!-- Publication type -->
          <div class="row content" *ngIf="typeFields?.length > 0">
            <h2 class="col-12 col-sm-6 col-lg-3 th" i18n="@@publicationType">
              Julkaisutyyppi
            </h2>
            <div
              class="col-12 col-sm-6 col-lg-3 offset-0 offset-sm-6 offset-lg-0 first-no-offset-mobile td"
              *ngFor="let row of typeFields?.slice(0, 3)"
            >
              <h3 class="th">
                <span class="pe-1">{{ row.label }}</span>
                <ng-container *ngIf="row.tooltip">
                  <ng-template #tooltipTemplate>
                    <div [innerHtml]="row.tooltip"></div>
                  </ng-template>
                  <span
                    [tooltip]="tooltipTemplate"
                    tabindex="0"
                    placement="top"
                    #elem
                  >
                    <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                  </span>
                </ng-container>
              </h3>
              <p class="td" innerHtml="{{ item[row.field] }}"></p>
            </div>
          </div>
          <ng-container *ngFor="let row of typeFields.slice(3); let i = index">
            <div *ngIf="i % 3 == 0"></div>
            <div class="row content" *ngIf="i % 3 == 0">
              <!-- First col -->
              <div
                class="col-12 col-sm-6 col-lg-3 offset-0 offset-sm-6 offset-lg-3 td"
              >
                <h3 class="th">
                  <span class="pe-1">{{ row.label }}</span>
                  <ng-container *ngIf="row.tooltip">
                    <ng-template #tooltipTemplate>
                      <div [innerHtml]="row.tooltip"></div>
                    </ng-template>
                    <span
                      [tooltip]="tooltipTemplate"
                      tabindex="0"
                      placement="top"
                      #elem
                    >
                      <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                    </span>
                  </ng-container>
                </h3>
                <span *ngIf="!row['link']">{{ item[row.field] }}</span>
              </div>
              <!-- Second col -->
              <div
                class="col-12 col-sm-6 col-lg-3 offset-0 offset-sm-6 offset-lg-0 td"
                *ngIf="typeFields.slice(3).length > i + 1"
              >
                <h3 class="th">
                  <span class="pe-1">{{
                    typeFields.slice(3)[i + 1].label
                  }}</span>
                  <ng-container *ngIf="typeFields.slice(3)[i + 1].tooltip">
                    <ng-template #tooltipTemplate>
                      <div
                        [innerHtml]="typeFields.slice(3)[i + 1].tooltip"
                      ></div>
                    </ng-template>
                    <span
                      [tooltip]="tooltipTemplate"
                      tabindex="0"
                      placement="top"
                      #elem
                    >
                      <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                    </span>
                  </ng-container>
                </h3>
                <span>{{ item[typeFields.slice(3)[i + 1].field] }}</span>
              </div>
              <!-- Third col -->
              <div
                class="col-12 col-sm-6 col-lg-3 offset-0 offset-sm-6 offset-lg-0 td"
                *ngIf="typeFields.slice(3).length > i + 2"
              >
                <h3 class="th">
                  <span class="pe-1">{{
                    typeFields.slice(3)[i + 2].label
                  }}</span>
                  <ng-container *ngIf="typeFields.slice(3)[i + 2].tooltip">
                    <ng-template #tooltipTemplate>
                      <div
                        [innerHtml]="typeFields.slice(3)[i + 2].tooltip"
                      ></div>
                    </ng-template>
                    <span
                      [tooltip]="tooltipTemplate"
                      tabindex="0"
                      placement="top"
                      #elem
                    >
                      <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                    </span>
                  </ng-container>
                </h3>
                <span>{{ item[typeFields.slice(3)[i + 2].field] }}</span>
              </div>
            </div>
          </ng-container>

          <!-- Medium -->
          <div class="row content" *ngIf="mediumFields?.length > 0">
            <h2
              class="col-12 col-sm-6 col-lg-3 th"
              i18n="@@publicationMediumInfo"
            >
              Julkaisukanavan tiedot
            </h2>
            <div class="col px-0">
              <div class="row">
                <div
                  class="col-12 col-lg-4 td"
                  *ngFor="let row of mediumFields"
                >
                  <h3 class="th">
                    <span class="pe-1">{{ row.label }}</span>
                    <ng-container *ngIf="row.tooltip">
                      <ng-template #tooltipTemplate>
                        <div [innerHtml]="row.tooltip"></div>
                      </ng-template>
                      <span
                        [tooltip]="tooltipTemplate"
                        tabindex="0"
                        placement="top"
                        #elem
                      >
                        <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                      </span>
                    </ng-container>
                  </h3>
                  <p
                    class="td"
                    *ngIf="row.link"
                    [attr.lang]="
                      row['lang'] && item.languageCode !== documentLang
                        ? item.languageCode
                        : null
                    "
                    [ngSwitch]="true"
                  >
                    <!-- Check if fields are issn or isbn and target search with exact field  -->
                    <a
                      class="td publication-link"
                      *ngSwitchCase="
                        row.field === 'issn' || row.field === 'isbn'
                      "
                      routerLink="{{ row.linkPath }}&quot;{{
                        item[row.field]
                      }}&quot;"
                      [queryParams]="{ target: row.field }"
                    >
                      {{ item[row.field] }}
                    </a>
                    <!-- JuFo code links to external path -->
                    <a
                      class="td publication-link"
                      *ngSwitchCase="row.field === 'jufoCode'"
                      href="{{ row.linkPath }}{{ item[row.field] }}"
                      target="_blank"
                    >
                      {{ item[row.field]
                      }}<fa-icon
                        class="icon"
                        icon="external-link-alt"
                      ></fa-icon>
                    </a>
                    <!-- Parent publication name -->
                    <a
                      class="td publication-link"
                      *ngSwitchCase="row.field === 'parentPublicationName'"
                      routerLink="{{ row.linkPath }}&quot;{{
                        item[row.field]
                      }}&quot;"
                      [queryParams]="{ target: row.field }"
                    >
                      {{ item[row.field] }}
                    </a>
                    <ng-container *ngSwitchDefault>
                      <ng-container
                        *ngIf="item.jufoCode?.length > 1; else noJufoCode"
                      >
                        <!-- Every other link field uses jufoCode as search term -->
                        <a
                          class="td publication-link"
                          routerLink="{{ row.linkPath }}&quot;{{
                            item.jufoCode
                          }}&quot;"
                          [queryParams]="{ target: 'jufoCode' }"
                        >
                          {{ item[row.field] }}
                        </a>
                      </ng-container>
                      <ng-template #noJufoCode>
                        {{ item[row.field] }}
                      </ng-template>
                    </ng-container>
                  </p>
                  <!-- Show label only if no search functionality -->
                  <p class="td" *ngIf="!row.link">{{ item[row.field] }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Open access-->
          <div class="row content" *ngIf="open_accessFields?.length > 0">
            <h2 class="col-12 col-sm-6 col-lg-3 th" i18n="@@openAccess">
              Avoin saatavuus
            </h2>
            <div class="col px-0">
              <div class="row">
                <div
                  class="col-12 col-lg-4 td"
                  *ngFor="let row of open_accessFields"
                >
                  <h3 class="th">
                    <span class="pe-1">{{ row.label }}</span>
                    <ng-container *ngIf="row.tooltip">
                      <ng-template #tooltipTemplate>
                        <div [innerHtml]="row.tooltip"></div>
                      </ng-template>
                      <span
                        [tooltip]="tooltipTemplate"
                        tabindex="0"
                        placement="top"
                        #elem
                      >
                        <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                      </span>
                    </ng-container>
                  </h3>
                  <p class="td">{{ item[row.field] }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Other info -->
          <div class="row content">
            <h2 class="col-12 col-sm-6 col-lg-3 th" i18n="@@otherInfo">
              Muut tiedot
            </h2>
            <div
              class="col-12 col-sm-6 col-lg-4 offset-0 offset-sm-6 offset-lg-0 first-no-offset-mobile td"
              *ngFor="let row of otherFields.slice(0, 2)"
            >
              <h3 class="th">
                <span class="pe-1">{{ row.label }}</span>
                <ng-container *ngIf="row.tooltip">
                  <ng-template #tooltipTemplate>
                    <div [innerHtml]="row.tooltip"></div>
                  </ng-template>
                  <span
                    [tooltip]="tooltipTemplate"
                    tabindex="0"
                    placement="top"
                    #elem
                  >
                    <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                  </span>
                </ng-container>
              </h3>
              <!-- Fields of science as list -->
              <ng-container *ngIf="row.field === 'fieldsParsed'; else nonField">
                <li *ngFor="let field of item.fieldsOfScience">
                  {{ field['name' + currentLocale] }}
                </li>
              </ng-container>
              <!-- Normal lists -->
              <ng-template #nonField>
                <p class="td" innerHtml="{{ item[row.field] }}"></p>
              </ng-template>
            </div>
          </div>
          <ng-container *ngFor="let row of otherFields.slice(2); let i = index">
            <div *ngIf="i % 2 == 0"></div>
            <div class="row content" *ngIf="i % 2 == 0">
              <div
                class="col-12 col-sm-6 col-lg-4 offset-0 offset-sm-6 offset-lg-3 td"
              >
                <h3 class="th">
                  <span class="pe-1">{{ row.label }}</span>
                  <ng-container *ngIf="row.tooltip">
                    <ng-template #tooltipTemplate>
                      <div [innerHtml]="row.tooltip"></div>
                    </ng-template>
                    <span
                      [tooltip]="tooltipTemplate"
                      tabindex="0"
                      placement="top"
                      #elem
                    >
                      <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                    </span>
                  </ng-container>
                </h3>
                <p class="td" innerHtml="{{ item[row.field] }}"></p>
              </div>
              <div
                class="col-12 col-sm-6 col-lg-5 offset-0 offset-sm-6 offset-lg-0 td"
                *ngIf="otherFields.slice(2).length > i + 1"
              >
                <h3 class="th">
                  <span class="pe-1">
                    {{ otherFields.slice(2)[i + 1].label }}</span
                  >
                  <ng-container *ngIf="otherFields.slice(2)[i + 1].tooltip">
                    <ng-template #tooltipTemplate>
                      <div
                        [innerHtml]="otherFields.slice(2)[i + 1].tooltip"
                      ></div>
                    </ng-template>
                    <span
                      [tooltip]="tooltipTemplate"
                      tabindex="0"
                      placement="top"
                      #elem
                    >
                      <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                    </span>
                  </ng-container>
                </h3>
                <p
                  class="td"
                  innerHtml="{{ item[otherFields.slice(2)[i + 1].field] }}"
                ></p>
              </div>
            </div>
          </ng-container>
          <div class="row">
            <div
              class="col-12 col-sm-6 col-lg-9 offset-0 offset-sm-6 offset-lg-3 first-no-offset-mobile td w-100"
              *ngFor="let row of publicationStatus"
            >
              <h3 class="th w-100">
                <span class="pe-1">{{ row.label }}</span>
                <ng-container *ngIf="row.tooltip">
                  <ng-template #tooltipTemplate>
                    <div [innerHtml]="row.tooltip"></div>
                  </ng-template>
                  <span
                    [tooltip]="tooltipTemplate"
                    tabindex="0"
                    placement="top"
                    #elem
                  >
                    <fa-icon class="info-icon" icon="info-circle"></fa-icon>
                  </span>
                </ng-container>
              </h3>
              <p class="td">{{ item[row.field] }}</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div
      *ngFor="let item of responseData.publications"
      class="col-12 col-md-4 col-xl-4"
    >
      <!-- Links -->
      <aside>
        <app-publication-links
          [item]="item"
          [linksFields]="linksFields"
        ></app-publication-links>
      </aside>
      <!-- External services -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@externalLinks">Hae julkaisua muualta</h2>
            </mat-card-title>
            <div class="row other-links">
              <div class="col-12 col-sm-6 col-md-12 col-xl-6 other-link">
                <a
                  href="https://scholar.google.com/scholar?q={{ item.title }}"
                  target="_blank"
                  >Google Scholar<fa-icon icon="external-link-alt"></fa-icon
                ></a>
              </div>
              <div class="col-12 col-sm-6 col-md-12 col-xl-6 other-link">
                <a
                  href="https://search.crossref.org/?q={{
                    item.doi !== ' ' ? item.doi : item.title
                  }}"
                  target="_blank"
                  >CrossRef<fa-icon icon="external-link-alt"></fa-icon
                ></a>
              </div>
            </div>
          </div>
        </mat-card>
      </aside>
      <!-- Related -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2>
                <ng-container i18n="@@relatedPublications"
                  >Hae julkaisuun liittyvät</ng-container
                >
                (<ng-container i18n="@@comingSoon">tulossa</ng-container>)
              </h2>
            </mat-card-title>
            <app-related-links
              [id]="authorAndOrganization[0]?.orgId"
              [relatedData]="relatedData"
            >
            </app-related-links>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@citationHeader">Viittaa</h2>
            </mat-card-title>
            <div>
              <div class="reference">
                <app-secondary-button
                  #citeButton
                  (click)="openDialog()"
                  [content]="copyReferences"
                  [icon]="faQuoteRight"
                  [big]="true"
                ></app-secondary-button>
                <!-- <small *ngIf="!hasDoi" class="no-doi-warn" i18n="@@doiWarning">Viitetiedot eivät ole saatavilla, koska julkaisulla ei ole DOI-tunnistetta.</small> -->
              </div>
            </div>
          </div>
        </mat-card>
      </aside>
      <!-- Copy url -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@shareHeader">Jaa</h2>
            </mat-card-title>
            <app-share [id]="item.id"></app-share>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@publicationSource">Julkaisutiedon lähde</h2>
            </mat-card-title>
            <div *ngFor="let org of authorAndOrganization">
              <p *ngIf="authorAndOrganization[0]?.orgName.length > 0">
                <a routerLink="/results/organization/{{ org.orgId }}">{{
                  org.orgName
                }}</a>
              </p>
              <p *ngIf="authorAndOrganization[0]?.orgName.length === 0">
                Tiedon lähde ei saatavilla.
              </p>
            </div>
            <div class="clear"></div>
          </div>
        </mat-card>
      </aside>
    </div>
  </div>
</div>

<!-- Copy references dialog -->
<app-dialog
  *ngIf="showDialog"
  [template]="citeDialog"
  [footerTemplate]="citeDialogFooter"
  (onActionClick)="showDialog = false"
  title="Kopioi viitetiedot"
  i18n-title="@@copyReferences"
></app-dialog>

<ng-template #citeDialog>
  <div class="px-3 pb-5">
    <div *ngFor="let citation of citations; let i = index" class="cite-block">
      <h4>{{ citationStyles[i].label }}:</h4>
      <span [innerHTML]="citation | cleanCitation"></span>
      <div class="copy-wrapper">
        <app-secondary-button
          [cdkCopyToClipboard]="citation"
          (click)="openSnackBar()"
          class="copy"
          [content]="copyToClipboard"
          [icon]="faCopy"
        ></app-secondary-button>
      </div>
    </div>
    <div *ngIf="hasDoi">
      <div *ngIf="citations.length < citationStyles.length">
        <div class="row justify-content-center">
          <div class="col" align="center" style="margin-top: 25px">
            <mat-spinner
              [diameter]="40"
              i18n-aria-label="@@loading"
              aria-label="Ladataan"
            ></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #citeDialogFooter>
  <div class="row">
    <p class="col text-center" i18n="@@citeDialogFooterText">
      Automaattisesti luotujen viitteiden tiedoissa voi esiintyä virheitä.
      Tarkista aina viitteen tiedot.
    </p>
  </div>
</ng-template>

<ng-template #noDoi>
  <ng-container i18n="@@doiHelp"
    >Julkaisulla täytyy olla DOI-tunniste viitetietojen hakemiseen</ng-container
  >
</ng-template>
