<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<header>
    <div id="srHelper" class="row skip-links" [ngClass]="showSkipLinks ? 'show' : 'sr-only'">
        <ul>
            <li><a (blur)="showSkipLinks = false" (focus)="showSkipLinks = true" tabindex="0" [href]="currentRoute + '#searchInput'">Hyppää hakukenttään</a></li>
            <li><a (blur)="showSkipLinks = false" (focus)="showSkipLinks = true" tabindex="0" [href]="currentRoute + '#main-content'">Hyppää sivun pääsisältöön</a></li>
            <!-- ToDo: Link to accessibility -->
            <li><a (blur)="showSkipLinks = false" (focus)="showSkipLinks = true" tabindex="0" routerLink="{{currentRoute}}" disabled fragment="accessibility">Hyppää saavutettavuusselosteeseen</a></li>
        </ul>
    </div>

    <div offClick class="navbar navbar-expand-lg navbar-light row">
        <div class="logo col-9 col-lg-3">
            <div class="row">
                <div class="col col-auto p-0">
                    <a class="navbar-brand" routerLink="">
                        <img src="assets/logo.svg" alt="Tutkimustietovarannon portaalin logo, abstrakti ikkuna">
                    </a>
                </div>
                <div class="col col-auto align-self-center p-0">
                    <a class="logo-text" routerLink=""><span i18n="Site slogan @@appSlogan">Tiedejatutkimus.fi</span></a>
                </div>
            </div>
        </div>
        <nav class="nav-top col-auto col-lg-9 p-lg-0">
            <div class="mobile ml-auto">
                <button class="navbar-toggler navbar-toggler-right menu" type="button" (click)="toggleNavbar()" #navbarToggler>
                    <span *ngIf="!navbarOpen" class="fa fa-bars fa-lg toggle-icon"></span>
                    <span *ngIf="navbarOpen" class="fa fa-times fa-lg toggle-icon"></span>
                </button>
                <div *ngIf="!navbarOpen" class="toggle-menu-text">Valikko</div>
                <div *ngIf="navbarOpen" class="toggle-menu-text">Sulje</div>
            </div>
            <div class="" [class.overflow-hider]="hideOverflow && mobile" [class.absolute]="mobile" 
                [ngClass]="mobile ? (hideOverflow ? 'invisible' : 'visible') : ''" #overflowHider>
                <div class="collapse navbar-collapse menu row" [class.mobile-bar]="mobile" [class.open]="navbarOpen && mobile" #mainNavbar>
                    <div class="navbar-expand mx-auto navbar-nav lang mobile">
                        <ul class="navbar-nav mx-auto">
                            <li [class.col-4]="mobile">
                                <a class="nav-item nav-link lang-box" [class.active-lang]="lang==='fi'" href="/" (click)="setLang('fi')">
                                    <span class="label">Suomi</span>
                                </a>
                            </li>
                            <li [class.col-4]="mobile">
                                <a class="nav-item nav-link lang-box" [class.active-lang]="lang==='sv'" href="/sv/" (click)="setLang('sv')">
                                    <span class="label">Svenska</span>
                                </a>
                            </li>
                            <li [class.col-4]="mobile">
                                <a class="nav-item nav-link lang-box" [class.active-lang]="lang==='en'" href="/en/" (click)="setLang('en')">
                                    <span class="label">English</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col p-0">
                        <ul class="nav-right navbar-nav main" [class.row]="!mobile">
                            <li #navLink class="nav-item col col-auto p-0">
                                <a class="nav-item nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                                (click)="navbarOpen && toggleNavbar()">
                                    <span i18n="Main navigation item|Home" class="label">Etusivu</span>
                                </a>
                            </li>
                            <li #navLink class="nav-item col col-auto p-0">
                                <a class="nav-item nav-link" routerLink="/results/" routerLinkActive="active-link" (click)="navbarOpen && toggleNavbar()">
                                    <span i18n="Main navigation item|Search" class="label">Haku</span>
                                </a>
                            </li>
                            <li #navLink class="nav-item col col-auto p-0 parent" (click)="dropdownOpen = !dropdownOpen" (clickOutside)="onClickedOutside($event)">
                                <a class="nav-item nav-link parent-link disabled-link" tabindex="0" routerLink="/science-innovation-politics/" routerLinkActive="active-link" href="javascript:void(0)">
                                    Tiede- ja innovaatiopolitiikka
                                </a>
                                <ul class="dropdown" *ngIf="dropdownOpen">
                                    <li><a routerLink="/science-innovation-politics/research-innovation-system/" routerLinkActive="active-link" (click)="navbarOpen && toggleNavbar()">Tutkimus- ja innovaatiojärjestelmä</a></li>
                                    <li><a routerLink="/science-innovation-politics/science-research-figures/" routerLinkActive="active-link" (click)="navbarOpen && toggleNavbar()">Tiede ja tutkimus lukuina</a></li>
                                </ul>
                            </li>
                            <li #navLink class="nav-item col col-auto p-0">
                                <a class="nav-item nav-link" routerLink="/news" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                                (click)="navbarOpen && toggleNavbar()">
                                    <span i18n="Main navigation item|News" class="label">Tiede- ja tutkimusuutiset</span>
                                </a>
                            </li>
                            <li #navLink class="nav-item col col-auto p-0 mr-0">
                                <div class="navbar-expand navbar-nav lang langSelect">
                                    <mat-form-field class="lang-select">
                                        <mat-select [(value)]="currentLang" >
                                            <a href="https://researchfi-test.rahtiapp.fi/fi{{currentRoute}}">
                                                <mat-option value="FI">FI</mat-option>
                                            </a>
                                            <a href="https://researchfi-test.rahtiapp.fi/sv{{currentRoute}}">
                                                <mat-option value="SV">SV</mat-option>
                                            </a>
                                            <a href="https://researchfi-test.rahtiapp.fi/en{{currentRoute}}">
                                                <mat-option value="EN">EN</mat-option>
                                            </a>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </li>
                            <div *ngIf="mobile" class=""></div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div *ngIf="navbarOpen" id="overlay" (click)="toggleNavbar()"></div>
</header>