// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

#overlay {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 110px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: calc(100% - 110px);
}

#mobile-langs {
    width: 300px;
}

header {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    padding: 1rem 0rem 0 0rem;
    margin: 0 15px;
}

ul.navbar-nav.main {
    justify-content: center;
}

li.nav-item {
    padding: 0 10px;
}

// Prevent horizontal mobile screen scrolling while menu is out of view
.overflow-hider {
    position: absolute;
    overflow: hidden;
}

.fa-bars {
    transform: scale(2.2, 1.3);
}

.fa-times {
    transform: scale(1.5, 1.5)
}

li.col-4 {
    padding: 0;
}

.hidden {
    display: none;
}

.mobile .navbar-toggler {
    border: none;
}

.toggle-menu-text {
    font-weight: bold;
    text-align: center;
}

.logo {
    padding-left: 0;
    padding-bottom: 19px;
}

.logo img {
    max-width: 235px;
}

.logo-text {
    font-weight: bold;
}

nav.nav-top {
    margin-left: auto;
    padding-top: 34px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
}

.nav-link {
    padding: 0.2rem 1rem;
}

.separator {
    font-weight: bold;
    padding: 0.2rem 2px;
}

// Language selector
.navbar-expand .navbar-nav .nav-link {
    padding-right: 2px;
    padding-left: 2px;
}

.no-padding {
    padding: 0;
}

// mobile menu
.collapse.navbar-collapse.menu.mobile-bar.open {
    transform: translateX(5%);
    visibility: visible;
}
.collapse.navbar-collapse.menu.mobile-bar {
    position: absolute;
    right: 0;
    transform: translateX(105%);
    z-index: 1000;
    padding: 10px 32px 40px 32px;
    transition: transform 0.5s ease-out;
    visibility: hidden;
    display: block !important;
    max-width: 95vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    li {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
    }
    
    li a {
        text-transform: uppercase;
        margin: 10px 0px;
        padding: 0.2rem 0;
    }

    li a.lang-box {
        width: 100%;
        border-radius: 5px;
        margin: 10px 1px;
        padding: 5px 0;
        text-align: center;
        font-size: 0.75rem;
    }
}

// Responsive

// Desktop size (xl)
@media (min-width: 1200px) {
    .mobile {
        display: none;
    }
}

// Mobile size (sm md lg)
@media (max-width: 1199px) {
    .desktop {
        display: none;
    }

    .navbar-toggler, .navbar-toggler-right {
        display: block;
    }

    .navbar-expand-lg .navbar-collapse {
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    .navbar-expand.mx-auto.navbar-nav.lang.mobile .navbar-nav {
        flex-direction: row;
        width: 100%;
    }

    nav.nav-top {
        padding-top: 0;
    }
}

// Logo margin for small screens to prevent menu button misplacement
@media (max-width: 355px) {
    .navbar {
        margin-right: 15px;
        margin-left: 4px;
    }

    .logo {
        padding-right: 0;
    }

    #mobile-langs {
        width: 250px;
    }
}

@media (max-width: 575px) {
    #overlay {
        top: 87px;
        height: calc(100% - 87px);
    }
}