@import '~@angular/material/theming';

@mixin app-header-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    app-header {
        >header {
            background: mat-color($primary, default-contrast);
            
            .navbar-light .navbar-nav .nav-link {
                color: mat-contrast($primary, 50);
            
            }
            
            .navbar-light .navbar-nav .nav-link:hover {
                color: mat-color($primary, lighter);
            }
            
            .collapse.navbar-collapse.menu.mobile-bar {
                background: mat-color($primary, default-contrast);
                color: mat-color($primary);
                
                li a.lang-box {
                    background: mat-color($primary, default-contrast);
                    border: solid 2px mat-color($primary);
                    
                }
                
                li a.lang-box.active-lang {
                    background: mat-color($primary);
                    color: mat-color($primary, default-contrast);
                }
            }
            
            a.nav-item.nav-link.active-link, a.nav-item.nav-link.active-lang {
                color: mat-contrast($primary, 50);
            }

            a.nav-item.nav-link.active-link {
                box-shadow: 0 28px 0 0 mat-color($primary, 400);;
            }

            .active-link span.label, .desktop .active-lang {
                // border-bottom: 4px solid mat-color($primary, 400);
            }
            
            .toggle-menu-text {
                color: mat-color($primary);
            }
            
        
            button span.fa {
                color: mat-color($primary);
            }
            
            .separator {
                color: mat-color($primary);
            }
        }
    }
}