@import '~@angular/material/theming';

@mixin app-header-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    app-header {
        >header {    
            .navbar-light .navbar-nav .nav-link, a.nav-item.nav-link.active-link, a.nav-item.nav-link.active-lang, .mat-select-value {
                color: mat-contrast($primary, 200);
            }
            
            .navbar-light .navbar-nav .nav-link:hover {
                color: mat-contrast($primary, 300);
            }
            
            .collapse.navbar-collapse.menu.mobile-bar {
                background: mat-contrast($primary, 600);
                color: mat-color($primary);
                
                li a.lang-box {
                    background: mat-contrast($primary, 600);
                    border: solid 2px mat-color($primary);
                }
                
                li a.lang-box.active-lang {
                    background: mat-color($primary);
                    color: mat-color($primary, default-contrast);
                }
            }

            .active-link span.label, .desktop .active-lang {
                border-bottom: 4px solid mat-color($primary, 400);
            }
            
            button span.fa, .separator {
                color: mat-color($primary);
            }

            .toggle-menu-text {
                color: mat-contrast($primary, 200);
            }
            

            @media (min-width: 991px) {
                a.nav-item.nav-link.active-link {
                    box-shadow: 0 28px 0 0 mat-color($primary, 400);
                }

                .active-link span.label, .desktop .active-lang {
                    border-bottom: 0;
                }
            }
        }
    }
}