<nav offClick class="navbar navbar-expand-xl navbar-light bg-white">
  <div class="logo">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/logo.png">
    </a>
  </div>
  <div class="nav-top">
    <div class="navbar-expand ml-auto navbar-nav lang d-flex flex-row-reverse">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">FI</a>
          <a class="nav-item nav-link" href="#">SE</a>
          <a class="nav-item nav-link" href="#">EN</a>
        </div>
    </div>
    <div class="collapse navbar-collapse menu"
        [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto left">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/results">Etusivu</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/test-results">Haku</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/results">Tutkimuspolitiikka</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/test-results">Tutkimusuutiset</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/publications">Rahoittajat</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="#">Tutkimusorganisaatiot</a>
        </li>
      </ul>
    </div>
  </div>
  <button class="navbar-toggler navbar-toggler-right hidden-md-up pull-right" type="button" (click)="toggleNavbar()">
    <span [hidden]="collapse=='open'" class="fa fa-bars fa-lg"></span>
    <span [hidden]="collapse=='closed'" class="fa fa-times fa-lg"></span>
  </button>
</nav>
