// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

app-table,
app-table-cell {
  fa-icon {
    font-size: 2.625rem;
  }

  .mat-column-icon {
    flex: 0 0 6% !important; // Icon column width
    margin-top: -0.5rem; // Position with text content
    max-width: 6%;
  }

  .mat-column-selection mat-checkbox {
    margin-top: -0.25rem;
  }

  .mat-sort-header {
    font-weight: 600;
  }

  .mat-sort-header,
  .mat-cell,
  .mat-footer-cell {
    font-size: 1rem;
  }

  $row-x-padding: 0.25rem;

  mat-header-row {
    z-index: 90 !important;
    min-height: auto;
    align-items: flex-start;
  }

  mat-row {
    min-height: auto;
  }

  mat-row,
  mat-header-row,
  mat-footer-row {
    border-bottom-width: 0;
    flex-wrap: wrap;
  }

  .row .row {
    border-bottom: 0;
  }

  // If row content is aligned to vertical center
  .align-center {
    mat-cell:not(.icon-cell) {
      align-self: center;
    }
    // Icon position is altered in default style
    // This centers icon with content
    .mat-column-icon {
      margin-top: 0 !important;
    }
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell,
  mat-row {
    align-items: stretch;
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    word-wrap: normal;
    overflow: visible;
  }

  mat-header-cell:first-of-type,
  mat-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: $row-x-padding !important;
  }

  mat-header-cell:last-of-type,
  mat-cell:last-of-type,
  mat-footer-cell:last-of-type {
    padding-right: $row-x-padding !important;
  }

  .mat-table-sticky mat-header-cell {
    padding: 0.5rem 1rem;
  }

  mat-header-cell {
    padding: 0 1rem 0.5rem;
  }

  mat-cell {
    padding: 1rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    word-break: break-word;
  }

  a {
    text-decoration: underline;
    font-weight: 500;
  }

  // move sort indicator to end
  // .mat-sort-header-container {
  //   display: block;
  //   flex: 1;
  // }

  .mat-sort-header-content {
    text-align: left;

    & .column-label {
      flex: 1;
    }
  }

  /*
   * Sort indicators
   */

  .mat-sort-header-arrow {
    opacity: 1 !important;
    transform: none !important;
  }

  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }

  .sort-indicator fa-icon {
    font-size: 1rem;
    padding-left: 0.75rem;
  }

  // E.g. in funding-call-results funder name
  .overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

// Padding for additional row (funding-calls)
.additional-row {
  padding-left: 7.4%;
}

@media (max-width: 991px) {
  .additional-row {
    padding-left: 7.4%;
  }
}
