// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

@import '@angular/material/theming';

@mixin table-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  app-table,
  app-table-cell {
    fa-icon {
      color: mat-color($primary, default);
    }

    .mat-sort-header,
    .mat-sort-header-arrow,
    a,
    a:hover {
      color: mat-contrast($primary, 200);
    }

    @media (max-width: 991px) {
      .row {
        border-bottom: mat-color($primary, 200) 1px solid;
      }
    }
  }

  app-table-cell {
    a {
      opacity: 87%;
    }
  }
}
