<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-container *ngIf="!success; else successTemplate">
  <div class="row pb-4 d-flex justify-content-center">
    <div class="col-auto text-center">
      <mat-progress-spinner class="example-margin" [mode]="mode" [value]="loaderValue" [diameter]="40">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="row pb-5">
    <div class="col text-center">
      <p>Tuodaan tietoja, odota hetki...</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <lib-secondary-button content="Peruuta" (click)="cancelHandler()"></lib-secondary-button>
    </div>
  </div>
</ng-container>

<ng-template #successTemplate>
  <div class="row pb-4">
    <div class="col text-center">
      <h2 class="text-primary">Tiedot tuotiin onnistuneesti</h2>
    </div>
  </div>

  <div class="row pb-4">
    <div class="col">
      <p>Oletuksena vain nimesi ja Orcid-tunnuksesi ovat julkisia. Muita tietoja ei ole vielä asetettu julkisiksi</p>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col text-center">
      <lib-secondary-button content="Aseta kaikki ORCID-tietoni julkisiksi" [big]="true"></lib-secondary-button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <lib-secondary-button content="Valitse julkiset tiedot yksitellen" [big]="true"></lib-secondary-button>
    </div>
  </div>
</ng-template>