<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<main id="main-content" class="col col-lg-3 mx-auto">
  <ng-container *ngIf="loginStep === 1; else termsTemplate">
    <div class="row pb-4 text-center">
      <div class="col">
        <h1 class="h4">{{ title }}</h1>
      </div>
      <!-- Icon -->
      <i
        class="col-12 pt-3 h1 primary-color text-center fas fa-hands-helping"
      ></i>
    </div>
    <div class="row pb-4 d-flex justify-content-center">
      <div class="col" [innerHTML]="textContent"></div>
    </div>

    <div class="row pb-3 d-flex justify-content-center">
      <div class="col">
        <app-primary-action-button
          i18n-content="@@begin"
          content="Avaa käyttöehdot ja henkilötietojen käsittelyperiaatteet"
          [big]="true"
          (click)="loginStep = 2"
        >
        </app-primary-action-button>
      </div>
    </div>
  </ng-container>

  <ng-template #termsTemplate>
    <div class="row pb-4 d-flex justify-content-center">
      <h2 class="col-12 h6 pb-2" i18n="@@termsForTool">
        Tutkijan tiedot -työkalun käyttöehdot
      </h2>
      <div class="col-12 pb-3">
        <button
          class="row border border-primary rounded btn d-flex w-100"
          (click)="openDialog(termsForTool, termsTemplate)"
        >
          <div class="col-auto">
            <i class="pt-3 pb-2 h1 primary-color fas fa-file-alt"></i>
          </div>
          <div class="col align-self-center">
            <span
              class="d-block align-self-center text-start"
              i18n="@@openTermsOfUse"
              >Avaa käyttöehdot</span
            >
          </div>
        </button>
      </div>
      <div class="col">
        <mat-checkbox
          [(ngModel)]="termsApproved"
          i18n="@@iHaveReadTermsAndAccept"
          >Olen lukenut palvelun käyttöehdot, ja hyväksyn ne</mat-checkbox
        >
      </div>
    </div>

    <ng-template #termsTemplate>
      <app-eula template="termsTemplate"></app-eula>
    </ng-template>

    <div class="row pt-4 pb-5 d-flex justify-content-center">
      <h2 class="col-12 h6 pb-2" i18n="@@processingOfPersonalData">
        Henkilötietojen käsittely
      </h2>
      <div class="col-12 pb-3">
        <button
          class="row border border-primary rounded btn d-flex w-100"
          (click)="
            openDialog(
              processingOfPersonalData,
              personalDataHandlingTermsTemplate
            )
          "
        >
          <div class="col-auto">
            <i class="pt-3 pb-2 h1 primary-color fas fa-file-alt"></i>
          </div>
          <div class="col align-self-center">
            <span
              class="d-block align-self-center text-start"
              i18n="@@openPersonalDataProcessingPrinciples"
              >Avaa henkilötietojen käsittelyperiaatteet</span
            >
          </div>
        </button>
      </div>
      <div class="col">
        <mat-checkbox
          [(ngModel)]="personalDataHandlingApproved"
          i18n="@@iAcceptProcessingPersonalData"
          >Hyväksyn henkilötietojeni käsittelyn</mat-checkbox
        >
      </div>
    </div>

    <ng-template #personalDataHandlingTermsTemplate>
      <app-eula template="personalDataHandlingTermsTemplate"></app-eula>
    </ng-template>
  </ng-template>

  <div class="row d-flex justify-content-center">
    <div class="col">
      <app-secondary-button
        i18n-content="@@cancel"
        content="Peruuta käyttöönotto"
        routerLink="/mydata"
        tabindex="-1"
        [big]="true"
      ></app-secondary-button>
    </div>
  </div>
</main>
