<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<main id="main-content">
  <div class="wrapper">
    <div class="row pb-4">
      <div class="col text-center">
        <h2 class="primary-color">Palvelun käyttöönotto</h2>
      </div>
    </div>

    <div class="row pb-4 d-flex justify-content-center">
      <div class="col col-lg-4 text-center">
        <p>
          Tutkijan tiedot -palveluun kirjaudutaan ORCID-tunnuksilla. Jos sinulla
          ei vielä ole ORCID-tunnuksia, voit
          <a href="https://orcid.org/"
            >luoda sellaiset ORCID-palvelussa
            <i class="fas fa-external-link-alt"></i></a
          >.
        </p>
      </div>
    </div>

    <div class="row pb-3 d-flex justify-content-center">
      <div class="col col-lg-3">
        <app-primary-action-button
          content="Aloita"
          [big]="true"
          (click)="login()"
        >
        </app-primary-action-button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-3">
        <app-secondary-button
          content="Peruuta"
          routerLink="/mydata"
          [big]="true"
        ></app-secondary-button>
      </div>
    </div>
  </div>
</main>
