@import '~@angular/material/theming';

@mixin app-funding-call-preview-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  app-funding-call-preview {
    .soon {
        color: mat-color($warn);
      }
  }
}