<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row d-flex justify-content-center pb-3" *ngIf="!resultData">
  <mat-spinner [diameter]="80"></mat-spinner>
</div>
<!-- Data -->
<div *ngIf="resultData && resultData.length > 0; else noResults">
  <!-- Results -->
  <!-- <div class="row no-margin sticky-header" [ngStyle]="{'top': marginTop + 'px'}"> -->
  <div class="row no-margin sticky-header">
    <div class="col col-4">
      <span
        #main
        tabindex="0"
        class="bold uppercase text-break"
        i18n="@@callName"
        >Haun nimi</span
      >
    </div>
    <div class="col col-4">
      <span
        tabindex="0"
        class="bold uppercase text-break"
        i18n="@@fundingFunder"
        >Rahoittaja</span
      >
    </div>
    <div class="col col-4">
      <span tabindex="0" class="bold uppercase text-break" i18n="@@callDueDate"
        >Haku päättyy</span
      >
    </div>
  </div>
  <div *ngIf="resultData" class="result-container">
    <div *ngFor="let call of resultData; let i = index" class="single">
      <div class="row no-margin">
        <div class="col col-4 title">
          <a routerLink="/funding-call/{{ call.id }}" class="d-block">
            <h4
              class="result-title"
              [innerHtml]="call.name | highlight: input"
              [title]="call.name"
            ></h4>
          </a>
        </div>
        <div class="col col-4 foundation">
          <a
            *ngIf="call.foundation.orgId"
            routerLink="/results/organization/{{ call.foundation.orgId }}"
            class="d-block"
          >
            <span [innerHtml]="call.foundation.name | highlight: input"></span>
          </a>
          <span
            *ngIf="!call.foundation.orgId"
            [innerHtml]="call.foundation.name | highlight: input"
          ></span>
        </div>
        <div class="col col-4" [class.soon]="call.daysLeft <= 3">
          <span
            [innerHtml]="
              call.dueDate.getFullYear() !== 2100
                ? (call.dueDateString | highlight: input)
                : '-'
            "
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResults>
  <div class="row main-content" *ngIf="resultData && resultData.total === 0">
    <div class="col text-center no-results" role="alert">
      <h2 i18n="@@noFundingCalls">Ei rahoitushakuja</h2>
    </div>
  </div>
</ng-template>
