@if (routerLink && !disabled) {
  <a class='tab-button-layout2 link-button' [ngClass]='{"link-button__active": active, "link-button__disabled": disabled}' style='text-decoration: none' [routerLink]='routerLink' [queryParams]='queryParams'>
    <div style='display: flex'>
      @if (!!_icon) {
        <app-svg-sprites [iconName]="_icon" cssClass="main-category-icon"></app-svg-sprites>
      }
      <div>{{ label }} @if (routerLink.includes('/results/projects/')) {
        <span> - BETA</span>
      }</div>
    </div>
    @if (count !== -1) {
      <div [countUp]="count" [options]="countOps"></div>
    }
  </a>
}

@if (!routerLink || disabled) {
  <a class='tab-button-layout2 link-button' [ngClass]='{"link-button__active": active, "link-button__disabled": disabled}' style='text-decoration: none'>
    <div style='display: flex'>
      @if (!!_icon) {
        <app-svg-sprites [iconName]="_icon" cssClass="main-category-icon"></app-svg-sprites>
      }
      <div>{{ label }}</div>
    </div>
    @if (count !== -1) {
      <div [countUp]="count" [options]="countOps"></div>
    }
  </a>
}

