<div class="generate-description-wrap group-wrapper py-3 ps-2 pe-3">
  <div class="row pb-3 justify-content-between">
    <h2 class="col order-1">
      {{ data?.label ?? 'Tutkimustoiminnan kuvaus' }}
    </h2>
    <div class="col-6 order-2 order-md-3 gx-0 gx-sm-3">
      <div class="d-flex justify-content-end">
        <app-tertiary-button
                class="switch-choices-button"
                [content]="(savedDraftBiographiesObs$.getValue().fi.length < 1 && savedDraftBiographiesObs$.getValue().en.length < 1 && savedDraftBiographiesObs$.getValue().sv.length < 1) ? selectString : editString"
                [announce]="hasSelectedItems"
                [announceText]="data?.label + ' ' + noPublicDataText"
                [svgSymbolName]="'edit'"
                [svgCssClass]="'open_in_new-icon button-icon'"
                (click)="openDialog('generate')"
        ></app-tertiary-button>
      </div>
    </div>
  </div>

  <!-- Content (not modal) -->
  <div *ngIf="savedDraftBiographiesObs$.getValue().fi.length < 1 && savedDraftBiographiesObs$.getValue().en.length < 1 && savedDraftBiographiesObs$.getValue().sv.length < 1"
       class="row pt-2 pb-3 justify-content-between">
    <div class="col align-self-center fst-italic order-3 order-md-2 mt-3 mt-md-0"
         i18n="@@youHaveNotSelectedAnyPublicData">
      {{ noPublicDataText }}
    </div>
  </div>

  <div *ngIf="(savedDraftBiographiesObs$.getValue().fi.length > 0 || savedDraftBiographiesObs$.getValue().en.length > 0 || savedDraftBiographiesObs$.getValue().sv.length > 0)"
       class="row">
    <div class="mb-2 d-flex flex-row font-weight-500">{{ languageVersionsTitle }}:
      <div class="lang-tab-button"[ngClass]="{'selected': (selectedLanguageTab === 0), 'disabled': savedDraftBiographiesObs$.getValue().fi.length < 1}"
           tabindex="0"
           role="button"
           (keydown.enter)="savedDraftBiographiesObs$.getValue().fi.length > 0 ? setSelectLanguageTab(0) : undefined"
           (click)="savedDraftBiographiesObs$.getValue().fi.length > 0 ? setSelectLanguageTab(0) : undefined">
        FI
      </div>
      <div class="lang-tab-button"
           [ngClass]="{'selected': (selectedLanguageTab === 1), 'disabled': savedDraftBiographiesObs$.getValue().en.length < 1}"
           role="button"
           (keydown.enter)="savedDraftBiographiesObs$.getValue().en.length > 0 ? setSelectLanguageTab(1) : undefined"
           (click)="savedDraftBiographiesObs$.getValue().en.length > 0 ? setSelectLanguageTab(1) : undefined">
        EN
      </div>
      <div class="lang-tab-button"
           [ngClass]="{'selected': (selectedLanguageTab === 2), 'disabled': savedDraftBiographiesObs$.getValue().sv.length < 1}"
           role="button"
           (keydown.enter)="savedDraftBiographiesObs$.getValue().sv.length > 0 ? setSelectLanguageTab(2) : undefined"
           (click)="savedDraftBiographiesObs$.getValue().sv.length > 0 ? setSelectLanguageTab(2) : undefined">
        SV
      </div>



      <div *ngIf="isBiographyAiGeneratedObs$.getValue() === true && translationsRequested$.getValue() === true && (userEditableBiographiesObs$.getValue().fi.length > 0 || userEditableBiographiesObs$.getValue().en.length > 0 || userEditableBiographiesObs$.getValue().sv.length > 0)"
           role="button" class="select-language-button"
           tabindex="0" (keydown.enter)="openDialog('selectLanguageVersions')"
           (click)="openDialog('selectLanguageVersions')">
        {{ selectLanguageVersionsText }}
      </div>
      <!--<div *ngIf="isBiographyAiGeneratedObs$.getValue() === true && translationsRequested$.getValue() === false  && (savedDraftBiographiesObs$.getValue().fi.length > 0 || savedDraftBiographiesObs$.getValue().en.length > 0 || savedDraftBiographiesObs$.getValue().sv.length > 0)"
           role="button" class="select-language-button"
           tabindex="0" (keydown.enter)="openDialog('editLanguageVersions')"
           (click)="openDialog('editLanguageVersions')">
        {{ editLanguageVersionsText }}
      </div>-->
    </div>
    <br/>
  </div>

  <div class="row pt-2 pb-3 justify-content-between">
    <div *ngIf="selectedLanguageTab === 0">
      <div class="biography-text">{{ savedDraftBiographiesObs$.getValue().fi }}</div>
    </div>
    <div *ngIf="selectedLanguageTab === 1">
      <div class="biography-text">{{ savedDraftBiographiesObs$.getValue().en }}</div>
    </div>
    <div *ngIf="selectedLanguageTab === 2">
      <div class="biography-text">{{ savedDraftBiographiesObs$.getValue().sv }}</div>
    </div>
  </div>

  <div *ngIf="keywordsSelectedDraft && ((showDialog$ | async) === false)" class="row">
    <h3>{{ keywordsText }}</h3>
    <div class="row mb-2 gx-3">
      <div>{{ selectedKeywordsStr }}</div>
    </div>
  </div>

  <div class="language-versions-info-box"
       *ngIf="(biographyGenerationOngoing$ | async) === true">
    <div class="d-flex flex-row justify-content-center mt-2">
      <app-svg-sprites [iconName]="'create-new-diamond'"
                       cssClass="create-new-diamond-icon large-icon fade-in-image"></app-svg-sprites>
    </div>
    <div class="d-flex justify-content-center">{{ generatingDescriptionInfoText[dropdownLanguageSelection] }}</div>
  </div>

  @if ((((generateBiographyRequested$ | async) === true) && ((showDialog$ | async) === false) && ((biographyGenerationOngoing$ | async) === false))) {
    <div class="language-versions-info-box">
      <div class="d-flex flex-row additional-info-wrap">
        <div class="info-circle-wrap d-flex flex-column">
          <app-svg-sprites [iconName]="'info'" cssClass="info-icon info-box-large"></app-svg-sprites>
        </div>

        <div>
          <h3>{{ researchDescriptionGenerationDone }}</h3>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center mt-2">
        <app-secondary-button (keydown.enter)="openDialog('review')"
                              (click)="openDialog('review')"
                              content="{{reviewButtonText}}"></app-secondary-button>
      </div>
    </div>
  }

  @if (((isBiographyAiGeneratedObs$ | async) === true && generateBiographyRequested$ | async) === false && ((biographyGenerationOngoing$ | async) === false) && (savedDraftBiographiesObs$.getValue().fi.length < 1 || savedDraftBiographiesObs$.getValue().en.length < 1 || savedDraftBiographiesObs$.getValue().sv.length < 1)) {
    <div class="language-versions-info-box">
      <div class="d-flex flex-row additional-info-wrap">
        <div class="info-circle-wrap d-flex flex-column">
          <app-svg-sprites [iconName]="'info'" cssClass="info-icon info-box-large"></app-svg-sprites>
        </div>

        <div>
          <h3>{{ aitta_youCanGenerateMultipleLanguageVersions }}</h3>
          <div class="mb-3">{{ languageVersionsInstructionBoxText }}</div>
          <app-secondary-button (keydown.enter)="openDialog('review')"
                                (click)="openDialog('review')"
                                content="{{generateDescriptionButtonText}}"></app-secondary-button>
        </div>
      </div>
    </div>
  }

  <!--<div class="language-versions-info-box"
       *ngIf="(translationsRequested$ | async) === true  && (isBiographyAiGeneratedObs$ | async) === true && !(enTranslationOngoing$| async) && !(svTranslationOngoing$ | async) && (userEditableBiographiesObs$.getValue().en.length > 0 && langVersionEnUsed$.getValue() === false) && (userEditableBiographiesObs$.getValue().sv.length > 0 && langVersionSvUsed$.getValue() === false)">
    <div class="d-flex flex-row additional-info-wrap">
      <div class="info-circle-wrap d-flex flex-column">
        <app-svg-sprites [iconName]="'info'" cssClass="info-icon info-box-large"></app-svg-sprites>
      </div>

      <div>
        <h3>{{ languageVersionsGenerationDone }}</h3>
        <div class="mb-3">{{ languageVersionsInstructionBoxText }}</div>
        <app-secondary-button (keydown.enter)="openDialog('selectLanguageVersions')"
                              (click)="openDialog('selectLanguageVersions')"
                              content="{{selectLanguageVersionsText}}"></app-secondary-button>
      </div>
    </div>
  </div>-->



  <!-- Editor modal -->
  <ng-template #editorTemplate>
    <div class="profile-tool-modal editor-modal">
      <div>
        <div class="row d-flex justify-content-between pb-2">
          <div class="col-12 col-lg-auto font-size-big">
            <div class="purple-box">
              <div class="modal-width-prefer-wrapper h-100"></div>

              <div class="d-flex justify-content-between flex-column flex-grow-1 h-100">
                <div>
                  <div class="row gx-0">
                    <div class="col-3 d-flex flex-column justify-content-center font-weight-500">
                      <label>{{ selectDescriptionSourceTitle }}:</label>
                    </div>
                    <div class="col-9 d-flex flex-column">
                      <app-simple-dropdown [options]="descriptionOptions" [selection]="descriptionSource"
                                           (onSelected)="selectDescriptionSource($event)"
                                           aria-labelledby="datasource-label"
                                           [defaultLabel]="selectDefaultLabel"
                                           [disabled]="biographyGenerationOngoing$ | async"></app-simple-dropdown>
                    </div>
                    @if (descriptionSource === 0) {
                      <div class="col-3"></div>
                      <div class="col-9">
                        <div class="mb-2 mt-2">{{ aitta_modalIntroText }}</div>
                      </div>
                    }
                  </div>

                  <!-- Lang selection AI generated -->
                  <div *ngIf="descriptionSource !== -1 && descriptionSource !== 1" class="row gx-0 my-3">
                    <div class="col-3 d-flex flex-column justify-content-center font-weight-500">
                      <label>{{ selectDescriptionLanguageTitle }}:</label>
                    </div>
                    <div class="col-9 d-flex flex-row">
                      <div class="d-flex flex-row font-weight-500 justify-content-start">
                        <div [class.hasContent]="(this.userEditableBiographiesObs$ | async)?.fi?.length > 0"
                             [class.selected]="this.dropdownLanguageSelection === 0" class="modal-lang-select-button"
                             [class.disabled]="this.dropdownLanguageSelection !== 0 && biographyGenerationOngoing$ | async"
                             role="button"
                             tabindex="0"
                             (keydown.enter)="selectDescriptionLanguageAi(0)" (click)="selectDescriptionLanguageAi(0)">
                          <app-svg-sprites [class.d-none]="(this.userEditableBiographiesObs$ | async)?.fi?.length < 1"
                                           [iconName]="'checked-button-icon'"
                                           [cssClass]="this.dropdownLanguageSelection === 0 ? 'checked-button-icon' : 'checked-button-icon reverse-colors'"></app-svg-sprites>
                          FI
                        </div>
                        <div class="modal-lang-select-button"
                             [class.hasContent]="(this.userEditableBiographiesObs$ | async)?.en?.length > 0"
                             [class.selected]="this.dropdownLanguageSelection === 2"
                             [class.disabled]="this.dropdownLanguageSelection !== 2 && biographyGenerationOngoing$ | async"
                             role="button"
                             tabindex="0"
                             (keydown.enter)="selectDescriptionLanguageAi(2)" (click)="selectDescriptionLanguageAi(2)">
                          <app-svg-sprites [class.d-none]="(this.userEditableBiographiesObs$ | async)?.en?.length < 1"
                                           [iconName]="'checked-button-icon'"
                                           [cssClass]="this.dropdownLanguageSelection === 2 ? 'checked-button-icon' : 'checked-button-icon reverse-colors'"></app-svg-sprites>
                          EN
                        </div>
                        <div class="modal-lang-select-button"
                             [class.hasContent]="(this.userEditableBiographiesObs$ | async)?.sv?.length > 0"
                             [class.selected]="this.dropdownLanguageSelection === 1"
                             [class.disabled]="this.dropdownLanguageSelection !== 1 && biographyGenerationOngoing$ | async"
                             role="button"
                             tabindex="0"
                             (keydown.enter)="selectDescriptionLanguageAi(1)" (click)="selectDescriptionLanguageAi(1)">
                          <app-svg-sprites [class.d-none]="(this.userEditableBiographiesObs$ | async)?.sv?.length < 1"
                                           [iconName]="'checked-button-icon'"
                                           [cssClass]="this.dropdownLanguageSelection === 1 ? 'checked-button-icon' : 'checked-button-icon reverse-colors'"></app-svg-sprites>
                          SV
                        </div>
                        <div *ngIf="isBiographyAiGeneratedObs$.getValue() === true && translationsRequested$.getValue() === true && (userEditableBiographiesObs$.getValue().fi?.length > 0 || userEditableBiographiesObs$.getValue().en?.length > 0 || userEditableBiographiesObs$.getValue().sv?.length > 0)"
                             role="button" class="select-language-button"
                             tabindex="0" (keydown.enter)="openDialog('selectLanguageVersions')"
                             (click)="openDialog('selectLanguageVersions')">
                          {{ selectLanguageVersionsText }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="biographyGenerationOngoing$ | async"
                     class="content-container d-flex flex-grow-1 flex-column justify-content-center h-100">
                  <div class="d-flex flex-row justify-content-center">
                    <app-svg-sprites [iconName]="'create-new-diamond'"
                                     cssClass="create-new-diamond-icon large-icon fade-in-image"></app-svg-sprites>
                  </div>
                  <div class="d-flex justify-content-center">{{ generatingDescriptionInfoText[dropdownLanguageSelection] }}</div>
                </div>
              </div>

              <div *ngIf="descriptionSource === 0">
                <div *ngIf="contentCreationStep === 3 && !(biographyGenerationOngoing$ | async)"
                     class="content-container">

                  <div class="row gx-0">
                    <div class="col-3 d-flex flex-column font-weight-500">
                      <label class="biography-label">{{ editDescriptionLabel }}:</label>
                    </div>
                    <div class="col-9 d-flex flex-column">
                      <textarea aria-labelledby="biography-label" class)="bio-textarea" rows="6"
                                [(ngModel)]="biographyModalTextAreaValue"
                                (keyup)="biographyFieldTextChange(dropdownLanguageSelection, true)">{{ biographyModalTextAreaValue }}</textarea>
                      <div class="d-flex flex-row additional-info-wrap">
                        <div class="info-circle-margin d-flex flex-column justify-content-center">
                          <app-svg-sprites [iconName]="'info'" cssClass="info-icon info-box-large"></app-svg-sprites>
                        </div>
                        <div>
                          <div class="info-text-paragraph">{{ aiGeneratedTextMayContainErrors }}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br/>
                  <div class="d-flex flex-row justify-content-between mt-3">
                    <div class="d-flex flex-row justify-content-start">
                      <app-secondary-button (click)="generateBiography()" content="{{generateNewDescriptionButtonText}}"
                                            [svgSymbolName]="'create-new-diamond'"
                                            [svgCssClass]="'create-new-diamond-icon'"
                                            [disabled]="biographyGenerationOngoing$ | async"
                      ></app-secondary-button>
                      <app-tertiary-button (click)="deleteSelectedDescription()"
                                           content="{{deleteDescriptionButtonText}}"
                                           [svgSymbolName]="'delete'"
                                           [svgCssClass]="'delete-icon-button'"
                                           [disabled]="(biographyModalTextAreaValue?.length < 1) && (biographyGenerationOngoing$ | async)"
                                           class="ms-4 d-flex"></app-tertiary-button>
                    </div>
                    <div class="use-description-checkbox-container">
                      <mat-checkbox aria-labelledby="biography-lang-versions-id"
                                    [checked]="useAiBiography" color="primary"
                                    (change)="useAiBiography = !useAiBiography">
                        {{ useAiBiographyText }}
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Lang selection not AI generated -->
              <div *ngIf="descriptionSource === 1" class="row">
                <ng-container *ngFor="let biography of notAiBiographies; let i = index">

                  <div *ngIf="descriptionSource === 1" class="row gx-0 mt-2">
                    <div class="col-3 d-flex flex-column justify-content-center font-weight-500">
                      <label>{{ languageVersionsTitle }}:</label>
                    </div>
                    <div class="col-9 d-flex flex-row">
                      <div class="mb-2 d-flex flex-row font-weight-500 justify-content-start">
                        <div [class.hasContent]="biography[languageCodes[selectedLanguageNotAi]]?.length > 0"
                             [class.selected]="selectedLanguageNotAi === 0" class="modal-lang-select-button"
                             role="button"
                             tabindex="0"
                             (keydown.enter)="selectDescriptionLanguageNotAi(0)"
                             (click)="selectDescriptionLanguageNotAi(0)">
                          FI
                        </div>
                        <div class="modal-lang-select-button"
                             [class.hasContent]="biography[languageCodes[selectedLanguageNotAi]]?.length > 0"
                             [class.selected]="selectedLanguageNotAi === 1"
                             role="button"
                             tabindex="0"
                             (keydown.enter)="selectDescriptionLanguageNotAi(1)"
                             (click)="selectDescriptionLanguageNotAi(1)">
                          EN
                        </div>
                        <div class="modal-lang-select-button"
                             [class.hasContent]="biography[languageCodes[selectedLanguageNotAi]]?.length > 0"
                             [class.selected]="selectedLanguageNotAi === 2"
                             role="button"
                             tabindex="0"
                             (keydown.enter)="selectDescriptionLanguageNotAi(2)"
                             (click)="selectDescriptionLanguageNotAi(2)">
                          SV
                        </div>
                        <div *ngIf="isBiographyAiGeneratedObs$.getValue() === true && translationsRequested$.getValue() === true && (userEditableBiographiesObs$.getValue().fi?.length > 0 || userEditableBiographiesObs$.getValue().en?.length > 0 || userEditableBiographiesObs$.getValue().sv?.length > 0)"
                             role="button" class="select-language-button"
                             tabindex="0" (keydown.enter)="openDialog('selectLanguageVersions')"
                             (click)="openDialog('selectLanguageVersions')">
                          {{ selectLanguageVersionsText }}
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="biography-container">
                    <mat-checkbox aria-labelledby="biography-lang-versions-id"
                                  [checked]="i === selectedNotAiBiographyIndex" color="primary"
                                  (change)="setSelectedNotAiBiographyIndex(i);setSelectedNotAiBiographyItem(biography);">
                      {{ biography[languageCodes[selectedLanguageNotAi]] }}
                    </mat-checkbox>
                  </div>
                  <br/>
                </ng-container>
              </div>
            </div>

            <!--Keywords -->
            <div *ngIf="selectedKeywordsStr.length > 0" class="d-flex flex-row keywords-checkbox-wrapper">
              <div class="keywords-label">
                <label id="keywords-checkbox-label" class="keywords-checkbox-label">{{ keywordsText }}:</label>
              </div>
              <div class="w-100">
                <mat-checkbox aria-labelledby="wrapper" [checked]="keywordsSelectedDraft" color="primary"
                              class="fw-normal"
                              (change)=toggleKeywordsSelected()>
                  {{ selectedKeywordsStr }}
                </mat-checkbox>
              </div>
              <div class="me-2 fw-normal">{{ keywordsSourceLocalized }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Language select moodal -->
  <ng-template #selectLanguageVersionsTemplate>
    <div class="profile-tool-modal select-language-modal">
      <div>
        <div class="row d-flex justify-content-between pb-2">
          <div class="col-12 col-lg-auto font-size-big">
            <div class="purple-box">
              <div class="content-container">
                <div class="row">
                  <div class="col-4 d-flex flex-column">
                    <label class="biography-label">{{ editDescriptionLabelFi }}</label>
                    <textarea name="descriptionFi" rows="15" cols="33"
                              (change)="biographyFieldTextChange(0, false)">{{ userEditableBiographiesObs$.getValue().fi }}</textarea>
                  </div>
                  <div class="col-4 d-flex flex-column">
                    <label class="biography-label">{{ editDescriptionLabelEn }}</label>
                    <textarea name="descriptionEn" rows="5" cols="33"
                              (change)="biographyFieldTextChange(1, false)">{{ userEditableBiographiesObs$.getValue().en }}</textarea>
                  </div>
                  <div class="col-4 d-flex flex-column">
                    <label id="use-keywords-label-sv" class="biography-label">{{ editDescriptionLabelSv }}</label>
                    <textarea name="descriptionSv" rows="5" cols="33"
                              (change)="biographyFieldTextChange(2, false)">{{ userEditableBiographiesObs$.getValue().sv }}</textarea>
                  </div>
                </div>
              </div>
              <div class="modal-width-prefer-wrapper-lang-modal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <app-dialog
          *ngIf="showDialog$  | async"
          [template]="contentCreationStep !== 4 ? editorTemplate : selectLanguageVersionsTemplate"
          [title]="contentCreationStep !== 4 ? descriptionOfResearchText : selectLanguageVersionsText"
          [underTitle]="contentCreationStep !== 4 ? selectInformationToDisplayInProfile : ''"
          [actions]="dialogActions"
          (onActionClick)="doDialogAction($event)"
          [selectedItemsCount]="0"
          [useNewTemplate]=true
  >
  </app-dialog>
</div>