<!--  This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
    <app-search-bar></app-search-bar>
</aside>
 
<div class="container" *ngFor="let organization of responseData" style="margin-top:25px;">
    <!-- Breadcrumb -->
    <app-breadcrumb [responseData]="responseData" [tab]="tab" [tabName]="'organisaatio'" [resultNameField]="'nameFi'"></app-breadcrumb>
    <div class="row shared">
        <p class="back col-12">
            <a routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="{'page': pageNumber}">&lt; Takaisin hakutuloksiin</a>
        </p>
        <div class="col-12" style="margin: 10px 0 10px 0;" *ngIf="organization.hits.total === 0">
             <h2>404 - Virheellinen osoite</h2>
        </div>
        <main class="col-12 col-md-8">
            <div *ngFor="let item of organization.hits.hits">
                <h2>{{item._source.nameFi}}</h2>
                <div id="info" class="table">
                    <div class="row content" *ngFor="let row of infoFields">
                        <div class="col-6 col-lg-3 th">{{row.label}}</div>
                        <div class="col-6 col-lg-9 td">{{item._source[row.field]}}<span *ngIf="row.fieldEn">,</span> {{item._source[row.fieldEn]}}</div>
                    </div>
                    <div class="row content">
                        <div class="col-6 col-lg-3 th">Opiskelijoiden määrä</div>
                        <div class="col-6 col-lg-4 offset-6 offset-lg-0 first-no-offset-mobile td" *ngFor="let row of studentCounts.slice(0,2)">
                            <p class="th">{{row.label}}</p>
                            <p class="td">{{item._source[row.field]}}</p>
                        </div>
                    </div>
                    <ng-container *ngFor="let row of studentCounts.slice(2); let i = index">
                        <div *ngIf="i % 2 == 0"></div>
                        <div class="row content" *ngIf="i % 2 == 0">
                            <div class="col-6 col-lg-4 offset-6 offset-lg-3 td">
                                <p class="th">{{row.label}}</p>
                                <p class="td">{{item._source[row.field]}}</p>
                            </div>        
                            <div class="col-6 col-lg-5 offset-6 offset-lg-0 td" *ngIf="studentCounts.slice(2).length > i+1">
                                <p class="th">{{studentCounts.slice(2)[i + 1].label}}</p>
                                <p class="td">{{item._source[studentCounts.slice(2)[i + 1].field]}}</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row content" *ngFor="let row of subUnitFields">
                        <div class="col-6 col-lg-3 th">{{row.label}}</div>
                        <div class="col-6 col-lg-9 td">{{item._source[row.field]}}<span *ngIf="row.fieldEn">,</span> {{item._source[row.fieldEn]}}</div>
                    </div>
                </div>
             </div>
         </main>
         <div class="col-12 col-md-4">
            <aside>
                <mat-card>
                    <div *ngFor="let item of organization.hits.hits">
                        <mat-card-title><h2>Organisaation verkkosivu</h2></mat-card-title>
                        <a href="{{item._source.homePage}}">{{item._source.homePage}}</a>
                        <div *ngIf="!item._source.homePage" class="no-links">Organisaatiolle ei ole tarjolla verkkosivua tässä portaalissa</div>
                    </div>
                 </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Tutkimusorganisaation</h2></mat-card-title>
                    <div class="row related">
                        <ul class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <li class=""><a routerLink="/">Julkaisut</a></li>
                            <li class=""><a routerLink="/">Tutkijat</a></li>
                            <li class=""><a routerLink="/">Aineistot</a></li>
                        </ul>
                        <ul class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <li class=""><a routerLink="/">Infrastruktuurit</a></li>
                            <li class=""><a routerLink="/">Muu tutkimustoiminta</a></li>
                        </ul>
                    </div>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Jaa</h2></mat-card-title>
                    <div class="social">
                        <a href="#" class="icon"><fa-icon [icon]="faFacebook"></fa-icon></a>
                        <a href="#" class="icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
                        <a href="#" class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    </div>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Organisaatiotiedon lähde</h2></mat-card-title>
                    <div *ngFor="let source of organization.hits.hits">
                        <p>Virta/Vipunen/etc?</p>
                    </div>
                    <div class="refer"><a href="#">Lue lisää [palvelun nimi] tietovirroista</a></div>
                </mat-card>
            </aside>
        </div>
    </div>
</div>