<mat-dialog-content>
  <div class="row d-flex justify-content-between dialog-header">
    <div class="col">
      <h2 class="modal-title pull-left col h5 mt-n1">Poista profiili</h2>
    </div>
    <div class="col-auto">
      <app-close-button
        class="pull-right pr-3"
        (click)="close()"
        (keydown.enter)="close()"
        autofocus
        tabindex="-1"
      ></app-close-button>
    </div>
  </div>

  <div class="row">
    <p class="col p-3 mx-3">
      Tämä toiminto poistaa Tutkijan tiedot -testisovelluksen profiilin.
    </p>
  </div>

  <div
    class="row d-flex justify-content-center pb-3"
    *ngIf="loading && !connProblem"
  >
    <div class="col-auto align-self-center">
      <mat-spinner
        class="mx-auto"
        [diameter]="80"
        i18n-aria-label="@@loading"
        aria-label="Ladataan"
      ></mat-spinner>
      <span class="d-block pt-3">Profiilia poistetaan, odota hetki...</span>
    </div>
  </div>

  <div class="row" *ngIf="connProblem">
    <div class="col mx-3 pb-3">
      <i class="fas fa-exclamation-triangle"></i> Yhteysongelma. Profiilin
      poisto ei onnistu. Kokeile hetken kuluttua uudestaan.
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <div class="row">
    <div class="col-auto pb-3 pb-md-0">
      <app-secondary-button
        (click)="close()"
        content="Peruuta"
        [disabled]="loading"
      ></app-secondary-button>
    </div>
    <div class="col-auto">
      <app-primary-action-button
        content="Poista profiili"
        [disabled]="loading"
        (click)="deleteProfile()"
      ></app-primary-action-button>
    </div>
  </div>
</mat-dialog-actions>
