<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-container
  *ngIf="currentTemplate"
  [ngTemplateOutlet]="currentTemplate"
></ng-container>

<ng-template #termsTemplate>
  <div
    class="px-3"
    [innerHTML]="useOfTermsContent['content' + currentLocale] | sanitizeHtml"
  ></div>
</ng-template>

<ng-template #personalDataHandlingTermsTemplate>
  <div
    class="px-3"
    [innerHTML]="
      personalDataHandlingTermsContent['content' + currentLocale] | sanitizeHtml
    "
  ></div>
</ng-template>
