@if (!isPortalSinglePage || ((data | hasSelectedItems) && isPortalSinglePage)) {
  <div
    class="group-wrapper py-3 ps-2 pe-3">
    <div class="row py-2">
      <div class="col px-0">
        <!-- SECTION LABEL AND EDIT BUTTON -->
        <div class="row pb-3 justify-content-between">
          <h2 class="col order-1">
            {{ data.label }}@if (data?.items[0]?.itemMeta?.type !== fieldTypes.personResearcherDescription && data?.items[0]?.itemMeta?.type !== fieldTypes.personKeyword && data?.items[0]?.itemMeta?.type !== fieldTypes.activityAffiliation) {
            <span
              >@if ((data| countSelectedItems) > 0) {
              <span
              > ({{ data| countSelectedItems }})</span>
            }</span>
          }
        </h2>
        <div class="col-6 order-2 order-md-3 gx-0 gx-sm-3">
          @if (!isPortalSinglePage && data?.items[0]?.itemMeta?.type !== fieldTypes.personKeyword) {
            <div
              class="d-flex justify-content-end">
              <app-tertiary-button
                class="switch-choices-button"
                [content]="(data | hasSelectedItems) ? editString : selectString"
                [announce]="!(data | hasSelectedItems)"
                [announceText]="data.label + ' ' + noPublicDataText"
                [svgSymbolName]="'edit'"
                [svgCssClass]="'open_in_new-icon button-icon'"
                (click)="openDialog($event, sectionIndex + 1)"
              ></app-tertiary-button>
            </div>
          }
          @if (isPortalSinglePage && data?.items[0]?.itemMeta?.type === fieldTypes.activityPublication) {
            <div
              class="d-flex justify-content-end">
              <!-- Sort publications button -->
              <app-tertiary-button
                class="sort-button z-0"
                [content]="(highlightOpennessState | async) === true ? (sortByText + ': ' + byOpennessText) : (sortByText + ': ' + byYearText)"
                [svgSymbolName]="'sliders'"
                [svgCssClass]="'sliders-icon button-icon'"
                (click)="showSortMenuClick()"
              ></app-tertiary-button>
              <app-sort-dropdown-menu [showMenuTrigger]="showSortMenu"
                [selection]="highlightOpennessDropdownSelection | async"
              (valueChange)="setHighlightingOpennessSelection($event)"></app-sort-dropdown-menu>
            </div>
          }
        </div>
      </div>
      @if (!(data | hasSelectedItems) && !isPortalSinglePage) {
        <div class="row pt-2 pb-3 justify-content-between">
          <div class="col align-self-center fst-italic order-3 order-md-2 mt-3 mt-md-0"
            i18n="@@youHaveNotSelectedAnyPublicData">
          {{ noPublicDataText }}
        </div>
        </div>
      }
      <!-- DESCRIPTION AND KEYWORDS DATA -->
      @if (sectionName === groupTypes.description) {
        <div class="pt-2">
          <div class="summary-panel-wrapper">
            @if (data?.items[0]?.itemMeta?.type) {
              <div>
                @switch (data?.items[0]?.itemMeta?.type) {
                  @case (fieldTypes.personResearcherDescription) {
                    <div>
                      @for (item of data.items; track item) {
                        <div class="summary-panel">
                          @if (item.itemMeta.show) {
                            <div class="row d-flex justify-content-between py-1">
                              <div class="col">
                                @if (item) {
                                  <app-panel-array-item
                                    [item]="item"
                                    [fieldType]="data?.items[0].itemMeta.show"
                                    [localized]="data.localized"
                                  ></app-panel-array-item>
                                }
                              </div>
                            </div>
                          }
                        </div>
                      }
                    </div>
                    <br/>
                  }
                }
              </div>
            }
            @if (data?.keywordItems?.items[0]?.itemMeta?.show) {
              <div>
                <!-- Display joined keywords only if item has show property set to true -->
                <div class="row">
                  <h3>{{ data.keywordItems.label }}</h3>
                </div>
                <div class="row">
                  <div class="col pb-2">
                    {{ data.keywordItems.items | joinItems: 'value' }}
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      }
      <!-- AFFILIATIONS -->
      @if (sectionName === groupTypes.affiliation) {
        <div class="pt-2">
          <!-- Iterate primary affiliations -->
          @for (item of ((data | formatAndSortTimespan: groupTypes.affiliation).items); track item; let i = $index) {
            <div>
              @if ((item.itemMeta.primaryValue && (item.itemMeta.show|| isPortalSinglePage))) {
                <div class="row mb-4">
                  <div class="col-4 col-sm-3 fw-bold">
                    <div class="d-flex justify-content-center flex-column">@if (item['organizationName' + locale]) {
                      <span
                      >{{ item['organizationName' + locale] }}</span>
                    }</div>
                  </div>
                  <div class="col-5 col-sm-6 break-word">
                    <div class="fw-bold d-flex justify-content-between">
                      <div class="d-flex justify-content-center flex-column mb-1">{{ item['positionName' + locale] }}</div>
                      @if (item['positionName' + locale]?.length > 0) {
                        <app-general-badge class="d-none d-sm-flex ms-2"
                        [textInput]="primary"></app-general-badge>
                      }
                    </div>
                    <div class="d-flex justify-content-between"><div>@if (item['departmentName' + locale]) {
                      <span
                      >{{ item['departmentName' + locale] }}</span>
                    }</div>
                    @if (!(item['positionName' + locale]?.length > 0)) {
                      <app-general-badge class="d-none d-sm-flex ms-2"
                      [textInput]="primary"></app-general-badge>
                    }
                  </div>
                  @if (item?.timing) {
                    <div>{{ item?.timing }}</div>
                  }
                </div>
                <div class="col-3">
                  <app-general-badge class="d-flex d-sm-none mb-4 badge-mobile-wrap"
                  [textInput]="primary"></app-general-badge>
                  @for (ds of item.dataSources; track ds; let j = $index) {
                    @for (ds of item.dataSources; track ds; let j = $index) {
                      <div class="font-size-smaller source-row">
                        <span i18n="@@source">Lähde</span>:
                        <span>{{ ds.organization['name' + locale] }}</span>
                      </div>
                    }
                  }
                </div>
              </div>
            }
          </div>
        }
        <!-- Iterate non primary affiliations -->
        @for (item of ((data | formatAndSortTimespan: groupTypes.affiliation).items); track item; let i = $index) {
          <div>
            @if ((!item.itemMeta.primaryValue && (item.itemMeta.show|| isPortalSinglePage))) {
              <div class="row mb-4">
                <div class="col-4 col-sm-3 fw-bold">@if (item['organizationName' + locale]) {
                  <span
                  >{{ item['organizationName' + locale] }}</span>
                }</div>
                <div class="col-5 col-sm-6 break-word">
                  <div class="fw-bold">{{ item['positionName' + locale] }}</div>
                  <div>@if (item['departmentName' + locale]) {
                    <span>{{ item['departmentName' + locale] }}</span>
                  }</div>
                  @if (item?.timing) {
                    <div>{{ item?.timing }}</div>
                  }
                </div>
                <div class="col-3">
                  @for (ds of item.dataSources; track ds; let j = $index) {
                    @for (ds of item.dataSources; track ds; let j = $index) {
                      <div class="font-size-smaller">
                        <span i18n="@@source">Lähde</span>:
                        <span>{{ ds.organization['name' + locale] }}</span>
                      </div>
                    }
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    }
    <!-- EDUCATION -->
    @if (sectionName === groupTypes.education) {
      <div class="pt-2">
        @for (item of ((data | formatAndSortTimespan: groupTypes.education).items); track item; let i = $index) {
          <div class="row mb-4"
            >
            @if (item.itemMeta.show || isPortalSinglePage) {
              <div class="row">
                <div class="col-12 gx-0"><span class="fw-bold">{{ item['name'] }}</span>
                @if (item?.timing?.length > 0) {
                  <div>{{ item?.timing }}</div>
                }
                <!-- TODO: add checkLang pipe -->
                <div class="col-12 gx-0">{{ item.degreeGrantingInstitutionName }}</div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  }
  <!-- PUBLICATIONS -->
  @if (sectionName === groupTypes.publication) {
    <div class="pt-2">
      <app-summary-portal-items
        [isPortalSinglePage]="isPortalSinglePage"
        [data]="data"
        [fieldType]="fieldTypes.activityPublication"
        [highlightOpenness]="highlightOpennessState | async"
        sortField="publicationYear"
        showMoreLabel="julkaisut"
        i18n-showMoreLabel="@@publications"
      ></app-summary-portal-items>
    </div>
  }
  <!-- DATASETS -->
  @if (sectionName === groupTypes.dataset) {
    <div class="pt-2">
      <app-summary-portal-items
        [isPortalSinglePage]="isPortalSinglePage"
        [data]="data"
        [fieldType]="fieldTypes.activityDataset"
        sortField="year"
        showMoreLabel="tutkimusaineistot"
        i18n-showMoreLabel="@@datasets"
      ></app-summary-portal-items>
    </div>
  }
  <!-- FUNDING -->
  @if (sectionName === groupTypes.funding) {
    <div class="pt-2">
      <app-summary-portal-items
        [isPortalSinglePage]="isPortalSinglePage"
        [data]="data | formatAndSortTimespan: groupTypes.funding"
        [fieldType]="fieldTypes.activityFunding"
        sortField="startYear"
        showMoreLabel="rahoitusmyönnöt"
        i18n-showMoreLabel="@@fundings"
      ></app-summary-portal-items>
    </div>
  }
  <!-- ACTIVITIES AND REWARDS -->
  @if (sectionName === groupTypes.activitiesAndRewards) {
    <div class="pt-2">
      <app-summary-portal-items
        [isPortalSinglePage]="isPortalSinglePage"
        [data]="data | formatAndSortTimespan: groupTypes.activitiesAndRewards"
        [fieldType]="fieldTypes.activityActivitiesAndRewards || fieldTypes.activityActivitiesAndRewardsOrcid"
        sortField="name"
        showMoreLabel="aktiviteetit ja palkinnot"
        i18n-showMoreLabel="@@activitesAndRewards"
      ></app-summary-portal-items>
    </div>
  }
</div>
</div>
</div>
}

