//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.doi {
  .tag-id {
    background: #363636;
    color: white;
    padding: 5px 10px 3px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tag-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #EBEBEB;
    padding: 3px 16px 0px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    a {
      display: flex;
      color: #363636;
      text-decoration: none;
      .doi-text {
        max-width: 193px;
        margin-top: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 13px;
        font-weight: 400;
      }
      &:hover, &:active, &:focus  {
        text-decoration: underline;
      };
    }
  }
}
