<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>

<div class="wrapper" *ngIf="responseData" id="main-content">
  <div class="row shared">
    <p class="back col-12" style="padding-bottom: 0.25rem">
      <a
        #backToResultsLink
        routerLink="/results/{{ tab }}/{{ searchTerm }}"
        [queryParams]="tabQueryParams"
        >&lt;
        <ng-container i18n="@@backToResults"
          >Takaisin hakutuloksiin</ng-container
        >
      </a>
    </p>
  </div>
  <!-- Breadcrumb -->
  <app-breadcrumb
    [type]="'single'"
    [responseData]="responseData"
    tab="persons"
    [tabName]="tabData.label"
    [resultNameField]="'name'"
    [queryParams]="tabQueryParams"
  ></app-breadcrumb>

  <div class="row shared">
    <div
      class="col-12"
      style="margin: 10px 0 10px 0"
      *ngIf="responseData.total === 0"
    >
      <h2 i18n="@@404">404 - Virheellinen osoite</h2>
    </div>

    <main class="col-12 col-md-8 px-0" *ngIf="person">
      <div class="row pb-3">
        <div class="col">
          <h1 class="mb-3">{{ person.name }}</h1>
          <span *ngIf="person.orcid">
            <img
              class="orcid-icon"
              src="assets/img/orcid_icon.svg"
              alt="Orcid -palvelun logo"
            />
            http://orcid.org/{{ person.orcid }}
          </span>
        </div>
      </div>

      <!-- Affiliations preview-->
      <div class="row" [class.pt-3]="person.affiliations.primary.length">
        <div
          class="col-12 py-1"
          *ngFor="let affiliation of person.affiliations.primary"
        >
          <ng-container
            *ngTemplateOutlet="
              affiliationPositionOrganization;
              context: { affiliation }
            "
          >
          </ng-container>
        </div>
      </div>

      <!-- Description, field of science & keywords -->
      <div class="row content">
        <div
          *ngFor="
            let row of descriptionFields | checkEmptyFields: person;
            let i = index
          "
          class="py-2"
          [ngClass]="row.key === 'description' ? 'col-12' : 'col'"
        >
          <h3 class="py-2 m-0">{{ row.label }}</h3>
          <span class="row">{{ person[row.key] }}</span>
        </div>
      </div>

      <!-- Affiliations -->
      <div class="row content" *ngIf="person.affiliations.organizations.length">
        <div class="col">
          <h3>{{ affiliationsCaption }}</h3>

          <!-- Primary -->
          <!-- <ng-container *ngIf="person.affiliations.primary.length">
            <div class="sub-heading">Ensisijaiset</div>
            <div
              class="row"
              *ngFor="let affiliation of person.affiliations.primary"
            >
              <ng-container
                *ngTemplateOutlet="
                  affiliationPositionOrganization;
                  context: { affiliation }
                "
              >
              </ng-container>
            </div>

            <hr />
          </ng-container> -->

          <!-- By organizations -->
          <ng-container
            *ngFor="
              let organization of person.affiliations.organizations;
              let i = index
            "
          >
            <div class="sub-heading">{{ organization.name }}</div>

            <!-- Affiliation details -->
            <div class="row">
              <ng-container
                *ngFor="
                  let row of affiliationFields
                    | checkEmptyFields: organization.items;
                  let j = index
                "
              >
                <div class="col-6" [class.ps-0]="j % 2 === 0">
                  <div class="sub-heading">{{ row.label }}</div>

                  <div *ngFor="let affiliation of organization.items">
                    {{ affiliation[row.key] || '&nbsp;' }}
                    <ng-container
                      *ngIf="
                        row.key === 'positionName' && affiliation.yearDisplay
                      "
                      >{{ affiliation.yearDisplay }}</ng-container
                    >
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- Affiliation data source -->
            <div class="row g-0 pt-3">
              <div class="col">
                <ng-container i18n="@@source">Lähde</ng-container>:
                {{ organization.items[0].source }}
              </div>
            </div>

            <hr *ngIf="i + 1 < person.affiliations.organizations.length" />
          </ng-container>
        </div>
      </div>

      <!-- Education -->
      <div class="row content" *ngIf="person.educations.length">
        <div class="col">
          <h3>{{ educationCaption }}</h3>

          <div class="row g-0">
            <!-- Degrees -->
            <div class="col" *ngIf="person.educations.length">
              <div class="sub-heading" i18n="@@degrees">Tutkinnot</div>
              <div class="row g-0 py-1" *ngFor="let row of person.educations">
                {{ row.degree }} {{ row.dateRange }}

                <ng-container *ngIf="row.degree && row.organization">
                  /
                </ng-container>

                {{ row.organization }}
              </div>
            </div>
            <!-- Qualifications -->
            <div class="col"></div>
          </div>
        </div>
      </div>

      <!-- Publications -->
      <app-person-group
        *ngIf="person.publications?.length"
        class="content"
        label="Julkaisut"
        i18n-label="@@publications"
        [data]="person.publications"
        [fields]="publicationFields"
        [maxItemCount]="maxPublicationCount"
        tab="publication"
      ></app-person-group>

      <!-- Datasets -->
      <app-person-group
        *ngIf="person.datasets?.length"
        class="content"
        label="Tutkimusaineistot"
        i18n-label="@@datasets"
        [data]="person.datasets"
        [fields]="datasetFields"
        [maxItemCount]="maxDatasetCount"
        tab="dataset"
      ></app-person-group>

      <!-- Fundings -->
      <app-person-group
        *ngIf="person.fundings?.length"
        class="content"
        label="Hankkeet"
        i18n-label="@@fundings"
        [data]="person.fundings"
        [fields]="fundingFields"
        [maxItemCount]="maxFundingCount"
        tab="funding"
      ></app-person-group>

      <!-- Activites and rewards -->
      <app-person-group
        *ngIf="person.activityAndAwards?.length"
        class="content"
        label="Aktiviteetit ja palkinnot"
        i18n-label="@@activitiesAndAwards"
        [data]="person.activityAndAwards"
        [fields]="activityAndAwardsFields"
        [maxItemCount]="maxActivityAndAwardsCount"
        [additionalFields]="activityAndAwardsAdditionalFields"
      ></app-person-group>
    </main>

    <!-- Sidebar -->
    <div *ngIf="person" class="col-12 col-md-4">
      <!-- MyData login -->
      <!-- <aside>
        <mat-card>
          <div class="row inner g-0">
            <div class="col">
              Oletko tutkija? Kirjaudu sisään muokataksesi profiilissasi näkyviä
              tietoja.
            </div>

            <div class="col-auto">
              <app-primary-action-button
                role="link"
                (click)="router.navigate(['/mydata'])"
                content="Kirjaudu sisään"
                i18n-content="@@logIn"
              ></app-primary-action-button>
            </div>
          </div>
        </mat-card>
      </aside> -->

      <!-- Contact -->
      <aside *ngIf="(contactFields | checkEmptyFields: person.contact).length">
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@contactInfo" class="mb-4">Yhteystiedot</h2>
            </mat-card-title>

            <ng-container *ngFor="let row of contactFields">
              <ng-container *ngIf="person.contact[row.key]?.length">
                <li *ngFor="let item of person.contact[row.key]" class="row">
                  <fa-icon
                    *ngIf="item.icon"
                    [icon]="item.icon"
                    class="col-1 ps-0 pb-3"
                  ></fa-icon>

                  <span class="fw-bold col-auto ps-0" *ngIf="row.label">
                    {{ row.label }}
                  </span>

                  <span class="col truncate ps-0">
                    <ng-container *ngIf="row.key === 'emails'; else nonEmail">
                      <a
                        href="javascript:void(0)"
                        (click)="showEmail($event, item.value)"
                        i18n="@@showEmailAddress"
                        >Näytä sähköpostiosoite</a
                      >
                    </ng-container>
                    <ng-template #nonEmail>
                      {{ item.value }}
                    </ng-template>
                  </span>
                </li>
              </ng-container>
            </ng-container>
          </div>
        </mat-card>
      </aside>

      <!-- Cooperation -->
      <!--
      <aside>
        <mat-card>
          <div class="inner">
            <h2 i18n="@@collaborationHeader">Yhteistyö</h2>
            <span>Placeholder</span>
          </div>
        </mat-card>
      </aside>
      -->
      <!-- Related -->
      <aside>
        <mat-card>
          <div class="inner">
            <h2 i18n="@@researchersSectionIncoming">Tutkijan (tulossa)</h2>
            <app-related-links></app-related-links>
          </div>
        </mat-card>
      </aside>

      <!-- Share -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@shareHeader">Jaa</h2>
            </mat-card-title>
            <app-share [id]="person.id"></app-share>
          </div>
        </mat-card>
      </aside>

      <!-- Sources -->
      <aside *ngIf="person.uniqueDataSources">
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2>{{ dataSourcesCaption }}</h2>
            </mat-card-title>
            {{ person.uniqueDataSources }}
          </div>
        </mat-card>
      </aside>
    </div>
  </div>
</div>

<!-- E.g. 'Job title, Organization name' -->
<ng-template #affiliationPositionOrganization let-affiliation="affiliation">
  {{ [affiliation.positionName, affiliation.organizationName] | joinItems }}
</ng-template>
