<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>

<div class="wrapper" *ngIf="responseData" id="main-content">
  <div class="row shared">
    <p class="back col-12" style="padding-bottom: 0.25rem">
      <a
        #backToResultsLink
        routerLink="/results/{{ tab }}/{{ searchTerm }}"
        [queryParams]="tabQueryParams"
        >&lt;
        <ng-container i18n="@@backToResults"
          >Takaisin hakutuloksiin</ng-container
        >
      </a>
    </p>
  </div>
  <!-- Breadcrumb -->
  <app-breadcrumb
    [type]="'single'"
    [responseData]="responseData"
    tab="persons"
    [tabName]="tabData.label"
    [resultNameField]="'name'"
    [queryParams]="tabQueryParams"
  ></app-breadcrumb>

  <div class="row shared">
    <div
      class="col-12"
      style="margin: 10px 0 10px 0"
      *ngIf="responseData.total === 0"
    >
      <h2 i18n="@@404">404 - Virheellinen osoite</h2>
    </div>

    <main class="col-12 col-md-8 px-0" *ngIf="person">
      <div class="row pb-3">
        <div class="col">
          <h1 class="mb-3">{{ person.name }}</h1>
          <span *ngIf="person.orcid">
            <img
              class="orcid-icon"
              src="assets/img/orcid_icon.svg"
              alt="Orcid -palvelun logo"
            />
            http://orcid.org/{{ person.orcid }}
          </span>
        </div>
      </div>

      <!-- Affiliations preview-->
      <div class="row" [class.pt-3]="person.affiliations.primary.length">
        <div
          class="col-12 py-1"
          *ngFor="let affiliation of person.affiliations.primary"
        >
          <ng-container
            *ngTemplateOutlet="
              affiliationPositionOrganization;
              context: { affiliation }
            "
          >
          </ng-container>
        </div>
      </div>

      <!-- Description, field of science & keywords -->
      <div class="row content">
        <div
          *ngFor="
            let row of descriptionFields | checkEmptyFields: person;
            let i = index
          "
          class="py-2"
          [ngClass]="row.key === 'description' ? 'col-12' : 'col'"
        >
          <h3 class="py-2 m-0">{{ row.label }}</h3>
          <span class="row">{{ person[row.key] }}</span>
        </div>
      </div>

      <!-- Affiliations -->
      <div class="row content" *ngIf="person.affiliations.organizations.length">
        <div class="col">
          <h3>Affiliaatiot</h3>

          <!-- Primary -->
          <ng-container *ngIf="person.affiliations.primary.length">
            <div class="sub-heading">Ensisijaiset</div>
            <div
              class="row"
              *ngFor="let affiliation of person.affiliations.primary"
            >
              <ng-container
                *ngTemplateOutlet="
                  affiliationPositionOrganization;
                  context: { affiliation }
                "
              >
              </ng-container>
            </div>

            <hr />
          </ng-container>

          <!-- By organizations -->
          <ng-container
            *ngFor="
              let organization of person.affiliations.organizations;
              let i = index
            "
          >
            <div class="sub-heading">{{ organization.name }}</div>

            <!-- Affiliation details -->
            <div class="row">
              <ng-container
                *ngFor="
                  let row of affiliationFields
                    | checkEmptyFields: organization.items;
                  let j = index
                "
              >
                <div class="col-6" [class.ps-0]="j % 2 === 0">
                  <div class="sub-heading">{{ row.label }}</div>

                  <div *ngFor="let affiliation of organization.items">
                    {{ affiliation[row.key] || '&nbsp;' }}
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- Affiliation data source -->
            <div class="row g-0 pt-3">
              <div class="col">Lähde: {{ organization.items[0].source }}</div>
            </div>

            <hr *ngIf="i + 1 < person.affiliations.organizations.length" />
          </ng-container>
        </div>
      </div>

      <!-- Education -->
      <div class="row content" *ngIf="person.educations.length">
        <div class="col">
          <h3>Koulutus</h3>

          <div class="row g-0">
            <!-- Degrees -->
            <div class="col" *ngIf="person.educations.length">
              <div class="sub-heading">Tutkinnot</div>
              <div class="row g-0 py-1" *ngFor="let row of person.educations">
                {{ row.degree }}

                <ng-container *ngIf="row.degree && row.organization">
                  /
                </ng-container>

                {{ row.organization }}
              </div>
            </div>
            <!-- Qualifications -->
            <div class="col"></div>
          </div>
        </div>
      </div>

      <!-- Publications -->
      <div class="row content" *ngIf="person.publications.length">
        <div class="col">
          <h3>
            <ng-container i18n="@@publications">Julkaisut</ng-container> ({{
              person.publications.length
            }})
          </h3>

          <div
            class="row g-0"
            *ngFor="
              let publication of person.publications.slice(
                0,
                maxPublicationCount
              );
              let i = index
            "
          >
            <div class="">
              <div
                [class.fw-bold]="row.key === 'name'"
                *ngFor="
                  let row of publicationFields
                    | checkEmptyFields: person.publications
                "
              >
                <app-tag-doi
                  *ngIf="row.key === 'doi' && publication.doi; else textContent"
                  [link]="publication.doi"
                ></app-tag-doi>

                <ng-template #textContent>
                  <a
                    *ngIf="
                      row.key === 'name' && publication.id.trim().length;
                      else plainText
                    "
                    routerLink="/results/publication/{{ publication.id }}"
                  >
                    {{ publication.name }}
                  </a>

                  <ng-template #plainText>
                    <div [class.font-size-small]="row.key === 'year'">
                      {{ publication[row.key] }}
                    </div>
                  </ng-template>
                </ng-template>
              </div>
            </div>

            <hr
              class="mt-3"
              *ngIf="
                i + 1 < maxPublicationCount &&
                i + 1 !== person.publications.length
              "
            />
          </div>
        </div>
        <a
          *ngIf="person.publications.length > maxPublicationCount"
          (click)="maxPublicationCount = person.publications.length"
          class="mt-4"
          i18n="@@showAllPublications"
        >
          Näytä kaikki julkaisut
        </a>
      </div>

      <!-- Datasets -->
      <div class="row content" *ngIf="person.datasets.length">
        <div class="col">
          <h3>
            <ng-container i18n="@@datasets">Aineistot</ng-container> ({{
              person.datasets.length
            }})
          </h3>

          <div
            class="row g-0"
            *ngFor="
              let dataset of person.datasets.slice(0, maxDatasetCount);
              let i = index
            "
          >
            <div class="">
              <ng-container
                *ngFor="
                  let row of datasetFields | checkEmptyFields: person.datasets
                "
              >
                <a
                  routerLink="/results/dataset/{{ dataset.id }}"
                  *ngIf="row.key === 'name' && dataset.id; else plainText"
                >
                  {{ dataset.name }}
                </a>

                <ng-template #plainText>
                  <span class="d-block">{{ dataset[row.key] }}</span>
                </ng-template>
              </ng-container>
            </div>

            <hr
              *ngIf="
                i + 1 < maxDatasetCount && i + 1 !== person.datasets.length
              "
            />
          </div>
        </div>

        <a
          *ngIf="person.datasets.length > maxDatasetCount"
          (click)="maxDatasetCount = person.datasets.length"
          i18n="@@showAll"
        >
          Näytä kaikki
        </a>
      </div>
    </main>

    <!-- Sidebar -->
    <div *ngIf="person" class="col-12 col-md-4">
      <!-- MyData login -->
      <aside>
        <mat-card>
          <div class="row inner g-0">
            <div class="col">
              Oletko tutkija? Kirjaudu sisään muokataksesi profiilissasi näkyviä
              tietoja.
            </div>

            <div class="col-auto">
              <app-primary-action-button
                role="link"
                (click)="router.navigate(['/mydata'])"
                content="Kirjaudu sisään"
                i18n-content="@@logIn"
              ></app-primary-action-button>
            </div>
          </div>
        </mat-card>
      </aside>

      <!-- Contact -->
      <aside *ngIf="(contactFields | checkEmptyFields: person.contact).length">
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@contactInfo" class="mb-4">Yhteystiedot</h2>
            </mat-card-title>

            <ng-container *ngFor="let row of contactFields">
              <ng-container *ngIf="person.contact[row.key]?.length">
                <li *ngFor="let item of person.contact[row.key]" class="row">
                  <fa-icon
                    *ngIf="item.icon"
                    [icon]="item.icon"
                    class="col-1 ps-0 pb-3"
                  ></fa-icon>

                  <span class="fw-bold col-auto px-0" *ngIf="row.label">
                    {{ row.label }}
                  </span>

                  <span class="col truncate">{{ item.value }}</span>
                </li>
              </ng-container>
            </ng-container>
          </div>
        </mat-card>
      </aside>

      <!-- Cooperation -->
      <aside>
        <mat-card>
          <div class="inner">
            <h2 i18n="@@collaborationHeader">Yhteistyö</h2>
            <span>Placeholder</span>
          </div>
        </mat-card>
      </aside>

      <!-- Related -->
      <aside>
        <mat-card>
          <div class="inner">
            <h2>Tutkijan (tulossa)</h2>
            <app-related-links></app-related-links>
          </div>
        </mat-card>
      </aside>

      <!-- Share -->
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2 i18n="@@shareHeader">Jaa</h2>
            </mat-card-title>
            <app-share [id]="person.id"></app-share>
          </div>
        </mat-card>
      </aside>

      <!-- Sources -->
      <aside *ngIf="person.uniqueDataSources">
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2>Lähteet</h2>
            </mat-card-title>
            {{ person.uniqueDataSources }}
          </div>
        </mat-card>
      </aside>
    </div>
  </div>
</div>

<!-- E.g. 'Job title, Organization name' -->
<ng-template #affiliationPositionOrganization let-affiliation="affiliation">
  {{ [affiliation.positionName, affiliation.organizationName] | joinItems }}
</ng-template>
