// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT


.page-wrapper {
  background: #F7F7FB;
  app-breadcrumb .breadcrumb {
    background-color: #F7F7FB !important;
    background: #F7F7FB !important;
  }
}

.content {
  padding: 1.5rem 0 !important;
  display: block;
}

// Layout prototype has overlow for background in every other content area
.content:nth-child(even) {
  margin-left: -1rem !important;
  padding-left: 1rem !important;
}

.section-heading {
  padding-bottom: 1.5rem;
  font-weight: bold;
  display: block;
}

.sub-heading {
  padding: 0.5rem 0;
  font-weight: bold;
}

.collaboration li {
  list-style-type: square;
}

#main-content {
  background: #F7F7FB;
  .group-wrapper {
    background: #fff;
    border: 1px solid #e8e8f5;
    padding: 16px;
    margin-bottom: 10px;
  }
}

.group-wrapper {
  background: #fff;
  border: 1px solid #e8e8f5;
  padding: 16px;
  margin-bottom: 10px;
}

app-profile-card,
.profile-card {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.75rem solid;
}

app-person-profile-view {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.1rem !important;
  }
  #main-content {
    background: #F7F7FB;
  }

  .group-wrapper {
    background: #fff;
    border: 1px solid #e8e8f5;
    padding: 16px;
    margin-bottom: 10px;
  }

  .profile-image-container {
    border: 1px solid;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-inner-container {
    margin-top: 4px;
  }
  /*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-layout {
    white-space: normal;
  }

  app-profile-card,
  .profile-card {
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.75rem solid;
  }

  --mdc-checkbox-selected-icon-color: #4546b9;
  --mdc-checkbox-selected-focus-icon-color: #4546b9;
  --mdc-checkbox-selected-hover-icon-color: #4546b9;
  --mdc-checkbox-disabled-unselected-icon-color: #4546b9;
  --mdc-checkbox-selected-pressed-state-layer-color: #4546b9;
  --mat-checkbox-disabled-label-color: black;
  --mat-app-primary:  #4546b9;
  --mat-app-secondary:  #4546b9;

  .mdc-checkbox__native-control:focus:focus:checked~.mdc-checkbox__background,
  .mdc-checkbox__native-control:focus:focus:indeterminate~.mdc-checkbox__background {
    border-color:#4546b9 !important;
    background-color:#4546b9 !important;
  }

  .mdc-checkbox:hover .mdc-checkbox__native-control:checked~.mdc-checkbox__background,
  .mdc-checkbox:hover .mdc-checkbox__native-control:indeterminate~.mdc-checkbox__background {
    border-color:#4546b9 !important;
    background-color:#4546b9 !important;
  }

  .mdc-checkbox:hover, .mdc-checkbox__background:hover, .mdc-checkbox__native-control:focus:focus:checked ~ .mdc-checkbox__background {
    background-color: #4546b9 !important;
    border-color: #4546b9 !important;
  }

  .mdc-checkbox__background {
    border-color: #4546b9  !important;
  }

  .mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked {
    .mdc-checkbox__background {
      color: #4546b9 !important;
      background: #4546b9 !important;
      border-color: #4546b9;
    }
  }
}