//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

// Hide divider on last element
.summary-panel-wrapper .summary-panel:last-child app-summary-divider {
  display: none;
}

.content-container .container-fluid {
  h2, h3 {
    font-size: 1.4rem;
  }
}

.group-wrapper {
  background: #fff;
  border: 1px solid #e8e8f5;
  padding: 16px;
  margin-bottom: 16px;
}

.year-caption {
  margin-left: 16px;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.base-text {
  font-weight: 500 !important;
  font-size: 1rem;
}