<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-accordion multi>
  <mat-expansion-panel
    *ngFor="let group of data.profileData; let i = index"
    [expanded]="i === 0 || openPanels.indexOf(i) > -1"
    [disabled]="group.fields.length === 0"
  >
    <mat-expansion-panel-header class="pr-1 pr-md-3">
      <mat-panel-title>
        {{ group.label }}
      </mat-panel-title>

      <div class="col-auto align-self-center">
        {{ (group.fields | countGroupItems: true).length }}

        /
        {{ (group.fields | countGroupItems).length }}
        valittu
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let field of group.fields">
      <div
        class="row py-2"
        *ngIf="(field.groupItems | filter: checkGroupSelected).length"
      >
        <div class="col px-0">
          <span
            class="font-weight-bold d-block py-2"
            *ngIf="group.fields.length > 1"
            >{{ field.label }}
          </span>

          <ng-container *ngFor="let groupItem of field.groupItems">
            <ng-container [ngSwitch]="groupItem.groupMeta.type">
              <div class="row" *ngSwitchCase="fieldTypes.personKeyword">
                <div class="col px-0 font-size-smaller">
                  {{ groupItem.items | joinItems: 'value' }}
                </div>

                <!-- Source -->
                <!-- <div
                  class="col-auto px-0 mt-1 text-right opacity-3 font-size-small"
                >
                  {{ groupItem.source.organization['name' + locale] }}
                </div> -->
              </div>
              <ng-container *ngSwitchDefault>
                <ng-container *ngFor="let item of groupItem.items">
                  <div
                    class="row d-flex justify-content-between py-1"
                    [class.justify-content-between]="
                      groupItem.groupMeta.type !==
                      fieldTypes.activityAffiliation
                    "
                    *ngIf="item.itemMeta.show"
                  >
                    <div
                      class="col px-0 font-size-smaller"
                      [class.col-auto]="
                        groupItem.groupMeta.type ===
                        fieldTypes.activityAffiliation
                      "
                    >
                      <app-panel-array-item
                        [item]="item"
                        [fieldType]="groupItem.groupMeta.type"
                        [localized]="field.localized"
                      ></app-panel-array-item>
                    </div>

                    <div
                      *ngIf="
                        item.itemMeta.primaryValue &&
                        groupItem.groupMeta.type ===
                          fieldTypes.activityAffiliation
                      "
                      class="col-auto px-4 mx-1 cursor-pointer"
                    >
                      <app-primary-badge
                        label="Ensisijainen"
                        [selected]="true"
                        [disabled]="true"
                      ></app-primary-badge>
                    </div>

                    <!-- Debugging -->
                    <!-- <div class="col-auto font-size-small mt-1" style="color: red">
                itemId: {{ item.itemMeta.id }} | groupId:
                {{ groupItem.groupMeta.id }}
              </div> -->

                    <!-- Source -->
                    <!-- <div
                class="col-auto px-0 mt-1 text-right opacity-3 font-size-small"
              >
                {{ groupItem.source.organization['name' + locale] }}
              </div> -->
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div class="row pt-3">
      <app-secondary-button
        content="Muokkaa"
        (click)="openDialog($event, i, group.editLabel)"
      ></app-secondary-button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
