<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-container *ngFor="let group of profileData.slice(1); let i = index">
  <div
    class="group-wrapper"
    *ngIf="
      (group.fields | countGroupItems).length ||
      group.id === groupTypes.publication ||
      group.id === groupTypes.dataset
    "
  >
    <div class="row py-2 justify-content-between">
      <div class="col-4 align-self-center font-weight-bold">
        {{ group.label }}
      </div>
      <div
        class="col align-self-center font-italic"
        i18n="@@youHaveNotSelectedAnyPublicData"
        *ngIf="
          (group.fields | countGroupItems: { filterSelected: true }).length ===
          0
        "
      >
        Et ole vielä valinnut julkisesti näytettäviä tietoja
      </div>
      <div class="col-auto">
        <app-secondary-button
          [content]="
            (group.fields | countGroupItems: { filterSelected: true }).length
              ? editString
              : selectString
          "
          (click)="openDialog($event, i + 1)"
        ></app-secondary-button>
      </div>
    </div>

    <ng-container *ngFor="let field of group.fields">
      <div
        class="row py-2"
        *ngIf="(field.groupItems | filter: checkGroupSelected).length"
      >
        <div class="col px-0 pb-3" [ngSwitch]="group.id">
          <app-summary-affiliations
            *ngSwitchCase="groupTypes.affiliation"
            [data]="field"
            [fieldTypes]="fieldTypes"
          ></app-summary-affiliations>

          <app-summary-publications
            *ngSwitchCase="groupTypes.publication"
            [data]="field"
            [fieldTypes]="fieldTypes"
          >
          </app-summary-publications>

          <app-summary-datasets
            *ngSwitchCase="groupTypes.dataset"
            [data]="field"
            [fieldTypes]="fieldTypes"
          >
          </app-summary-datasets>

          <div class="summary-panel-wrapper" *ngSwitchDefault>
            <div
              class="col font-weight-bold py-2"
              *ngIf="group.fields.length > 1"
            >
              {{ field.label }}
            </div>

            <ng-container
              *ngFor="
                let groupItem of field.groupItems | filter: checkGroupSelected
              "
            >
              <div class="summary-panel" [ngSwitch]="groupItem.groupMeta.type">
                <ng-container *ngSwitchCase="fieldTypes.personKeyword">
                  <!-- Display joined keywords only if item has show property set to true -->
                  <div class="row" *ngIf="groupItem.items[0].itemMeta.show">
                    <div class="col pb-2 font-size-smaller">
                      {{ groupItem.items | joinItems: 'value' }}
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <ng-container *ngFor="let item of groupItem.items">
                    <div
                      class="row d-flex justify-content-between py-1"
                      *ngIf="item.itemMeta.show"
                    >
                      <div class="col font-size-smaller">
                        <app-panel-array-item
                          [item]="item"
                          [fieldType]="groupItem.groupMeta.type"
                          [localized]="field.localized"
                        ></app-panel-array-item>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <app-summary-divider></app-summary-divider>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
