<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div [ngClass]="link?.length > 0 ? 'tag open-access rounded' : 'tag open-access rounded no-link'">
  <a *ngIf="link?.length > 0" [href]="link" target="_blank">
    <div class="d-flex">
        <mat-icon [svgIcon]="'general.unlocked.openAccess'"></mat-icon>
      <span class="tag-text" i18n="@@openAccess">Avoin saatavuus</span>
      <mat-icon [svgIcon]="'general.externalLink'" class="external-link-icon"></mat-icon>
    </div>
  </a>

  <div *ngIf="!link" class="d-flex">
      <mat-icon class="ico" [svgIcon]="'general.unlocked.openAccess'"></mat-icon>
      <span class="tag-text" i18n="@@openAccess">Avoin saatavuus</span>
  </div>
</div>


