//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.open-access {
  border: 2px solid #ea883e;
  max-width: 152px;
  max-height: 29px;
  .svg-inline--fa {
    max-height: 14.8px !important;
    max-width: 14px !important;
  }
}

a {
  color: #bc520a;
}

img {
  height: 1rem;
  width: auto;
  margin-right: 0.5rem;
  max-width: 10.2px !important;
  max-height: 16px !important;
}