//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.no-link {
  max-width: 144px !important;
}

.open-access {
  border: 1px solid #C0DBA2;
  background: #C0DBA2;
  max-width: 170px;
  max-height: 29px;

  a, .no-link {
    color: #294210;
    text-decoration: none !important;
  }

  a {
    &:hover, &:active, &:focus {
      color: #294210;
      text-decoration: underline !important;
    }
  }

  .tag-text {
    color: #294210;
    //font-size: 0.85rem;
    height: 18px;
  }

  .text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mat-icon[data-mat-icon-name='general.unlocked.openAccess'] {
    height: 16px;
    width: 16px;
    padding-left: 0px;
    margin-right: 8px;
    margin-left: -3px;

    svg {
      padding-top: 0px;
      width: 16px;
      color: #294210;
    }
  }
}
