<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="tag open-access rounded">
  <a *ngIf="link.length > 0; else plainText" [href]="link" target="_blank">
    <ng-container [ngTemplateOutlet]="tabContent"></ng-container>
    <fa-icon icon="external-link-alt"></fa-icon>
  </a>

  <ng-template #plainText>
    <ng-container [ngTemplateOutlet]="tabContent"></ng-container>
  </ng-template>
</div>

<ng-template #tabContent>
  <img src="assets/img/openaccess.svg" />
  <span class="fw-bold" i18n="@@openAccess">Avoin saatavuus</span>
</ng-template>
