<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="tag open-access rounded">
  <a *ngIf="link.length > 0" [href]="link" target="_blank">
    <div class="d-flex">
      <img src="assets/img/openaccess.svg" />
      <span class="fw-bold" i18n="@@openAccess">Avoin saatavuus</span>
      <fa-icon icon="external-link-alt"></fa-icon>
    </div>
  </a>

  <a *ngIf="link.length < 1" [href]="link" target="_blank">
    <fa-icon icon="external-link-alt"></fa-icon>
  </a>
</div>


