// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

@use 'migration' as *;

@mixin app-mydata-shared-theme($theme) {
  --mdc-snackbar-supporting-text-color: #000;

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  app-profile-summary,
  app-profile-panel {
    .mat-expansion-indicator::after {
      color: mat-color($primary);
    }
  }

  // Shared with some of the modals
  .mat-mdc-dialog-content {
    //max-width: 800px;
  }

  .mat-mdc-snack-bar-handset .mat-mdc-snack-bar-container {
    width: unset;
  }

  .mat-mdc-snackbar-container {
    --mdc-snackbar-container-color: transparent !important;
  }

  .mat-mdc-snackbar-surface {
    background: transparent !important;
    .mdc-button__label {
      color: #4546b9 !important;
      font-weight: bold;
    }
  }

  .mat-mdc-snack-bar-container {
    margin-top: 77px;
    border-radius: 5px;
    &.success {
      background: #A9D7AE;
      color: black !important;
      border: 1px solid #014C07;
      .mat-mdc-button {
        color: #014C07;
      }
      .mdc-button__label {
        color: #014C07 !important;
        font-weight: bold;
      }
    }
    &.error {
      background: #F2B58C;
      color: black !important;
      border: 1px solid #622E04;
      .mat-mdc-button {
        color: #fff;
      }
      .mdc-button__label {
        color: #622E04 !important;
        font-weight: bold;
      }
    }
  }

  .custom-table {
    mat-header-row {
      background: mat-color($primary) !important;
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
      .mat-checkbox-inner-container {
        background: white;
      }
    }

    .mat-mdc-header-cell {
      color: white;
    }
  }
}
