// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

@use 'migration' as *;

@mixin app-mydata-shared-theme($theme) {
  .mat-mdc-snackbar-container {
    --mat-snackbar-supporting-text-color: #000 !important;
  }

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  app-profile-summary,
  app-profile-panel {
    .mat-expansion-indicator::after {
      color: mat-color($primary);
    }
  }

  // Shared with some of the modals
  .mat-mdc-dialog-content {
    //max-width: 800px;
  }

  .mat-mdc-snack-bar-handset .mat-mdc-snack-bar-container {
    width: unset;
  }

  .mat-mdc-snackbar-container {
    --mat-snackbar-container-color: transparent !important;
  }

  .mat-mdc-snackbar-surface {
    color: transparent;
    .mdc-button__label {
      color: #4546b9 !important;
      font-weight: bold;
    }
  }

  .mat-mdc-snack-bar-container  {
    margin-top: 77px;
    border-radius: 5px;
    &.success {
      .mat-mdc-snackbar-surface {
        background: #A9D7AE !important;
        color: black !important;
        border: 1px solid #014C07;

        .mdc-snackbar__label {
          display: flex;
          margin-left: 8px;
          &::before {
            content: url("/assets/img/icons/icon-success.svg");
            width: 20px;
            height: 20px;
            display: flex;
            margin-right: 20px;
            align-self: center;
          }
        }

        .mat-mdc-button {
          color: #014C07;
        }

        .mdc-button__label {
          display: flex;
          color: #014C07 !important;
          font-weight: bold;
          &::after {
            content: url("/assets/img/icons/icon-close-green.svg");
            width: 13px;
            height: 13px;
            display: flex;
            margin-left: 14px;
            align-self: center;
            margin-right: 5px;
          }
        }
      }
    }
    &.error {
      .mat-mdc-snackbar-surface {
        background: #F2B58C;
        color: black !important;
        border: 1px solid #622E04;

        .mdc-snackbar__label {
          display: flex;
          margin-left: 8px;
          &::before {
            content: url("/assets/img/icons/icon-exclamation-triangle.svg");
            width: 20px;
            height: 20px;
            display: flex;
            margin-left: -5px;
            margin-right: 20px;
            align-self: center;
          }
        }

        .mat-mdc-button {
          color: #fff;
        }

        .mdc-button__label {
          display: flex;
          color: #622E04 !important;
          font-weight: bold;
          &::after {
            content: url("/assets/img/icons/icon-close-orange.svg");
            width: 13px;
            height: 13px;
            display: flex;
            margin-left: 14px;
            align-self: center;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .custom-table {
    mat-header-row {
      background: mat-color($primary) !important;
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
      .mat-checkbox-inner-container {
        background: white;
      }
    }

    .mat-mdc-header-cell {
      color: white;
    }
  }
}
