//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - I

app-search-portal-results {
  .mat-checkbox-inner-container {
    margin-top: 0.175rem !important;
  }

  table {
    width: 100%;
  }

  mat-header-row {
    min-height: unset;
  }

  mat-row,
  mat-footer-row {
    min-height: unset;
    align-items: unset;
  }

  mat-header-row,
  mat-row {
    padding: 0 1rem;
  }

  mat-cell,
  mat-header-cell,
  mat-footer-cell {
    padding: 0.5rem;
    align-items: flex-start;
  }

  mat-cell {
    margin-top: 0.25rem;
  }

  .mat-column-selection {
    flex: 0 0 2rem;
    overflow: visible;
  }

  .mat-column-year {
    flex: 0 0 3.75rem;
  }

  .mat-column-name {
    flex-direction: column;
  }

  .mat-column-show-more {
    flex: 0 0 6.5rem;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0;
  }

  @media (max-width: 991px) {
    .mat-header-row {
      display: none;
    }

    .mat-row {
      display: block;
      padding: 0.5rem 0;
    }

    .mat-column-selection {
      float: right;
    }

    mat-cell {
      padding-left: 0;
    }
  }
}
