@import '~@angular/material/theming';

@mixin app-results-theme-shared($theme) {
    $primary: map-get($theme, primary);

    app-results {
        h3 {
            color: mat-color($primary, 900);
        }
        
        span.total {
            color: gray;
        }

        span.arrow, span.bold {
            color: mat-color($primary);
        }

        // "Bleed" the styles into sub-pages
        app-publications, app-fundings, app-organizations, app-related-results {

            .row.expand {
                background: mat-color($primary, 50);
            }
            
            a.pagination-link {
                color: mat-color($primary) !important;
            }

            h3 {
                color: mat-color($primary, 900);
            }

            a.arrow {
                color: mat-color($primary)!important;
            }

            a.arrow::before {
                font-family: "FontAwesome";
                content: "\f054"; 
            }
            
            a.arrow.expand::before {
                font-family: "FontAwesome";
                content: "\f078";
            }

            .inline li {
                border: 1px solid mat-color($primary);
                background: white;
            }
            
            .inline li.active {
                border: 1px solid mat-color($primary);
                background: mat-color($primary);
                color: white;
            }
            
            @media (max-width: 991px) {
                .single:last-child {
                    border-bottom: 1px solid mat-color($primary, 300);
                }
                .single:nth-child(odd) {
                    border-bottom: 1px solid mat-color($primary, 300);
                    border-top: 1px solid mat-color($primary, 300);
                    background: mat-color($primary, 50);   
                }
            }
        }
    }
}