//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.spinner-center {
  margin-top: 25px;
  height: 100px;
  padding-left: 40%;
}

// Breadcrumbs
.breadcrumb {
  position: absolute;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

// Filters
.col.filters {
  background: #f9f9f9;
  padding-top: 15px;
  margin-top: 48px;
}

// Sort
.sort {
  text-align: right;
}

// Tabs
:host /deep/ .mat-tab-label {
  font-size: 1.2em;
  color: #4f51a8;
  font-weight: bold;
  opacity: 1!important;
}

::ng-deep .mat-ink-bar {
  background-color:#3aaa35 !important;}

.mat-tab-group {
  min-height: 740px;
}

::ng-deep .mat-tab-body-wrapper {
  padding-top: 20px;
}

// Table
th {
  text-transform: uppercase;
}

tr {
  border-bottom: 1px solid #4f51a875;
}

tr.header {
  border-bottom: 2px solid #4f51a8;
}

tr.ng-star-inserted.expand {
  border-bottom: 5px solid;
}

td {
  padding: 20px 10px 20px 0px;
  vertical-align: top;
}

td.shorten {
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
  max-height: 20px!important;
  text-overflow: ellipsis;
}

a.arrow {
  color: #808080;
}

a.arrow::before {
  font-family: "FontAwesome";
  content: "\f078"; 
}

a.arrow.expand::before {
  font-family: "FontAwesome";
  content: "\f077";
}

//Expand column
.row.expand .col.shorten {
  white-space: unset;
  overflow: visible;
  text-overflow: unset;
}

// Results list
.row.no-margin {
  margin: 0 auto;
  border-bottom: 1px solid #4f51a8;
}

span.bold {
  font-weight: bold;
}

.single .col {
  padding: 12px 8px;
}

.col.arrow {
  max-width: 27px;
  padding: 0px;
  text-align: center;
}

.col.shorten {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row.expand {
  background: #f9f9f9;
}

.col.expand {
  white-space: unset;
  overflow: auto;
  text-overflow: unset;
}

a.arrow {
  color: #808080;
}

a.arrow::before {
  font-family: "FontAwesome";
  content: "\f078"; 
}

a.arrow.expand::before {
  font-family: "FontAwesome";
  content: "\f077";
}

// Pagination
a.pagination-link {
cursor: pointer;
font-weight: bold;
color: #4f51a8;
}

// Responsive
@media (max-width: 616px) {
  .col {
    max-width: 100%;
    flex: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}