//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT
@mixin app-results-shared {
    app-results {
        // "Bleed" the styles into child components
        app-publications, app-fundings, app-organizations, app-related-results {

            //Expand column
            .row.expand .col.shorten {
                white-space: unset;
                overflow: visible;
                text-overflow: unset;
            }

            .related-fields {
                display: none
            }

            .related-fields span {
                font-weight: bold;
            }

            ul.inline, ul.results {
                list-style: none;
                padding: 0;
            }

            .inline li {
                display: inline-block;
                border-radius: 6px;
                padding: 0px 10px;
                margin-right: 10px;
                margin-bottom: 3px;
            }

            .related-fields .col {
                padding: 0;
            }

            .related-fields .offset {
                margin-left: 5%;
            }

            .related-fields.expand {
                display: block
            }

            // Results list
            .row.no-margin {
                margin: 0 auto;
            }
            
            span.bold {
                font-weight: bold;
            }
            
            .single .col {
                padding: 12px 12px;
            }
            
            .col.arrow {
                max-width: 5%;
                text-align: center;
            }
            
            .col.shorten {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .col.expand {
                white-space: unset;
                overflow: auto;
                text-overflow: unset;
            }

            div.arrow {
                display: flex;
                justify-content: center;
            }
            
            a.arrow {
                cursor: pointer;
                // align-self: center;
            }

            a.arrow::before {
                font-family: "FontAwesome";
                content: "\f054"; 
            }
            
            a.arrow.expand::before {
                font-family: "FontAwesome";
                content: "\f078";
            }
            
            // Responsive
            @media (max-width: 616px) {
                .col {
                    max-width: 100%;
                }
            }

            @media (max-width: 991px) {
                .col.col-lg-1, .col-lg-2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .arrow {
                    display: none;
                }
            }
            
            @media (min-width: 1200px) {
                .container {
                    max-width: 100%;
                }
            }
        }
    }
}