.searchbox {
  max-width: 800px;
  /* position: absolute; */
  /* z-index: 999; */
  /* left: 23%; */
  /* max-height: 300px; */
  /* overflow-y: scroll; */
  background: #fff;
  margin: 0 auto;
  width: 50%;
}