//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@mixin app-single-result-shared {
    app-single-publication, app-single-funding, app-single-organization {
        .container {
            max-width: 1440px;
        }
        // Prevent style bleeding
        .shared {

            // Table
            // table {
            //     box-shadow: 1px 1px 2px 0px;
            // }

            tr {
                padding: 0.5rem 0;
            }

            tr.row:empty {
                display: none;
            }

            th {
                vertical-align: middle;
                padding: 5px 0px 5px 15px;
            }

            td {
                word-wrap: break-word;
                p {
                    margin-bottom: 0.2rem;
                    word-wrap: break-word;
                }
                p:first-child {
                    font-weight: bold;
                }
            }

            table {
                margin: 20px 0px;
                width: 100%;
            }

            #links td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            main h2 {
                margin-top: 2rem;
            }

            h2 {
                overflow: hidden;
                font-size: 1.2em;
                font-weight: bold;
            }

            a {
                font-weight: bold;
            }

            .mat-checkbox {
                cursor: default;
            }

            .center {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            .back {
                text-decoration: underline;
                margin: 0;
            }

            // Sidebar
            mat-card.mat-card {
                margin-bottom: 10px;
                border-radius: 0px;
                padding: 20px;
                box-shadow: none;
            }

            .mat-card-title {
                font-size: inherit;
            }

            .row.related {
                margin-top: 20px;
            }

            .related p {
                padding: 0;
            }

            span.mat-button-wrapper {
                font-size: 1.3em;
                font-weight: bold;
                white-space: normal;
            }

            button.mat-raised-button {
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                box-shadow: none;
            }

            .refer {
                font-size: 10px;
                float: right;
            }

            .social {
                text-align: left;
                width: 100%;
            }

            .fa {
                font-size: 32px;
                padding: 16px 16px 0 0;
            }

            .fa:hover {
                opacity: 0.7;
            }

            @media (max-width: 991px) {
                td.first-no-offset-mobile:nth-child(2) {
                    margin-left: 0;
                }
            }

            @media (min-width: 768px) and (max-width: 991px) {
                .reference {
                    padding: 0;
                }
            }
        }
    }
}