.collapsible-container {
  background-color: rgb(247, 247, 251);
}

.collapsible-label {
  font-size: 1.1rem;
  font-weight: bolder;

  padding: 11px 16px;
  border-radius: 4px;

  user-select: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.collapsible-icon {
  transition: transform 0.1s ease-out;
}

/* icon can be flipped */
.icon-collapsed {
  transition: transform 0.25s ease-out;
  transform: rotate(0deg);
}

.icon-expanded {
  transition: transform 0.25s ease-out;
  transform: rotate(180deg);
}

/*.collapsible-container .content {

}

.collapsible-container .content.collapsed {
  // max-height: 1000px; !* Adjust as needed *!
}*/


.collapsible-content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsed {
  max-height: 0;
}
