<ng-template #tooltipElement>
  <div>
    <ng-content select="[tooltip]"></ng-content>
  </div>
</ng-template>

<div class="collapsible-container">
  <div class='collapsible-label' (click)="toggle()">
    <div style='display: flex; flex-wrap: wrap'>
      @if (decoration === "plus" && isOpen) {
        <div style='margin-right: 10px'>-</div>
      }

      @if (decoration === "plus" && !isOpen) {
        <div style='margin-right: 10px'>+</div>
      }

      <div>
        {{label}}

        @if (hasTooltip) {
          <div style='display: inline-block; margin-left: 10px; color: rgb(69, 70, 185)'>
            <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
          </div>
        }
      </div>
    </div>

    <span>
      @if (!isOpen) {
        <app-svg-sprites [iconName]="'chevron-down'" cssClass="chevron-down-icon navi-icon"></app-svg-sprites>
      }
      @if (isOpen) {
        <app-svg-sprites [iconName]="'chevron-up'" cssClass="chevron-down-icon navi-icon"></app-svg-sprites>
      }
    </span>
  </div>

  <div [@expandCollapse]="isOpen ? 'expanded' : 'collapsed'">
    <ng-content></ng-content>
  </div>
</div>
