<ng-template #tooltipElement>
  <div>
    <ng-content select="[tooltip]"></ng-content>
  </div>
</ng-template>

<div class="collapsible-container">
  <div class='collapsible-label' (click)="toggle()">
    <div style='display:flex'>
      <ng-container *ngIf='decoration === "plus" && isOpen'>
        <div style='margin-right: 10px'>-</div>
      </ng-container>

      <ng-container *ngIf='decoration === "plus" && !isOpen'>
        <div style='margin-right: 10px'>+</div>
      </ng-container>

      <div>{{label}}</div>

      <ng-container *ngIf='hasTooltip'>
        <div style='margin-left: 10px; color: rgb(69, 70, 185)'>
          <i class="fa fa-info-circle" [tooltip]='tooltipElement'></i>
        </div>
      </ng-container>
    </div>

    <span>
      <i class="fa fa-chevron-down" [ngClass]='{"icon-collapsed": !isOpen, "icon-expanded": isOpen}'></i>
    </span>
  </div>

  <div [@expandCollapse]="isOpen ? 'expanded' : 'collapsed'">
    <ng-content></ng-content>
  </div>
</div>
