<!-- This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<footer>
  <nav class="footer">
    <div class="wrapper footer-top-wrapper">
      <div class="row  justify-content-between">
        <div class="col-12 col-lg-2 d-flex flex-row gx-0 footer-logo-column">

          <div class="footer-logo-wrap d-flex flex-row gx-0 me-2 my-3">
            <div class="row d-flex justify-content-center flex-column okm-logo-wrap gx-0 me-2">
              <a [attr.href]="okmUrl" target="_blank">
                <img
                        class="logo"
                        src="{{ 'assets/img/okm_logo_' + locale + '.png' }}"
                        i18n-alt="@@okmLogo"
                        alt="Opetus- ja kulttuuriministeriön logo, leijonavaakuna"
                />
              </a>
            </div>

            <div class="row d-flex justify-content-center flex-column">
              <a href="https://www.csc.fi/" target="_blank">
                <img
                        class="logo csc-logo"
                        src="assets/img/csc_logo.png"
                        i18n-alt="@@CSCLogoAltText"
                        alt="Organisaation CSC - Tieteen ja tietotekniikan keskus logo"
                />
              </a>
            </div>
          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 col-xxl-6 d-flex row justify-content-center justify-content-lg-end gx-4">

          <div class="col-12 col-sm-4 col-lg-4 text-center text-sm-end text-md-end text-block gx-0 pe-2 pe-sm-4 pe-xl-0">
            <h2 class="footer-heading" style="white-space: pre" i18n="@@footer.title.portal">
              Tiedejatutkimus.fi
            </h2>

            <ul class="footer-top-navi">
              <li><a i18n="@@footer.link.about" routerLink="/service-info">Tietoa palvelusta</a></li>
              <li><a i18n="@@footer.link.faq-portal" routerLink="/service-info" fragment="faq_1">Usein kysytyt
                kysymykset</a></li>
            </ul>
          </div>

          <div class="col-12 col-sm-4 col-lg-4 text-center text-sm-end text-md-end text-block gx-0 pe-2 pe-xl-0">
            <div>
              <h2 class="footer-heading">
                Ota yhteyttä
              </h2>

              <li>
                <a tabindex="0" class='no-href' (click)="openDialog(reviewDialog)">
                  <ng-container i18n="Footer-link@@footerLink6">Anna palautetta</ng-container>
                </a>
              </li>

              <ul class="footer-top-navi">
                <ng-container *ngIf='interacted === false'>
                  <li>
                    <a tabindex="0" #contact class='href' (focus)='setInteracted(true)'
                       (mouseover)='setInteracted(true)'>
                      <span class='reverse'>if.csc&#64;sumiktutajedeit</span>
                    </a>
                  </li>
                </ng-container>

                <ng-container *ngIf='interacted === true'>
                  <li>
                    <a tabindex="0" [href]="'mailto:' + email" class='href'>{{ email }}</a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>

          <div class="col-12 col-sm-4 col-lg-4 text-center text-sm-end text-md-end text-block gx-0 pe-4 pe-xl-1 some-column">
            <div>
              <h2 i18n="@@followUs" class="footer-heading">Seuraa meitä!</h2>

              <ul class="footer-top-navi">
                <li class="d-flex justify-content-center justify-content-sm-end">
                  <a href="https://www.linkedin.com/company/tiedejatutkimus-fi"
                     class="d-flex justify-content-center justify-content-lg-start align-items-center"
                     target="_blank"
                  ><span i18n="linkedin-footer@@linkedinFooter"></span>
                    <app-svg-sprites i18n-title="@@linkedinTitleText" [iconName]="'linkedin-logo'"
                                     cssClass="linkedin-logo"></app-svg-sprites>
                    Linkedin</a>
                </li>
                <li class="d-flex justify-content-center justify-content-sm-end">
                  <a
                          href="https://bsky.app/profile/tiedejatutkimus.fi"
                          class="d-flex justify-content-center justify-content-lg-start align-items-center"
                          target="_blank"
                  ><span i18n="bluesky-footer@@blueskyFooter"></span>
                    <app-svg-sprites i18n-title="@@blueskyTitleText" [iconName]="'bluesky-social-logo'"
                                     cssClass="bluesky-social-logo"></app-svg-sprites>
                    Bluesky</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!--<div class="build-info d-none d-lg-block gx-0">
          <span>{{ buildInfo }}</span>
        </div>-->
      </div>
    </div>

    <!-- Large screen footer bottom navi -->
    <div class="d-none d-md-flex flex-row justify-content-between footer-bottom-navi-bar footer-bottom-wrapper">
      <div class="wrapper my-0">
        <div class="row">
          <ul class="footer-bottom-navi d-flex justify-content-center justify-content-lg-end flex-row">
            <li class=""><a i18n="@@footer.link.data-protection" routerLink="/privacy">Tietosuoja</a></li>
            <li class="lg-li"><a i18n='@@footer.link.privacy' routerLink='/mydata/privacy'>Henkilötietojen käsittely</a>
            </li>
            <li class="lg-li"><a i18n='@@footer.link.accessability'
                                 routerLink='/accessibility'>Saavutettavuusseloste</a></li>
            <li class="lg-li"><a i18n="@@footer.link.sitemap" routerLink="/sitemap">Sivukartta</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Mobile footer bottom navi -->
    <div class="d-flex d-md-none flex-row justify-content-evenly footer-bottom-navi-bar footer-bottom-wrapper">
      <div class="wrapper my-0">
        <div class="row d-flex justify-content-center">
          <ul class="col-5 footer-bottom-navi d-flex justify-content-start flex-column">
            <li><a i18n="@@footer.link.data-protection" routerLink="/privacy">Tietosuoja</a></li>
            <li><a i18n='@@footer.link.privacy' routerLink='/mydata/privacy'>Henkilötietojen käsittely</a></li>
          </ul>
          <ul class="col-6 footer-bottom-navi d-flex justify-content-start flex-column">
            <li><a i18n='@@footer.link.accessability' routerLink='/accessibility'>Saavutettavuusseloste</a></li>
            <li><a i18n="@@footer.link.sitemap" routerLink="/sitemap">Sivukartta</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="review-button" *ngIf="showReviewButton">
    <button
            tabindex="0"
            class="review"
            (click)="openDialog(reviewDialog)"
            mat-raised-button
            color="primary"
            i18n="Review-button@@reviewButton"
    >
      Anna palautetta!
    </button>
    <button class="close" mat-raised-button (click)="close()">
      <app-svg-sprites [iconName]="'close'" cssClass="close-icon give-feedback"></app-svg-sprites>
    </button>
  </div>

  <ng-template #discardChangesTemplate>
    <div class="row">
      <div class="col">
        <p i18n="@@discardSessionChanges">
          Hylätäänkö julkaisemattomat muutokset?
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template #reviewDialog>
    <app-review (onClose)="closeDialog()"></app-review>
  </ng-template>

  <!-- Discard changes dialog -->
  <app-dialog
          *ngIf="discardChangesModalVisible$ | async"
          [template]="discardChangesTemplate"
          [title]="discardChangesDialogTitle"
          (onActionClick)="doDiscardChangesDialogAction($event)"
          (onDialogClose)="doDiscardChangesDialogAction($event)"
          [actions]="discardChangesAndLogoutActions"
  ></app-dialog>

  <app-dialog
          *ngIf="showDialog"
          [template]="dialogTemplate"
          [title]="dialogTitle"
          [actions]="basicDialogActions"
          (onActionClick)="closeDialog()"
  ></app-dialog>

  <ng-container *ngIf="quickstartState$ | async">
    <app-welcome-stepper></app-welcome-stepper>
  </ng-container>
</footer>
