// # This file is part of the research.fi API service
// #
// # Copyright 2019 Ministry of Education and Culture, Finland
// #
// # :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// # :license: MIT

// Beta review button

app-footer {
  .review-button {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 10%;
  }

  button.review {
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: -64px;
    transition: 0.2s;
  }

  button.review:focus {
    text-decoration: underline;
  }

  button.close {
    right: -64px;
    width: 64px;
    transition: 0.2s;
    border-radius: 0;
  }

  .review-button:hover > button.review,
  .review-button:hover > button.close {
    transition: 0.2s;
    right: 0;
  }

  html.cdk-global-scrollblock button.review {
    right: -20%;
  }

  // Footer
  footer {
    width: 100%;
    padding: 2rem 0;
  }

  .header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
  }

  .col {
    border: 0px solid;
  }

  ul {
    padding-inline-start: 0px;
  }

  li {
    padding: 0.5rem 0;
    list-style: none;
    font-weight: bold;
  }

  .href:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  img {
    // padding-top: 10px;
  }

  img.logo {
    max-width: 200px;
    height: auto;
    // margin-top: 20px;
    display: block;
  }

  .social ul {
    margin-bottom: 5px;
  }

  .social-icon {
    font-size: 2rem;
    padding-right: 1rem;
  }

  .build-info {
    font-size: 9px;
    opacity: 0.6;
  }

  .pull-right {
    clear: both;
  }

  a {
    font-weight: bold;
  }

  //Responsive
  @media (max-width: 575px) {
  }

  @media (min-width: 576px) {
  }

  @media (max-width: 767px) {
    footer .col {
      min-width: 100%;
      text-align: center;
      padding: 0;
    }

    img.logo {
      margin-top: 0;
      margin: 0 auto;
    }

    .header {
      padding: 5rem 0 14px;
    }

    footer ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0rem;
    }

    footer li {
      padding: 1rem;
    }

    .social {
      text-align: center;
    }

    .fa {
      padding: 1rem;
    }
  }

  @media (max-width: 991px) {
    .pull-right {
      float: none;
    }
  }
}
