<!-- This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<footer>
  <nav class="footer wrapper">
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-lg-auto">
        <div class="row d-flex justify-content-center text-center">
          <h2 class="header pt-3" i18n="Footer-header@@footerHeader1">
            Palvelun tarjoaa
          </h2>
        </div>

        <div class="row d-flex justify-content-center">
          <a [attr.href]="okmUrl" target="_blank">
            <img
              class="logo"
              src="{{ 'assets/img/okm_logo_' + locale + '.png' }}"
              i18n-alt="@@okmLogo"
              alt="Opetus- ja kulttuuriministeriön logo, leijonavaakuna"
            />
          </a>
        </div>

        <div class="row d-flex justify-content-center text-center">
          <h2 class="header" i18n="Footer-header@@footerHeader2">
            Yhteistyössä
          </h2>
        </div>

        <div class="row d-flex justify-content-center">
          <a href="https://www.csc.fi/" target="_blank">
            <img
              class="logo"
              src="assets/img/csc_logo.png"
              i18n-alt="@@CSCLogoAltText"
              alt="Organisaation CSC - Tieteen ja tietotekniikan keskus logo"
            />
          </a>
        </div>
      </div>

      <div class="col-12 col-lg-auto text-center text-lg-start"> <!-- [class.col-lg-2]="myDataBeta" -->
        <h2 class="header" style="white-space: pre" i18n="@@footer.title.portal">
          Tiedejatutkimus.fi
        </h2>

        <ul>
          <li><a i18n="@@footer.link.portal" routerLink="/">Tiedejatutkimus.fi</a></li>
          <li><a i18n="@@footer.link.about" routerLink="/service-info">Tietoa palvelusta</a></li>
          <li><a i18n="@@footer.link.sitemap" routerLink="/sitemap">Sivukartta</a></li>
          <li><a i18n="@@footer.link.faq-portal" routerLink="/service-info" fragment="faq_1">Usein kysytyt kysymykset</a></li>
          <li><a i18n="@@footer.link.accessibility" routerLink="/accessibility">Saavutettavuusseloste</a></li>
          <li><a i18n="@@footer.link.data-protection" routerLink="/privacy">Tietosuoja</a></li>
        </ul>
      </div>

      <div class="col-12 col-lg-auto text-center text-lg-start">
        <h2 class="header" i18n="@@footer.title.mydata">
          Tutkijan Tiedot -työkalu
        </h2>

        <ul>
          <li><a i18n='@@footer.link.mydata' routerLink='/mydata'>Tutkijan tiedot -työkalu</a></li>
          <li><a i18n="@@footer.link.quickstart" class='no-href'(click)='openQuickstartDialog()'>Pikaohjeet</a></li>
          <li><a i18n='@@footer.link.instructions' [href]='instructionsUrl'>Kuvalliset käyttöohjeet</a></li>
          <li><a i18n='@@footer.link.faq-mydata' routerLink='/service-info' fragment='faq_3'>Usein kysytyt kysymykset</a></li>
          <li><a i18n='@@footer.link.privacy' routerLink='/mydata/privacy'>Henkilötietojen käsittely</a></li>
          <li><a i18n='@@footer.link.terms-and-conditions' routerLink='/mydata/terms'>Käyttöehdot</a></li>
          <li><a i18n='@@footer.link.accessability' routerLink='/accessibility'>Saavutettavuusseloste</a></li>
        </ul>
      </div>

      <div class="col-12 col-lg-auto text-center text-lg-start">
        <h2 class="header" i18n="Footer-header@@footerHeader5">
          Info ja yhteystiedot
        </h2>

        <li>
          <a class='no-href' (click)="openDialog(reviewDialog)">
            <ng-container i18n="Footer-link@@footerLink6">Anna palautetta</ng-container>
          </a>
        </li>

        <ul>
          <ng-container *ngIf='interacted === false'>
            <li>
              <a tabindex='0' #contact class='href' (focus)='setInteracted(true)' (mouseover)='setInteracted(true)'>
                <span class='reverse'>if.csc&#64;sumiktutajedeit</span>
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf='interacted === true'>
            <li>
              <a tabindex='0' [href]="'mailto:' + email" class='href'>{{email}}</a>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="col-12 col-lg-auto">
        <div class="social">
          <h2 i18n="@@followUs" class="header">Seuraa meitä!</h2>

          <ul>
            <li>
              <a
                href="https://twitter.com/tiedejatutkimus"
                class="d-flex justify-content-center justify-content-lg-start align-items-center"
                target="_blank"
              ><span i18n="Twitter-footer@@twitterFooter"></span>
                  <app-svg-sprites i18n-title="@@twitterTitleText" [iconName]="'fa-twitter'" cssClass="twitter-icon"></app-svg-sprites>Tiedejatutkimus.fi Twitterissä</a>
            </li>
          </ul>
        </div>

        <div class="build-info pull-right">
          <span>{{ buildInfo }}</span>
        </div>

      </div>
    </div>
  </nav>
  <div class="review-button" *ngIf="showReviewButton">
    <button
      tabindex="0"
      class="review"
      (click)="openDialog(reviewDialog)"
      mat-raised-button
      color="primary"
      i18n="Review-button@@reviewButton"
    >
      Anna palautetta!
    </button>
    <button class="close" mat-raised-button (click)="close()">
        <app-svg-sprites [iconName]="'close'" cssClass="close-icon give-feedback"></app-svg-sprites>
    </button>
  </div>

  <ng-template #reviewDialog>
    <app-review (onClose)="closeDialog()"></app-review>
  </ng-template>

  <app-dialog
    *ngIf="showDialog"
    [template]="dialogTemplate"
    [title]="dialogTitle"
    [actions]="basicDialogActions"
    (onActionClick)="closeDialog()"
  ></app-dialog>

  <ng-container *ngIf="quickstartState$ | async">
    <app-welcome-stepper></app-welcome-stepper>
  </ng-container>
</footer>
