<!-- This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<footer>
  <nav class="footer wrapper">
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-lg-auto">
        <div class="row d-flex justify-content-center text-center">
          <h2 class="header pt-3" i18n="Footer-header@@footerHeader1">
            Palvelun tarjoaa
          </h2>
        </div>
        <div class="row d-flex justify-content-center">
          <a [attr.href]="okmUrl" target="_blank">
            <img
              class="logo"
              src="{{ 'assets/img/okm_logo_' + locale + '.png' }}"
              i18n-alt="@@okmLogo"
              alt="Opetus- ja kulttuuriministeriön logo, leijonavaakuna"
            />
          </a>
        </div>
        <div class="row d-flex justify-content-center text-center">
          <h2 class="header" i18n="Footer-header@@footerHeader2">
            Yhteistyössä
          </h2>
        </div>
        <div class="row d-flex justify-content-center">
          <a href="https://www.csc.fi/" target="_blank">
            <img
              class="logo"
              src="assets/img/csc_logo.png"
              i18n-alt="@@CSCLogoAltText"
              alt="Organisaation CSC - Tieteen ja tietotekniikan keskus logo"
            />
          </a>
        </div>
      </div>

      <div
        class="col-12 col-lg-auto text-center text-lg-start"
        [class.col-lg-2]="myDataBeta"
      >
        <h2 class="header" style="white-space: pre" i18n="Footer-header@@footerHeader3">
          Palvelun käyttö
        </h2>
        <ul>
          <li>
            <a i18n="Footer-link@@footerLink1" routerLink="/service-info">
              Tietoa palvelusta
            </a>
          </li>

          <ng-container *ngIf="!myDataBeta">
            <li>
              <a i18n="Footer-link@@footerLink4" routerLink="/sitemap">
                Sivukartta
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="myDataBeta">
            <li>
              <a i18n="Footer-link@@footerLink10" routerLink="/mydata">Pikaohjeet</a>
            </li>

            <li>
              <a i18n="Footer-link@@footerLink12" href="https://wiki.eduuni.fi/x/WQgGEw" target="_blank">
                Kuvalliset käyttöohjeet
              </a>
            </li>

            <li>
              <a i18n="Footer-link@@footerLink13" routerLink="/service-info" fragment="faq_3">
                Usein kysytyt kysymykset
              </a>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="col-12 col-lg-auto text-center text-lg-start">
        <h2 class="header" i18n="Footer-header@@footerHeader4">
          Info ja yhteystiedot
        </h2>
        <ul>
          <li>
            <a href="javascript:void(0)" (click)="openDialog(reviewDialog)">
              <ng-container i18n="Footer-link@@footerLink6">
                Anna palautetta
              </ng-container>
            </a>
          </li>

          <li>
            <a
              tabindex="0"
              #contact
              class="href"
              (focus)="getMail()"
              (mouseover)="getMail()"
              ><span class="reverse">if.csc@sumiktutajedeit</span></a
            >
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-auto text-center text-lg-start">
        <h2 class="header" i18n="Footer-header@@footerHeader5">
          Selosteet ja käytännöt
        </h2>
        <ul>
          <ng-container *ngIf="myDataBeta">
            <li>
              <a i18n="Footer-link@@footerLink9" routerLink="/mydata/privacy">
                Henkilötietojen käsittely
              </a>
            </li>

            <li>
              <a i18n="Footer-link@@footerLink11" routerLink="/mydata/terms">Käyttöehdot</a>
            </li>
          </ng-container>

          <li>
            <a i18n="Footer-link@@footerLink8" routerLink="/accessibility"
              >Saavutettavuusseloste</a
            >
          </li>
          <li *ngIf="!myDataBeta">
            <a i18n="Footer-link@@footerLink9" routerLink="/privacy"
              >Henkilötietojen käsittely</a
            >
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-auto">
        <div class="social">
          <h2 i18n="@@followUs" class="header">Seuraa meitä!</h2>
          <ul>
            <li>
              <a
                href="https://twitter.com/tiedejatutkimus"
                class="d-flex justify-content-center justify-content-lg-start align-items-center"
                target="_blank"
                i18n-title="@@twitterTitleText"
                title="Twitter -palvelun logo"
                i18n="Twitter-footer@@twitterFooter"
              >
                <fa-icon class="social-icon" [icon]="faTwitter"></fa-icon
                >Tiedejatutkimus.fi Twitterissä</a
              >
            </li>
          </ul>
        </div>
        <div class="build-info pull-right">
          <span>{{ buildInfo }}</span>
        </div>
      </div>
    </div>
  </nav>
  <div class="review-button" *ngIf="showReviewButton">
    <button
      tabindex="0"
      class="review"
      (click)="openDialog(reviewDialog)"
      mat-raised-button
      color="primary"
      i18n="Review-button@@reviewButton"
    >
      Anna palautetta!
    </button>
    <button class="close" mat-raised-button (click)="close()">
      <fa-icon
        class="close-icon"
        style="font-size: 1.2rem"
        [icon]="faTimes"
      ></fa-icon>
    </button>
  </div>

  <ng-template #reviewDialog>
    <app-review></app-review>
  </ng-template>

  <app-dialog
    *ngIf="showDialog"
    [template]="dialogTemplate"
    [title]="dialogTitle"
    [actions]="basicDialogActions"
    (onActionClick)="closeDialog()"
  ></app-dialog>
</footer>
