// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

app-footer {
  .review-button {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 26%;
  }

  button.review {
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: -64px;
    transition: 0.2s;
  }

  button.review:focus {
    text-decoration: underline;
  }

  button.close {
    right: -64px;
    width: 64px;
    transition: 0.2s;
    border-radius: 0;
  }

  .review-button:hover > button.review,
  .review-button:hover > button.close {
    transition: 0.2s;
    right: 0;
  }

  html.cdk-global-scrollblock button.review {
    right: -20%;
  }

  // Footer
  footer {
    width: 100%;
    a:hover {
      text-decoration: underline;
      text-decoration-color: #4546b9 !important;
    }
  }

  .header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    padding: 1rem 0;
  }

  .footer-top-wrapper {
    min-height: 152px;
    .text-block {
      margin-top: 30px;
    }
    .left-pad {
      margin-left: 88px;
    }
  }

  .footer-bottom-wrapper {
    min-height: 40px;
    height: 100%;
  }

  .footer-logo-column {
    justify-content: flex-start;
  }

  .footer-logo-wrap {
    max-width: 300px;
    margin-top: 30px;
    margin-bottom: 25px
  }

  .okm-logo-wrap {
    max-width: 220px;
  }

  .footer-heading {
    font-weight: 500;
    font-size: 1rem;
    display: block;
    padding: 0;
    margin-bottom: 5px;
  }

  .footer-bottom-navi-bar {
    background-color: #C7C8EA;
    .wrapper {
      width: 100%;
    }
  }

  .col {
    border: 0px solid;
  }

  ul {
    padding-inline-start: 0px;
    &.footer-top-navi {
      margin-bottom: 28px;
    }
    &.footer-bottom-navi {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .lg-li {
        margin-left: 64px
      }

      li {
        a {
          font-size: 16px;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }

  li {
    padding: 0.3rem 0;
    list-style: none;
    font-weight: bold;
  }

  .href:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  img.csc-logo {
    height: 58px;
    display: block;
  }

  img.logo {
    max-width: 200px;
    // margin-top: 20px;
    display: block;
  }

  .social ul {
    margin-bottom: 5px;
  }

  .social-icon {
    font-size: 2rem;
    padding-right: 1rem;
  }

  .build-info {
    margin-top: 14px;
    font-size: 10px;
    opacity: 0.6;
  }

  .pull-right {
    clear: both;
  }

  a {
    font-weight: 500;
  }

  //Responsive
  @media (max-width: 575px) {

  }

  @media (min-width: 576px) {
  }

  @media (max-width: 767px) {
  }

  @media (min-width: 576px) and (max-width: 991px) {
    .some-column {
      padding-right: 45px !important;
    }
  }

  @media (max-width: 991px) {
    footer .col {
      min-width: 100%;
      text-align: center;
      padding: 0;
    }

    .footer-logo-column {
      justify-content: center !important;
    }

    img.logo {
      margin-top: 0;
      margin: 0 auto;
    }

    .header {
      padding: 5rem 0 14px;
    }

    footer ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0rem;
    }

    ul {
      &.footer-top-navi {
        margin-bottom: 5px !important;
      }
    }

    app-footer .footer-top-wrapper .text-block {
      margin-top: 0px;
      margin-bottom: 30px;
    }

    .footer-bottom-navi-bar {
      margin-top: 30px;
    }

    footer li {
      padding: 0.6rem 0rem 0.3rem 0rem;
    }

    .social {
      text-align: center;
    }

    .fa {
      padding: 1rem;
    }

    .pull-right {
      float: none;
    }
  }
}
