:host {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 20px 10px 15px 10px;

  width: 100%;

  @media (min-width: 900px) {
    width: auto;
  }
}

.navigation-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 7px;

  width: 100%;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.expand-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4546B9;

  margin-top: 1rem;
}

/********************************/

/* scrollable-navigation.component.css */
.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;  /* Setting up horizontal snapping */
  padding: 10px 0;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
  // border: 1px solid magenta;

  display: flex;
  // justify-content: center;
  // align-items: center;

  max-width: 100%;

  /*@media (min-width: 900px) {
    width: 600px;
  }*/

  scrollbar-width: none;
}

.nav-btn {
  display: inline-block;
  padding: 10px 20px;
  // margin-right: 10px;

  width: 180px;
  flex: 0 0 180px;
  height: 90px;

  // background-color: lightblue;  /* Button color */
  // color: white;
  // border: none;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: start;  /* Ensuring the buttons snap to the start */

  box-sizing: border-box;

  font-size: 1rem;
  line-height: 1.5;
  color: #4546B9;

}

.active {
  border: #3366cc 1px solid;
  border-bottom: initial;
  font-weight: 700;
}

.not-active {
  background-color: #e8e8f5;
  border-top: 15px solid white;
  border-bottom: #3366cc 1px solid;
}

.disabled {
  background-color: #f0f0f0;
  color: #b3b3b3;
  cursor: not-allowed;
}

/*.button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/

/* Optional: Styling the scrollbar for aesthetics */
/*.scrollmenu::-webkit-scrollbar {
  height: 8px;
}

.scrollmenu::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.scrollmenu::-webkit-scrollbar-thumb {
  background-color: #888;
}

.scrollmenu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}*/
