.navigation-layout {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 7px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 990px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.expand-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4546B9;

  margin-top: 1rem;
}
