:host {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 20px 10px 15px 10px;

  width: 100%;

  @media (min-width: 900px) {
    width: auto;
  }
}

.navigation-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 7px;

  width: 100%;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.expand-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4546B9;

  margin-top: 1rem;
}
