:host {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 0 10px 10px 10px;

  width: 100%;

  @media (min-width: 900px) {
    width: auto;
  }
}

.navigation-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 7px;

  width: 100%;

  margin-top: 1.5rem;

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.expand-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4546B9;

  margin-top: 1rem;
}

/********************************/

.scroll-wrapper {
  position: relative; /* Contains the absolute positioning of the buttons */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.scroll-menu {
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;  /* Setting up horizontal snapping */
  padding: 10px 0 0 0;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
  // border: 1px solid magenta;

  display: flex;
  // justify-content: center;
  // align-items: center;

  max-width: 100%;

  /*@media (min-width: 900px) {
    width: 600px;
  }*/

  scrollbar-width: none;

  // position: relative;
}

.nav-btn222 {
  display: inline-block;
  padding: 10px 20px;
  // margin-right: 10px;

  width: 180px;
  flex: 0 0 180px;
  height: 90px;

  // background-color: lightblue;  /* Button color */
  // color: white;
  // border: none;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: start;  /* Ensuring the buttons snap to the start */

  box-sizing: border-box;

  font-size: 1rem;
  line-height: 1.5;
  color: #4546B9;

}

.active {
  border: #3366cc 1px solid;
  border-bottom: initial;
  font-weight: 700;
}

.not-active {
  background-color: #e8e8f5;
  border-top: 15px solid white;
  border-bottom: #3366cc 1px solid;
}

.disabled {
  background-color: #f0f0f0;
  color: #b3b3b3;
  cursor: not-allowed;
}

.left-btn, .right-btn {
  position: absolute;
  bottom: 0;
  z-index: 9;
}

.left-btn {
  left: 8px;
  bottom: -2px;
}

.right-btn {
  right: 8px;
  bottom: -2px;
}

.left-gradient-container {
  position: absolute;
  z-index: 10;
  width: 75px;
  height: 95px;
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.right-gradient-container {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 95px;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.nav-arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  flex: 0 0 50px;

  margin-top: 40px;

  border-radius: 50%;
  box-shadow: 1px 3px 3px;

  background-color: #4546b9;
  color: white;

  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  fa-icon {
    display: block;
    margin-top: 2px;
    margin-left: 1px;
  }
}

.hidden {
  position: absolute;
  // width: 1px;
  // height: 1px;
  // margin: -1px;
  // padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
