<div class='navigation-layout'>

  <ng-container *ngIf='slicedButtons$ | async as buttons'>
    <ng-container *ngFor='let button of buttons; trackBy: trackByLabel'>

      <app-tab-button [icon]='button.icon'
                      [label]='button.label'
                      [count]='button.count'
                      [active]='button.active'
                      [disabled]='button.disabled'
                      [routerLink]='button.route + "/" + ((input$ | async) ?? "")'
                      [queryParams]='queryParams$ | async'>
      </app-tab-button>

    </ng-container>
  </ng-container>

  <ng-container *ngIf='(isActiveVisible$ | async) === false'>
    <ng-container *ngIf='activeButton$ | async as button'>

      <app-tab-button [icon]='button.icon'
                      [label]='button.label'
                      [count]='button.count'
                      [active]='button.active'
                      [disabled]='button.disabled'
                      [routerLink]='button.route + "/" + ((input$ | async) ?? "")'
                      [queryParams]='queryParams$ | async'>
      </app-tab-button>

    </ng-container>
  </ng-container>

</div>

<ng-container *ngIf='(isDesktop$ | async) === false'>
  <ng-container *ngIf='(showAll$ | async) === false'>
    <div class="expand-text" (click)='toggleAll()'>
      <div style='margin-right: 0.25rem'>Näytä lisää</div>
      <i class='fa-solid fa-caret-down'></i>
    </div>
  </ng-container>

  <ng-container *ngIf='(showAll$ | async) === true'>
    <div class='expand-text' (click)='toggleAll()'>
      <div style='margin-right: 0.25rem'>Näytä vähemmän</div>
      <i class='fa-solid fa-caret-up'></i>
    </div>
  </ng-container>
</ng-container>


<div style='display: flex'>
  <button (click)='scrollTo(0)'>0</button>
  <button (click)='scrollTo(1)'>1</button>
  <button (click)='scrollTo(2)'>2</button>
  <button (click)='scrollTo(3)'>3</button>
  <button (click)='scrollTo(4)'>4</button>
  <button (click)='scrollTo(5)'>5</button>
  <button (click)='scrollTo(6)'>6</button>
  <button (click)='scrollTo(7)'>7</button>
  <button (click)='scrollTo(8)'>8</button>
</div>

<div style='display: flex'>
  <button (click)='scrollLeft()'>LEFT</button>
  <button (click)='scrollRight()'>RIGHT</button>
</div>

<div class='scrollmenu' #scroll>

  <ng-container *ngIf='defaultOrderButtons$ | async as buttons'>
    <ng-container *ngFor='let button of buttons; trackBy: trackByLabel'>
      <div class='nav-btn' [class.active]='button.active' [class.not-active]='!button.active' [class.disabled]='button.disabled'>
        {{ button.label }} <br> {{ button.count }}
      </div>
    </ng-container>
  </ng-container>

</div>





