// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

app-header {
  .center-container {
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .title {
    font-size: 1.3rem;
  }

  mat-form-field .mat-select-value-text {
    font-weight: bold !important;
  }

  a.nav-item.nav-link {
    font-weight: bold;
  }
}
