<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<header class="wrapper">
  <div class="navbar navbar-expand-xl navbar-light row">
    <!-- Logo / slogan -->
    <lib-logo class="logo col-7 col-xs-9 col-xl-2 px-0"></lib-logo>
    <!-- Navigation -->
    <lib-navigation
      class="nav-top col-auto col-xs-3 col-xl-10 p-0"
      *ngIf="currentRoute === '/' || currentRoute?.includes('/?'); else title"
      [navItems]="navItems"
      [currentLang]="lang"
      [currentRoute]="currentRoute"
    ></lib-navigation>
    <ng-template #title>
      <div class="col center-container">
        <h1 class="title m-0 font-weight-bold">Tutkijan tiedot</h1>
      </div>
      <div class="col text-right" *ngIf="loggedIn">
        <a href="javascript:void(0)" (click)="logout()" class="font-weight-bold"
          >Kirjaudu ulos</a
        >
      </div>
    </ng-template>
  </div>
</header>
