// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

.description {
  margin-bottom: 3rem;
}

.organization {
  margin-bottom: 1rem;
}

h3 {
  font-size: 18px;
  margin-bottom: 2rem;
}

div.iframe-container {
  padding: 0;
}

.mat-expansion-panel-content {
  a {
    font-size: 18px;
  }
}
