<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h1 [innerHTML]="introText['title' + currentLocale]"></h1>
      </div>
    </div>
    <div class="row base">
      <div
        class="col-12 col-lg-8 pt-4"
        [innerHTML]="introText['content' + currentLocale]"
      ></div>
    </div>
    <div class="row base">
      <div class="col">
        <div class="content" #mainFocus tabindex="0">
          <mat-accordion>
            <mat-expansion-panel
              *ngFor="
                let sector of sectorData;
                let i = index;
                trackBy: trackByFn
              "
              [expanded]="openedIdx === i"
              (opened)="openedIdx = i"
              (closed)="openedIdx = -1"
            >
              <mat-expansion-panel-header collapsedHeight="61px">
                <mat-panel-title>
                  <i class="icon fas" [ngClass]="'fa-' + sector.icon"></i>
                  <div class="title align-self-center">
                    <h2>{{ sector['name' + currentLocale] }}</h2>
                  </div>
                </mat-panel-title>
                <span
                  *ngIf="openedIdx !== i"
                  class="align-self-center mr-2"
                  i18n="@@open"
                  >Avaa</span
                >
                <span
                  *ngIf="openedIdx === i"
                  class="align-self-center mr-2"
                  i18n="@@close"
                  >Sulje</span
                >
              </mat-expansion-panel-header>
              <div class="row">
                <div
                  class="col-12 description"
                  [innerHTML]="sector['description' + currentLocale]"
                ></div>
                <div class="col-12 col-md-3">
                  <h3>{{ sector['subtitle' + currentLocale] }}</h3>
                  <ul class="org-links">
                    <li
                      *ngFor="let org of sector?.organizations"
                      class="organization"
                    >
                      <a routerLink="/results/organization/{{ org.link }}"
                        ><span>{{ org['name' + currentLocale] }}</span></a
                      >
                    </li>
                  </ul>
                </div>
                <div
                  *ngIf="sector['iframe' + currentLocale].length > 0"
                  #iframe
                  class="col-12 col-md-8 iframe-container"
                >
                  <iframe
                    width="{{ colWidth }}"
                    height="{{ colWidth * 0.75 }}"
                    [src]="sector['iframe' + currentLocale] | safeUrl"
                    frameborder="0"
                    allowfullscreen="true"
                  ></iframe>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</main>
