//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@mixin app-active-filters-shared {

    app-active-filters, app-filter-list {

        // .row.active-filters {
        //     padding-inline-start: 1.4rem;
        // }

        .active-filters h4 {
            padding: 0 1rem 0 0;
        }

        .active-filters ul {
            list-style: none;
            padding: 0;
        }

        .filter {
            display: inline-block;
        }

        .active-filters {
            font-size: 0.85rem;
        }

        .active-filters li, button.clear {
            padding: 2px 10px;
            margin: 0 4px 4px 0;
            border-radius: 10px;
            line-height: 28px;
            cursor: pointer;
        }

        button.clear {
            border-radius: 5px;
            padding-right: 15px;
            padding-left: 15px;
            font-size: inherit;
        }

        .active-filters li {
            padding-right: 30px;
            position: relative;
            &:nth-last-child(2):not(.modal-filter) {
                margin-right: 20px;
            }
        }

        .active-filters li:after {
            position: absolute;
            font-family: "FontAwesome";
            content: "\f00d ";
            font-size: 1.2rem;
            padding-left: 5px;
        }

        .active-filters li:hover::after {
            font-size: 1.5rem;
            top: 0px;
        }

        // Warning icon
        .icon.warning {
            padding: 0 1rem 0 0.5rem;
        }

        .warning-info {
            display: block;
            position: absolute;
            border: 1px solid;
            margin-top: 1.1rem;
            margin-left: 9rem;
            width: 230px;
            padding: .5rem;
            z-index: 2;
        }

        .warning-info:after, .warning-info:before {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 33px;
            height: 0;
            width: 0;
            pointer-events: none;
        }

        .warning-info:after {
            border-width: 12px!important;
            margin-left: -12px;
        }

        // Modal
        li {
            list-style: none;
        }

        @media (max-width: 991px) {
            .active-filters {
                padding-inline-end: 1.4rem;
            }
        }
    }
}