//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

app-editor-modal {
  .dialog-header {
    padding: 0 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mat-dialog-content {
    max-height: 85vh;
    padding: 0rem;
  }
}
