<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-dialog-content>
  <div class="row d-flex justify-content-between dialog-header">
    <div class="col-8 col-sm">
      <div class="row">
        <h2 class="col-12 col-sm pl-0 modal-title h5">
          {{ editorData.data.label }}
        </h2>

        <div class="col-12 col-sm-auto pl-0 pt-3 pt-sm-0 align-self-center">
          <mat-checkbox
            [checked]="allSelected"
            (change)="toggleAll($event)"
            [indeterminate]="checkSomeSelected()"
            >Valitse kaikki</mat-checkbox
          >
        </div>
      </div>
    </div>

    <div class="col-auto mt-1 mt-sm-0 align-self-sm-center">
      <app-close-button
        (click)="close()"
        (keydown.enter)="close()"
        autofocus
        tabindex="-1"
      ></app-close-button>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col px-0 px-lg-3">
      <app-profile-panel
        [dataSources]="editorData.dataSources"
        [primarySource]="primarySource"
        [data]="editorData.data"
        [originalData]="originalEditorData"
        (onRadioItemToggle)="toggleRadio($event)"
        (onSingleItemToggle)="toggleSingle($event)"
      ></app-profile-panel>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-block mb-0 pb-0 px-lg-3">
  <div class="row justify-content-center justify-content-md-end">
    <div class="col-auto">
      <app-secondary-button
        (click)="close()"
        content="Peruuta"
      ></app-secondary-button>
    </div>
    <div class="col-auto">
      <app-primary-action-button
        (click)="saveChanges()"
        content="Tallenna"
      ></app-primary-action-button>
    </div>
  </div>
</mat-dialog-actions>
