<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<mat-dialog-content>
  <div class="row d-flex justify-content-between dialog-header">
    <div class="col-12 col-md pb-3 pb-md-0">
      <h2 class="modal-title pull-left px-lg-3 h5 mt-n1">
        {{ editorData.data.label }}
      </h2>
    </div>
    <div class="col-auto">
      <mat-checkbox
        [checked]="allSelected"
        (change)="toggleAll($event)"
        [indeterminate]="checkSomeSelected()"
        >Valitse kaikki</mat-checkbox
      >
    </div>
    <div class="col-auto">
      <app-close-button
        class="pull-right pr-3"
        (click)="close()"
        (keydown.enter)="close()"
        autofocus
        tabindex="-1"
      ></app-close-button>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="row">
        <div class="col px-0">
          <app-profile-panel
            [dataSources]="editorData.dataSources"
            [primarySource]="primarySource"
            [data]="editorData.data"
            [originalData]="originalEditorData"
            (onRadioItemToggle)="toggleRadio($event)"
            (onSingleItemToggle)="toggleSingle($event)"
          ></app-profile-panel>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-block mb-0 pb-0">
  <div class="row justify-content-center justify-content-md-end pt-2">
    <div class="col-auto pl-0 pl-md-3">
      <app-secondary-button
        (click)="close()"
        content="Peruuta"
      ></app-secondary-button>
    </div>
    <div class="col-auto pr-0 pr-md-3">
      <app-primary-action-button
        (click)="saveChanges()"
        content="Tallenna"
      ></app-primary-action-button>
    </div>
  </div>
</mat-dialog-actions>
