<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row" *ngIf="data">
  <div class="col py-3 px-0">
    <ng-container *ngFor="let field of data.fields; let i = index">
      <div class="row field">
        <div class="col px-0">
          <!-- Field -->
          <div class="row">
            <span class="col px-0 h6 field-label">
              {{ field.label }}
            </span>

            <div class="col-auto">
              <mat-slide-toggle
                [checked]="field.show"
                (change)="toggleField(i)"
                labelPosition="before"
                >Näytä profiilissani</mat-slide-toggle
              >
            </div>
          </div>

          <!-- Field values -->
          <div class="row" *ngIf="!field.length; else fieldArrayTemplate">
            <div class="col field-value">
              {{ field.name }}

              <span class="pl-3 opacity-3">
                Orcid
                <!-- {{ field.sourceId }} -->
              </span>
            </div>
          </div>
          <ng-template #fieldArrayTemplate>
            <!-- TODO: array items should have matching property names -->
            <div class="col field-value" *ngFor="let value of field">
              {{ value.webLink.url }}

              <span class="pl-3 opacity-3">
                <!-- TODO: map source by ID -->
                Orcid
                <!-- {{ field.sourceId }} -->
              </span>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-container>

    <div class="row pt-3">
      <span class="col-12">Valitse lähteet:</span>
      <app-button-group
        class="col-12 pb-3"
        [data]="dataSources"
        [checked]="checked"
        [vertical]="appSettingsService.mobileStatus | async"
      ></app-button-group>
    </div>
  </div>
</div>
