<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->
<mat-chip-list class="mat-chip-list-stacked" aria-label="Tiekartta" [selectable]="true">
    <mat-chip [selected]="!filter || filter === 'all'" (click)="navigate('all')">
        <ng-container i18n="@@showAll">Näytä kaikki</ng-container>
    </mat-chip>
    <mat-chip [selected]="filter === 'roadmap'" (click)="navigate('roadmap')">
        <ng-container i18n="@@showOnlyTKIfilter"></ng-container>Näytä vain TKI-tiekartan seurantamittarit
    </mat-chip>
</mat-chip-list>
