<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row pb-3 d-flex justify-content-center">
  <div class="col px-0 px-sm-3">
    <mat-expansion-panel
      class="mat-elevation-z1"
      *ngFor="let item of profileData; let i = index"
      [expanded]="item.expanded"
      (opened)="setOpenPanel(i)"
      (closed)="closePanel(i)"
      [disabled]="item.fields.length === 0"
    >
      <mat-expansion-panel-header
        class="row pl-0 pl-lg-3"
        [expandedHeight]="'auto'"
      >
        <div class="row d-flex" [class.py-3]="openPanels.includes(i)">
          <div
            class="font-weight-bold align-self-center px-3"
            [class.h5]="openPanels.includes(i)"
          >
            {{ item.label }}
          </div>

          <div
            class="px-3 align-self-center"
            [class.mt-n1]="openPanels.includes(i)"
          >
            {{ (item.fields | filter: checkSelected).length }} /
            {{ item.fields.length }} valittu
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let field of item.fields">
        <div class="row field" [class.disabled]="!field.show">
          <div class="col px-0 px-sm-3">
            <div class="row d-flex justify-content-between">
              <span class="col-auto h6 field-label">
                {{ field.label }}
              </span>
              <div
                class="col-auto opacity-3"
                *ngIf="field.show; else disabledLabelTemplate"
              >
                <i class="fas fa-check-circle pr-1"></i>
                <span>Näytetään profiilissa</span>
              </div>

              <ng-template #disabledLabelTemplate>
                <div class="col-auto mb-2 mb-lg-0 align-self-center">
                  <div class="field-disabled-label">Ei näytetä profiilissa</div>
                </div>
              </ng-template>
            </div>

            <!-- Field values -->
            <div class="row" *ngIf="!field.length; else fieldArrayTemplate">
              <div class="col ml-3 field-value">
                {{ field.name }}

                <span class="pl-3 opacity-3">
                  Orcid
                  <!-- {{ field.sourceId }} -->
                </span>
              </div>
            </div>
            <ng-template #fieldArrayTemplate>
              <!-- TODO: array items should have matching property names -->
              <div class="col ml-3 field-value" *ngFor="let value of field">
                {{ value.webLink.url }}

                <span class="pl-3 opacity-3">
                  <!-- TODO: map source by ID -->
                  Orcid
                  <!-- {{ field.sourceId }} -->
                </span>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>

      <!-- Editor modal -->
      <ng-template #editorModal>
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">
              Muokkaa
              <small class="pl-3">
                {{ (item.fields | filter: checkSelected).length }} /
                {{ item.fields.length }} valittu</small
              >
            </h4>

            <app-close-button
              class="pull-right"
              (click)="closeModal()"
              (keydown.enter)="closeModal()"
              autofocus
              tabindex="-1"
            ></app-close-button>
          </div>
          <div class="modal-body">
            <div class="row d-flex justify-content-center">
              <div class="col col-lg-10">
                <div class="row">
                  <div class="col">
                    <app-profile-panel
                      [dataSources]="dataSources"
                      [selectedSource]="selectedSource"
                      [data]="selectedData"
                      (dataChange)="changeData($event)"
                    ></app-profile-panel>
                  </div>
                </div>

                <div class="row pb-3">
                  <div class="col">
                    <mat-slide-toggle
                      [checked]="allSelected"
                      labelPosition="before"
                      (change)="toggleAll()"
                      >Valitse kaikki</mat-slide-toggle
                    >
                  </div>
                  <div class="col px-0">
                    <div class="row">
                      <div class="col pl-0">
                        <app-secondary-button
                          (click)="closeModal()"
                          content="Peruuta"
                        ></app-secondary-button>
                      </div>
                      <div class="col pr-0">
                        <app-primary-action-button
                          (click)="saveChanges(i)"
                          content="Tallenna"
                        ></app-primary-action-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="row d-flex justify-content-end">
        <div class="col-auto pt-3">
          <app-secondary-button
            class="px-3"
            [content]="'Muokkaa'"
            (click)="openModal($event, i, editorModal)"
            (keydown.enter)="openModal($event, i, editorModal)"
          ></app-secondary-button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
