<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-container *ngIf="!success; else successTemplate">
  <div class="row pb-4 d-flex justify-content-center">
    <div class="col-auto text-center">
      <mat-progress-spinner [mode]="mode" [value]="loaderValue" [diameter]="40">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="row pb-5">
    <div class="col text-center">
      <p>Tuodaan tietoja, odota hetki...</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <app-secondary-button
        content="Peruuta"
        (click)="cancelHandler()"
      ></app-secondary-button>
    </div>
  </div>
</ng-container>

<ng-template #successTemplate>
  <div class="row pb-4">
    <div class="col text-center">
      <h2 class="primary-color">Mitkä tiedot tuodaan julkisiksi?</h2>
    </div>
  </div>

  <div class="row pb-4 d-flex justify-content-center">
    <div class="col col-lg-4">
      <mat-expansion-panel
        class="mat-elevation-z1"
        *ngFor="let item of dataSchema"
        [expanded]="item.expanded"
      >
        <mat-expansion-panel-header
          ><span class="font-weight-bold">{{
            item.label
          }}</span></mat-expansion-panel-header
        >
      </mat-expansion-panel>
    </div>
  </div>
</ng-template>
