//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

app-tag-doi,
app-tag-open-access,
app-tag-peer-reviewed {
  .tag {
    height: 28px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-inline-start: 0 !important;
  }
  .peer-reviewed,
  .open-access {
    color: rgba(0, 0, 0, 0.87);
    padding: 0.2rem 1rem;
  }
  .mat-icon[data-mat-icon-name='general.externalLink'] {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    margin-top: -2px;
    margin-right: -8px;
    margin-left: 5px;
    svg {
      padding-top: 0px;
      width: 18px !important;
      margin-top: 2px;
    }
  }
}