//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.breadcrumb {
    background-color: #ffffff;
}

.capitalize {
    text-transform: capitalize;
}

.breadcrumb-item a {
    padding: 0px 30px;
    color: #3A3A75;
}

.breadcrumb-item.active {
    color: #3A3A75;
}

.arrow_box {
	position: relative;
	background: #F8F8FC;
    border: 0px solid #BFBFE2;
    padding: 3px 0px;
}

.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #F8F8FC;
    border-width: 15px;
    margin-top: -15px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #ffffff;
    border-width: 16px;
    margin-top: -16px;
}

// Middle
li.breadcrumb-item.arrow_box.middle {
	background: #E6E6F4;
}

.middle.arrow_box:after {
    border-left-color: #E6E6F4;
}

.middle.arrow_box:before {
    border-left-color: #FFF;
}

// Last
li.breadcrumb-item.arrow_box.active {
    padding: 0 15px 0 30px;
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.breadcrumb-item.arrow_box.active.arrow_box {
	background: #BFBFE2;
    border: 1px solid #BFBFE2;
    border-right: 0px;
    padding: 3px 30px;
}

li.breadcrumb-item.arrow_box.last.arrow_box {
	background: #BFBFE2;
    border: 0px;
    border-left: 0px;
}

.last.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #BFBFE2;
}

.last.arrow_box:before {
    border-left-color: #B7B7DE;
}

.last.arrow_box:after, .last.arrow_box:before {
    left: 0%;
}