<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<nav aria-label="breadcrumb" *ngFor="let response of responseData">
    <ol class="breadcrumb" >
        <li class="breadcrumb-item arrow_box first" style="z-index:998;"><a routerLink="/results/publications/{{searchTerm}}" [queryParams]="{'page': pageNumber}">Haku</a></li>
        <li class="breadcrumb-item arrow_box middle" style="z-index:997;"><a class="capitalize" routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="{'page': pageNumber}">{{tabName}}</a></li>
        <li *ngFor="let title of response.hits.hits" class="breadcrumb-item arrow_box active" aria-current="page">{{title._source[resultNameField]}}</li>
        <li class="breadcrumb-item arrow_box last" aria-current="page"></li>
    </ol>
</nav>
