<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->
<div class="full-width"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col col-3">
                <ul>
                    <li class="header">Tiede ja tutkimus lukuina</li>
                    <li>Tutkimuksen henkilöstövoimavarat ja rahoitus</li>
                    <li>Julkaisutoiminta ja tieteellinen vaikuttavuus</li>
                    <li>Tutkimus- ja kehittämistoiminnan intensiteetti</li>
                    <li><input placeholder="Hae tilastoa"></li>
                </ul>
            </div>
            <div class="col col-9">
                <h2>Tiede ja tutkimus lukuina</h2>
                <div class="segment">
                    <p>Tiedepolitiikan tilastogalleriasta löydät sisältöjä, jotka tuodaan Opetushallituksen Vipunen-palvelusta...</p>
                    <p>Tilastogalleria on tuotettu yhteistyössä...</p>
                    <div class="row">
                        <div class="col card">Suomen Akatemia</div>
                        <div class="col card">Tilastokeskus</div>
                        <div class="col card">Vipunen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
