@import '~@angular/material/theming';

@mixin app-filter-sidebar-theme($theme) {
    $primary: map-get($theme, primary);

    app-filter-sidebar {
        
        h3 {
            color: mat-color($primary);
        }

        .mat-expansion-panel:not([class*=mat-elevation-z]):not(:last-child) {
            border-bottom: 1px solid mat-color($primary, 400);
        }
    }
}