//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

// Filter sidebar
#filter-sidebar {
    display: block;
}

.mat-expansion-panel {
    background: transparent;
}

mat-checkbox {
    margin-left: 10px;
    vertical-align: middle;
}

.mat-radio-button {
    display: block;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-radius: 0px;
}

    .mat-expansion-panel-header:not([aria-disabled=true]) {
    cursor: pointer;
    padding: 10px 5px;
}

:host /deep/ span.mat-expansion-indicator {
    position: absolute;
}

:host /deep/  .mat-expansion-indicator::after {
    margin-top: -8px;
}

.mat-expansion-panel-header-title {
    margin-left: 20px;
}

.navbar-toggler {
    outline: none;
    border: none;
}

// Filter button
.navbar-toggler ul {
    list-style: none;
}

.navbar-toggler li {
    display: inline-flex;
}

// Responsive
@media (max-width: 992px) {
    #filter-sidebar {
        display: none;
    }
}

@media (min-width: 991px) {
    .mobile {
        display: none;
    }
}