//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@mixin app-filters-shared {

    app-filter-fundings, app-filter-organizations, app-filter-publications, app-filter-persons {
        .mobile {
            max-width: 95%;
        }

        .filter-sidebar {
            display: block;
            padding: 15px;
            overflow: auto;
            overflow-x: hidden;
        }

        .filter-wrapper {
            max-height: 840px;

        }

        // Material expansion panel & accordion
        mat-expansion-panel.mat-expansion-panel {
            max-width: 297px;
        }

        .mat-expansion-panel.mat-expanded {
            overflow: inherit !important;
        }

        mat-expansion-panel.mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing {
            margin-top: 0;
        }

        mat-checkbox, .mat-checkbox {
            display: flex;
        }

        .mat-checkbox .mat-checkbox-frame {
            background: #fff;
        }

        .mat-radio-button {
            display: block;
        }

        .mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: none;
            border-radius: 0px;
        }

        .mat-expansion-panel-header:not([aria-disabled=true]) {
            cursor: pointer;
            padding: 10px 5px;
        }

        .mat-expansion-indicator::after {
            margin-top: -8px;
        }

        .mat-expansion-panel-header {
            flex-direction: row-reverse;
        }

        .mat-expanded mat-expansion-panel-header.mat-expanded {
            position: sticky;
            position: -webkit-sticky;
            top: -16px;
            z-index: 39;
        }

        .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
            height: auto;
            min-height: 48px;
            display: flex;
            vertical-align: middle;
        }

        // Preserve space for parent header
        .subFields .mat-expanded mat-expansion-panel-header.mat-expanded {
            top: 52px;
            z-index: 38;
        }

        .mat-expansion-panel-header-title {
            margin-left: 20px;
        }

        .mat-expansion-panel-body {
            padding: 0 8px 0;
            margin-top: -12px;
        }

        .separator {
            height: 1px;
        }

        // Typography
        h3 {
            margin: 0;
        }

        span.label, span.amount {
            padding: 0px 10px!important;
        }

        span.amount {
            font-weight: bold!important;
        }

        // Segments
        .mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
            flex-direction: row!important;
        }

        mat-selection-list.limit {
            // max-height: 240px;
            overflow: hidden;
        }

        ul {
            list-style: none;
            padding: 0px;
        }

        .scrollable {
            margin-top: -22px;
            max-height: 344px;
            overflow-y: auto;
        }

        // Single checkbox
        .single-checkbox {
            height: 69px;
            font-weight: bold;
            font-size: 15px;
        }

        .single-checkbox .mat-checkbox {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .single-checkbox label.mat-checkbox-layout {
            margin: 0;
        }

        .single-checkbox span.mat-checkbox-label {
            margin-left: 25px;
        }

        .mat-checkbox-layout {
            white-space: pre-wrap;
        }

        // Hide fields
        .hidden {
            display: none;
        }

        .navbar-toggler {
            padding: 8px 0;
        }

        // Filter button
        .navbar-toggler ul {
            list-style: none;
        }

        .navbar-toggler li {
            display: inline-flex;
        }

        .navbar-toggler:focus {
            outline: -webkit-focus-ring-color auto 1px;
        }

        // Responsive
        @media (max-width: 991px) {
            .filter-sidebar {
                display: none;
            }

            h3 {
                font-size: 1.4rem;
                padding: 9px 0px;
            }
            
            h3.open::before {
                font-family: "FontAwesome";
                content: '\f077';
                font-size: 0.8em;
                padding-right: 10px;
            }
        }

        @media (min-width: 992px) {
            .mobile {
                display: none;
            }
        }
    }
}