<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<main id="main-content">
    <div class="wrapper">
        <div class="row" *ngIf="data">
            <div class="col col-lg-2">
                <aside>
                    <app-filters [responseData]="data" [tabData]="'news'"></app-filters>
                </aside>
            </div>
            <div class="col col-lg-10">
                <main>
                    <div class="row">
                        <div class="col col-lg-8">
                            <h1>Tiede- ja tutkimusuutiset</h1>
                            <ul>
                                <li #mainFocus tabindex="0" *ngFor="let item of data[0]?.hits.hits.slice(0,3)">
                                    <h2>{{item._source.title}}</h2>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-lg-4">
                            <nav>
                                <input #searchInput type="text" placeholder="Hae tiedeuutisista...">
                            </nav>
                            <ul>
                                <li tabindex="0" *ngFor="let item of data[0]?.hits.hits.slice(3, data[0]?.hits.hits.length)">
                                    <h2>{{item._source.title}}</h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</main>
