<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<main id="main-content">
    <div class="wrapper">
        <div class="row" *ngIf="data">
            <div class="col col-lg-2">
                <app-filters [responseData]="data" [tabData]="'news'"></app-filters>
            </div>
            <div class="col col-lg-6">
                <h2>Tiede- ja tutkimusuutiset</h2>
                <ul>
                    <li *ngFor="let item of data[0]?.hits.hits.slice(0,3)">
                        {{item._source.title}}
                    </li>
                </ul>
            </div>
            <div class="col col-lg-4">
                <input placeholder="Hae tiedeuutisista...">
                <ul>
                    <li *ngFor="let item of data[0]?.hits.hits.slice(3, data[0]?.hits.hits.length)">
                        {{item._source.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
