@import '~@angular/material/theming';

@mixin app-search-bar-theme($theme) {
    $primary: map-get($theme, primary);

    app-search-bar {
        
        .col-12.search {
            background: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }
        
        button.btn.btn-search {
            background: mat-color($primary, default-contrast);
            color: mat-color($primary);    
            border: 1px solid mat-color($primary, default-contrast);
        }

        .index h3 {
            color: mat-color($primary);  
        }
        
        .auto-suggest {
            outline: 2px solid mat-color($primary);
        }

        .auto-suggest ul li a {
            color: mat-color($primary); 
        }

        .list-group-item.active {
            background-color: #3e3fa8;
        }
        
        .list-group-item.active a {
            color: #fff!important;
        }

        a.item {
            color: mat-color($primary);  
        }

        .auto-suggest .other-links ul li a {
            color: mat-color($primary, A200); 
        }
    }
}