@import '~@angular/material/theming';

@mixin app-search-bar-theme($theme) {
    $primary: map-get($theme, primary);

    app-search-bar {
        .col-12.search {
            background: mat-color($primary);
            color: mat-contrast($primary, 200);
        }
        
        button.btn.btn-search {
            background: mat-contrast($primary, 600);
            color: mat-color($primary);    
            border: 1px solid mat-contrast($primary, 600);
        }

        .auto-suggest h3 {
            color: mat-contrast($primary, default-contrast);
        }
        
        .auto-suggest {
            box-shadow: 0 0 0 2px mat-color($primary);
        }

        .auto-suggest ul li a {
            color: mat-contrast($primary, 200);
        }

        .list-group-item.active {
            background-color: mat-color($primary);
        }
        
        .list-group-item.active a {
            color: mat-contrast($primary, 500);
        }

        a.item {
            color: mat-contrast($primary, 200);
        }

        .auto-suggest .other-links ul li a {
            color: mat-contrast($primary, 200);
        }
    }
}