<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="full-width"></div>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
    <div class="wrapper">
        <div class="row d-flex justify-content-between">
            <div class="col-12 px-0">
                <div class="row">
                    <h1 class="col col-lg-4 px-0 order-1" i18n="@@newsHeader">Tiede- ja tutkimusuutiset</h1>
                    <!-- Filters -->
                    <div class="col-12 col-lg-3 text-lg-right px-0 order-3 order-lg-2">
                        <aside>
                            <!-- results/filters -->
                            <app-filters [responseData]="filterValues" [tabData]="'news'" [showButton]="true"></app-filters>
                        </aside>
                    </div>
                    <!-- Search -->
                    <div class="col-lg-4 px-0 order-2 order-lg-3 offset-lg-1 pb-2">
                        <form>
                            <div class="row d-flex">
                                <div class="col input pl-0">
                                    <label for="searchInput" class="sr-only" i18n="@@searchNewsPlaceHolder">Hae uutisista...</label>
                                    <input #searchInput id="searchInput" [formControl]="queryField" mat-input type="text" value="{{searchService.currentInput | async}}" id="searchInput"
                                    i18n-placeholder="@@searchNewsPlaceHolder" placeholder="Hae uutisista..." class="search">
                                    <span #reset tabindex="0" class="reset" *ngIf="queryField?.value?.length > 0" (click)="resetSearch()"
                                    (mouseenter)="utilityService.tooltipMouseenter(reset)" i18n-tooltip="@@resetSearchTooltip" tooltip="Tyhjennä haku" triggers="focus keydown.escape" (keydown)="utilityService.tooltipKeydown($event)">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                                <div class="col-auto pr-0">
                                    <button type="submit" class="search" mat-button color="primary" (click)="searchNews()">
                                        <i class="pr-1 fa fa-search"></i><ng-container i18n="Search@@searchButton">Hae</ng-container>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Active filters -->
        <div class="row">
            <aside class="col-12 col-lg-7 pt-3 px-0">
                <!-- results/active-filters -->
                <app-active-filters></app-active-filters>
            </aside>
        </div>

        <div class="row">
            <div class="col-auto px-0 py-3 py-lg-0">
                <a routerLink="/service-info" fragment="1" class="theme-link">
                    <strong>
                        <ng-container i18n="@@resultInfo1">Mitä</ng-container>
                        <ng-container i18n="@@newsServiceIncludes"> uutisia palvelu sisältää?</ng-container>
                    </strong>
                </a>
            </div>
        </div>
        <!-- News results -->
        <div class="row d-flex justify-content-between" *ngIf="data">
            <div class="col-12 col-lg-7 col px-0" [class.p-0]="mobile">
                <main>
                    <div class="row content">
                        <h2 class="col-12 px-0 pt-0 pt-lg-3"><ng-container i18n="@@latest">Uusimmat</ng-container> ({{data[0]?.total | thousandSeparator}})</h2>
                        <app-news-card *ngFor="let item of data" [item]="item" [term]="currentTerm"></app-news-card>
                        <div *ngIf="!data?.length" role="alert" class="col-12 justify-content-center justify-content-lg-start mt-4 d-flex flex-column">
                            <h3><ng-container i18n="@@noResultsWithTerm">Ei tuloksia hakutermillä</ng-container> "{{currentTerm}}".</h3><br>
                            <p i18n="@@noResultsInfo">Hakutermissä voi olla kirjoitusvirhe, tai sitä vastaavaa rajaustekijää ei ole tarjolla tässä osiossa.</p>
                        </div>
                    </div>
                </main>
            </div>
            <div class="col-12 col-lg-4 col side-news" [class.p-0]="mobile" *ngIf="olderData?.length">
                <h2 class="pt-3 px-0 pb-3" #older i18n="@@olderNews">Aiempia uutisia</h2>
                <div *ngIf="currentTerm" class="older-search-term"><ng-container i18n="@@withTerm">Joihin sisältyy hakutermi</ng-container> <mark>{{currentTerm}}</mark></div>
                <app-news-card *ngFor="let item of olderData" [item]="item" [sideNews]="true" [term]="currentTerm"></app-news-card>
                <app-news-pagination [responseData]="data"></app-news-pagination>
            </div>
        </div>
    </div>
</main>
