@import '~@angular/material/theming';

@mixin app-sort-theme($theme) {
    $primary: map-get($theme, primary);

    app-sort {

        @media (max-width: 991px) {
            mat-form-field.mat-form-field {
                background: mat-color($primary, 50);
                border: 1px solid mat-color($primary);
            }
            .mat-select-value {
                color: mat-color($primary);
                font-weight: 500;
                font-family: "Segoe UI";
            }
        }
    }
}