<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<!--  Primary affiliations -->
<ng-container *ngIf="(data.groupItems | getItemsBy: 'primaryValue').length">
  <div class="row">
    <div class="col fw-bold pb-3" i18n="@@primaryPlural">Ensisijaiset</div>
  </div>

  <div
    class="row"
    *ngFor="let primaryItem of data.groupItems | getItemsBy: 'primaryValue'"
  >
    <div class="col-auto font-size-smaller">
      {{ primaryItem.positionName
      }}<span *ngIf="primaryItem.positionName">, </span
      >{{ primaryItem.organizationName }}
    </div>
  </div>

  <app-summary-divider [thick]="true"></app-summary-divider>
</ng-container>

<!-- List affiliations -->
<div class="summary-panel-wrapper">
  <ng-container *ngFor="let item of sortedItems">
    <div class="summary-panel" *ngIf="item.itemMeta.show">
      <div class="col pb-3">
        <span class="fw-bold">{{ item.organizationName }}</span>

        <div class="font-size-smaller">
          {{ item.year }}
        </div>
      </div>

      <div class="row d-flex justify-content-between py-1 font-size-smaller">
        <ng-container *ngFor="let column of columns">
          <div class="col-6 pb-3" *ngIf="item[column.field]">
            <div class="row fw-bold">{{ column.label }}</div>

            <div class="row" [ngSwitch]="column.field">
              <ng-container *ngSwitchCase="'positionName'">
                {{ item[column.field] }}
                <ng-container>{{ item.year }}</ng-container>
              </ng-container>

              <ng-container *ngSwitchDefault>{{
                item[column.field]
              }}</ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row">
        <div class="col-auto font-size-smaller">
          <ng-container i18n="@@source">Lähde</ng-container>:
          {{ item.source.organization.name }}
        </div>
      </div>

      <app-summary-divider></app-summary-divider>
    </div>
  </ng-container>
</div>
