<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<!--  Primary affiliations -->
<div *ngIf="data.groupItems | getItemsBy: 'primaryValue' | hasSelectedItems: { groupId: 'affiliation'}" class="row">
  <div class="col fw-bold pb-3" i18n="@@primaryPlural">Ensisijaiset</div>
</div>

<ng-container *ngIf="(data.groupItems | getItemsBy: 'primaryValue').length">
  <div
    class="row"
    *ngFor="let primaryItem of data.groupItems | getItemsBy: 'primaryValue'"
  >

    <div *ngIf="primaryItem.itemMeta.show" class="col-auto font-size-smaller">
      {{ primaryItem['positionName' + locale]}}
      <span *ngIf="primaryItem['positionName' + locale]">, </span>
      {{ primaryItem['organizationName' + locale] }}
    </div>
  </div>

  <hr *ngIf="data.groupItems | getItemsBy: 'primaryValue' | hasSelectedItems: { groupId: 'affiliation'}">
</ng-container>
<!-- List affiliations -->
<div class="summary-panel-wrapper">
  <ng-container *ngFor="let item of sortedItems">
    <div class="summary-panel" *ngIf="item.itemMeta.show">
      <div class="col px-3 pb-3">
        <span class="fw-bold">{{ item['organizationName' + locale] }}</span>

        <div class="font-size-smaller">
          {{ item.year }}
        </div>
      </div>

      <div class="row d-flex justify-content-between py-1 font-size-smaller">
        <ng-container *ngFor="let column of columns">
          <div class="col-6 pb-3" *ngIf="item[column.field + locale]">
            <div class="row fw-bold">{{ column.label }}</div>

            <div class="row" [ngSwitch]="column.field">
              <ng-container *ngSwitchCase="'positionName'">
                {{ item[column.field + locale] }}
                <ng-container>{{ item.year }}</ng-container>
              </ng-container>

              <ng-container *ngSwitchDefault>{{
                item[column.field + locale]
              }}</ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row">
        <ng-container *ngFor="let ds of item.dataSources; let j = index">
        <div class="col-auto font-size-smaller">
          <ng-container *ngIf="j == 0" i18n="@@source">Lähde</ng-container>:
          {{ ds.organization['name' + locale] }}
        </div>
      <app-summary-divider></app-summary-divider>
      </ng-container>
      </div>
    </div>
  </ng-container>
</div>
