<!--  This file is part of the research.fi API service
Copyright 2019 Minisdivy of Education and Culture, Finland
:author: CSC - IT Center for Science Ldiv., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<h1 #srHeader class="sr-only"></h1>

<aside>
  <app-search-bar></app-search-bar>
</aside>

@if (responseData) {
  <div class="wrapper" id="main-content">
    <div class="row shared">
      <p class="back col-12" style="padding-bottom: 0.25rem">
        <a #backToResultsLink routerLink="/results/{{ tab }}/{{ searchTerm }}" [queryParams]="tabQueryParams">
          &lt;
          <ng-container i18n="@@backToResults">Takaisin hakutuloksiin</ng-container>
        </a>
      </p>
    </div>
    <!-- Breadcrumb -->
    <app-breadcrumb
      [type]="'single'"
      [responseData]="responseData"
      [tab]="tab"
      [tabName]="tabData.label"
      [resultNameField]="'name'"
      [queryParams]="tabQueryParams"
    ></app-breadcrumb>
    <div class="row shared">
      @if (responseData.total === 0) {
        <div class="col-12" style="margin: 10px 0 10px 0">
          <h2 i18n="@@404">404 - Virheellinen osoite</h2>
        </div>
      }
      <!-- MAIN CONTENT -->
      <main class="col-12 col-md-8">
        @for (item of responseData.projects; track item) {
          <div>
            <h1 class="result-header">{{ item.name }}</h1>
            <div id="info">
              <div>
                @for (row of infoFields; track row) {
                  @if (item[row.field] || (item['outcomeEffect'] && row.field === 'results') || (item['keywords'] && row.field === 'additionalInfo') || row.field === 'participants') {
                    <div class="row content">
                      <h2 class="col-12 col-sm-4 col-lg-3 th">
                        <span class="pe-1">{{ row.label }}</span>
                        @if (row.tooltip) {
                          <ng-template #tooltipTemplate>
                            <div [innerHtml]="row.tooltip"></div>
                          </ng-template>
                          <span [tooltip]="tooltipTemplate" tabindex="0" placement="top" #elem>
                            <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                          </span>
                        }
                      </h2>
                      <div class="col-12 col-sm-8 col-lg-9 td">
                        @if (!row.showOnlyLabel || item['outcomeEffect'] || item['keywords']) {
                          <div>
                            {{ item[row.field] }}
                          </div>
                        }
                        @if (row.field === 'participants') {
                          <div>
                            <div class="row">
                              <div class="col-6 g-0">
                                @if (item['responsibleOrganizations']?.length > 0) {
                                  <h3>{{row.subFields[0].label}}</h3>
                                }
                                @for (org of item['responsibleOrganizations']; track org) {
                                  <div class="mb-3"><a [href]="'/results/organization/' + org.orgId" target="_parent">{{ org.orgName }}</a></div>
                                }
                              </div>
                              @if ((item['originalOrganizations']?.length > 0 && item['responsibleOrganizations']?.length > 0) && (item['originalOrganizations'][0].orgId !== item['responsibleOrganizations'][0].orgId)) {
                                <div class="col-6 g-0">
                                  <h3>{{row.subFields[1].label}}</h3>
                                  @for (origOrg of item['originalOrganizations']; track origOrg) {
                                    <div class="mb-3">{{ origOrg.orgName }}</div>
                                  }
                                </div>
                              }
                            </div>
                            @for (person of item['responsiblePerson']; track person; let i = $index) {
                              @if (i === 0 && item['responsiblePerson']?.length > 0 && person.fullName.length > 0) {
                                <h3>{{row.subFields[2].label}}</h3>
                              }
                              <div>
                                {{ person.fullName }}
                              </div>
                            }
                            <div></div>
                            <br/>
                            @if (item['relatedOrganizations']?.length > 0) {
                              <h3>{{row.subFields[3].label}}</h3>
                            }
                            @for (relOrg of item['relatedOrganizations']; track relOrg) {
                              <!-- disabled since organization id's dont' match -->
                              <!-- <div *ngIf="relOrg.orgLinkId" class="mb-3"><a [href]="'/results/organization/' + relOrg.orgLinkId" target="_parent">{{ relOrg.orgName }}</a></div> -->
                              <div>
                                {{ relOrg.orgName }}
                              </div>
                            }
                            <br/>
                          </div>
                        }
                        @if (row.field ==='additionalInfo') {
                          <div>
                            @for (subfield of row.subFields; track subfield) {
                              <h3>{{subfield.label}}
                                @if (subfield.tooltip) {
                                  <ng-template #tooltipTemplate2>
                                    <div [innerHtml]="subfield.tooltip"></div>
                                  </ng-template>
                                  <span [tooltip]="tooltipTemplate2" tabindex="0" placement="top"
                                    #elem>
                                    <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                                  </span>
                                }
                              </h3>
                              <p>{{ item[subfield.field] }}</p>
                            }
                          </div>
                        }
                        @if (row.field === 'results' && item['outcomeEffect']) {
                          <div>
                            @for (subfield of row.subFields; track subfield) {
                              @if (item[subfield.field]) {
                                <span>
                                  <h3>{{subfield.label}}
                                    @if (subfield.tooltip) {
                                      <ng-template #tooltipTemplate3>
                                        <div [innerHtml]="subfield.tooltip"></div>
                                      </ng-template>
                                      <span [tooltip]="tooltipTemplate3" tabindex="0" placement="top"
                                        #elem>
                                        <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                                      </span>
                                    }
                                  </h3>
                                  <p>{{ item[subfield.field] }}</p>
                                </span>
                              }
                            }
                          </div>
                        }
                        @if (row.field === 'description' && item.description?.length > 128) {
                          <a href="javascript:void(0)" class="read-more"
                          (click)="expandDescription()" [innerHTML]="expand ? showLess : showMore"></a>
                        }
                      </div>
                    </div>
                  }
                }
              </div>
            </div>
          </div>
        }
      </main>
      <!-- SIDE PANEL -->
      @for (item of responseData.projects; track item) {
        <div class="col-12 col-md-4 col-xl-4">
          <aside>
            <mat-card appearance="outlined">
              <div class="inner">
                <mat-card-title>
                  <h2>
                    <span class="pe-1"
                    i18n="@@projectsExternalLinks">Linkit hankkeeseen</span>
                    <ng-template #tooltipTemplate4>
                      <div [innerHtml]="homepageTooltip.tooltip"></div>
                    </ng-template>
                    <span [tooltip]="tooltipTemplate4" tabindex="0" placement="top" #elem>
                      @if (item?.projectUrl?.trim().length > 0) {
                        <p>
                          <a [href]="item.projectUrl" target="_blank">{{ item.projectUrl }}
                            <app-svg-sprites [iconName]="'open_in_new'" cssClass="open_in_new-icon"></app-svg-sprites> </a>
                          </p>
                        }
                        <app-svg-sprites [iconName]="'info'" cssClass="info-icon"></app-svg-sprites>
                      </span>
                    </h2>
                  </mat-card-title>
                  <!-- Cordis link is displayed only with eu funding. Filtering is done in ts file -->
                  @if (projectURL) {
                    <app-single-result-link
                      [icon]="true"
                    [url]="projectURL"></app-single-result-link>
                  }
                  @if (projectURL?.length < 1) {
                    <div class="no-links" i18n="@@noProjectLinks">
                            Hankkeeseen ei ole tarjolla linkkejä tässä portaalissa {{projectURL}}
                        </div>
                  }
                </div>
              </mat-card>
            </aside>
            <aside>
              <mat-card appearance="outlined">
                <div class="inner">
                  <mat-card-title>
                    <h2>
                      <ng-container i18n='@@relatedProjects'>Hae hankkeeseen liittyvät
                                    (tulossa)
                                </ng-container>
                    </h2>
                  </mat-card-title>
                  <app-related-links [id]="" [relatedData]="relatedData"></app-related-links>
                </div>
              </mat-card>
            </aside>
            <!-- <aside>
            <mat-card>
              <mat-card-title><h2>Viittaa</h2></mat-card-title>
              <div class="row">
                <div class="col-12 reference">
                  <button mat-raised-button color="primary"><fa-icon [icon]="faQuoteRight" class="quote"></fa-icon>Kopioi viitetiedot...</button>
                </div>
              </div>
            </mat-card>
          </aside> -->
          <!-- Copy url -->
          <aside>
            <mat-card appearance="outlined">
              <div class="inner">
                <mat-card-title><h2 i18n="@@share">Jaa</h2></mat-card-title>
                <app-share [id]="item.id"></app-share>
              </div>
            </mat-card>
          </aside>
          <aside>
            <mat-card appearance="outlined">
              <div class="inner">
                <mat-card-title><h2 i18n="@@projectSource">Hanketiedon lähde</h2>
              </mat-card-title>
              @for (source of responseData.projects; track source) {
                <div>
                  @if (source.dataSource.trim().length > 0) {
                    <p>
                      {{source.dataSource.trim()}}
                    </p>
                  }
                  @if (source.dataSource.trim().length === 0) {
                    <p
                      i18n="@@noInformationSource">
                                Tiedon lähde ei saatavilla.
                            </p>
                  }
                </div>
              }
              <div class="clear"></div>
            </div>
          </mat-card>
        </aside>
      </div>
    }
  </div>
</div>
}

