.info {
    position: absolute;
    z-index: 1;
    padding: .5rem;
    overflow-wrap: break-word;
    min-width: 528px;
    bottom: calc(100% - 33px);
}

.info li {
    padding-bottom: 1rem!important;
    list-style: disc;
    margin-inline-start: 1rem;
}

.info-icon {
    font-size: 1.4rem;
}

.info.left {
    right: 106%;
}

.info.right {
    left: 145px;
}

.info.left:after, .info.left:before {
    left: 100%;
    bottom: 11px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.info.left:after, .info.right:after {
    border-width: 7px !important;
    margin-bottom: -1px;
}
.info.left:before, .info.right::before {
    border-width: 8px !important;
    margin-bottom: -2px;
}

.info.right:after, .info.right:before {
    right: 100%;
    bottom: 11px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.next-to {
    left: 50px!important;
}

@media (max-width: 991px) {
    .info {
        min-width: auto;
        max-width: 70%;
        bottom: calc(100% - 35px);
    }
}