<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="row g-0 justify-content-end mt-2">
  @if (showAdditionalFields) {
    @for (field of fields | checkEmptyFields: data; track field) {
      @if (field.key !== 'url') {
        <div class="col-12 mt-2">
          @if (field.label) {
            <span class="fw-bold">{{ field.label }}: </span>
            }{{ data[field.key] }}
          </div>
        }
        @if (field.key === 'url' && data[field.key].length > 0) {
          @if (true) {
            <app-single-result-link
              [icon]="false"
              [url]="data[field.key]"
            ></app-single-result-link>
          }
        }
      }
    }

    <div class="col-auto">
      @if ((fields | checkEmptyFields: data).length) {
        <a
          (click)="showAdditionalFields = !showAdditionalFields"
          >
          @if (!showAdditionalFields) {
            <ng-container i18n="@@furtherInformation">
        Lisätiedot
      </ng-container>
          }
          @if (showAdditionalFields) {
            <ng-container i18n="@@close">
        Sulje
      </ng-container>
          }
        </a>
      }
    </div>
  </div>
