.purple-text {
  color: #4546b9;
}

.group-wrapper {
  background: #fff;
  border: 1px solid #e8e8f5;
  padding: 16px;
  margin-bottom: 16px;
}

.contact-row {
  display: flex;
  word-break: break-word;
}