<aside *ngIf="(contactFields | hasSelectedItems) || isEditorView" class="group-wrapper">
<app-profile-editor-card-header
        [label]="label"
        [displayButton]="(this.publishedFullname?.length > 0) || (contactFields | hasSelectedItems) && isEditorView"
        (handleOpenDialog)="openDialog($event)"
></app-profile-editor-card-header>

<app-empty-card
        *ngIf="!(contactFields | hasSelectedItems) && isEditorView"
        (onButtonClick)="openDialog($event)"
></app-empty-card>

<div class="d-block px-1 mt-3">
  <div *ngIf="this.publishedFullname && !(contactFields | hasSelectedItems)">
    <div class="row py-2">
      <div class="col px-0">
            <span
                    class="fw-bold d-inline-block pe-3"
                    *ngIf="data[0].fields.length > 1"
            >{{ this.publishedFullnameLabel }}
            </span>
        <span>{{this.publishedFullname}}</span>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let field of contactFields; let i = index">
    <ng-container [ngSwitch]="field.id">
      <ng-container *ngSwitchCase="'email'">
        <div *ngIf="(field.items | filter: checkGroupSelected).length" class="row py-2" >
          <div class="col px-0">
            <h3>{{ field.label }}</h3>
            <ng-container *ngFor="let item of field.items">
              <div class="row" *ngIf="item.itemMeta.show">
                <div class="col px-1 contact-row">
                  <app-svg-sprites [iconName]="'email'" cssClass="contact-icon" class="pe-3"></app-svg-sprites>
                  <ng-container [ngSwitch]="item.itemMeta.type">
                    <!-- Email -->
                    <ng-container *ngIf='!isEmailVisible && !isEditorView'>
                        <a (click)='showEmail()' i18n='@@showEmailAddress' class="purple-text">Näytä sähköpostiosoite</a>
                    </ng-container>
                    <ng-container *ngIf='isEmailVisible || isEditorView'>
                    <a
                            *ngSwitchCase="fieldTypes.personEmailAddress"
                            [href]="'mailto:' + item.value"
                    >{{ item.value }}
                    </a>
                  </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'webLinks'">
        <div *ngIf="(field.items | filter: checkGroupSelected).length" class="row py-2">
          <div class="col px-0">
            <h3>{{ field.label }}</h3>
            <ng-container *ngFor="let item of field.items">
              <div class="row" *ngIf="item.itemMeta.show">
                <div class="col px-1 pb-1 contact-row">
                  <app-svg-sprites [iconName]="'link'" cssClass="contact-icon" class="pe-3"></app-svg-sprites>
                  <ng-container [ngSwitch]="item.itemMeta.type">
                    <!-- Links -->
                    <a
                            *ngSwitchCase="fieldTypes.personWebLink"
                            target="_blank"
                            [attr.href]="item.url"
                    >{{ item.url }}<app-svg-sprites [iconName]="'open_in_new'" cssClass="open_in_new-icon"></app-svg-sprites></a>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <!--      <ng-container *ngSwitchDefault>
              <ng-container *ngFor="let item of field.items">
                <div class="row" *ngIf="item.itemMeta.show">
                  <div class="col px-1">
                    <app-svg-sprites *ngIf="item.icon" [iconName]="item.icon" cssClass="contact-icon" class="pe-3"></app-svg-sprites>
                    <ng-container [ngSwitch]="item.itemMeta.type">
                      &lt;!&ndash; Default &ndash;&gt;
                      <ng-container *ngSwitchDefault>
                        &lt;!&ndash; TODO: Even in used or working? groupItem is undefined variable &ndash;&gt;
                        &lt;!&ndash;<app-panel-array-item
                          [item]="item"
                          [fieldType]="groupItem"
                        ></app-panel-array-item&ndash;&gt;
                        ></ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </ng-container>-->

    </ng-container>
  </ng-container>


  <ng-container *ngFor="let field of contactFields; let i = index">
    <ng-container [ngSwitch]="field.id">

      <ng-container *ngSwitchCase="'name'">
        <ng-container *ngFor="let item of field.items">
          <div
                  class="row py-2"
                  *ngIf="item.itemMeta.show === true"
          >
            <div class="col px-0 contact-row">
            <span
                    class="fw-bold d-inline-block pe-3"
                    *ngIf="data[0].fields.length > 1"
            >{{ field.label }}
            </span>
              <span>{{item.value}}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'otherNames'">
        <div
                class="row py-2"
                *ngIf="(field.items | filter: checkGroupSelected).length"
        >
          <div class="col px-0 contact-row">
            <span
                    class="fw-bold d-inline-block pe-3"
                    *ngIf="data[0].fields.length > 1"
            >{{ field.label }}
            </span>
            <span>{{ field.items | joinAllGroupItems }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
</aside>