//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT


// Table
table {
    box-shadow: 1px 1px 2px 0px;
}

tr {
    padding: 0.5rem 0;
}

th {
    vertical-align: middle;
    padding: 5px 0px 5px 15px;
}

td {
    p {
        margin-bottom: 0.2rem;
    }
    p:first-child {
        font-weight: bold;
    }
}

table {
    margin: 20px 0px;
    width: 100%;
}


h2 {
    overflow: hidden;
    font-size: 1.5em;
}

h2:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}

.mat-checkbox {
    cursor: default;
}

// Sidebar
mat-card.mat-card {
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 1px 1px 2px 0px;
}

button.mat-raised-button {
    width: 161px;
    padding: 10px;
    margin: 10px;
}
