<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row mt-3">
  <div class="col px-0">
    <span class="font-italic row">
      Et ole vielä valinnut julkisesti näytettäviä tietoja
    </span>

    <app-secondary-button
      class="row pt-3"
      content="Valitse"
      (click)="openDialog()"
    ></app-secondary-button>
  </div>
</div>
