<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-container *ngFor="let action of actions; let i = index">
  <!-- Desktop action buttons -->
  <app-secondary-button
    *ngIf="
      action.id === 'share' ||
      (selectedItems | filter: filterByStatus:{ arg: action.id }).length
    "
    [content]="action.label"
    (click)="openDialog(i)"
    class="d-none d-lg-inline-block mb-3"
  ></app-secondary-button>

  <!-- Mobile action buttons -->
  <app-primary-action-button
    *ngIf="
      action.id === 'share' ||
      (selectedItems | filter: filterByStatus:{ arg: action.id }).length
    "
    [content]="action.label"
    (click)="openDialog(i)"
    class="d-inline-block d-lg-none mb-3"
  ></app-primary-action-button>
</ng-container>

<app-dialog
  *ngIf="showDialog"
  [title]="dialogTitle"
  [template]="dialogTemplate"
  [extraContentTemplate]="patchSelectionsTemplate"
  [actions]="dialogActions"
  [hideClose]="true"
  (onActionClick)="handleDialogAction($event)"
></app-dialog>

<ng-template #dialogTemplate>
  <div class="row py-4 mb-3">
    <div class="col">
      <ng-container [ngSwitch]="selectedAction">
        <ng-container
          *ngSwitchCase="'share'"
          [ngTemplateOutlet]="shareTemplate"
        ></ng-container>
        <ng-container
          *ngSwitchDefault
          i18n="@@itMayTakeFewMinutesForDataToPublish"
        >
          Julkisten tietojen päivittyminen kestää muutaman minuutin.
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="row pb-4 pb-lg-5 mb-lg-5">
    <div class="col">
      <ng-container [ngTemplateOutlet]="itemsSelectedText"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #shareTemplate>
  <mat-checkbox class="d-block" *ngFor="let target of shareTargets">
    {{ target.label }}
  </mat-checkbox>
</ng-template>

<ng-template #itemsSelectedText>
  <span class="fw-bold">
    {{ filteredSelectedItems.length }}
    <!-- <ng-container
      *ngIf="filteredSelectedItems.length === 1; else pluralTemplate"
      >tieto</ng-container
    >
    <ng-template #pluralTemplate>tietoa</ng-template> -->
    <ng-container i18n="@@selected">valittu</ng-container>
  </span>
</ng-template>

<!-- Patch preview in dialog -->
<ng-template #patchSelectionsTemplate>
  <app-draft-summary
    *ngIf="filteredProfileData"
    [profileData]="filteredProfileData"
  ></app-draft-summary>
</ng-template>
