<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

@for (action of actions; track action; let i = $index) {
  <!-- Desktop action buttons -->
  @if (
    action.id === 'share' ||
    (selectedItems | filter: filterByStatus:{ arg: action.id } ).length
    ) {
    <app-secondary-button
      [content]="action.label"
      (click)="openDialog(i)"
      class="d-none d-lg-inline-block mb-3"
    ></app-secondary-button>
  }
  <!-- Mobile action buttons -->
  @if (
    action.id === 'share' ||
    (selectedItems | filter: filterByStatus:{ arg: action.id }).length
    ) {
    <app-primary-action-button
      [content]="action.label"
      (click)="openDialog(i)"
      class="d-inline-block d-lg-none mb-3"
    ></app-primary-action-button>
  }
}

@if (showDialog) {
  <app-dialog
    [title]="dialogTitle"
    [template]="dialogTemplate"
    [actions]="dialogActions"
    [hideClose]="true"
    (onActionClick)="handleDialogAction($event)"
  ></app-dialog>
}

<ng-template #dialogTemplate>
  <div class="row pt-2 pb-4 mb-3">
    <div class="col">
      @switch (selectedAction) {
        @case ('share') {
          <ng-container
            [ngTemplateOutlet]="shareTemplate"
          ></ng-container>
        }
        @default {
          <p class="col">
            <ng-container i18n="@@updatedProfilePublishedAt"
              >Valitsemalla "Julkaise", valitsemasi tiedot julkaistaan
              Tiedejatutkimus.fi-palvelussa.</ng-container
              >
              <br />
              <ng-container i18n="@@updatingPublicDataTakesFewMinutes"
                >Tietojen päivittyminen voi kestää muutaman
              minuutin.</ng-container
                >
              </p>
            }
          }
          @if (filteredProfileData) {
            <app-draft-summary
              [profileData]="filteredProfileData"
              [isModalSummaryView]="true"
            ></app-draft-summary>
          }
        </div>
      </div>
    </ng-template>

    <ng-template #shareTemplate>
      @for (target of shareTargets; track target) {
        <mat-checkbox class="d-block">
          {{ target.label }}
        </mat-checkbox>
      }
    </ng-template>

    <ng-template #itemsSelectedText>
      <span class="fw-bold">
        {{ filteredSelectedItems.length }}
        <!-- <ng-container
        *ngIf="filteredSelectedItems.length === 1; else pluralTemplate"
        >tieto</ng-container
        >
        <ng-template #pluralTemplate>tietoa</ng-template> -->
        <ng-container i18n="@@selected">valittu</ng-container>
      </span>
    </ng-template>

