<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<div class="row">
    <div class="col text-center">
        <h2>Anna palautetta</h2>
        <p>Voit antaa palautetta tästä verkkopalvelusta<br><a href="javascript:void(0)" target="_blank">tällä Webropol-lomakkeella <fa-icon icon="external-link-alt"></fa-icon></a></p>
        <p>Palautelomake aukeaa uuteen välilehteen.</p>
        <p>Kiitos!</p>
        <fa-icon [icon]="faSmile"></fa-icon>
    </div>
</div>
