//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

@import '~@angular/material/theming';

@mixin app-cookie-consent-theme($theme) {
  $primary: map-get($theme, primary);

  app-cookie-consent {
    .cookie-consent {
      background: black;
      color: white;
    }

    a.read-more {
      color: #c7c7c7;
    }
  }
}
