//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.cookie-consent {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-size: 14px;
}

a.read-more {
    // font-size: 0.9rem;
    text-decoration: underline;
}

.cdk-focused {
    text-decoration: underline;
}

button {
    font-size: 14px;
    font-weight: bold;
    padding: .3rem .8rem;

}

@media (max-width: 991px) {
    button {
        max-width: 130px;
        line-height: 20px;
        white-space: normal;
    }
}
