<!-- # This file is part of the research.fi API service

 Copyright 2019 Ministry of Education and Culture, Finland

 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="cookie-consent" *ngIf="showConsent">
    <div class="row d-flex justify-content-between">
        <div class="col pb-4 pb-lg-0">
            <p class="m-0" i18n="@@cookieConsent1">
                Tämä palvelu käyttää evästeitä. Välttämättömien evästeiden lisäksi keräämme seurantaevästeiden avulla anonymisoitua tietoa palvelun käytöstä, käyttökokemuksen kehittämistä varten.<br>
                Tietoja ei luovuteta kolmansille osapuolille. 
            </p>
            <p class="m-0 pt-3 pb-3 pb-sm-0" i18n="@@cookieConsent2">
                Voit tutustua <a tabindex="0" #readMore class="read-more" routerLink="/privacy/1">evästekäytäntöihimme tietosuojasivulla</a>.
            </p>
        </div>
        <div class="col-12 col-lg-auto text-center align-self-center">
            <div class="row">
                <div class="col-6" class="col-6 pl-0 pr-2">
                    <button mat-flat-button (click)="approve()" i18n="@@approveTrackingCookies">Hyväksy seurantaevästeet</button>
                </div>
                <div class="col-6" class="col-6 pr-0 pl-2">
                    <button mat-flat-button (click)="decline()" i18n="@@declineTrackingCookies">Hylkää seurantaevästeet</button>
                </div>
            </div>


        </div>
    </div>
</div>

