<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<main id="main-content">
  <div class="wrapper">
    <div class="row pb-4">
      <div class="col text-center">
        <h1 class="h4">
          <ng-container i18n="@@redirecting">Uudelleenohjataan</ng-container>...
        </h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-auto align-self-center">
        <mat-spinner
          [diameter]="80"
          i18n-aria-label="@@loading"
          aria-label="Ladataan"
        ></mat-spinner>
      </div>
    </div>
  </div>
</main>
