@import '~@angular/material/theming';

@mixin app-active-filters-theme($theme) {
  $primary: map-get($theme, primary);

  app-active-filters {
    .ellipsis {
      display: inline-block;
      padding: 0 0.5rem;
      font-size: 2rem;
      line-height: 1rem;
      font-weight: bold;
      color: mat-color($primary);
    }

    .row.active-filters {
      border: 1px solid #4545B9;
      padding: 16px;
      background:#F7F7Fb;
      border-radius: 4px;
    }
  }
}
