<!-- # This file is part of the research.fi API service
#
# Copyright 2019 Ministry of Education and Culture, Finland
#
# :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
# :license: MIT -->

<app-banner-divider></app-banner-divider>
<div class="bg-bubble d-none d-lg-block"></div>
<main id="main-content">
  <div class="wrapper">
    <div class="row d-flex justify-content-between">
      <div class="col-12">
        <h2 i18n="@@404">404 - Virheellinen osoite</h2>
      </div>
    </div>
  </div>
</main>
