<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
  <app-search-bar></app-search-bar>
</aside>

<div class="wrapper" *ngIf="responseData" id="main-content">
  <div class="row shared">
    <p class="back col-12" style="padding-bottom: 0.25rem">
      <a
        #backToResultsLink
        routerLink="/results/{{ tab }}/{{ searchTerm }}"
        [queryParams]="tabQueryParams"
        >&lt;
        <ng-container i18n="@@backToResults"
          >Takaisin hakutuloksiin</ng-container
        ></a
      >
    </p>
  </div>
  <!-- Breadcrumb -->
  <app-breadcrumb
    [type]="'single'"
    [responseData]="responseData"
    [tab]="tab"
    [tabName]="tabData.label"
    [resultNameField]="'name'"
    [queryParams]="tabQueryParams"
  ></app-breadcrumb>
  <div class="row shared">
    <div
      class="col-12"
      style="margin: 10px 0 10px 0"
      *ngIf="responseData.total === 0"
    >
      <h2 i18n="@@404">404 - Virheellinen osoite</h2>
    </div>
    <main class="col-12 col-md-8">
      <div *ngFor="let item of responseData.organizations">
        <div class="row d-flex justify-content-around">
          <div class="col p-0">
            <h1 class="result-header mb-3">{{ item.name }}</h1>
            <p>{{ item.nameTranslations }}</p>
          </div>
          <div
            *ngIf="item.logo && item.logo !== null"
            class="col p-0 org-logo text-right align-self-center"
          >
            <img [src]="item.logo | safeUrl" />
          </div>
        </div>

        <!-- Tabs -->
        <mat-tab-group dynamicHeight>
          <mat-tab label="Tunnuslukuja" *ngIf="item.visualIframeUrl">
            <app-organization-visualisations [item]="item"></app-organization-visualisations>
          </mat-tab>
          <mat-tab label="Lisätiedot">
            <app-organization-information
              [item]="item"
              [sources]="sources"
            ></app-organization-information>
          </mat-tab>
          <mat-tab label="Alayksiköt" *ngIf="item.subUnits?.length">
            <app-organization-sub-units
              [item]="item"
            ></app-organization-sub-units>
          </mat-tab>
        </mat-tab-group>
      </div>
    </main>

    <!-- Sidebar -->
    <div
      *ngFor="let item of responseData.organizations"
      class="col-12 col-md-4"
    >
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title
              ><h2 i18n="@@news" class="pb-3">Uutiset</h2>
            </mat-card-title>

            <app-news-card
              *ngFor="let newsItem of news?.slice(0, showMoreNews ? 5 : 3)"
              [item]="newsItem"
              [sideNews]="true"
            ></app-news-card>

            <div class="text-center">
              <a *ngIf="!showMoreNews" (click)="showMoreNews = true"
                >Näytä lisää uutisia</a
              >
              <a *ngIf="showMoreNews" (click)="navigateToNews()"
                >Näytä kaikki organisaation uutiset</a
              >
            </div>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <!-- Links -->
            <h2 i18n="@@organizationHomepage" class="m-0">
              Organisaation verkkosivu
            </h2>
            <div
              class="row links mt-0"
              *ngIf="
                (linkFields | filterEmptyField: item).length;
                else noHomePage
              "
            >
              <div *ngFor="let row of linkFields" class="info-link-wrapper">
                <ng-container *ngIf="item[row.field]; else noHomePage">
                  <div class="col link">
                    <a
                      class="info-link"
                      href="{{ item[row.field] }}"
                      target="_blank"
                      >{{ item[row.field]
                      }}<fa-icon icon="external-link-alt"></fa-icon
                    ></a>
                  </div>
                </ng-container>
              </div>
            </div>

            <!-- Contact -->
            <div
              class="d-block"
              *ngFor="let row of contactFields | filterEmptyField: item"
            >
              <h2>{{ row.label }}</h2>
              <p>{{ item[row.field] }}</p>
            </div>

            <!-- Extra view for FMI -->
            <ng-container *ngIf="item.id === '4940015'">
              <div class="row links">
                <strong class="pb-2" i18n="@@readMore">Lisätietoa</strong>:
                <div class="info-link-wrapper">
                  <div class="col link">
                    <a
                      href="https://en.ilmatieteenlaitos.fi/research"
                      target="_blank"
                      ><ng-container i18n="@@research"
                        >Tutkimustoiminta</ng-container
                      ><fa-icon icon="external-link-alt"></fa-icon
                    ></a>
                  </div>
                </div>
                <div class="info-link-wrapper">
                  <div class="col link">
                    <a
                      href="https://julkaisut.fmi.fi/intl-peer-reviewed/"
                      target="_blank"
                      ><ng-container i18n="@@publications"
                        >Julkaisut</ng-container
                      ><fa-icon icon="external-link-alt"></fa-icon
                    ></a>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #noHomePage>
              <div class="no-links" i18n="@@noOrganizationLinks">
                Organisaatioon ei ole tarjolla linkkejä tässä portaalissa
              </div>
            </ng-template>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title>
              <h2>
                <ng-container
                  *ngIf="item.sectorNameFi !== 'Rahoittaja'"
                  i18n="@@relatedOrganizations"
                  >Hae organisaatioon liittyvät</ng-container
                >
                <ng-container
                  *ngIf="item.sectorNameFi === 'Rahoittaja'"
                  i18n="@@relatedFunded"
                  >Hae organisaation rahoittamat</ng-container
                >
              </h2>
            </mat-card-title>
            <app-related-links
              [id]="
                item.sectorNameFi === 'Rahoittaja' ? item.businessId : item.id
              "
              [filter]="
                item.sectorNameFi === 'Rahoittaja' ? 'funder' : 'organization'
              "
            >
            </app-related-links>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title><h2 i18n="@@share">Jaa</h2></mat-card-title>
            <app-share [id]="item.id"></app-share>
          </div>
        </mat-card>
      </aside>
      <aside>
        <mat-card>
          <div class="inner">
            <mat-card-title
              ><h2 i18n="@@orgInfoSource">
                Organisaatiotiedon lähde
              </h2></mat-card-title
            >
            <ul class="px-0">
              <li class="py-2">
                <a [href]="vipunenLink[currentLocale]" target="_blank"
                  ><ng-container i18n="@@vipunenSimple"
                    >Vipunen - opetushallinnon tilastopalvelu</ng-container
                  ><fa-icon icon="external-link-alt"></fa-icon
                ></a>
              </li>
              <li class="py-2">
                <a [href]="fintoLink[currentLocale]" target="_blank"
                  ><ng-container i18n="@@finto"
                    >Finto - sanasto- ja ontologiapalvelu</ng-container
                  ><fa-icon icon="external-link-alt"></fa-icon
                ></a>
              </li>
              <li class="py-2">
                <a [href]="ytjLink[currentLocale]" target="_blank"
                  ><ng-container i18n="@@ytj"
                    >Yritys– ja yhteisötietojärjestelmä (YTJ)</ng-container
                  ><fa-icon icon="external-link-alt"></fa-icon
                ></a>
              </li>
              <li class="py-2">
                <a [href]="statcenterLink[currentLocale]" target="_blank"
                  ><ng-container i18n="@@tilastokeskus"
                    >Tilastokeskus</ng-container
                  ><fa-icon icon="external-link-alt"></fa-icon
                ></a>
              </li>
            </ul>
          </div>
        </mat-card>
      </aside>
    </div>
  </div>
</div>
