//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

.organization-header {
  font-size: 1.9rem;
}

.org-logo img {
  max-width: 150px;
  max-height: 130px;
}
