//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

app-tag {
  .tag {
    display: flex;
  }

  .tag > * {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }

  .doi {
    .tag-id {
      background: #363636;
      color: white;
      border: 2px solid #363636;
      padding: 3px 10px 3px 11px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .tag-content {
      background: white;
      padding: 3px 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 2px solid #363636;
      a {
        color: #363636;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  img {
    height: 1rem;
    width: auto;
  }
}
