// MDC MIGRATION EXPERIMENTS

// TODO: Material 3 SASS API is most likely the best practice for customizing Material components.


// Modal
.mat-mdc-dialog-container {
  min-width: 50% !important;
  max-width: 800px !important;
}

.mat-mdc-dialog-surface, .mdc-dialog__container {
  max-width: 100%;
  min-width: 100%;
}

.mat-mdc-dialog-panel {
  min-width: 50% !important;
  max-width: 80% !important;
}

  // Researchers profile tool search field
app-search .input {
  margin-left: 2px;
}

// Funding call filter chips
.mat-mdc-standard-chip .mdc-evolution-chip__text-label {
  --mdc-chip-label-text-weight: 500;
}

// Search filters
app-funding-call-category-filters {
  .mat-chip {
    max-height: 32px;
    button:hover:not(:active) {
      //background-color: #f7f7fb;
    }
    .mat-mdc-focus-indicator {
      background-color: #4546b9 !important;
    }
    button:active {
      //background-color: #4546b9;
    }
  }
}

app-active-filters {
  .mat-mdc-button:not(:disabled) {
    color: initial !important;
  }
}

.mat-mdc-form-field-icon-suffix {
  display: flex;
}

mat-datepicker-toggle {
  &.x-button {
    margin-right: -14px !important;
  }
  mat-icon {
    padding: 10px;
    margin-left: -5px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .mat-mdc-button-persistent-ripple {
    display: none !important;
  }
  button {
    margin-bottom: -10px;
    &:hover {
      background-color: transparent !important;
      fill: transparent !important;
    }
  }
}

mat-calendar {
  button {
    margin-bottom: -10px;
  }
}

.mdc-floating-label--float-above {
  margin-top: -1px !important;
  mat-label {
  font-size: 1rem !important;
  }
}

.mat-datepicker-input {
  .mdc-text-field__input {
    outline: transparent !important;
  }
}

// Checkbox in left sidepanel in search pages
// .mat-mdc-list-option .mdc-checkbox__checkmark-path {
.mdc-checkbox__checkmark {
  color: white !important;
}

// Funding call category filters
mat-chip-option {
  display: flex !important;
}

.mdc-evolution-chip__text-label {
  white-space: initial !important;
  font-size: 0.875rem !important;
  &.mat-mdc-chip-action-label {
    padding: 5px 13px;
  }
}

.mat-mdc-chip.mat-mdc-standard-chip {
  height: auto;
  padding: 1px 0px;
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
  padding: 0px !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__graphic {
  display: none;
}

.mdc-checkbox {
  width: 16px !important;
  height: 16px !important;
  padding: 12px 10px !important;
}

.mdc-checkbox__background {
  width: 16px !important;
  height: 16px !important;
  margin-top: 1px !important;
}


// Button left of search bar
.mat-mdc-button:not(:disabled) {
  color: #4546b9 !important;
  text-decoration: none;
}

.search button {
  height: 53px;
}

// Researchers profile tool terms of use checkboxes
app-activity-item {
  line-height: 1.2rem;
}

mat-checkbox, .mdc-form-field.mat-internal-form-field {
  width: 100% !important;
  white-space: nowrap !important;
}

// Dialog modals
mat-dialog-content .mat-mdc-radio-button.mat-accent{
  margin: 0px;
}

// Expansion panel's content in search pages
body app-filters mat-expansion-panel.mat-expansion-panel.mat-expanded, body .filters-dialog mat-expansion-panel.mat-expansion-panel.mat-expanded {
  font-size: 0.88rem;
}

// Expansion panel's checkbox lines
body .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, body .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, body .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 44px !important;
}

// Expansion panel's datepicker
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  width: 100%;
  height: 45px;
}

body .mat-accent .mdc-list-item__start, body .mat-accent .mdc-list-item__end {
  margin-right: 0;
}

// Results page's table's row separation
mat-row, mat-header-row, mat-footer-row {
  margin-bottom: 30px;
  border: none !important;
}

// Researchers profile tool
app-search-portal-results .mat-mdc-cell {
  padding: 8px 10px;
  padding-left: 10px;
  line-height: 1.2rem;
}

.cdk-overlay-pane {
  --mat-option-label-text-size: 0.85rem;
}

.mat-mdc-paginator-page-size-select {
  height: 36px !important;
}
.mat-mdc-option {
  min-height: 36px !important;
  height: 1.8rem !important;
}

app-data-sources-table {
  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding:16px 16px 8px 16px !important;
  }
}

app-data-sources-table, app-search-portal-results, app-profile-items-table {
  mat-row, mat-header-row, mat-footer-row {
    padding: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
  }

  .mdc-data-table__cell {
    padding: 0px 15px 5px 15px !important;
    margin-bottom: 5px;
  }

  .mdc-data-table__header-cell {
    padding: 7px 15px !important;
  }

  .mat-mdc-cell {
    border-bottom: 1px solid #0000001f !important;
    white-space: nowrap;
    .col, a {
      margin-top: 10px;
    }
  }

  app-table-cell .mat-column-selection mat-checkbox {
    margin-top: 0rem;
  }

  .mdc-data-table__header-cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  app-table :not(mat-header-cell) .mat-column-selection mat-checkbox, app-table-cell .mat-column-selection mat-checkbox {
    margin-top: -0.5rem;
  }
}

// Publications table
app-profile-items-table {
  .mat-mdc-cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: initial !important;
    .col, a {
      margin-top: 7px;
    }
  }
}

// Table header row's bottom border
.mat-mdc-header-cell {
  border: none !important;
}

// Table cell's border
.mat-mdc-cell {
  border: none !important;
}

// Dropdown link lists from the header
.mat-mdc-menu-item, .mat-mdc-menu-item:visited, .mat-mdc-menu-item:link {
  font-size: 14px !important;
}

// Feedback button
app-footer button.review {
  text-transform: uppercase;
  letter-spacing: .7px;
  font-size: 14px;
  font-weight: 500;
}

// Remove news card's border
.mat-mdc-card-outlined {
  border: none !important;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

body app-news-card mat-card.mat-mdc-card {
  padding: 1rem !important;
}

// Search's help button
.search-help > button > span {
  font-size: 0.88rem;
  padding: 0.5rem;
  font-weight: 500;
}

.search-help > button.down > span.mdc-button__label::after {
  font-family: 'FontAwesome';
  content: '\f078';
  display: inline-block;
  padding-left: 0.25rem;
}

// Search's help button
.search-help > button.up > span.mdc-button__label::after {
  font-family: 'FontAwesome';
  content: '\f077';
  display: inline-block;
  padding-left: 0.25rem;
}

// Search's dropdown
app-search-bar > div > div > div > form > div > div.input-group > button > span.mdc-button__label > span {
  font-weight: 500;
}

// New's page's tab sizes
#main-content > div > mat-tab-group > mat-tab-header {
  width: 325px;
}

// New's page's tab text
.mat-mdc-tab .mdc-tab__text-label {
  color: black !important;
  font-size: 0.88rem;
  font-weight: 500;
}

app-news-card mat-card-content p:last-child {
  margin-top: 0 !important;
}

.mat-mdc-card-content {
  font-size: 0.88rem;
  padding-left: 0 !important;
  margin-bottom: 1.10rem !important;
}

a {
  //text-decoration-color: #2868c6 !important;
}
