// MDC MIGRATION EXPERIMENTS

// TODO: Material 3 SASS API is most likely the best practice for customizing Material components.

// Button left of search bar
.mat-mdc-button:not(:disabled) {
  color: #4546b9 !important;
  text-decoration: none;
  height: 53px;
}

// Checkbox in left sidepanel in search pages
// .mat-mdc-list-option .mdc-checkbox__checkmark-path {
.mdc-checkbox__checkmark {
  color: white !important;
}

// Expansion panel's content in search pages
body app-filters mat-expansion-panel.mat-expansion-panel.mat-expanded, body .filters-dialog mat-expansion-panel.mat-expansion-panel.mat-expanded {
  font-size: 0.88rem;
}

// Expansion panel's checkbox lines
body .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, body .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, body .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 44px !important;
}

// Expansion panel's datepicker
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  width: 120px;
  height: 45px;
}

body .mat-accent .mdc-list-item__start, body .mat-accent .mdc-list-item__end {
  margin-right: 0;
}

// Results page's table's row separation
mat-row, mat-header-row, mat-footer-row {
  margin-bottom: 30px;
  border: none !important;
}

// Table header row's bottom border
.mat-mdc-header-cell {
  border: none !important;
}

// Table cell's border
.mat-mdc-cell {
  border: none !important;
}

// Dropdown link lists from the header
.mat-mdc-menu-item, .mat-mdc-menu-item:visited, .mat-mdc-menu-item:link {
  font-size: 14px !important;
}

// Feedback button
app-footer button.review {
  text-transform: uppercase;
  letter-spacing: .7px;
  font-size: 14px;
  font-weight: 500;
}

// Remove news card's border
.mat-mdc-card-outlined {
  border: none !important;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

body app-news-card mat-card.mat-mdc-card {
  padding: 1rem !important;
}

// Search's help button
.search-help > button > span {
  font-size: 0.88rem;
  padding: 0.5rem;
  font-weight: 500;
}

.search-help > button.down > span.mdc-button__label::after {
  font-family: 'FontAwesome';
  content: '\f078';
  display: inline-block;
  padding-left: 0.25rem;
}

// Search's help button
.search-help > button.up > span.mdc-button__label::after {
  font-family: 'FontAwesome';
  content: '\f077';
  display: inline-block;
  padding-left: 0.25rem;
}

// Search's dropdown
app-search-bar > div > div > div > form > div > div.input-group > button > span.mdc-button__label > span {
  font-weight: 500;
}
