//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

// You can add global styles to this file, and also import other style files
@import '@angular/material/theming';

@import './bootstrap_overrides.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@include mat-core();

@import '~font-awesome/css/font-awesome.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'styles-custom.scss';
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');

// Component custom styles
@import './styles-custom-expansion-panel.scss';

// Layout
@import './app/layout/header/header.component.scss-theme.scss';
@import './app/layout/footer/footer.component.scss-theme.scss';

// Portal
@import './app/portal/components/home-page/home-page.component.scss-theme.scss';
@import './app/portal/components/search-bar/search-bar.component.scss-theme.scss';
@import './app/portal/components/result-tab/result-tab.component.scss-theme.scss';
@import './app/portal/components/results/results.component.scss-theme-shared.scss';
@import './app/portal/components/results/results.component.scss-shared.scss';
@import './app/portal/components/single/single-result.scss-shared.scss';
@import './app/portal/components/single/single-result.scss-theme-shared.scss';
@import './app/portal/components/results/sort/sort.component.scss-theme.scss';
@import './app/portal/components/breadcrumb/breadcrumb.component.scss-theme.scss';
@import './app/portal/components/results/filters/filters-shared.scss';
@import './app/portal/components/results/filters/filters.theme-shared.scss';
@import './app/portal/components/single/single-funding/single-funding.component.scss-theme.scss';
@import './app/portal/components/science-politics/figures/figures.component.scss-theme.scss';
@import './app/portal/components/science-politics/research-innovation-system/research-innovation-system.component.scss-theme.scss';
@import './app/portal/components/science-politics/open-science-and-research-indicators/open-science-and-research-indicators.component.scss-theme';
@import './app/portal/components/science-politics/figures/single-figure/single-figure.component.scss-theme.scss';
@import './app/portal/components/science-politics/figures/figures-info/figures-info.component.scss-theme.scss';
@import './app/portal/components/science-politics/science-politics.scss-shared.scss';
@import './app/portal/components/science-politics/science-politics.scss-theme-shared.scss';
@import './app/portal/components/service-info/service-info.component.scss-theme.scss';
@import 'app/portal/components/results/funding-call-results/funding-call-results.component.scss-theme.scss';
@import './app/portal/components/news/news/news.component.scss-theme.scss';
@import './app/portal/components/news/news-card/news-card.component.scss-theme.scss';
@import './app/portal/components/results/datasets/datasets.component-theme.scss';
@import './app/portal/components/science-politics/figures/carousel/carousel.component.scss-theme.scss';
@import './app/portal/components/visualisation/bar/bar.component.scss-theme.scss';
@import './app/portal/components/science-politics/tki-reports/tki-reports.component.scss';

// Shared
@import './app/shared/components/info/info.component-theme.scss';
@import './app/shared/components/divider/divider.component-theme.scss';
@import './app/shared/components/button-group/button-group.component-theme.scss';
@import './app/shared/components/select/select.component-theme.scss';
@import './app/shared/components/search/search.component-theme.scss';
@import './app/shared/components/banner-divider/banner-divider.component-theme.scss';
@import './app/shared/components/review/review.component.scss-theme.scss';
@import './app/shared/components/notification-banner/notification-banner.component-theme.scss';
@import './app/shared/components/buttons/buttons-shared-theme.scss';
@import './app/shared/components/table/table-theme-shared.scss';
@import './app/shared/components/active-filters-list/active-filters-list-theme.scss';
@import './app/shared/components/pagination/pagination.component.scss-theme.scss';
@import './app/shared/components/pagination/pagination.component.scss';
@import './app/shared/components/tags/tag-shared.scss';

// Mydata
@import './app/mydata/mydata-shared.scss';
@import './app/mydata/mydata-shared-theme.scss';
@import './app/mydata/components/profile/profile.component-theme.scss';
@import './app/mydata/components/profile/profile-panel/primary-badge/primary-badge.component-theme.scss';
@import './app/mydata/components/profile/draft-summary/draft-summary.component.scss';
@import './app/mydata/components/profile/data-sources/data-sources-theme.scss';
@import './app/mydata/components/welcome-stepper/welcome-stepper.component.scss';
@import './app/mydata/components/account-settings/account-settings.component.scss';

// Global element color definitions
@mixin researchfi-components-theme($theme) {
  @include mat-expansion-panel-style($theme);
  @include app-header-theme($theme);
  @include app-footer-theme($theme);
  @include app-home-page-theme($theme);
  @include app-search-bar-theme($theme);
  @include app-result-tab-theme($theme);
  @include app-filters-theme-shared($theme);
  @include app-filters-shared;
  @include app-results-theme-shared($theme);
  @include app-results-shared;
  @include app-single-result-theme-shared($theme);
  @include app-single-result-shared;
  @include app-pagination-theme($theme);
  @include app-datasets-theme($theme);
  @include app-sort-theme($theme);
  @include app-breadcrumb-theme($theme);
  @include app-single-funding-theme($theme);
  @include app-figures-theme($theme);
  @include app-research-innovation-system-theme($theme);
  @include app-open-science-and-research-indicators-theme($theme);
  @include app-single-figure-theme($theme);
  @include app-science-politics-shared;
  @include app-science-politics-theme-shared($theme);
  @include app-figures-info-theme($theme);
  @include app-info-component-theme($theme);
  @include app-divider-theme($theme);
  @include app-button-group-theme($theme);
  @include app-select-theme($theme);
  @include app-search-theme($theme);
  @include app-service-info-theme($theme);
  @include app-funding-call-results-theme($theme);
  @include app-news-theme($theme);
  @include app-news-card-theme($theme);
  @include app-review-theme($theme);
  @include app-pagination-shared;
  @include app-carousel-theme($theme);
  @include app-bar-chart-theme($theme);
  @include app-mydata-shared-theme($theme);
  @include app-data-sources-theme($theme);
  @include app-profile-theme($theme);
  @include app-primary-badge-theme($theme);
  @include app-banner-divider-theme($theme);
  @include app-notification-banner-theme($theme);
  @include buttons-shared-theme($theme);
  @include table-theme-shared($theme);
  @include app-active-filters-list-theme($theme);
}

// Global style definitions
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include angular-material-theme($researchfi-theme);
  @include researchfi-components-theme($researchfi-theme);
  overflow-y: scroll;
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

em.highlight {
    background-color: #FFFF00;
    font-style: normal;
    padding: 0.1em 0;
}

.fullscreen-panel {
  width: 100%;
  height: 100%;
  background-color: white;

  overflow-y: auto;
}
