// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

// Styles
@import '@angular/material/theming';

@mixin mat-expansion-panel-style($theme) {
  $primary: map-get($theme, primary);

  app-research-innovation-system,
  app-service-info {
    .title h2 {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .icon {
      min-width: 2rem;
      border-radius: 50%;
      padding: 0.5rem;
      margin-right: 1rem;
      text-align: center;
      font-size: 1.3rem;
      align-self: center;
      line-height: inherit;
    }

    .mat-expansion-panel-header {
      padding: 0 1.5rem 0 0.5rem;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
      border-radius: 0;
      margin: 1rem 1rem;
    }

    .mat-accordion .mat-expansion-panel:not(.mat-expanded),
    .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
      border-radius: 0.25rem;
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 0 0 1rem !important;
    }

    // Theming

    .mat-expansion-panel {
      background: none;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled='true']) {
      outline: 5px auto mat-color($primary) !important;
      background: none !important;
    }

    .mat-expansion-panel-content {
      font-size: 16px;
      color: mat-contrast($primary, 300);
      strong {
        color: mat-color($primary);
      }
    }

    .icon {
      color: white;
      background: mat-color($primary, 200);
    }

    .title {
      color: mat-contrast($primary, 200);
    }
  }
}
