/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import 'styles-custom.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@import './app/ui/header/header.component.scss-theme.scss';

// Global element color definitions
@mixin researchfi-components-theme($theme) {
  @include app-header-theme($theme);

  $primary: map-get($theme, primary);
  
  // Disable link
  a.disabled {
      color: mat-color($primary, lighter) !important;
  }
}

// Global style definitions
html {
    height: 100%;
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include angular-material-theme($researchfi-theme);
  @include researchfi-components-theme($researchfi-theme);
  
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

// Typography
.uppercase {
  text-transform: uppercase;
}