@import './styles-custom-palettes.scss';

$researchfi-primary: mat-palette($researchfi-primary-palette, 500, 300, 900);
$researchfi-accent: mat-palette($mat-green);
$researchfi-warn: mat-palette($mat-red);

$researchfi-theme: mat-light-theme(
  $researchfi-primary,
  $researchfi-accent,
  $researchfi-warn
);

// Insert custom background color
// https://stackoverflow.com/questions/43919927/angular-material2-theming-how-to-set-app-background
$background-color: map-get($researchfi-primary, default-contrast);
$background: map-get($researchfi-theme, background);
$background: map_merge(
  $background,
  (
    card: $background-color,
  )
);
$researchfi-theme: map_merge(
  $researchfi-theme,
  (
    background: $background,
  )
);

$primary: map-get($researchfi-theme, primary);

// html.cdk-global-scrollblock {
//   body {
//     overflow: hidden !important;
//   }
// }

// Show disabled vertical scroll when dialog opens. Prevents elements filling the space if there's no scroll bar
.cdk-global-scrollblock {
  overflow-y: inherit;
}

// Disable webkit search icons
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

body {
  color: mat-contrast($primary, 300);
  font-family: 'Roboto', sans-serif;
}

body {
  button:focus-visible,
  input:focus-visible,
  select:focus-visible,
  textarea:not(.mat-input-element):focus-visible,
  *:not(.bundler:not(.homepage)):not(.mat-expansion-panel-header):not(.mat-input-element):focus-visible {
    // High contrast focus indicator for keyboard users
    outline: 2px transparent solid !important;
    box-shadow: 0 0 0 2px white, 0 0 0 4px mat-color($primary, default),
      0 0 3px 5px white !important;
    z-index: 100; // If no margin between next focusable element, high number because of target serach button
  }
}

body.menu-open {
  & .content-container {
    overflow: hidden;
  }

  // Temporary fix for hiding long page content when menu opens
  & main {
    display: none;
  }
}

// Display primary colored border around Material UI elements
mat-expansion-panel-header:focus-visible,
mat-checkbox.cdk-keyboard-focused .mat-ripple-element {
  outline: 2px solid mat-color($primary, default) !important;
}

mat-expansion-panel-header:focus-visible {
  outline-offset: -2px;
}

mat-checkbox.cdk-keyboard-focused .mat-ripple-element {
  width: 2rem;
  height: 2rem;
}

mat-radio-button.cdk-keyboard-focused .mat-ripple-element {
  border: 2px solid mat-color($primary, default); // Centering element with outline doesn't seem to work
}

.cdk-keyboard-focused {
  .mat-checkbox-frame,
  .mat-checkbox-background,
  .mat-radio-outer-circle,
  .mat-radio-inner-circle {
    z-index: 2;
  }

  .mat-ripple:not(.mat-slide-toggle-ripple) {
    padding: 4px !important;
  }

  .mat-ripple-element:not(.mat-slide-toggle-persistent-ripple) {
    background-color: mat-color($primary, 100) !important;
    opacity: 1 !important;
    z-index: 0 !important;
  }
}

// Dont show outlines for mouse users
body:not(.user-tabbing) {
  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  *:focus {
    outline: none;
  }
}

// Override for mat select
body div.cdk-overlay-container {
  z-index: 1051;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: map-get(map-get($researchfi-primary, contrast), 200);
  color: mat-contrast($primary, 200);
  // line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-word;
}
h2 {
  font-size: 1.7rem;
  font-weight: 700;
}
h3 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #000000;
  opacity: 87%;

  &.data-label {
    font-size: 1.4rem;
  }
}
h4 {
  font-size: 1.2rem;
  opacity: 87%;
}

.page-content {
  h2,
  h3,
  h4 {
    margin-top: 2rem;
  }
}

a {
  // Accessibility checked color
  color: #3366cc;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Add icon to external links. This class is added in CMS.
a.ext::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f35d';
  margin-left: 0.3rem;
}

p a {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: mat-color($primary, lighter) !important;
}

ul {
  list-style: disc;
  padding-inline-start: 1rem;
}

ol {
  padding-left: 1rem;
}

.list-style-circle {
  list-style: circle;
}

.uppercase {
  text-transform: uppercase;
}

span.bold {
  font-weight: bold;
}

.strong {
  font-weight: bold;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline !important;
}

mark,
.mark {
  padding: 0;
  font-weight: 400;
  color: mat-contrast($primary, 300);
  background-color: #ffc000;
}

.font-size-small {
  font-size: 0.75rem;
}

.font-size-smaller {
  font-size: 0.875rem;
}

.font-size-normal {
  font-size: 1rem;
}

.font-size-big {
  font-size: 1.025rem;
}

.font-size-bigger {
  font-size: 1.25rem;
}

.font-weight-500 {
  font-weight: 500;
}

// Colors
.primary-color {
  color: mat-color($primary, default) !important;
}

.background-primary {
  background-color: mat-color($primary, default);
  color: mat-contrast($primary, 500);
}

.background-light {
  background-color: mat-color($primary, 50);
}

.border-primary {
  border-color: mat-color($primary, default) !important;
}

// Content
.full-width {
  background: mat-color($primary);
  min-height: 3rem;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

#main-content {
  padding: 2.5rem 0;
}

.main-loader {
  height: 100%;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.container-fluid {
  padding: 0px !important;
  min-height: 700px;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

// Buttons
.ttv-button {
  border-radius: 6px;
  min-height: 44px;
  font-size: 1rem;
  padding: 0 32px;
}

// Icons
fa-icon[icon='external-link-alt'] {
  padding-left: 5px;
}

// Forms
.mat-pseudo-checkbox {
  background: #fff;
}

/*
 * Checkbox & radio button left margins because of keyboard focus indicator
 */

// Radio button
.mat-radio-label-content {
  margin-left: 0.25rem;
}

// Checkbox
.mat-checkbox-label {
  margin-left: 0.5rem;
}

// Multiline checkboxes
.mat-checkbox-layout {
  white-space: normal !important;
}
.mat-checkbox-inner-container {
  margin-top: 0.25rem !important;
}

// Help icon
.info-icon {
  color: mat-color($primary, default);
  cursor: pointer;
}

// Mat select
.mat-select-panel {
  background: white !important;
}

// Material form field focus
// mat-form-field.mat-focused {
//   outline: -webkit-focus-ring-color auto 1px;
// }

// Mat-card
body mat-card.mat-card {
  background: mat-color($primary, 100);
}

// Mat ripple
// Fix for hidden right border
.mat-ripple:not(:empty) {
  transform: none;
}

// Mat menu
// Search target menu
.search-target.mat-menu-item {
  width: 180px;
}

.mat-menu-item:focus {
  box-shadow: none !important;
}

// Tooltip
.tooltip-inner {
  max-width: 276px;
  width: max-content;
}

.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 0.1s; /* Adjust this duration */
}

// Tags
mat-basic-chip.tag {
  padding: 7px 12px;
  border-radius: 1rem;
  align-items: center;
  cursor: default;
  min-height: 2rem;
  border: 1px solid mat-color($primary);
  color: mat-color($primary);
}

// Bubble background
.bg-bubble {
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  right: 1%;
  margin-top: -48px;
  z-index: -1;
}

.bg-bubble,
.circle-small {
  background: mat-color($primary, 200);
}

// Visualisation modal
.visual-dialog {
  .visual-select {
    background-color: mat-color($primary, 50);
  }
  .vis-style-toggle {
    background-color: mat-contrast($primary, 500);
    color: mat-color($primary, default);
    border-color: mat-color($primary, default);
    &.active {
      background-color: mat-color($primary, default);
      color: mat-contrast($primary, 500);
    }
  }
  .info {
    background-color: mat-contrast($primary, 500);
    border-color: mat-color($primary, 50);
    ul {
      list-style: inside !important;
    }
  }
}

// Mat Dialog
.mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

.dialog-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mat-dialog-content {
  // max-height: 85vh !important;
  // padding: 0 1rem !important;

  // Enable scrollbar rendering
  margin: 0 !important;
  padding: 0 !important;
}

.mat-dialog-actions {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-end !important;
  // display: block !important;
  margin-bottom: 0 !important;
  padding: 1rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.responsive-dialog {
  min-width: 44vw;
  max-height: 100vh;
  width: unset;
  height: unset;
  position: static;
}

.responsive-dialog.hidden {
  opacity: 0;
}

// Custom Mat Tab
.mat-tab-label {
  opacity: 1 !important;
}

.custom-tab-group {
  .mat-tab-header {
    overflow: visible !important;
    position: relative !important;
    border-bottom: 1px solid mat-color($primary, default) !important;
  }

  .mat-tab-label-container {
    overflow: visible !important;
    position: relative;
  }

  .mat-tab-label-container,
  .mat-tab-label-active {
    height: 54px !important;
    margin-top: 0 !important;
  }

  .mat-tab-label-active {
    position: relative;
    z-index: 4;
    margin-top: 1px !important;
    background: mat-contrast($primary, 500);
    border: 1px solid mat-color($primary, default);
    border-bottom: 0;
  }

  .mat-tab-label {
    margin-top: 6px;
  }

  .mat-tab-label:not(.mat-tab-label-active) {
    background: #e8e8f5;
  }

  // .mat-tab-body-wrapper {
  //   padding-top: 1rem;
  // }

  .mat-tab-body-content {
    overflow: hidden;
    padding-top: 1rem;
  }
}

// Opacity
.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 0.2 !important;
}
.opacity-2 {
  opacity: 0.4 !important;
}
.opacity-3 {
  opacity: 0.6 !important;
}
.opacity-4 {
  opacity: 0.8 !important;
}
.opacity-5 {
  opacity: 1 !important;
}

// Events
.pointer-events-none {
  pointer-events: none;
}

// Responsive
@media (max-width: 575px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 399px) {
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 679px) {
  .container-fluid {
    min-height: 700px;
  }
}

@media (max-width: 991px) {
  .info-icon {
    display: none;
  }

  .responsive-dialog {
    max-width: 100vw !important;
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
  }

  .dialog-header {
    padding: 1rem 0;
  }

  .mat-dialog-content {
    max-height: calc(100% - 5rem) !important;
    padding-bottom: 4rem !important;
  }

  .mat-dialog-actions {
    padding: 0.5rem 0 !important;
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    justify-content: center !important;

    app-primary-action-button,
    app-secondary-button {
      display: block;
      padding: 0.5rem 0;
    }
  }
}

@media (max-width: 1199px) {
  .wrapper {
    padding: 0 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .wrapper {
    max-width: 90vw;
  }
}
