
@use '@angular/material' as mat;
@use 'migration' as *;

@import './styles-custom-palettes.scss';

// $researchfi-primary: mat-palette($researchfi-primary-palette, 500, 300, 900);
$researchfi-primary: mat.m2-define-palette($researchfi-primary-palette, 500, 300, 900);

// $researchfi-accent: mat-palette($mat-green);
$researchfi-accent: mat.m2-define-palette($researchfi-primary-palette, 500, 300, 900);

// $researchfi-warn: mat-palette($mat-red);
$researchfi-warn: mat.m2-define-palette(mat.$m2-red-palette);

$researchfi-theme: mat.m2-define-light-theme(
  $researchfi-primary,
  $researchfi-accent,
  $researchfi-warn
);

// Insert custom background color
// https://stackoverflow.com/questions/43919927/angular-material2-theming-how-to-set-app-background
$background-color: map-get($researchfi-primary, default-contrast);
$background: map-get($researchfi-theme, background);
$background: map_merge(
  $background,
  (
    card: $background-color,
  )
);
$researchfi-theme: map_merge(
  $researchfi-theme,
  (
    background: $background,
  )
);

$primary: map-get($researchfi-theme, primary);

// html.cdk-global-scrollblock {
//   body {
//     overflow: hidden !important;
//   }
// }

// Show disabled vertical scroll when dialog opens. Prevents elements filling the space if there's no scroll bar
.cdk-global-scrollblock {
  overflow-y: inherit;
}

// Disable webkit search icons
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

body {
  color: mat.m2-get-contrast-color-from-palette($researchfi-primary, 300);
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;

  button:focus-visible,
  input:focus-visible,
  select:focus-visible,
  textarea:not(.mat-mdc-input-element):focus-visible,
  *:not(.bundler:not(.homepage)):not(.mat-expansion-panel-header):not(.mat-input-element):focus-visible {
    // High contrast focus indicator for keyboard users
    outline: 2px transparent solid !important;
    box-shadow: 0 0 0 2px white, 0 0 0 4px mat-color($primary, default),
      0 0 3px 5px white;
    z-index: 55; // If no margin between next focusable element, high number because of target serach button
  }
}

body.menu-open {
  & .content-container {
    overflow: hidden;
  }

  // Temporary fix for hiding long page content when menu opens
  & main {
    //display: none;
  }
}

// Display primary colored border around Material UI elements
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-expansion-panel-header:focus-visible,
mat-checkbox.cdk-keyboard-focused .mat-ripple-element {
  outline: 2px solid mat-color($primary, default) !important;
}

mat-expansion-panel-header:focus-visible {
  outline-offset: -2px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox.cdk-keyboard-focused .mat-ripple-element {
  width: 2rem;
  height: 2rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
mat-radio-button.cdk-keyboard-focused .mat-ripple-element {
  border: 2px solid mat-color($primary, default); // Centering element with outline doesn't seem to work
}

.cdk-keyboard-focused {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-frame,
  .mat-checkbox-background,
  .mat-radio-outer-circle,
  .mat-radio-inner-circle {
    z-index: 2;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
  .mat-ripple:not(.mat-slide-toggle-ripple) {
    padding: 4px !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version.*/
  .mat-ripple-element:not(.mat-slide-toggle-persistent-ripple) {
    background-color: mat-color($primary, 100) !important;
    opacity: 1 !important;
    z-index: 0 !important;
  }
}

// Dont show outlines for mouse users
body:not(.user-tabbing) {
  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  *:focus {
    outline: none;
  }
}

// Override for mat select
body div.cdk-overlay-container {
  z-index: 1051;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: map-get(map-get($researchfi-primary, contrast), 200);
  color: mat-contrast($primary, 200);
  // line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-word;
}
h2 {
  font-size: 1.7rem;
  font-weight: 700;
}
h3 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #000000;
  opacity: 87%;

  &.data-label {
    font-size: 1.4rem;
  }
}
h4 {
  font-size: 1.2rem;
  opacity: 87%;
}

.page-content {
  h2,
  h3,
  h4 {
    margin-top: 2rem;
  }
}

a {
  color: #4546b9;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}


.link-img {
  a:hover {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

footer {
  a:hover {
    text-decoration-color: #4546b9 !important;
  }
}

// Add icon to external links. This class is added in CMS.
a.ext::after {
  font-family: "Open_in_new";
  font-weight: 900;
  content: 'O';
  margin-left: 0.3rem;
  font-size: 0.85rem;
}

p a {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: mat-color($primary, lighter) !important;
}

ul {
  list-style: disc;
  padding-inline-start: 1rem;
}

ol {
  padding-left: 1rem;
}

.list-style-circle {
  list-style: circle;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

span.bold {
  font-weight: bold;
}

.smaller-text {
  font-size: 0.85rem;
}

.strong {
  font-weight: bold;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline !important;
}

mark,
.mark {
  padding: 0;
  font-weight: 400;
  color: mat-contrast($primary, 300);
  background-color: #ffc000;
}

.font-size-small {
  font-size: 0.75rem;
}

.font-size-smaller {
  font-size: 0.875rem;
}

.font-size-normal {
  font-size: 1rem;
}

.font-size-big {
  font-size: 1.025rem;
}

.font-size-bigger {
  font-size: 1.25rem;
}

.font-weight-500 {
  font-weight: 500;
}

// Colors
.primary-color {
  color: mat-color($primary, default) !important;
}

.background-primary {
  background-color: mat-color($primary, default);
  color: mat-contrast($primary, 500);
}

.background-light {
  background-color: mat-color($primary, 50);
}

.border-primary {
  border-color: mat-color($primary, default) !important;
}

// Content
.full-width {
  background: mat-color($primary, default);
  min-height: 3rem;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

#main-content {
  overflow-x: hidden;
  padding: 2.5rem 0;
  &.tt-main-content {
    background: #F7F7FB;
    min-height: 100vh;
    padding: 0px;
  }
}

.main-loader {
  height: 100%;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.container-fluid {
  padding: 0px !important;
  min-height: 700px;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

}

// Buttons
.ttv-button {
  border-radius: 6px;
  min-height: 44px;
  font-size: 1rem;
  padding: 0 32px;
}

app-tab-button {
  svg {
    height: 16px;
    width: 16px;
  }
}

// Icon customizations
mat-icon[data-mat-icon-name='general.info'] {
  display: inline !important;
  svg {
    width: 21px;
    margin-left: -2px;
    margin-top: -3px;
  }
}

mat-icon[data-mat-icon-name='general.fa.sliders'] {
  display: inline !important;
  svg {
    color: #4546b9;
    width:20px;
    margin-top: -4px;
  }
}

mat-icon[data-mat-icon-name='general.fa.twitter'] {
  display: inline !important;
  height: 40px;
  width: 40px;
  svg {
      width:32px;
  }
}


// TODO: need to be refactored to contact icon styles
/*mat-card {
  a {
    margin-left: 5px;
  }
  .mat-icon {
    height: 100% !important
  }

  mat-icon[data-mat-icon-name='general.email'] {
    svg {
      margin-top: -3px;
      width: 22px;
      margin-left: 0px;
    }
  }


  mat-icon[data-mat-icon-name='general.link'] {
    svg {
      margin-top: -2px;
      width: 24px;
    }
  }
}*/

.mat-icon, mat-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  svg {
    //width: 16px;
  }
}

.mat-icon[data-mat-icon-name='general.externalLink'] {
  padding-left: 4px;
  svg {
  width: 20px;
  padding-top: 2px;
  }
}

app-tag-peer-reviewed, app-tag-open-access {
  .rounded {
  border-radius: 20px !important;
  }
}

fa-icon[icon='external-link-alt'] {
  padding-left: 5px;
}

mat-icon[data-mat-icon-name="general.info"] {
  &.large-circle {
  display: flex !important;
  }
}

.big-icon svg {
  height: 1.5rem;
  width: auto;
}

// Forms
.mat-pseudo-checkbox {
  background: #fff;
}

/*
 * Checkbox & radio button left margins because of keyboard focus indicator
 */

// Radio button
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
.mat-radio-label-content {
  margin-left: 0.25rem;
}

// Checkbox
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-label {
  margin-left: 0.5rem;
}

// Multiline checkboxes
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-layout {
  white-space: normal !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-inner-container {
  margin-top: 0.25rem !important;
}

// Help icon
.info-icon-old {
  color: mat-color($primary, default);
  cursor: pointer;
}

.info-circle {
  color: mat-color($primary, default);
  height: 32px !important;
  width: 32px !important;
  &.large-circle {
    svg {
      height: 32px !important;
      width: 32px !important;
    }
  }
}

// Category search result pages
mat-table {
  mat-icon.category-icon {
    color: mat-color($primary, default);
    height: 42px !important;
    width: 42px !important;
    margin-top: 10px;
      svg {
        height: 42px !important;
        width: 42px !important;
      }
    }
}

// Mat modal
.mat-mdc-dialog-content {
  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 0.87);
}


// Mat select
.mat-mdc-select-panel {
  background: white !important;
}

// Material form field focus
// mat-form-field.mat-focused {
//   outline: -webkit-focus-ring-color auto 1px;
// }

// Mat-card
body mat-card.mat-mdc-card {
  background: mat-color($primary, 100);
}

// Mat ripple
// Fix for hidden right border
.mat-ripple:not(:empty) {
  transform: none;
}

// Mat menu
// Search target menu
.search-target.mat-mdc-menu-item {
  width: 180px;
}

.mat-mdc-menu-item:focus {
  box-shadow: none !important;
}

// Tooltip
.tooltip-inner {
  max-width: 276px;
  width: max-content;
}

.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 0.1s; /* Adjust this duration */
}

// Fix for toolip display current Bootstrap version
.popover {
  position: absolute;
  top: 0;
  left: 0 #{'/* rtl:ignore */'};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

// Tags
mat-basic-chip.tag {
  padding: 7px 12px;
  border-radius: 1rem;
  align-items: center;
  cursor: default;
  min-height: 2rem;
  border: 1px solid mat-color($primary);
  color: mat-color($primary);
}

// Bubble background
.bg-bubble {
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  right: 1%;
  margin-top: -48px;
  z-index: -1;
}

.bg-bubble,
.circle-small {
  background: mat-color($primary, 200);
}

// Visualisation modal
.visual-dialog {
  .visual-select {
    background-color: mat-color($primary, 50);
  }
  .vis-style-toggle {
    background-color: mat-contrast($primary, 500);
    color: mat-color($primary, default);
    border-color: mat-color($primary, default);
    &.active {
      background-color: mat-color($primary, default);
      color: mat-contrast($primary, 500);
    }
  }
  .info {
    background-color: mat-contrast($primary, 500);
    border-color: mat-color($primary, 50);
    ul {
      list-style: inside !important;
    }
  }
}

// Main search
.main-search {
  position: relative;
  z-index: 15;
}

.raised-z-150 {
  z-index: 150;
}

// Single result pages, fixes overflows in tooltips
app-single-dataset, app-single-funding, app-single-funding-call, app-single-infrastructure, app-single-organization, app-single-person, app-single-project, app-single-publication, app-single-result-link {
  h3 {
    position: relative;
    z-index: 75 !important;
  }
}

// Mat Dialog
.mat-mdc-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

.dialog-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mat-mdc-dialog-content {
  // max-height: 85vh !important;
  // padding: 0 1rem !important;

  // Enable scrollbar rendering
  margin: 0 !important;
  padding: 0 !important;
}

.mat-mdc-dialog-actions {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-end !important;
  // display: block !important;
  margin-bottom: 0 !important;
  padding: 0.5rem 1rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.responsive-dialog {
  min-width: 44vw;
  max-height: 100vh;
  width: unset;
  height: unset;
  position: static;
}

.responsive-dialog.hidden {
  opacity: 0;
}

// Custom Mat Tab
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-label {
  opacity: 1 !important;
}

.custom-tab-group {
  .mat-mdc-tab-header {
    overflow: visible !important;
    position: relative !important;
    border-bottom: 1px solid mat-color($primary, default) !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label-container {
    overflow: visible !important;
    position: relative;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label-container,
  .mat-tab-label-active {
    height: 54px !important;
    margin-top: 0 !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label-active {
    position: relative;
    z-index: 4;
    margin-top: 1px !important;
    background: mat-contrast($primary, 500);
    border: 1px solid mat-color($primary, default);
    border-bottom: 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label {
    margin-top: 6px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label:not(.mat-tab-label-active) {
    background: #e8e8f5;
  }

  // .mat-tab-body-wrapper {
  //   padding-top: 1rem;
  // }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-body-content {
    overflow: hidden;
    padding-top: 1rem;
  }
}

app-svg-icons {
  img {
    width: 16px;
    height: 16px;
    color: mat-color($primary, default);
  }
}

.sort-indicator {
  display: flex;
  margin-left: 6px;
  svg {
    width: 18px !important;
  }
}

// Material table
.custom-table {
  /*
   * Sort indicators
   */
  .mat-sort-header-arrow {
    opacity: 1 !important;
    transform: none !important;
  }

  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: white;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }

  .sort-indicator fa-icon {
    font-size: 1rem;
    padding-left: 0.75rem;
  }

  // E.g. in funding-call-results funder name
  .overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

// Opacity
.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 0.2 !important;
}
.opacity-2 {
  opacity: 0.4 !important;
}
.opacity-3 {
  opacity: 0.6 !important;
}
.opacity-4 {
  opacity: 0.8 !important;
}
.opacity-5 {
  opacity: 1 !important;
}

// Events
.pointer-events-none {
  pointer-events: none;
}

// Responsive
@media (max-width: 575px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 399px) {
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 679px) {
  .container-fluid {
    min-height: 700px;
  }
}

@media (max-width: 991px) {
  .info-icon-old {
    display: none;
  }

  .responsive-dialog {
    max-width: 100vw !important;
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
  }

  .dialog-header {
    padding: 1rem 0;
  }

  .mat-mdc-dialog-content {
    max-height: calc(100% - 10rem) !important;
    padding-bottom: 4rem !important;
  }

  .mat-mdc-dialog-actions {
    padding: 0.5rem 0 !important;
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    justify-content: center !important;
    z-index: 1;

    app-primary-action-button,
    app-secondary-button {
      display: block;
      padding: 0.5rem 0;
    }
  }
}

app-share {
  button {
    min-width: 180px !important;
    white-space: nowrap;
  }
  .fa-copy {
    max-height: 19px !important;
  }
}

@media (min-width: 991px) {
  .mini-modal-width {
    width: 45vw;
  }
}

@media (max-width: 1199px) {
  .wrapper {
    padding: 0 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .wrapper {
    max-width: 93vw;
    &.tt-wrapper {
      max-width: 93vw;
    }
  }
}
