/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import 'custom-theme.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 140px;
    min-height: 100%;
  }

// Typography
.uppercase {
  text-transform: uppercase;
}