@import './styles-custom-palettes.scss';

$researchfi-primary: mat-palette($researchfi-primary-palette, 500, 300, 900);
$researchfi-accent:  mat-palette($mat-green);
$researchfi-warn:    mat-palette($mat-deep-orange);

$researchfi-theme: mat-light-theme($researchfi-primary, $researchfi-accent, $researchfi-warn);

// Insert custom background color
// https://stackoverflow.com/questions/43919927/angular-material2-theming-how-to-set-app-background
$background-color: map-get($researchfi-primary, 100);
$background: map-get($researchfi-theme, background);
$background: map_merge($background, (card: $background-color));
$researchfi-theme: map_merge($researchfi-theme, (background: $background));

.row {
    margin-right: -0px;
    margin-left: 0px;
}

.full-width .row {
    max-width: 1440px;
    margin: 0 auto;
}

.container-fluid {
    padding: 0px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

// Disable link
a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

// Typography
h2 {
    font-weight: 700;
}

span.bold {
    font-weight: bold;
}

// Forms
.mat-pseudo-checkbox {
    background: #FFF;
}

// Img alt test, delete in production
// img:not([alt]) {
//     transform: rotate(0.5turn);
//     filter: blur(5px);
// }