<main id="main-content">
  <div class="row">
    <div class="col text-center">
      <h2>Palvelun käyttöönotto</h2>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <p>Palveluun kirjaudutaan ORCID-tunnuksilla. Jos sinulla ei vielä ole ORCID-tunnuksia, voit luoda sellaiset <a href="https://orcid.org/">ORCID-palvelussa</a>.</p>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col text-center">
      <lib-primary-action-button content="Aloita" [big]="true"></lib-primary-action-button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <lib-secondary-button content="Peruuta" routerLink="" [big]="true"></lib-secondary-button>
    </div>
  </div>
</main>