<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<main id="main-content">
  <div class="wrapper">
    <div class="row pb-4">
      <div class="col text-center px-0">
        <h2 class="text-primary">Palvelun käyttöönotto</h2>
      </div>
    </div>
  
    <div class="row pb-4">
      <div class="col text-center px-0">
        <p>Palveluun kirjaudutaan ORCID-tunnuksilla. Jos sinulla ei vielä ole ORCID-tunnuksia, voit luoda sellaiset <a href="https://orcid.org/">ORCID-palvelussa</a>.</p>
      </div>
    </div>
  
    <div class="row pb-3">
      <div class="col text-center px-0">
        <lib-primary-action-button content="Aloita" [big]="true" routerLink="/welcome"></lib-primary-action-button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center px-0">
        <lib-secondary-button content="Peruuta" routerLink="" [big]="true"></lib-secondary-button>
      </div>
    </div>
  </div>
</main>