//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

div.links {
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin: 4px;
    margin-inline-start: 0;
    // width: fit-content;
    height: fit-content;
    white-space: nowrap;
    .doi {
        max-width: max-content;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
        border: 2px solid #363636;
        border-radius: 3px;
    }
    .doi-tag {
        background: #363636;
        padding: 4px 10px 4px 11px;
        color: white;
    }
    .doi-link {
        padding: 3px 10px;
        background: white;
        a {
            color: black;
        }
    }

    .doi-tag, .doi-link {
        vertical-align: middle;
    }
}

.info-link-wrapper, .info-link {
    width: 100%;
    padding-top: 10px;
}

.info-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-links {
    font-style: italic;
}

.other-links {
    text-decoration: underline;
}

.other-link {
    padding-block-start: 0.85em;
}

.quote {
    padding-right: 5%;
}