<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<h1 #srHeader class="sr-only"></h1>
<aside>
    <app-search-bar></app-search-bar>
</aside>
<div class="container" *ngFor="let publication of responseData" style="margin-top:25px;" id="main-content">
    <!-- Breadcrumb -->
    <app-breadcrumb [responseData]="responseData" [tab]="tab" [tabName]="'julkaisut'" [resultNameField]="'publicationName'"></app-breadcrumb>
    <div class="row shared">
        <p class="back col-12"><a routerLink="/results/{{tab}}/{{searchTerm}}" [queryParams]="tabQueryParams">&lt; Takaisin hakutuloksiin</a></p>
        <div class="col-12" style="margin: 10px 0 10px 0;" *ngIf="publication.hits.total === 0">
            <h2>404 - Virheellinen osoite</h2>
        </div>
        <main class="col-12 col-md-8">
            <div *ngFor="let item of publication.hits.hits">
                <h2 class="result-header" [attr.lang]="item._source.languageCode !== documentLang ? item._source.languageCode : null">{{item._source.publicationName}}</h2>
                <div id="info" class="table">
                    <p class="header">Julkaisu</p>
                    <div class="row content" *ngFor="let row of infoFields">
                        <div class="col-6 col-lg-3 th">{{row.label}}</div>
                        <div class="col-6 col-lg-9 td">{{item._source[row.field]}}<span *ngIf="row.typeLabel">, {{publicationTypeLabel}}</span></div>
                    </div>
                    <div class="row content" *ngIf="authorAndOrganization.length > 0">
                        <div class="col-6 col-lg-3 th">Organisaatiot ja tekijät
                            <button class="show-more" *ngIf="authorAndOrganization[0].authors.length > 0 && !showSubUnits" (click)="showSubUnits = true">Näytä alayksiköt</button>
                            <button class="show-more" *ngIf="authorAndOrganization[0].authors.length > 0 && showSubUnits" (click)="showSubUnits = false">Piilota alayksiköt</button>
                        </div>
                        <div class="col-6 col-lg-9 td" *ngFor="let row of authorAndOrganization.slice(0, 1)">
                            <p class="th">{{row.orgName}}</p>
                            <div *ngFor="let author of row.authors">
                                <div *ngIf="author.author.length > 10">
                                    <p class="td" [ngClass]="author.orcid ? 'has-orcid' : ''">
                                        {{author.author}}
                                        <img *ngIf="author.orcid" class="orcid-icon" src="../assets/orcid_icon.svg">
                                    </p>
                                    <div class="row" *ngIf="showSubUnits">
                                        <div class="col-1">
                                            <span class="guide-line">
                                                <span class="guide-line-top"></span>
                                            </span>
                                        </div>
                                        <div class="col sub-unit">
                                            <p>
                                                {{author.subUnit}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngFor="let row of authorAndOrganization.slice(1)">
                        <div></div>
                        <div class="row content">
                            <div class="col-6 col-lg-9 offset-6 offset-lg-3 td" *ngFor="let row of authorAndOrganization.slice(1)">
                                <p class="th">{{row.orgName}}</p>
                                <div *ngFor="let author of row.authors">
                                    <div *ngIf="author.author.length > 10">
                                        <p class="td"  [ngClass]="author.orcid ? 'has-orcid' : ''">
                                            {{author.author}}
                                            <img *ngIf="author.orcid" class="orcid-icon" src="../assets/orcid_icon.svg">
                                        </p>
                                        <div class="row" *ngIf="showSubUnits">
                                            <div class="col-1">
                                                <span class="guide-line">
                                                    <span class="guide-line-top"></span>
                                                </span>
                                            </div>
                                            <div class="col sub-unit">
                                                <p>
                                                    {{author.subUnit}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div class="row content" *ngIf="organizationSubFields.slice(0,1).length > 0">
                        <div class="col-6 col-lg-3 th">Organisaation alayksiköt</div>
                        <div class="col-6 col-lg-9 td" *ngFor="let row of organizationSubFields.slice(0,1)">
                            <p class="td">{{item._source[row.field]}}</p>
                        </div>
                    </div> -->
                    <ng-container *ngFor="let row of organizationSubFields.slice(1)">
                        <div></div>
                        <div class="row content">
                            <div class="col-6 col-lg-9 offset-6 offset-lg-3 td">
                                <p class="th">{{row.label}}</p>
                                <p class="td">{{item._source[row.field]}}</p>
                            </div>        
                        </div>
                    </ng-container>
                    <div class="row content">
                        <!-- Top row links, switch case to check for different search targets -->
                        <div class="col-6 col-lg-3 th">Julkaisukanavan tiedot</div>
                        <div class="col-6 col-lg-3 offset-6 offset-lg-0 first-no-offset-mobile td" *ngFor="let row of mediumFields.slice(0,3)">
                            <p class="th">{{row.label}}</p>
                            <p class="td"*ngIf="row.link && juFoCode.length > 1 " [attr.lang]="row.lang && item._source.languageCode !== documentLang ? item._source.languageCode : null" 
                             [ngSwitch]="true">
                            <!-- Check if fields are issn or isbn and target search with exact field  -->
                            <a *ngSwitchCase="row.field === 'issn' || row.field === 'isbn'" (click)="navigate(row.field)" 
                             routerLink="{{row.linkPath}}{{item._source[row.field]}}">
                                 {{item._source[row.field]}}
                            </a>
                            <!-- Every other link uses jufoCode as search term -->
                            <a *ngSwitchDefault (click)="navigate('jufoCode.keyword')" routerLink="{{row.linkPath}}{{juFoCode}}">
                                 {{item._source[row.field]}}
                            </a>
                            </p>
                            <!-- Show label only if no search functionality -->
                            <p class="td" *ngIf="!row.link || juFoCode.length === 1">{{item._source[row.field]}}</p>
                        </div>
                    </div>
                    <ng-container *ngFor="let row of mediumFields.slice(3); let i = index">
                        <div *ngIf="i % 3 == 0"></div>
                        <div class="row content" *ngIf="i % 3 == 0">
                            <!-- First col -->
                            <div class="col-6 col-lg-3 offset-6 offset-lg-3 td">
                               <p class="th">{{row.label}}</p>
                               <a *ngIf="row.link" href="{{row.linkPath}}{{item._source[row.field]}}">
                                    {{item._source[row.field]}}
                               </a>
                               <span *ngIf="!row.link">{{item._source[row.field]}}</span>
                            </div>
                            <!-- Second col -->    
                            <div class="col-6 col-lg-3 offset-6 offset-lg-0 td" *ngIf="mediumFields.slice(3).length > i+1">
                               <p class="th">{{mediumFields.slice(3)[i + 1].label}}</p>
                               <a *ngIf="mediumFields.slice(3)[i + 1].link" href="{{mediumFields.slice(3)[i + 1].linkPath}}{{item._source[mediumFields.slice(3)[i + 1].field]}}">
                                    {{item._source[mediumFields.slice(3)[i + 1].field]}}
                               </a>
                               <span *ngIf="!mediumFields.slice(3)[i + 1].link">{{item._source[mediumFields.slice(3)[i + 1].field]}}</span>
                            </div> 
                            <!-- Third col -->   
                            <div class="col-6 col-lg-3 offset-6 offset-lg-0 td" *ngIf="mediumFields.slice(3).length > i+2">
                               <p class="th">{{mediumFields.slice(3)[i + 2].label}}</p>
                               <a *ngIf="mediumFields.slice(3)[i + 2].link" href="{{mediumFields.slice(3)[i + 2].linkPath}}{{item._source[mediumFields.slice(3)[i + 2].field]}}">
                                    {{item._source[mediumFields.slice(3)[i + 2].field]}}
                               </a>
                               <span *ngIf="!mediumFields.slice(3)[i + 2].link">{{item._source[mediumFields.slice(3)[i + 2].field]}}</span>
                            </div>        
                        </div>
                    </ng-container>
                    <div class="row content">
                        <div class="col-6 col-lg-3 th">Muut tiedot</div>
                        <div class="col-6 col-lg-4 offset-6 offset-lg-0 first-no-offset-mobile td" *ngFor="let row of otherFields.slice(0,2)">
                            <p class="th">{{row.label}}</p>
                            <p class="td">{{item._source[row.field]}}</p>
                        </div>
                    </div>
                    <ng-container *ngFor="let row of otherFields.slice(2); let i = index">
                        <div *ngIf="i % 2 == 0"></div>
                        <div class="row content" *ngIf="i % 2 == 0">
                            <div class="col-6 col-lg-4 offset-6 offset-lg-3 td">
                                <p class="th">{{row.label}}</p>
                                <p class="td">{{item._source[row.field]}}</p>
                            </div>        
                            <div class="col-6 col-lg-5 offset-6 offset-lg-0 td" *ngIf="otherFields.slice(2).length > i+1">
                                <p class="th">{{otherFields.slice(2)[i + 1].label}}</p>
                                <p class="td">{{item._source[otherFields.slice(2)[i + 1].field]}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </main>
        <div *ngFor="let item of publication.hits.hits" class="col-12 col-md-4 col-xl-4">
            <aside>
                <aside>
                    <mat-card>
                        <mat-card-title><h2>Linkit julkaisuun</h2></mat-card-title>
                        <div class="row links" *ngFor="let row of linksFields">
                            <div *ngIf="row.field === 'doi'" class=" info-link-wrapper">
                                <div class="col-sm-2 col-md-1 icon">
                                    <fa-icon [icon]="faIcon"></fa-icon>
                                </div>
                                <div class="col link doi">
                                    <span class="doi-tag">DOI</span>
                                    <span class="doi-link">
                                        <a [attr.href]="'https://doi.org/'+item._source.doi">{{item._source.doi}}</a>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="row.field !== 'doi'" class="info-link-wrapper">
                                <div class="col-sm-2 col-md-1 icon">
                                    <fa-icon [icon]="faIcon"></fa-icon>
                                </div>
                                <div class="col link">
                                    <a class="info-link" href={{row.path}}{{item._source[row.field]}}>{{item._source[row.field]}}</a>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!linksFields.length" class="no-links">Julkaisuun ei ole tarjolla linkkejä tässä portaalissa</div>
                    </mat-card>
                </aside>
                <aside>
                    <mat-card>
                        <mat-card-title><h2>Hae julkaisua muualta</h2></mat-card-title>
                        <div class="row other-links">
                            <div class="col-12 col-sm-6 col-md-12 col-xl-6 other-link">
                                <a href="http://scholar.google.com/">Google Scholar</a>
                            </div>
                            <div class="col-12 col-sm-6 col-md-12 col-xl-6 other-link">
                                <a href="http://crossref.org/">CrossRef</a>
                            </div>
                        </div>
                    </mat-card>
                </aside>
                <mat-card>
                    <mat-card-title><h2>Hae julkaisuun liittyvät</h2></mat-card-title>
                    <div class="row related">
                        <ul class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <li class=""><a routerLink="/">Tutkijat</a></li>
                            <li class=""><a routerLink="/">Hankkeet</a></li>
                            <li class=""><a routerLink="/">Aineistot</a></li>
                        </ul>
                        <ul class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <li class=""><a routerLink="/">Infrastruktuurit</a></li>
                            <li class=""><a routerLink="/">Organisaatiot</a></li>
                        </ul>
                    </div>
               </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Viittaa</h2></mat-card-title>
                    <div class="row">
                        <div class="col-12 reference">
                            <button mat-raised-button color="primary"><fa-icon [icon]="faQuoteRight" class="quote"></fa-icon>Kopioi viitetiedot...</button>
                        </div>
                    </div>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Jaa</h2></mat-card-title>
                    <div class="social">
                        <a href="#" class="icon"><fa-icon [icon]="faFacebook"></fa-icon></a>
                        <a href="#" class="icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
                        <a href="#" class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                        <a href="#" class="icon"><fa-icon [icon]="faMendeley"></fa-icon></a>
                    </div>
                </mat-card>
            </aside>
            <aside>
                <mat-card>
                    <mat-card-title><h2>Julkaisutiedon lähde</h2></mat-card-title>
                    <div *ngFor="let source of publication.hits.hits">
                        <p>Organisaatio: {{source._source.publicationOrgId}}</p>
                    </div>
                    <div class="refer"><a href="#">Lue lisää [palvelun nimi] tietovirroista</a></div>
                </mat-card>
            </aside>
        </div>
    </div>
</div>