//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

div.links {
    border-radius: 3px;
    font-weight: bold;
    margin: 15px;
    margin-inline-start: 0;
    // display: flex;
    // height: fit-content;
    white-space: nowrap;
    .doi, .info-link-wrapper {
        padding: 0;
        display: inherit;
        max-width: 100%;
    }
    .doi-tag {
        padding: 4px 10px 2px;
    }
    .doi-link {
        padding: 3px 10px;
    }

    .doi-tag, .doi-link {
        vertical-align: middle;
    }

    .doi .link, .info-link-wrapper .link {
        margin-left: 14px;
    }

    span.doi-link, .link {
        max-width: max-content;
        height: fit-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 4px 10px 2px;
    }

    .link, .icon {
        padding: 0;
    }

    .icon {
        font-size: 36px;
        line-height: 0;
    }

    .link a {
        text-decoration: underline;
    }
}

.info-link-wrapper, .info-link {
    width: 100%;
    padding-top: 10px;
}

.info-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-links {
    font-style: italic;
}

.other-links {
    text-decoration: underline;
}

.other-link {
    padding-block-start: 0.85em;
}

.quote {
    padding-right: 5%;
}