//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT
h2 {
    font-size: 20px;
}

.link a.org-link{
    // position: absolute;
    bottom: 0;
}

a:focus {
    text-decoration: underline;
}

img {
    max-width: 140px;
    height: auto;
}

// Side news
.side {
    h2 {
        font-size: 1rem;
    }

    padding: 0;

    .icon {
        display: inline-block;
    }
}

@media (max-width: 991px) {
    .mat-card-header-text {
        margin: 0;
    }
}
