//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT
h2 {
    font-size: 20px;
}

.col-4 {
    padding: 0;
}

.link a.org-link{
    position: absolute;
    bottom: 0;
}

img {
    max-width: 140px;
    height: auto;
}