<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<form role="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="row d-flex">
    <div class="col-12 col-md-6 input px-0">
      <label for="searchInput" class="sr-only">{{ placeholder }}</label>
      <input
        #searchInput
        id="searchInput"
        formControlName="term"
        mat-input
        type="search"
        id="searchInput"
        [placeholder]="placeholder"
        class="search"
        cdkFocusInitial
      />
      <span
        *ngIf="searchForm.get('term').value?.length > 0"
        tabindex="0"
        class="reset"
        (click)="reset()"
        (keydown.enter)="reset()"
        i18n-tooltip="@@resetSearchTooltip"
        tooltip="Tyhjennä haku"
      >
        <i class="fa fa-times"></i>
      </span>
    </div>
    <div
      class="col-12 col-md-auto px-0 px-md-3 pe-md-0 text-center text-md-start mt-3 mt-md-0"
    >
      <app-primary-action-button
        content="Hae"
        i18n-content="Search@@search"
        [svgSymbolName]="'search'"
        [svgCssClass]="'search-icon button-icon'"
        type="submit"
      ></app-primary-action-button>
    </div>
  </div>
</form>
