// This file is part of the research.fi API service
//
// Copyright 2019 Ministry of Education and Culture, Finland
//
// :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
// :license: MIT

@import '~@angular/material/theming';

@mixin app-search-theme($theme) {
  $primary: map-get($theme, primary);

  .input {
    background: white;
    border: 2px solid mat-color($primary);
  }
}
