<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="row activity-item-wrap">
  <div class="col ps-0">
    <ng-container *ngIf="!link">
      <div
              *ngFor="let value of rows; let i = index"
              [class.font-size-small]="
        rows.length > 1 && i === rows.length - 1 && smallLastItem
      "
      >
        <div *ngIf="i === 0" class="title-bottom-pad font-weight-500">
          {{ value | capitalizeFirstLetter }}111
        </div>

        <div *ngIf="i > 0 && i < rows.length - 1" class="mt-1">
          {{ value | capitalizeFirstLetter }}222
        </div>

        <div *ngIf="i > 0 && i === rows.length - 1" class="mt-1">
          {{ value | capitalizeFirstLetter }}333
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="link">
      <div *ngFor="let value of rows; let i = index"
           [class.font-size-small]="rows.length > 1 && i === rows.length - 1 && smallLastItem"
      >
        <div *ngIf="fieldType === fieldTypes.activityPublication">
          <a [routerLink]="['/', 'results', 'publication', link]" target="_blank">
            {{ value }}aaa
          </a>
        </div>
        <div *ngIf="i < rows.length - 1 && fieldType === fieldTypes.activityDataset">
          <a [routerLink]="['/', 'results', 'dataset', link]" target="_blank">
            {{ value }}bbb
          </a>
        </div>
        <div *ngIf="i < rows.length - 1 && fieldType === fieldTypes.activityFunding">
          <div *ngIf="i === 0" class="title-bottom-pad font-weight-500"><a [routerLink]="['/', 'results', 'funding', link]"
                                                           target="_blank">{{ value | capitalizeFirstLetter }}</a>
          </div>
          <div *ngIf="i > 0">{{ value }}ccc</div>
        </div>
        <div *ngIf="i === rows.length - 1 && fieldType === fieldTypes.activityFunding" class="mt-1">
          {{ value }}ddd
        </div>
      </div>
    </ng-container>
  </div>
</div>
