.activity-item-wrap {
  a {
    text-decoration: underline !important;
    text-underline-offset: 2px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }
}

.title-bottom-pad {
  margin-bottom: 6px;
}

.activity-title-row {
  color: #4546b9;
}

.publication-row-base-text {
  font-size: 14px;
  margin-top: 6px;
}