//  This file is part of the research.fi API service
//
//  Copyright 2019 Ministry of Education and Culture, Finland
//
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

a {
  text-decoration: none;
}

.table-cell {
  word-break: break-word;
}

.public-cell {
  background: #0eac1a;
  color: white;
  display: block;
  padding: 0.25rem 0.75rem;
  margin-top: -0.25rem;
  margin-bottom: -0.5rem;
}
