<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<app-table
  *ngIf="tableRows?.length > 0; else noResults"
  [columns]="tableColumns"
  [rows]="tableRows.slice((pageNumber - 1) * pageSize, pageNumber * pageSize)"
  activeRowIdentifierField="public"
  [borders]="true"
  [sortColumn]="activeSort"
  [sortDirection]="sortDirection"
  (onSelectionChange)="handleSelection($event)"
  (onToggleSelectAll)="handleSelectAll($event)"
  [sortQueryParams]="true"
  [mobileCards]="true"
  [allSelected]="allSelected"
  [currentSelection]="currentSelection"
  [pageNumber]="pageNumber"
  [pageSize]="pageSize"
></app-table>

<app-pagination
  *ngIf="tableRows?.length > 0"
  [page]="pageNumber"
  [pageSize]="pageSize"
  [total]="total"
></app-pagination>

<!-- Table templates -->
<ng-container *ngFor="let row of rawProfileRows; let i = index">
  <ng-template #contentCell>
    <div class="row g-0">
      <div
        class="col table-cell"
        #textContent
        [class.text-overflow-ellipsis]="
          expandedRows.indexOf(i) === -1 &&
          !(appSettingsService.mobileStatus | async)
        "
      >
        {{ row.displayValue }}
      </div>
      <a
        tabindex="0"
        class="col-auto primary-color ps-3"
        (click)="toggleRowExpand(i)"
        *ngIf="
          row.displayValue.length > maxContentLength &&
          !(appSettingsService.mobileStatus | async)
        "
      >
        <ng-container *ngIf="expandedRows.indexOf(i) === -1; else closeRow">
          Näytä
        </ng-container>
        <ng-template #closeRow>Sulje</ng-template></a
      >
    </div>
  </ng-template>

  <ng-template #publicityCell>
    <!-- TODO: Add i18n ids -->
    <span [class.public-cell]="!mobile" *ngIf="row.itemMeta.show">
      Julkinen
    </span>
    <span *ngIf="!row.itemMeta.show">Ei julkinen</span>
  </ng-template>

  <ng-template #sharingCell>
    <a
      class="row justify-content-between"
      href="javascript:void(0)"
      [matMenuTriggerFor]="menu"
    >
      <span class="d-block col-auto px-0">1 valittu</span>

      <i
        class="col-auto align-self-center primary-color fa fa-chevron-down"
      ></i>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let target of shareTargets">
        {{ target.label }}
      </button>
    </mat-menu>
  </ng-template>
</ng-container>

<ng-template #noResults>
  <h1>Ei tuloksia</h1>
</ng-template>
