//  This file is part of the research.fi API service
// 
//  Copyright 2019 Ministry of Education and Culture, Finland
// 
//  :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
//  :license: MIT

//Expand column
.row.expand .col.shorten {
    white-space: unset;
    overflow: visible;
    text-overflow: unset;
}

// Results list
.row.no-margin {
    margin: 0 auto;
}
  
span.bold {
    font-weight: bold;
}
  
.single .col {
    padding: 12px 8px;
}
  
.col.arrow {
    max-width: 27px;
    padding: 0px;
    text-align: center;
}
  
.col.shorten {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col.expand {
    white-space: unset;
    overflow: auto;
    text-overflow: unset;
}
  
a.arrow {
    color: #808080;
}
  
a.arrow::before {
    font-family: "FontAwesome";
    content: "\f078"; 
}
  
a.arrow.expand::before {
    font-family: "FontAwesome";
    content: "\f077";
}
  
// Responsive
@media (max-width: 616px) {
  .col {
    max-width: 100%;
    // flex: auto;
  }
}

@media (max-width: 992px) {
    .hide-mobile {
        display: none;
    }

    .col.col-md-1 {
        text-align: right;
    }
  }
  
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}