<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<!-- slice contact info card out -->
<ng-container *ngFor="let group of displayData.slice(1); let i = index">
  <div class="group-wrapper py-3">
    <ng-container *ngFor="let field of group.fields">
      <div class="row py-2">
        <div class="col px-0">
          <app-profile-summary-view
                  [editControlsVisible]="editControlsVisible"
                  [data]="field"
                  [sectionName]="group.id"
                  [sectionIndex]="i"
                  (openDialogCall)="openDialogCall($event)"
          ></app-profile-summary-view>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>