<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<ng-container *ngIf="!localized; else localizedTemplate">
  <ng-container [ngSwitch]="fieldType">
    <ng-container *ngSwitchCase="fieldTypes.personWebLink">
      {{ _item.url }}
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.personResearcherDescription">
      <ng-container *ngFor="let value of _item | getLocalizedValues">
        <div class="row fw-bold">
          <div class="col px-0">
            {{ value.locale.toUpperCase() }}
          </div>
        </div>
        <div class="row pb-3">
          <div class="col px-0">
            {{ value.value }}
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.activityAffiliation">
      <app-activity-item
        [rows]="[
          _item['positionName' + locale],
          _item['organizationName' + locale],
          _item.year
        ]"
        [smallLastItem]="true"
      ></app-activity-item>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.activityEducation">
      <app-activity-item
        [rows]="[
          _item['name' + locale],
          _item.degreeGrantingInstitutionName,
          (_item.startDate | parseDate) + ' - ' + (_item.endDate | parseDate)
        ]"
      ></app-activity-item>
    </ng-container>

    <ng-container
      *ngSwitchCase="fieldTypes.activityPublication"
      [ngTemplateOutlet]="publicationTemplate"
    >
    </ng-container>

    <ng-container
      *ngSwitchCase="fieldTypes.activityOrcidPublication"
      [ngTemplateOutlet]="publicationTemplate"
    >
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.activityDataset">
      <ng-container *ngIf="_item?.name; else localized">
        <app-activity-item
          [rows]="[_item['name'], _item.year]"
          [smallLastItem]="true"
        ></app-activity-item>
      </ng-container>
      <ng-template #localized>
        <app-activity-item
          [rows]="[_item['name' + locale], _item.datasetCreated]"
          [smallLastItem]="true"
        ></app-activity-item>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.activityActivitesAndRewards">
      <app-activity-item
        [rows]="[_item.name, _item.description]"
        [smallLastItem]="true"
      ></app-activity-item>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.activityFunding">
      <app-activity-item
        [rows]="[_item.name, _item.funder.name, _item.year]"
        [smallLastItem]="true"
      ></app-activity-item>
    </ng-container>

    <ng-template #publicationTemplate [ngTemplateOutlet]="currentTemplate">
      <!-- item from search (portal) -->
      <ng-container *ngIf="_item.title">
        <app-activity-item
          [rows]="
            summary
              ? [_item.title, _item.publicationYear]
              : [_item.title, _item.authors, _item.publicationYear]
          "
          [smallLastItem]="true"
        ></app-activity-item>
      </ng-container>
      <ng-container *ngIf="!_item.title">
        <app-activity-item
          [rows]="
            summary
              ? [_item.publicationName, _item.publicationYear]
              : [_item.publicationName, _item.authors, _item.publicationYear]
          "
          [smallLastItem]="true"
        ></app-activity-item>
      </ng-container>
    </ng-template>

    <ng-container *ngSwitchDefault>
      {{ _item.value }}
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #localizedTemplate>
  <ng-container *ngFor="let value of _item | getLocalizedValues">
    <div class="row fw-bold">
      <div class="col px-0">
        {{ value.locale.toUpperCase() }}
      </div>
    </div>
    <div class="row pb-3">
      <div class="col px-0">
        {{ value.value }}
      </div>
    </div>
  </ng-container>
</ng-template>
