<!--  This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->
<div [ngClass]="(fieldType === fieldTypes.activityPublication || fieldType === fieldTypes.activityDataset || fieldType === fieldTypes.activityDatasetOrcid) ? 'publication-item': ''">
  @if (!localized) {
    @switch (fieldType) {
      @case (fieldTypes.personWebLink) {
        {{ _item.url }}
      }
      @case (fieldTypes.personResearcherDescription) {
        @for (value of _item | getLocalizedValues; track value) {
          <div class="row fw-bold">
            <div class="col px-0">
              {{ value.locale.toUpperCase() }}
            </div>
          </div>
          <div class="row pb-3">
            <div class="col px-0">
              {{ value.value }}
            </div>
          </div>
        }
      }
      @case (fieldTypes.activityAffiliation) {
        <app-activity-item
                [rows]="[
          _item['positionName' + locale],
          _item['organizationName' + locale],
          _item.year
        ]"
                [smallLastItem]="true"
        ></app-activity-item>
      }
      @case (fieldTypes.activityEducation) {
        <app-activity-item
                [rows]="[
          _item['name' + locale],
          _item.degreeGrantingInstitutionName,
          (_item.startDate | parseDate) + ' - ' + (_item.endDate | parseDate)
        ]"
        ></app-activity-item>
      }
      @case (fieldTypes.activityPublication) {
        <!-- item from search (portal) -->
        @if (_item.title) {
          <app-activity-item [fieldType]="fieldType" [link]="link"
                             [rows]="summary ? [_item.title] : [_item.title, _item.journalName]"
                             [smallLastItem]="false"></app-activity-item>
        }
        @if (!_item.title) {
          <app-activity-item [rows]="summary ? [_item.publicationName] : [_item.publicationName, _item.journalName]"
                             [smallLastItem]="false"></app-activity-item>
        }
        <!-- Publications badges -->
        @if (_item.openAccess === 1 || _item.openAccess === '1' || _item.selfArchivedCode === '1' || _item.selfArchivedCode === 1 || _item.doi) {
          <div class="badge-row gx-0 flex-wrap">
            <div class="d-flex flex-wrap">
              @if (_item.openAccess === 1 || _item.openAccess === '1' || _item.selfArchivedCode === '1' || _item.selfArchivedCode === 1) {
                <app-tag-open-access class='me-2'></app-tag-open-access>
              }
              @if (_item.doi) {
                <app-tag-doi [linkDoi]="_item.doi"></app-tag-doi>
              }
            </div>
            <div>
              @if (_item.publicationTypeCode | peerReviewed) {
                <app-tag-peer-reviewed></app-tag-peer-reviewed>
              }
            </div>
          </div>
        }
      }
      @case (fieldTypes.activityOrcidPublication) {
        <!-- item from search (portal) -->
        @if (_item.title) {
          <app-activity-item [fieldType]="fieldType" [link]="link"
                             [rows]="summary ? [_item.title] : [_item.title, _item.journalName]"
                             [smallLastItem]="false"></app-activity-item>
        }
        @if (!_item.title) {
          <app-activity-item [rows]="summary ? [_item.publicationName] : [_item.publicationName, _item.journalName]"
                             [smallLastItem]="false"></app-activity-item>
        }
        <!-- Publications badges -->
        @if (_item.openAccess === 1 || _item.openAccess === '1' || _item.selfArchivedCode === '1' || _item.selfArchivedCode === 1 || _item.doi) {
          <div class="badge-row gx-0 flex-wrap">
            <div class="d-flex flex-wrap">
              @if (_item.openAccess === 1 || _item.openAccess === '1' || _item.selfArchivedCode === '1' || _item.selfArchivedCode === 1) {
                <app-tag-open-access class='me-2'></app-tag-open-access>
              }
              @if (_item.doi) {
                <app-tag-doi [linkDoi]="_item.doi"></app-tag-doi>
              }
            </div>
            <div>
              @if (_item.publicationTypeCode | peerReviewed) {
                <app-tag-peer-reviewed></app-tag-peer-reviewed>
              }
            </div>
          </div>
        }
      }
      @case (fieldTypes.activityDataset) {
        @if (_item?.name) {
          <app-activity-item
                  [rows]="[_item['name'], _item.year]"
                  [link]="link"
                  [fieldType]="fieldType"
                  [smallLastItem]="true"
          ></app-activity-item>
          <!-- Dataset badges -->
          <div class="row">
            <div class="badge-row gx-0 flex-wrap">
              <div class="d-flex flex-wrap">@if (_item.openAccess === true || _item.accessType === 'open') {
                <app-tag-open-access class='me-2 d-flex'
                ></app-tag-open-access>
              }
                @if (_item.doi) {
                  <app-tag-doi [linkDoi]="_item.doi" class='d-flex'></app-tag-doi>
                }
              </div>
              <div>@if (_item.publicationTypeCode | peerReviewed) {
                <app-tag-peer-reviewed class='d-flex'
                ></app-tag-peer-reviewed>
              }</div>
            </div>
          </div>
        } @else {
          <app-activity-item
                  [rows]="[_item['name' + locale], _item.datasetCreated]"
                  [smallLastItem]="true"
          ></app-activity-item>
          <div class="row">
            <div class="badge-row gx-0 flex-wrap">
              <div class="d-flex flex-wrap">@if (_item.openAccess === true || _item.accessType === 'open') {
                <app-tag-open-access class='me-2 d-flex'
                ></app-tag-open-access>
              }
                @if (_item.doi) {
                  <app-tag-doi [linkDoi]="_item.doi" class='d-flex'></app-tag-doi>
                }
              </div>
              <div>@if (_item.publicationTypeCode | peerReviewed) {
                <app-tag-peer-reviewed class='d-flex'
                ></app-tag-peer-reviewed>
              }</div>
            </div>
          </div>
        }
      }
      @case (fieldTypes.activityDatasetOrcid) {
        @if (_item?.name) {
          <app-activity-item
                  [rows]="[_item['name'], _item.year]"
                  [smallLastItem]="true"
          ></app-activity-item>
        } @else {
          <app-activity-item
                  [rows]="[_item['name' + locale], _item.datasetCreated]"
                  [smallLastItem]="true"
          ></app-activity-item>
        }
      }
      @case (fieldTypes.activityActivitiesAndRewards) {
        <app-activity-item
                [rows]="[_item['activityTypeName' + locale], _item['roleName' + locale], _item['name' + locale], _item['organizationName' + locale], _item['timing'], _item.url ? _item.url : '*', _item?.internationalCollaboration ? hasInternationalCollaborationYes : hasInternationalCollaborationNo]"
                [fieldType]="fieldType"
                [smallLastItem]="false"
        ></app-activity-item>
      }
      @case (fieldTypes.activityActivitiesAndRewardsOrcid) {
        <app-activity-item
                [rows]="[_item['activityTypeName' + locale], _item['roleName' + locale], _item['name' + locale], _item['organizationName' + locale], _item['timing'], _item.url ? _item.url : '*', _item?.internationalCollaboration ? hasInternationalCollaborationYes : hasInternationalCollaborationNo]"
                [fieldType]="fieldType"
                [smallLastItem]="false"
        ></app-activity-item>
      }
      @case (fieldTypes.activityFunding) {
        <app-activity-item
                [rows]="[_item.name, _item.funder.name, _item['timing']]"
                [link]="link"
                [fieldType]="fieldType"
                [smallLastItem]="false"
        ></app-activity-item>
      }
      @case (fieldTypes.activityFundingOrcid) {
        <app-activity-item
                [rows]="[_item.name, _item.funder.name, _item['timing']]"
                [smallLastItem]="true"
        ></app-activity-item>
      }
      @default {
        {{ _item.value }}
      }
    }
  } @else {
    @for (value of _item | getLocalizedValues; track value) {
      <div class="row fw-bold">
        <div class="col px-0">
          {{ value.locale.toUpperCase() }}
        </div>
      </div>
      <div class="row pb-3">
        <div class="col px-0">
          {{ value.value }}
        </div>
      </div>
    }
  }

</div>