<!--  This file is part of the research.fi API service
 Copyright 2019 Ministry of Education and Culture, Finland
 :author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
 :license: MIT -->

<div class="beta-info d-block p-3">
  <div class="row" [class.pb-3]="open">
    <div
      class="col text-center"
      [ngClass]="showCloseButton ? 'offset-3 offset-md-2 ' : ''"
    >
      <i class="fas fa-exclamation-triangle font-size-bigger"></i>
    </div>
    <div class="col-3 col-md-2 text-right" *ngIf="showCloseButton">
      <button mat-button (click)="toggle()">
        <ng-container *ngIf="open">
          <i class="fas fa-times mt-n1"></i>
          <ng-container i18n="@@close">Sulje</ng-container>
        </ng-container>
        <ng-container *ngIf="!open">
          <ng-container i18n="@@open">Avaa</ng-container>
        </ng-container>
      </button>
    </div>
    <div class="col-12 text-center">
      <span class="h5 font-weight-bold"
        ><ng-container i18n="@@note">Huomio</ng-container>!</span
      >
    </div>
  </div>

  <ng-container *ngIf="open">
    <p i18n="@@researcherProfileBetaText1">
      Tämä on Tutkijan tiedot -työkalun betaversio. Testikäyttäjien palautetta
      hyödynnetään palvelun toiminnallisuuksien kehittämisessä.
    </p>
    <p class="font-weight-bold" i18n="@@researcherProfileBetaText2">
      Testauksessa syöttämiäsi tietoja ei julkaista Tiedejatutkimus.fi:ssä.
    </p>
    <p>
      <a
        [href]="
          appSettings['readMoreLink' + appSettingsService.capitalizedLocale]
        "
        target="_blank"
        ><ng-container i18n="@@readMore">Lue lisää</ng-container>...
        <fa-icon icon="external-link-alt"></fa-icon
      ></a>
    </p>
  </ng-container>
</div>
