<!-- This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="main-content" #main>
    <div class="row justify-content-center">
        <h1 class="col-12">{{title}}</h1>
        <mat-spinner *ngIf="loading" [diameter]="40" class="position-absolute"></mat-spinner>
        <!-- <p class="col-6 offset-3">{{nOfResults + " tulos" + ((nOfResults - 1) ? "ta" : "")}}</p> -->
        <!-- <button class="col-3" mat-raised-button color="primary" (click)="swapVis()" i18n="@@visualType">Vaihda visualisaation tyyppiä</button> -->
    </div>
    <div class="visual-container">
        <!-- <app-treemap *ngIf="!visType" (title)="updateTitle($event)" [style.min-height.px]="height + 90" [data]="allData" [width]="width" [hierarchy]="hierarchy" [height]="height"></app-treemap> -->
        <!-- <app-sunburst *ngIf="visType" (title)="updateTitle($event)"  [style.min-height.px]="height" [data]="allData" [index]="index" [hierarchy]="hierarchy" [width]="width" [height]="height"></app-sunburst> -->
        <app-bar [data]="data" [tab]="tab" [height]="height" [width]="width" [visIdx]="visIdx" [percentage]="percentage"></app-bar>
    </div>
</div>

<ng-template #visualModal>
    <div cdkTrapFocus>
        <div class="modal-header">
            <h5 class="modal-title">Visual</h5>
            <app-close-button (click)="closeModal()" (keydown.enter)="closeModal()" autofocus tabindex="-1"></app-close-button>
        </div>
        <div class="modal-body">
            <app-bar [data]="data" [tab]="tab" [height]="height" [width]="width" [visIdx]="visIdx" [percentage]="percentage"></app-bar>
        </div>
    </div>
</ng-template>

