<!-- This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="main-content">
    <div class="row">
        <h1 class="col-12">{{title}}</h1>
        <p class="col-6 offset-3">{{nOfResults + " tulos" + ((nOfResults - 1) ? "ta" : "")}}</p>
        <button class="col-3" mat-raised-button color="primary" (click)="swapVis()">Vaihda visualisaation tyyppiä</button>
    </div>
    <div class="visual-container">
        <app-treemap *ngIf="!visType" (title)="updateTitle($event)" [style.min-height.px]="height + 90" [data]="allData" [width]="width" [height]="height"></app-treemap>
        <app-sunburst *ngIf="visType" (title)="updateTitle($event)"  [style.min-height.px]="height" [data]="allData" [index]="index" [width]="width" [height]="height"></app-sunburst>
    </div>
</div>
