<!-- This file is part of the research.fi API service
Copyright 2019 Ministry of Education and Culture, Finland
:author: CSC - IT Center for Science Ltd., Espoo Finland servicedesk@csc.fi
:license: MIT -->

<div class="d-flex justify-content-center row">
    <h1 class="col-12">Julkaisujen määrä vuoden mukaan</h1>
    <p class="col-12">{{loading ? ((allData.length / total) * 100).toFixed(0) + "%" : nOfResults + " tulos" + ((nOfResults - 1) ? "ta" : "")}}</p>
    <mat-spinner *ngIf="loading" [diameter]="200"></mat-spinner>
</div>
<svg></svg>